﻿@{
    var urlimg = "/center/Upload/ImageQLVT/";
}
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Content/lib/fncUploadFile.js"></script>
<script type="text/javascript" src="~/Scripts/NghiepVu/VatTu/_PopupNhapVatTuKhoTong.js"></script>
<style>
    .dshinhanhadd {
        padding: 10px;
        margin: 10px 0 0;
        border: 1px solid #ddd;
        height: 120px;
        background: #fff;
        margin-bottom: 10px;
    }
</style>
<div class="content">
    <div id="contenttabMuaVatTuKhoTong">
        <div id="mdlDanhSachVatTu"></div>
        <div class="row">
            <div class="form-group" style="float:left">
                <label for="ThoiGianNhap" style="text-align:right">@Html.Raw(Language.GetText("thoigiannhap"))</label>
                <input id="ThoiGianNhap" name="thoigiannhap" style="width:200px !important;height:36px;" required data-required-msg=@Html.Raw(Language.GetText("khongtrong")) />
            </div>
            <div class="form-group" style="float:left;margin-left:15px">
                <label for="drdDoiTac" style="text-align:right">@Html.Raw(Language.GetText("doitac"))</label>
                <input id="drdDoiTac" style="width:200px !important;height:36px;" required data-required-msg=@Html.Raw(Language.GetText("phaichondoitac")) />
            </div>
            <div style="float:left;margin-left:15px">
                <button id="btnChonVatTu" class="btn btn-primary"><i class="fa fa-plus"></i> @Html.Raw(Language.GetText("chonvattu"))</button>
            </div>
        </div>
        <div>
            <div id="gridChiTietNhap"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="dshinhanhadd" style="margin-top:10px;">
                    @if (Model != null && Model.DanhSachHinhAnh != null && Model.DanhSachHinhAnh != "")
                    {
                        foreach (var anh in Model.DanhSachHinhAnh.Split(','))
                        {
                            <div class='imgslider' style='float:left;position:relative;margin-right:10px;'>
                                <div style='background-image:url("@urlimg@anh"); margin:0px;' class='img-con ahihi3'><a rel='gallery' href='@urlimg@anh'><img src="@urlimg@anh" style='width: 110px;height: 110px;margin: 0;opacity: 0;'></a></div>
                                <div data-file='@anh' class='closeGenImgSuaChua' title='Xóa'>X</div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-default pull-left" id="btnHuy"><i class="glyphicon glyphicon-remove"></i> @Html.Raw(Language.GetText("huy"))</button>
            <div class="fileUpload btn btn-primary pull-left" style="margin-left:10px">
                <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("themanh"))</span>
                <input type="file" id="files_0" name="files_0" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple">
            </div>
            <div class="pull-right">
                <button class="btn btn-success" id="btnDongYMua"><i class="glyphicon glyphicon-save"></i> @Html.Raw(Language.GetText("dongymua"))</button>
            </div>
        </div>
    </div>
</div>

@* Template *@
<script type="text/x-kendo-template" id="tplDanhSachVatTu">
    <div id="gridDanhSachVatTu"></div>
    <div style="margin-top:15px;">
        <div class="pull-right">
            <button class="btn btn-default" id="btnHuyChonVatTu"><i class="glyphicon glyphicon-share-alt"></i> @Html.Raw(Language.GetText("huy"))</button>
            <button class="btn btn-success" id="btnDongY"><i class="glyphicon glyphicon-ok"></i> @Html.Raw(Language.GetText("dongy"))</button>
        </div>
    </div>
</script>