﻿@{
    var urlimg = "/center/Upload/ImageQLVT/";
}
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>

<style>
    .dshinhanhadd {
        padding: 10px;
        margin: 10px 0 0;
        border: 1px solid #ddd;
        height: 95px;
        background: #fff;
        margin-bottom: 10px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var dataimg = new FormData();
        var FileDinhKems = [];
        var PhieuXuatVatTuID = $("#ipPhieuXuatVatTuID").val();
        if (PhieuXuatVatTuID == null) {
            alertToastr({ code: "error", message: GetTextLanguage("laydulieukhongthanhcong") });
        }
        else {
            var currentController = "/QuanLyVatTuKhoTong";
            var dataSourceChiTietPhieuNhapVatTuTheoPhieu = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: currentController + "/GetDataChiTietPhieuNhapVatTuTheoPhieuXuatVatTuID",
                            dataType: 'json',
                            type: 'Get',
                            contentType: "application/json; charset=utf-8",
                            data: {
                                PhieuXuatVatTuID: PhieuXuatVatTuID
                            }
                        }
                    },
                    batch: true,
                    pageSize: 20,
                    sort: [{ field: "TenVatTu", dir: "asc" }],
                    schema: {
                        data: 'data',
                        total: 'total',
                        model: {
                            id: "VatTuID",
                            fields: {
                                VatTuID: { type: "string", editable: false },
                                TenVatTu: { type: "string", editable: false },
                                TenVietTat: { type: "string", editable: false },
                                TenDonVi: { type: "string", editable: false },
                                SoLuong: { type: "number" ,editable: $("#ipPhieuNhapVatTuID").val() == null || $("#ipPhieuNhapVatTuID").val() == "" },
                                DonGia: { type: "number", editable: false },
                                HeSo: {type:"number", editable: false}
                            },
                        }
                    },
                });
            $("#gridDSVTTheoPhieu").kendoGrid({
                dataSource: dataSourceChiTietPhieuNhapVatTuTheoPhieu,
                width: "100%",
                filterable: {
                    mode: "row"
                },
                sortable: true,
                resizable: true,
                editable: false,
                dataBinding: function () {
                    record = 0;
                },
                columns: [
                    {
                        title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                        template: "#= ++record #",
                        width: 60,
                        attributes: alignCenter
                    },
                    {
                        field: "TenVatTu",
                        title: GetTextLanguage("tenvattu"),
                        filterable: FilterInTextColumn,
                        attributes: alignLeft,
                        width: 200
                    },
                    {
                        field: "TenVietTat",
                        title: GetTextLanguage("tenviettat"),
                        filterable: FilterInTextColumn,
                        attributes: alignLeft,
                        width: 150
                    },
                    {
                        field: "TenDonVi",
                        title: GetTextLanguage("donvi"),
                        filterable: FilterInTextColumn,
                        attributes: alignLeft,
                        width: 100
                    },
                    {
                        field: "DonGia",
                        title: GetTextLanguage("dongia"),
                        filterable: FilterInColumn,
                        width: 150,
                        format: "{0:n0}"
                    },
                    {
                        field: "SoLuong",
                        title: GetTextLanguage("soluong"),
                        filterable: FilterInTextColumn,
                        attributes: alignCenter,
                        width: 150
                    },
                    {
                        field: "HeSo",
                        title: GetTextLanguage("heso"),
                        filterable: FilterInTextColumn,
                        attributes: alignCenter,
                        width: 150
                    },
                ],
            });
            var dataSourceChiTietPhieuNhapVatTuThucNhan = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: currentController + "/GetDataDanhSachThucNhanByPhieuXuat",
                            dataType: 'json',
                            type: 'Get',
                            contentType: "application/json; charset=utf-8",
                            data: {
                                PhieuXuatVatTuID: PhieuXuatVatTuID
                            }
                        }
                    },
                    batch: true,
                    pageSize: 20,
                    sort: [{ field: "TenVatTu", dir: "asc" }],

                    schema: {
                        data: 'data',
                        total: 'total',
                        model: {
                            id: "VatTuID",
                            fields: {
                                VatTuID: { type: "string", editable: false },
                                TenVatTu: { type: "string", editable: false },
                                TenVietTat: { type: "string", editable: false },
                                TenDonVi: { type: "string", editable: false },
                                SoLuong: { type: "number", editable: $("#ipPhieuNhapVatTuID").val() == null || $("#ipPhieuNhapVatTuID").val() == "" },
                                DonGia: { type: "number", editable: false },
                                HeSo: { type: "number", editable: true },
                            },
                        }
                    },
                });
            $("#gridDSVTThucNhan").kendoGrid({
                dataSource: dataSourceChiTietPhieuNhapVatTuThucNhan,
                width: "100%",
                filterable: {
                    mode: "row"
                },
                sortable: true,
                resizable: true,
                editable: true,
                dataBinding: function () {
                    record = 0;
                },
                columns: [
                    {
                        title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                        template: "#= ++record #",
                        width: 60,
                        attributes: alignCenter
                    },
                    {
                        field: "TenVatTu",
                        title: GetTextLanguage("tenvattu"),
                        filterable: FilterInTextColumn,
                        attributes: alignLeft,
                        width: 200
                    },
                    {
                        field: "TenVietTat",
                        title: GetTextLanguage("tenviettat"),
                        filterable: FilterInTextColumn,
                        attributes: alignLeft,
                        width: 150
                    },
                    {
                        field: "TenDonVi",
                        title: GetTextLanguage("donvi"),
                        filterable: FilterInTextColumn,
                        attributes: alignLeft,
                        width: 100
                    },
                    {
                        field: "DonGia",
                        title: GetTextLanguage("dongia"),
                        filterable: FilterInColumn,
                        width: 150,
                        format: "{0:n0}"
                    },
                    {
                        field: "SoLuong",
                        title: GetTextLanguage("soluong"),
                        filterable: FilterInTextColumn,
                        attributes: alignCenter,
                        width: 150,
                        editor: function (container, options) {
                            rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                            var input = $('<input type="text" style="width:75%;height:15px;" class="form-control" id="' + options.model.get("VatTuID") + '" name="SoLuong" />');
                            input.appendTo(container);
                            input.autoNumeric(autoNumericOptionsSoLuong);
                        },
                    },
                    {
                        field: "HeSo",
                        title: GetTextLanguage("heso"),
                        filterable: FilterInColumn,
                        width: 150,
                        editor: function (container, options) {
                            rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                            var input = $('<input type="text" style="width:75%;height:15px;" class="form-control" id="' + options.model.get("VatTuID") + '" name="HeSo" />');
                            input.appendTo(container);
                        },
                    },
                ],
            });
            $("#mdlThongTinPhieuNhapVatTuKhoTong").on("click", ".xoaItemFile", function () {
                var files = $(this).data("file");
                for (var i = 0; i < FileDinhKems.length; i++) {
                    if (FileDinhKems[i].name === files) {
                        FileDinhKems.splice(i, 1);
                        break;
                    }
                }
                $(this).parent().remove();
            });
            $("#btnThoat").click(function () {
                $("#mdlThongTinPhieuNhapVatTuKhoTong").data("kendoWindow").close();
            });
            if ($("#mdlChiTietPhieuNhap").text().lenth > 1) {
                showslideimg5($("#mdlChiTietPhieuNhap"));
                $("#mdlChiTietPhieuNhap #files_0").change(function () {
                    for (var x = 0; x < this.files.length; x++) {
                        dataimg.append("uploads", this.files[x]);
                    };
                    loadimgSuaChua5(this, $("#mdlChiTietPhieuNhap"));
                    $("#mdlChiTietPhieuNhap #files_0").val('').clone(true);
                })
            } else {
                showslideimg5($("#mdlThongTinPhieuNhapVatTuKhoTong"));
                $("#mdlThongTinPhieuNhapVatTuKhoTong #files_0").change(function () {
                    for (var x = 0; x < this.files.length; x++) {
                        dataimg.append("uploads", this.files[x]);
                    };
                    loadimgSuaChua5(this, $("#mdlThongTinPhieuNhapVatTuKhoTong"));
                    $("#mdlThongTinPhieuNhapVatTuKhoTong #files_0").val('').clone(true);
                })
            }
           
            $("#btnXacNhan").click(function () {
               
                if (true) {
                    var dataPhieuXuat = $("#gridDSVTTheoPhieu").data("kendoGrid").dataSource.data();
                    var dataThucNhap = $("#gridDSVTThucNhan").data("kendoGrid").dataSource.data();
                    ContentWatingOP("mdlChiTietPhieuNhap", 0.9);
                    ContentWatingOP("mdlThongTinPhieuNhapVatTuKhoTong", 0.9);
                    for (var i = 0; i < dataPhieuXuat.length; i++) {
                        for (var j = 0; j < dataThucNhap.length; j++) {
                            if (dataPhieuXuat[i].VatTuID == dataThucNhap[j].VatTuID) {
                                if (dataPhieuXuat[i].SoLuong < dataThucNhap[j].SoLuong) {
                                    showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("soluongnhapkhongduoclonhonsoluongxuat") + " : " + dataThucNhap[j].TenVatTu);
                                    return false;
                                }
                            }
                        }
                    }
                    var hinhanh = "";
                    var ins = dataimg.getAll("uploads").length;
                    var DSHinhAnh = [];
                    $('.dshinhanhadd .imgslider').each(function (index2, element2) {
                        if ($(element2).find('img').attr('src').indexOf("data:image") < 0) {
                            DSHinhAnh.push({ Url: $(element2).find('img').data("file") });
                        }
                    });
                    if (ins > 0) {
                        if ($("#mdlChiTietPhieuNhap").text().lenth > 1) {
                            var strUrl = uploadMultipleFileParagamWidthFile("/upload" + "/Uploadfiles", dataimg.getAll("uploads"), $(".dshinhanhadd", $('#mdlChiTietPhieuNhap'))).split(',');
                            for (var k = 0; k < strUrl.length; k++) {
                                DSHinhAnh.push({ Url: strUrl[k] });
                            }
                        } else {
                            var strUrl = uploadMultipleFileParagamWidthFile("/upload" + "/Uploadfiles", dataimg.getAll("uploads"), $(".dshinhanhadd", $('#mdlThongTinPhieuNhapVatTuKhoTong'))).split(',');
                            for (var k = 0; k < strUrl.length; k++) {
                                DSHinhAnh.push({ Url: strUrl[k] });
                            }
                        }
                    }
                    for (var i = 0; i < DSHinhAnh.length; i++) {
                        if (hinhanh.indexOf(DSHinhAnh[i].Url) < 0) {
                            hinhanh += DSHinhAnh[i].Url + ",";
                        }
                    }
                    
                    setTimeout(function () {
                    $.ajax({
                        url: currentController + "/XacNhanNhapKho",
                        type: "POST",
                        data: {
                            PhieuXuatVatTuID: $("#ipPhieuXuatVatTuID").val(),
                            DataChiTietPhieuNhapVatTu: JSON.stringify($("#gridDSVTThucNhan").data("kendoGrid").dataSource.data()),
                            DSHinhAnh: hinhanh.substring(0, hinhanh.length - 1),
                        },
                        complete: function (e) {
                            alertToastr(e.responseJSON);
                            if ($("#mdlChiTietPhieuNhap").text().lenth > 1) {
                                $("#mdlChiTietPhieuNhap").data("kendoWindow").close();
                                $("#mdlChiTietPhieuNhap").unblock();
                                if ($("#gridLichSuNhapVatTuKhoDonVi").length > 0) {
                                    $("#gridLichSuNhapVatTuKhoDonVi").data("kendoGrid").dataSource.read();
                                }
                                if ($("#gridLichSuNhapVatTuKhoTong").length > 0) {
                                    $("#gridLichSuNhapVatTuKhoTong").data("kendoGrid").dataSource.read();
                                }
                                $("#gridQuanLyVatTuKhoDonVi").data("kendoGrid").dataSource.read();
                            } else {
                                $("#mdlThongTinPhieuNhapVatTuKhoTong").data("kendoWindow").close();
                                $("#mdlThongTinPhieuNhapVatTuKhoTong").unblock();
                                $("#gridXacNhanNhapVatTuKhoTong").data("kendoGrid").dataSource.read();
                            }
                        }
                        });
                    }, 1000);
                }
            });
        }
    });

</script>
@model DF.DBMapping.ModelsExt.VatTu.ThongTinPhieuXuatVatTuChuaXacNhanNhapResult
<input id="ipPhieuXuatVatTuID" value="@Model.PhieuXuatVatTuID" hidden />
<input id="ipPhieuNhapVatTuID" value="@ViewBag.PhieuNhapVatTuID" hidden />
<table class="table table-bordered">
    <tr>
        @*<td>
                <label>Mã Phiếu:</label> ABC
            </td>*@
        <td>
            <label>@Html.Raw(Language.GetText("thoigian"))</label> @Model.ThoiGian
        </td>
        <td>
            <label>@Html.Raw(Language.GetText("khodi"))</label> @Model.KhoDi
        </td>
    </tr>
    <tr>
        <td>
            <label>@Html.Raw(Language.GetText("nguoitao"))</label> @Model.NhanVienTao
        </td>
        <td colspan="2">
            <label>@Html.Raw(Language.GetText("ghichu"))</label> @Model.GhiChu
        </td>
    </tr>
</table>
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.Raw(Language.GetText("danhsachvattutheophieu"))
    </div>
    <div class="panel-body">
        <div id="gridDSVTTheoPhieu"></div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.Raw(Language.GetText("danhsachvattuthucnhan"))
    </div>
    <div class="panel-body">
        <div id="gridDSVTThucNhan"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="dshinhanhadd" style="margin-top:10px;">
            @if (Model != null && Model.DSHinhAnh != null && Model.DSHinhAnh != "")
            {
                foreach (var anh in Model.DSHinhAnh.Split(','))
                {
                    <div class='imgslider' style='float:left;position:relative;margin-right:10px;'>
                        <div class='img-con ahihi3'>
                            <a rel='gallery' href='@urlimg@anh'><img src="@urlimg@anh" data-file='@anh' style='width: 70px;height: 70px;margin: 0;opacity: 1;'>
                            </a></div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div style="margin-top:15px">
    <button class="btn btn-default pull-left" id="btnThoat"><i class="glyphicon glyphicon-share-alt"></i> @Html.Raw(Language.GetText("thoat"))</button>
    <div class="fileUpload btn btn-primary pull-left" style="margin-left:10px">
        <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("themanh"))</span>
        <input type="file" id="files_0" name="files_0" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple">
    </div>
    <div class="pull-right">
        <button class="btn btn-success" id="btnXacNhan"><i class="glyphicon glyphicon-ok"></i> @Html.Raw(Language.GetText("xacnhan"))</button>
    </div>
</div>