﻿
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Scripts/NghiepVu/VatTu/QuanLyVatTuKhoTong.js"></script>

<div class="content">
    <div class='row' style="margin-bottom:10px !important;">
        <div class='pull-left'>
            <button class='btn btn-warning' id='btnNhapVatTuKhoTong'>Mua nguyên liệu</button> 
            <button class='btn btn-warning' id='btnXuatVatTuKhoTong'>Xuất nguyên liệu</button>
        </div>
        <div class='pull-right'>
            <button class='btn btn-primary' id='btnLichSuNhapVatTuKhoTong'>Lịch sử nhập</button> 
            <button class='btn btn-primary' id='btnLichSuXuatVatTuKhoTong'>Lịch sử xuất</button>
        </div>
    </div>

    <div id="tabstrip">
        <ul>
            <li class="k-state-active tab_tonkhosoluong">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Tồn kho số lượng
            </li>
        </ul>
        <div>
            <div id="gridQuanLyVatTuKhoTong"></div>
        </div>

    </div>


    <div id="mdlNhapVatTuKhoTong" style="padding:0 !important;"></div>

    <div id="mdlXuatVatTuKhoTong"></div>
</div>



<div id="mdlLichSuNhapVatTuKhoTong"></div>
<script type="text/x-kendo-template" id="tplLichSuNhapVatTuKhoTong">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("loaihinh")) </label>
                <div class="input-group"  style="width:100%">
                    <input id="ipLoaiHinhNhap"  style="width:100%" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" >
                <label>@Html.Raw(Language.GetText("tungay")) </label>
                <div class="input-group"  style="width:100%">
                    <input id="inputTuNgay"  style="width:100%" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" >
                <label>@Html.Raw(Language.GetText("denngay")) </label>
                <div class="input-group"  style="width:100%">
                    <input id="inputDenNgay"  style="width:100%"/>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group text-right">
                <label> </label>
                <div class="input-group" style="width:100%">
                    <button class="btn btn-xs btn-primary xuat-excel">@Html.Raw(Language.GetText("xuatexcel"))</button>
                    </div>
             </div>
        </div>
    </div>
    <div id="gridLichSuNhapVatTuKhoTong"></div>
    <div id="mdlChiTietPhieuNhap"></div>
</script>


<div id="mdlLichSuXuatVatTuKhoTong"></div>
<script type="text/x-kendo-template" id="tplLichSuXuatVatTuKhoTong">
    <div style="margin-bottom:-10px;">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("loaihinhxuat")) </label>
                    <div class="input-group" style="width:100%">
                        <input id="ipLoaiHinhXuat" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="margin-left: 10px;">
                    <label>@Html.Raw(Language.GetText("tungay")) </label>
                    <div class="input-group" style="width:100%">
                        <input id="inputTuNgay2" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="margin-left: 10px;">
                    <label>@Html.Raw(Language.GetText("denngay")) </label>
                    <div class="input-group" style="width:100%">
                        <input id="inputDenNgay2" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("congtrinhden"))</label>
                    <div class="input-group">
                        <input class="form-control text-left" id="ipCongTrinhDen" required />
                        <span class="input-group-btn">
                            <button class="btn btn-primary lst-modal" type="button" data-input="ipCongTrinhDen" data-val="CongTrinhID" data-all="false" data-type="CongTrinh" data-changefor='{"toobj": "ipDoiThiCongDen","param": "CongTrinhID", "fromobj":"ipCongTrinhDen"}' style="padding: 8px 11px 9px;"><i class="icon-grid52"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            @*<div class="col-md-2">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("doithicongden"))</label>
                    <div class="input-group">
                        <input class="form-control text-left" id="ipDoiThiCongDen" required />
                        <span class="input-group-btn">
                            <button class="btn btn-primary lst-modal" type="button" data-input="ipDoiThiCongDen" data-val="DoiThiCongID" data-all="false" data-type="DoiThiCong" data-refer='{"CongTrinh": "ipCongTrinhDen"}' style="padding: 8px 11px 9px;"><i class="icon-grid52"></i></button>
                        </span>
                    </div>
                </div>
            </div>*@
            <div class="col-md-2">
                <div class="form-group text-right">
                    <label> </label>
                    <div class="input-group" style="width:100%">
                        <button class="btn btn-xs btn-primary xuat-excel">@Html.Raw(Language.GetText("xuatexcel"))</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gridLichSuXuatVatTuKhoTong"></div>
    <div id="mdlChiTietPhieuXuat"></div>
</script>
<script type="text/x-kendo-template" id="tplTrangThaiDuyet">
    # if(TrangThaiDuyet == 0) { #
    <span class="btn btn-default btn-block no-padding">#=GetTextLanguage("chuaduyet")#</span>
    # } #
    # if(TrangThaiDuyet == 1) { #
    <span class="btn btn-success btn-block no-padding">#=GetTextLanguage("daduyet")#</span>
    # } #
    # if(TrangThaiDuyet == 2) { #
    <span class="btn btn-danger btn-block no-padding">#=GetTextLanguage("tuchoi")#</span>
    # } #
</script>

<script type="text/x-kendo-template" id="tpllerver">
    # if(Lever == 1) { #
    <span class="btn btn-default btn-block no-padding">Nguyên liệu thô</span>
    # } #
    # if(Lever == 2) { #
    <span class="btn btn-info btn-block no-padding">Nguyên liệu đã qua xử lý</span>
    # } #
    # if(Lever == 3) { #
    <span class="btn btn-success btn-block no-padding">Thành phẩm</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(DsHinhAnh)#</span>
</script>