﻿<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var currentController = "/KhoThanhPham";

        if ($("#ThoiGianNhap").data("kendoDateTimePicker") === undefined) {
            $("#ThoiGianNhap").kendoDateTimePicker({
                format: "dd/MM/yyyy HH:mm",
            });
        }
       
        if ($("#drdDoiTac").data("kendoDropDownList") === undefined) {
            $("#drdDoiTac").kendoDropDownList({
                autoBind: true,
                dataSource: new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: currentController + "/GetAllDataDoiTac",
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8"
                        }
                    },
                    schema: {
                        type: "json",
                        data: "data"
                    }
                }),
                dataTextField: "TenDoiTac",
                dataValueField: "DoiTacID",
                optionLabel: GetTextLanguage("chondoitac"),
                filter: "contains",
                change: function () {
                    if ($("#gridChiTietNhap").data("kendoGrid").dataSource.data().length > 0 && $("#ipPhieuNhapVatTuID").val() == null && $("#ipPhieuNhapVatTuID").val() == "") {
                        alert(GetTextLanguage("canlamlaylaigianhaptheodoitacmoi"))
                    }
                }
            });
            createpopupdoitac($(".filter-doitac"));
        }
        var FileDinhKem = [];
        if ($("#gridChiTietNhap").data("kendoGrid") === undefined) {
            $("#gridChiTietNhap").kendoGrid({
                dataSource: {
                    schema: {
                        model: {
                            id: "VatTuID",
                            fields: {
                                VatTuID: { editable: false },
                                TenDonVi: { type: "string", editable: false },
                                TenVatTu: { type: "string", editable: false },
                                TenVietTat: { type: "string", editable: false },
                                SoLuong: {type: "number",editable: true},
                                DonGia: { type: "number", editable: true, validation: { min: 0, format: "n0" } },
                                ThanhTien: { type: "number", editable: false },
                            }
                        }
                    },
                    aggregate: [{ field: "ThanhTien", aggregate: "sum" }],
                },
                editable: true,
                selectable: false,
                batch: true,
                height: 400,
                dataBinding: function () {
                    record = 0;
                },
                columns:
                [
                    {
                        title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                        template: "#= ++record #",
                        width: 60,
                        attributes: alignCenter
                    },
                     {
                         field: "AnhDaiDien", title: "Ảnh",
                         attributes: { style: "text-align:left;" },
                         filterable: FilterInTextColumn,
                         template: kendo.template($("#tplAnh").html()),
                         width: 70
                     },
                    {
                        field: "TenThanhPham", title: "Tên Thành phẩm", attributes: { "style": "text-align:left !important;" }, filterable: FilterInTextColumn, width: 200
                    },
                    {
                        field: "MaThanhPham", title: "Mã Thành phẩm", attributes: { "style": "text-align:left !important;" }, filterable: FilterInColumn, width: 100
                    },
                    {
                        field: "TenDonVi", width: 200,
                        title: GetTextLanguage("donvi"),
                        attributes: { "style": "text-align:left !important;" },
                        filterable: FilterInTextColumn
                    },
                    {
                        field: "DonGia", title: GetTextLanguage("gianhap"),
                        format: "{0:n0}",
                        attributes: { style: "text-align:right;" },
                        filterable: FilterInColumn, width: 150,
                        editor: function (container, options) {
                            rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                            var input = $('<input type="text" data-v-min="1" style="width:80%;height:15px;" class="form-control" id="' + options.model.get("VatTuID") + '"  ' + rs + ' name="DonGia" />');
                            input.appendTo(container);
                            input.autoNumeric(autoNumericOptionsSoLuong);
                        },
                    },
                    {
                        field: "SoLuong", width: 100,
                        title: GetTextLanguage("soluong"),
                        format: "{0:n2}",
                        attributes: { "style": "text-align:right !important;" },
                        filterable: FilterInColumn,
                        editor: function (container, options) {
                            rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                            var input = $('<input type="text" style="width:75%;height:15px;" data-v-min="1" class="form-control" id="' + options.model.get("VatTuID") + '" ' + rs + ' name="SoLuong" />');
                            input.appendTo(container);
                            input.autoNumeric(autoNumericOptionsSoLuong);
                        },
                    },
                    {
                        field: "ThanhTien",
                        title: GetTextLanguage("thanhtien"),
                        format: "{0:n2}",
                        attributes: { "style": "text-align:right !important;" },
                        filterable: FilterInColumn,
                        width: 150,
                        footerTemplate: "<div style='text-align:right !important;'> #: kendo.toString(sum, \"n2\") #</div>",
                    },
                    {
                        title: GetTextLanguage("thaotac"),
                        command: [
                            {
                                text: GetTextLanguage("xoa"),
                                name: "destroy"
                            }
                        ],
                        width: 100,
                        hidden: $("#ipPhieuNhapVatTuID").val() != null
                    },
                ],
                dataBound: function (e) {
                    showslideimg10();
                },
                save: function (e) {
                    var items = $("#gridChiTietNhap").data("kendoGrid").dataSource.data();
                    if (e.values.DonGia != null) {
                        for (var i = 0; i < items.length; i++) {
                            if (items[i].VatTuID == e.model.VatTuID) {
                                items[i].ThanhTien = (e.values.DonGia == null ? 1 : e.values.DonGia) * (e.model.SoLuong == null ? 1 : e.model.SoLuong);
                                items[i].DonGia = e.values.DonGia;
                                break;
                            }
                        }
                    } else if (e.values.SoLuong != null) {
                        for (var i = 0; i < items.length; i++) {
                            if (items[i].VatTuID == e.model.VatTuID) {
                                items[i].ThanhTien = (e.model.DonGia == null ? 1 : e.model.DonGia) * (e.values.SoLuong == null ? 1 : e.values.SoLuong);
                                items[i].SoLuong = e.values.SoLuong;
                                break;
                            }
                        }
                    }

                    $("#gridChiTietNhap").data("kendoGrid").dataSource.data(items);
                }
            });
        }
        if ($("#ipPhieuNhapVatTuID").val() != null && $("#ipPhieuNhapVatTuID").val() != "") {
            $("#ThoiGianNhap").data("kendoDateTimePicker").enable(true);
            $("#drdDoiTac").data("kendoDropDownList").enable(true);
            $("#btnChonVatTu").addClass("hidden");
            var dataChiTietNhap = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: currentController + "/GetDataChiTietPhieuNhap",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: { PhieuNhapVatTuID: $("#ipPhieuNhapVatTuID").val() }
                    },
                    parameterMap: function (options, type) {
                        return JSON.stringify(options);
                    }
                },
                type: "json",
                pageSize: 25,
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        id: "ChiTietPhieuNhapThanhPhamID",
                        fields: {
                            PhieuNhapThanhPhamID: { type: "string", editable: false },
                            ThoiGian: { type: "date", editable: false },
                            TenThanhPham: { type: "string", editable: false },
                            MaThanhPham: { type: "string", editable: false },
                            TenVietTat: { type: "string", editable: false },
                            SoLuong: {type: "number",editable: true},
                            DonGia: { type: "number", editable: true },
                            ThanhTien: { type: "number", editable: false },
                        }
                    }
                },
            });
            $("#gridChiTietNhap").data("kendoGrid").setDataSource(dataChiTietNhap);
        }
        $("#mdlChiTietPhieuNhap").on("click", ".xoaItemFile", function () {
            var file = $(this).data("file");
            var listFile = $(".xoaItemFile").toArray();
            listFile.forEach(function (item) {
                console.log(item.data("file"));
            });
            for (var i = 0; i < FileDinhKem.length; i++) {
                if (FileDinhKem[i].name === file) {
                    FileDinhKem.splice(i, 1);
                    $(this).parent().remove();
                    break;
                }
            }
        });
        $("#btnChonVatTu").click(function () {
            var validateDoiTac = $("#drdDoiTac").kendoValidator().data("kendoValidator");
            if (validateDoiTac.validate()) {
                CreateModalWithSize("mdlDanhSachVatTu", "70%", "70%", "tplDanhSachVatTu", GetTextLanguage("danhsachvattu"));
                var dataChon = [
                    { text: GetTextLanguage("dachon"), value: "true" },
                    { text: GetTextLanguage("chuachon"), value: "false" }
                ];
                $("#gridDanhSachVatTu").kendoGrid({
                    dataSource: new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: currentController + "/GetAllDataVatTu",
                                dataType: "json",
                                type: "GET",
                                contentType: "application/json; charset=utf-8",
                                data: {
                                    DoiTacID: $("#drdDoiTac").data("kendoDropDownList").value()
                                }
                            },
                        },
                        schema: {
                            data: "data",
                            total: "total",
                            model: {
                                id: "VatTuID",
                                fields: {
                                    VatTuID: {
                                        type: "string"
                                    },
                                    Chon: {
                                        type: "boolean",
                                        editable: false
                                    },
                                    TenVatTu: {
                                        type: "string",
                                        editable: false
                                    },
                                    TenVietTat: {
                                        type: "string",
                                        editable: false
                                    },
                                    TenDonVi: {
                                        type: "string",
                                        editable: false
                                    },
                                    DonGia: {
                                        type: "number"
                                    },
                                    SoLuong: {
                                        type: "number"
                                    }
                                }
                            }
                        },
                        change: function (e) {
                            var data = this.data();
                        }
                    }),
                    filterable: {
                        mode: "row"
                    },
                    sortable: true,
                    resizable: true,
                    editable: true,
                    height: window.innerHeight * 0.7 - 150,
                    width: "100%",
                    dataBound: function (e) {
                        var dataSource = this.dataSource.view();
                        for (var i = 0; i < dataSource.length; i++) {
                            if (dataSource[i].Chon === undefined) dataSource[i].Chon = false;
                        }
                    },
                    columns: [
                        {
                            field: "Chon",
                            title: GetTextLanguage("chon"),
                            template: "<input type='checkbox' class='chon' #=Chon==true?'checked':''# data-toggle='toggle'>",
                            width: 75,
                            attributes: alignCenter,
                            filterable: {
                                cell: {
                                    showOperators: false,
                                    template: function (args) {
                                        args.element.kendoDropDownList({
                                            dataTextField: "text",
                                            dataValueField: "value",
                                            valuePrimitive: true,
                                            optionLabel: GetTextLanguage("loc"),
                                            dataSource: dataChon,
                                        });
                                    }
                                }
                            }
                        },
                        {
                            field: "TenVatTu", title: GetTextLanguage("vattu"),
                            attributes: { style: "text-align:left;" },
                            filterable: FilterInTextColumn,
                            width: 200
                        },
                        {
                            field: "TenVietTat",
                            title: GetTextLanguage("tenviettat"),
                            width: 200,
                            attributes: { "style": "text-align:left !important;" },
                            filterable: FilterInTextColumn
                        },
                        {
                            field: "TenDonVi",
                            title: GetTextLanguage("donvi"),
                            width: 200,
                            attributes: { "style": "text-align:left !important;" },
                            filterable: FilterInTextColumn
                        },
                        {
                            field: "DonGia", width: 150,
                            title: GetTextLanguage("gianhap"),
                            format: "{0:n0}",
                            attributes: { "style": "text-align:right !important;" },
                            filterable: FilterInColumn
                        },
                        {
                            field: "SoLuong",
                            width: 100,
                            title: GetTextLanguage("soluong"),
                            format: "{0:n2}",
                            attributes: {
                                "class": "soluongcheck",
                                "style": "font-weight:bold"
                            },
                            filterable: FilterInColumn,
                        }
                    ]
                });

                $("#gridDanhSachVatTu").data("kendoGrid").table.on("click", ".chon", function () {
                    var dataItem = $("#gridDanhSachVatTu").data("kendoGrid").dataItem($(this).closest("tr"));
                    if ($(this)[0].checked === true) {
                        dataItem.Chon = true;
                        $("#gridDanhSachVatTu").data("kendoGrid").select($("#gridDanhSachVatTu").data("kendoGrid").table.find("[data-uid=" + dataItem.uid + "]"));
                    }
                    else {
                        dataItem.Chon = false;
                        $("#gridDanhSachVatTu").data("kendoGrid").table.find("[data-uid=" + dataItem.uid + "]").attr("class", "");
                    }
                });
                $("#gridDanhSachVatTu").data("kendoGrid").table.on("change", ".chon", function () {

                });
                $("#gridDanhSachVatTu").data("kendoGrid").table.on("dblclick", "tr", function () {
                    var dataItem = $("#gridDanhSachVatTu").data("kendoGrid").dataItem($(this).closest("tr"));
                    if (dataItem.Chon === true) {
                        dataItem.Chon = false;
                        $(this).find(".chon").prop('checked', false);
                        $("#gridDanhSachVatTu").data("kendoGrid").table.find("[data-uid=" + dataItem.uid + "]").attr("class", "");
                    }
                    else {
                        dataItem.Chon = true;
                        $(this).find(".chon").prop('checked', true);
                        $("#gridDanhSachVatTu").data("kendoGrid").select($("#gridDanhSachVatTu").data("kendoGrid").table.find("[data-uid=" + dataItem.uid + "]"));
                    }
                });
                $("#btnDongY").click(function () {
                    var arrData = [];
                    var dataItem = $("#gridDanhSachVatTu").data("kendoGrid").dataSource.data();
                    for (var i = 0; i < dataItem.length; i++) {
                        if (dataItem[i].Chon === true) {
                            arrData.push(dataItem[i]);
                        }
                    }
                    $("#mdlDanhSachVatTu").data("kendoWindow").close();
                    $("#gridChiTietNhap").data("kendoGrid").dataSource.data(arrData);
                });
                $("#btnHuyChonVatTu").click(function () {
                    $("#mdlDanhSachVatTu").data("kendoWindow").close();
                });
            }

        });
        $("#btnHuy").click(function () {
            $("#mdlNhapVatTuKhoTong").data("kendoWindow").close();
        });
        $("#btnCapNhatPhieuMua").click(function () {
            var validate = $("#mdlChiTietPhieuNhap").kendoValidator().data("kendoValidator");
            if (validate.validate()) {
                var dataChiTietNhap = $("#gridChiTietNhap").data("kendoGrid").dataSource.data();
                var PhieuNhapVatTuID = $("#ipPhieuNhapVatTuID").val();
                var thoigianmua = $("#ThoiGianNhap").val();
                var doitacID = $("#drdDoiTac").data("kendoDropDownList").value();
                var hinhanh = "";
                var DSHinhAnh = [];
                var ins = document.getElementById('files_0').files.length;
                if (ins > 0) {
                    var strUrl = uploadMultipleFileParagam2("/Upload" + "/Uploadfiles", "files_0", $(".dshinhanhadd")).split(',');
                    for (var k = 0; k < strUrl.length; k++) {
                        DSHinhAnh.push({ Url: strUrl[k] });
                    }
                }
                for (var i = 0; i < DSHinhAnh.length; i++) {
                    if (hinhanh.indexOf(DSHinhAnh[i].Url) < 0) {
                        hinhanh += DSHinhAnh[i].Url + ",";
                    }
                }
                $.ajax({
                    url: currentController + "/CapNhatMua",
                    type: "POST",
                    data: {
                        PhieuNhapVatTuID: PhieuNhapVatTuID,
                        ThoiGian: thoigianmua,
                        DoiTacID: doitacID,
                        DataChiTietNhap: JSON.stringify(dataChiTietNhap),
                        DSHinhAnh: hinhanh.substring(0, hinhanh.length - 1),
                    },
                    complete: function (e) {
                        alertToastr(e.responseJSON);
                        if (e.responseJSON.code === "success") {
                            if ($('#mdlChiTietPhieuNhap').length > 0) {
                                $("#mdlChiTietPhieuNhap").data("kendoWindow").close();
                                $("#gridLichSuNhapVatTuKhoTong").data("kendoGrid").dataSource.read();
                                $("#gridQuanLyVatTuKhoTong").data("kendoGrid").dataSource.read();
                            }
                            else {
                                $("#mdlNhapVatTuKhoTong").data("kendoWindow").close();
                                $("#gridQuanLyVatTuKhoTong").data("kendoGrid").dataSource.read();
                            }
                        }
                    }
                });
            }
        });

        $("#btnTraThanhPham").click(function () {
            CreateModalWithSize("mdlTraThanhPham", "99%", "90%", "tpltraThanhPham", "Trả Thành phẩm");
            $("#ThoiGianTra").kendoDateTimePicker({
                format: "dd/MM/yyyy HH:mm",
                value: new Date(),
            });
            $("#gridDanhSachVatTuTra").kendoGrid({
                dataSource: new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: currentController + "/GetDataChiTietPhieuNhap",
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            data: { PhieuNhapVatTuID: $("#ipPhieuNhapVatTuID").val() }
                        },
                        parameterMap: function (options, type) {
                            return JSON.stringify(options);
                        }
                    },
                    type: "json",
                    pageSize: 25,
                    schema: {
                        data: "data",
                        total: "total",
                        model: {
                            id: "ChiTietNhapXuatVatTuID",
                            fields: {
                                PhieuNhapVatTuID: { type: "string", editable: false },
                                ThoiGian: { type: "date", editable: false },
                                TenDonVi: { type: "string", editable: false },
                                TenVatTu: { type: "string", editable: false },
                                TenVietTat: { type: "string", editable: false },
                                SoLuong: {type: "number",editable: true},
                                DonGia: { type: "number", editable: false },
                                ThanhTien: { type: "number", editable: false },
                            }
                        }
                    },
                }),
                editable: true,
                selectable: false,
                batch: true,
                height: 400,
                dataBinding: function () {
                    record = 0;
                },
                columns:
                [
                    {
                        title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                        template: "#= ++record #",
                        width: 60,
                        attributes: alignCenter
                    },
                    { field: "VatTuID", hidden: true },
                    {
                        field: "DsHinhAnh", title: "Ảnh",
                        attributes: { style: "text-align:left;" },
                        filterable: FilterInTextColumn,
                        template: kendo.template($("#tplAnh").html()),
                        width: 70
                    },
                    {
                        field: "TenVatTu", width: 200,
                        title: GetTextLanguage("tenvattu"),
                        attributes: { style: "text-align:left;" },
                        filterable: FilterInTextColumn
                    },
                    {
                        field: "TenVietTat",
                        width: 200,
                        attributes: { style: "text-align:left;" },
                        title: GetTextLanguage("tenviettat"),
                        filterable: FilterInTextColumn
                    },
                    {
                        field: "TenDonVi", width: 200,
                        title: GetTextLanguage("donvi"),
                        attributes: { "style": "text-align:left !important;" },
                        filterable: FilterInTextColumn
                    },
                    {
                        field: "DonGia", title: GetTextLanguage("gianhap"),
                        format: "{0:n0}",
                        attributes: { style: "text-align:right;" },
                        filterable: FilterInColumn, width: 150,
                    },
                    {
                        field: "SoLuong", width: 100,
                        title: GetTextLanguage("soluong"),
                        format: "{0:n2}",
                        attributes: { "style": "text-align:right !important;" },
                        filterable: FilterInColumn,
                        editor: function (container, options) {
                            rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                            var input = $('<input type="text" style="width:75%;height:15px;" data-v-min="1" class="form-control" id="' + options.model.get("VatTuID") + '" ' + rs + ' name="SoLuong" />');
                            input.appendTo(container);
                            input.autoNumeric(autoNumericOptionsSoLuong);
                        },
                    },
                    {
                        field: "ThanhTien",
                        title: GetTextLanguage("thanhtien"),
                        format: "{0:n2}",
                        attributes: { "style": "text-align:right !important;" },
                        filterable: FilterInColumn,
                        width: 150,
                    },
                    {
                        title: GetTextLanguage("thaotac"),
                        command: [
                            {
                                text: GetTextLanguage("xoa"),
                                name: "destroy"
                            }
                        ],
                        width: 100,
                    },
                ],
                dataBound: function (e) {
                    showslideimg10();
                },
                save: function (e) {
                    var items = $("#gridDanhSachVatTuTra").data("kendoGrid").dataSource.data();
                    if (e.values.DonGia != null) {
                        for (var i = 0; i < items.length; i++) {
                            if (items[i].VatTuID == e.model.VatTuID) {
                                items[i].ThanhTien = (e.values.DonGia == null ? 1 : e.values.DonGia) * (e.model.SoLuong == null ? 1 : e.model.SoLuong);
                                items[i].DonGia = e.values.DonGia;
                                break;
                            }
                        }
                    } else if (e.values.SoLuong != null) {
                        for (var i = 0; i < items.length; i++) {
                            if (items[i].VatTuID == e.model.VatTuID) {
                                items[i].ThanhTien = (e.model.DonGia == null ? 1 : e.model.DonGia) * (e.values.SoLuong == null ? 1 : e.values.SoLuong);
                                items[i].SoLuong = e.values.SoLuong;
                                break;
                            }
                        }
                    }

                    $("#gridDanhSachVatTuTra").data("kendoGrid").dataSource.data(items);
                }
            });
            $("#btnLuuTraThanhPham").click(function () {
                var dataChiTietNhap = $("#gridDanhSachVatTuTra").data("kendoGrid").dataSource.data();
                var PhieuNhapVatTuID = $("#ipPhieuNhapVatTuID").val();
                var thoigianmua = $("#ThoiGianTra").val();
                var doitacID = $("#drdDoiTac").data("kendoDropDownList").value();
                var hinhanh = "";
                var DSHinhAnh = [];
                var ins = document.getElementById('files_02').files.length;
                if (ins > 0) {
                    var strUrl = uploadMultipleFileParagam2("/Upload" + "/Uploadfiles", "files_02", $(".dshinhanhadd2")).split(',');
                    for (var k = 0; k < strUrl.length; k++) {
                        DSHinhAnh.push({ Url: strUrl[k] });
                    }
                }
                for (var i = 0; i < DSHinhAnh.length; i++) {
                    if (hinhanh.indexOf(DSHinhAnh[i].Url) < 0) {
                        hinhanh += DSHinhAnh[i].Url + ",";
                    }
                }
                $.ajax({
                    url: currentController + "/TraThanhPham",
                    type: "POST",
                    data: {
                        PhieuNhapVatTuID: PhieuNhapVatTuID,
                        ThoiGian: thoigianmua,
                        DoiTacID: doitacID,
                        DataChiTietNhap: JSON.stringify(dataChiTietNhap),
                        DSHinhAnh: hinhanh.substring(0, hinhanh.length - 1),
                    },
                    complete: function (e) {
                        alertToastr(e.responseJSON);
                        if (e.responseJSON.code === "success") {
                            $("#mdlTraThanhPham").data("kendoWindow").close();
                            $("#gridQuanLyVatTuKhoTong").data("kendoGrid").dataSource.read();
                            $("#gridQuanLyVatTuKhoDonVi").data("kendoGrid").dataSource.read();
                        }
                    }
                });
            });
        });


      
        showslideimg();
    });
</script>
@{
    var urlimg = "/center/Upload/ImageQLVT/";
}
<script src="~/Content/lib/fncUploadFile.js"></script>
<script>
    function loadimgSuaChua3(input) {
        //$('.dshinhanhadd').empty();
        if (input.files) {
            var filesAmount = input.files.length;
            var html = "";
            for (var i = 0; i < filesAmount; i++) {
                if (input.files[i].type == "image/png" || input.files[i].type == "image/jpg" || input.files[i].type == "image/jpeg" || input.files[i].type == "image/gif") {
                    readURL3(input.files[i]);

                }
            }

        }
    }
    function readURL3(file) {

        var reader = new FileReader();
        reader.onload = function (event) {
            var html = "";
            html += "<div class='imgslider' style='float:left;position:relative;margin-right:10px;'>";
            html += "<div style='margin:0px;' class='img-con ahihi3'><a rel='gallery' href='" + event.target.result + "'><img src='" + event.target.result + "' style='width: 70px;height: 70px;margin: 0;opacity: 1;'></a></div>";
            html += "<div data-file='" + file.name + "' class='closeGenImgSuaChua' title='Xóa'>X</div></div>";
            html += "</div>";
            //html = "<div class='imgGenSuaChua' style=\"width:100px;height:100px;\"><img src='" + event.target.result + "' /><div data-file='" + file.name + "' class='closeGenImgSuaChua' title='Xóa'>X</div></div>";
            $('.dshinhanhadd2').append(html);
            showslideimg();
            $(".dshinhanhadd2 .closeGenImgSuaChua").click(function () {
                $(this).parent().remove();
                showslideimg();
            });

        }
        reader.readAsDataURL(file);
    }
    function loadimgSuaChua2(input) {
        //$('.dshinhanhadd').empty();
        if (input.files) {
            var filesAmount = input.files.length;
            var html = "";
            for (var i = 0; i < filesAmount; i++) {
                if (input.files[i].type == "image/png" || input.files[i].type == "image/jpg" || input.files[i].type == "image/jpeg" || input.files[i].type == "image/gif") {
                    readURL2(input.files[i]);

                }
            }

        }
    }
    function readURL2(file) {

        var reader = new FileReader();
        reader.onload = function (event) {
            var html = "";
            html += "<div class='imgslider' style='float:left;position:relative;margin-right:10px;'>";
            html += "<div style='margin:0px;' class='img-con ahihi3'><a rel='gallery' href='" + event.target.result + "'><img src='" + event.target.result + "' style='width: 70px;height: 70px;margin: 0;opacity: 1;'></a></div>";
            html += "<div data-file='" + file.name + "' class='closeGenImgSuaChua' title='Xóa'>X</div></div>";
            html += "</div>";
            //html = "<div class='imgGenSuaChua' style=\"width:100px;height:100px;\"><img src='" + event.target.result + "' /><div data-file='" + file.name + "' class='closeGenImgSuaChua' title='Xóa'>X</div></div>";
            $('.dshinhanhadd').append(html);
            showslideimg();
            $(".dshinhanhadd .closeGenImgSuaChua").click(function () {
                $(this).parent().remove();
                showslideimg();
            });

        }
        reader.readAsDataURL(file);
    }
</script>
<style>
    .dshinhanhadd, .dshinhanhadd2 {
        padding: 10px;
        margin: 10px 0 0;
        border: 1px solid #ddd;
        height: 80px;
        background: #fff;
        margin-bottom: 10px;
    }
</style>
@model DF.DBMapping.ModelsExt.VatTu.ChiTietPhieuNhapThanhPhamResult
<input id="ipPhieuNhapVatTuID" value="@Model.PhieuNhapVatTuID" hidden />
<div class="row">
    <div class="form-group" style="float:left">
        <label for="ThoiGianNhap" style="text-align:right">Thời gian</label>
        <div class="input-group" style="width:200px !important;height:36px;">
            <input id="ThoiGianNhap" name="thoigiannhap" value="@Model.ThoiGianNhap.ToString("dd/MM/yyyy HH:mm")" style="width:200px !important;height:36px;" required data-required-msg=@Html.Raw(Language.GetText("khongtrong")) />
        </div>
    </div>
    <div class="form-group filter-doitac" style="float:left;margin-left:15px">
        <label for="drdDoiTac" style="text-align:right">@Html.Raw(Language.GetText("doitac"))</label>
        <div class="input-group" style="width:200px !important;height:36px;">
            <input id="drdDoiTac" style="width:200px !important;height:36px;" required data-required-msg=@Html.Raw(Language.GetText("phaichondoitac")) value="@Model.DoiTacID" />
            <span class="input-group-btn">
                <button class="btn btn-primary" style="padding: 8px 11px 8px;"><i class="icon-grid52"></i></button>
            </span>
        </div>

    </div>
    <div style="float:left;margin-left:15px">
        <label>&nbsp;</label>
        <div class="input-group" style="width:200px !important;height:36px;">
            <button id="btnChonVatTu" class="btn btn-primary"><i class="fa fa-plus"></i> @Html.Raw(Language.GetText("chonvattu"))</button>
        </div>
    </div>
</div>
<div>
    <div id="gridChiTietNhap"></div>
</div>
<div style="margin-top:15px">
    <label>@Html.Raw(Language.GetText("anhdinhkem"))</label>
    <div class="row">
        <div class="col-md-12">
            <div class="dshinhanhadd" style="margin-top:10px;">
                @if (Model != null && Model.DSHinhAnh != null && Model.DSHinhAnh != "")
                {
                    foreach (var anh in Model.DSHinhAnh.Split(','))
                    {
                        <div class='imgslider' style='float:left;position:relative;margin-right:10px;'>
                            <div style='background-image:url("@urlimg@anh"); margin:0px;' class='img-con ahihi3'><a rel='gallery' href='@urlimg@anh'><img src="@urlimg@anh" style='width: 110px;height: 110px;margin: 0;opacity: 0;'></a></div>
                            <div data-file='@anh' class='closeGenImgSuaChua' title='Xóa'>X</div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</div>
<div style="margin-top:15px">
    
    <div class="fileUpload btn btn-primary pull-left" style="margin-left:10px">
        <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("themanh"))</span>
        <input type="file" id="files_0" name="files_0" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple" onchange="loadimgSuaChua2(this)">
    </div>
    <div class="pull-right">
        <button class="btn btn-warning" id="btnTraThanhPham"><i class="glyphicon glyphicon-upload"></i> Trả Thành phẩm</button>
        <button class="btn btn-success" id="btnCapNhatPhieuMua"><i class="glyphicon glyphicon-save"></i>@Html.Raw(Language.GetText("capnhat"))</button>
        <button class="btn btn-default pull-left" id="btnHuy"><i class="glyphicon glyphicon-remove"></i> @Html.Raw(Language.GetText("huy"))</button>
    </div>
</div>
<div id="mdlDanhSachVatTu"></div>
<div id="mdlTraThanhPham"></div>
@* Template *@
<script type="text/x-kendo-template" id="tplDanhSachVatTu">
    <div id="gridDanhSachVatTu"></div>
    <div style="margin-top:15px;">
        <div class="pull-right">
            <button class="btn btn-default" id="btnHuyChonVatTu"><i class="glyphicon glyphicon-share-alt"></i> @Html.Raw(Language.GetText("huy"))</button>
            <button class="btn btn-success" id="btnDongY"><i class="glyphicon glyphicon-ok"></i>@Html.Raw(Language.GetText("dongy"))</button>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tpltraThanhPham">
    <div class="row">
        <div class="form-group" style="float:left">
            <label for="ThoiGianTra" style="text-align:right">@Html.Raw(Language.GetText("thoigiannhap"))</label>
            <input id="ThoiGianTra" name="thoigiantra" style="width:200px !important" />
        </div>
        <div class="pull-right">
            <button class=" btn btn-warning" id="btnLuuTraThanhPham">
                <i class="glyphicon glyphicon-upload"></i> Trả Thành phẩm
            </button>
        </div>
    </div>
    <div id="gridDanhSachVatTuTra"></div>
    <div style="margin-top:15px">
        <label>@Html.Raw(Language.GetText("anhdinhkem"))</label>
        <div class="row">
            <div class="col-md-12">
                <div class="dshinhanhadd2" style="margin-top:10px;">
                   
                </div>
            </div>
        </div>

    </div>
    <div style="margin-top:15px">

        <div class="fileUpload btn btn-primary pull-left" style="margin-left:10px">
            <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("themanh"))</span>
            <input type="file" id="files_02" name="files_02" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple" onchange="loadimgSuaChua3(this)">
        </div>

    </div>
</script>