﻿@{
    ViewBag.Title = Language.GetText("quanlynhanvien");
    
}

<style>
    #dsCongTrinh_listbox .k-state-selected {
        color: red;
    }
     #dieuchuyen .row{
         padding:3px !important;
     }
    table.thongtin tr td {
        border: 0 !important;
        padding:3px;
    }
    #thongtincanhan .row{
        padding:3px;
    }
</style>
<script id="popup_editor" type="text/x-kendo-template">
    <div class="row" style="margin-top:10px;">
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default" style="margin-top:20px;">
                <div id="anh">
                    <div class="avatar" style="text-align:center;">
                        <a href="javarscript:void(0)">
                            <img src="/Content/no-image.jpg" style="min-height:150px;width:100%" />
                        </a>
                    </div>
                </div>
                <div class="fileUpload btn btn-primary col-md-12 btn-block pull-left">
                    <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("themanh"))</span>
                </div>
            </div>

            <div class="row hidden" style="margin-top:10px; padding-left:10%; padding-right:10%;">
                <input name="AnhDaiDien" id="Avatar" type="file" />
                <input type="hidden" class="avtastring" value="" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.Raw(Language.GetText("thongtincanhan"))
                </div>
                <div class="panel-body">
                    <table class="table thongtin">
                        <tbody>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("tennhanvien"))</td>
                                <td><input type="text" class="k-input k-textbox" name="TenNhanVien" data-bind="value:TenNhanVien" required data-required-msg="@Html.Raw(Language.GetText("tennhanvienkhongduocdetrong"))" style="width: 100%"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("ngaysinh"))</td>
                                <td><input type="text" name="NgaySinh" data-type="date" data-bind="value:NgaySinh" data-role="datepicker" data-format="dd/MM/yyyy" style="width: 100%" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("gioitinh"))</td>
                                <td><input id="GioiTinh" name="GioiTinh" data-bind="value:GioiTinh" data-value-field="value" data-text-field="text" data-source="dataSourceGT" data-role="dropdownlist" style="width: 100%" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("sdt"))</td>
                                <td><input type="text" class="k-input k-textbox" name="SDT" data-bind="value:SDT" style="width: 100%"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("tennganhang"))</td>
                                <td><input type="text" class="k-input k-textbox" name="TenNganHang" data-bind="value:TenNganHang" style="width: 100%"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("sotaikhoan"))</td>
                                <td><input type="text" class="k-input k-textbox" name="SoTaiKhoanNganHang" data-bind="value:SoTaiKhoanNganHang" style="width: 100%"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("masothue"))</td>
                                <td><input type="text" class="k-input k-textbox" name="MaSoThue" data-bind="value:MaSoThue" style="width: 100%"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("danopcmt"))</td>
                                <td><input type="checkbox" name="DaNopCmt" data-type="boolean" data-bind="checked:DaNopCmt" style="margin-left:15px;"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("socmt"))</td>
                                <td><input type="text" class="k-input k-textbox" name="Cmt" data-bind="value:Cmt" style="width: 100%"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("ngaycapcmt"))</td>
                                <td><input type="text" name="NgayCapCMT" data-type="date" data-bind="value:NgayCapCMT" data-role="datepicker" data-format="dd/MM/yyyy" style="width: 100%" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("noicapcmt"))</td>
                                <td><input type="text" class="k-input k-textbox" name="NoiCapCMT" data-bind="value:NoiCapCMT" style="width: 100%"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.Raw(Language.GetText("thongtincongviec"))
                </div>
                <div class="panel-body">
                    <table class="table thongtin">
                        <tbody>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("tendoi"))</td>
                                <td><input name="DoiThiCongID" data-bind="value:DoiThiCongID"  data-auto-bind="false" required data-required-msg="@Html.Raw(Language.GetText("doithicongkhongduocdetrong"))"  style="width: 100%" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("tencongtrinh"))</td>
                                <td><input id="dsCongTrinh" style="width: 100%" data-bind="value:DSCongTrinh" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("chucvu"))</td>
                                <td><input id="TenChucVu" name="ChucVu" data-bind="value:ChucVu" data-filter="contains" required data-required-msg="@Html.Raw(Language.GetText("chucvukhongduocdetrong"))" data-role="dropdownlist" style="width: 100%" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("tinhtrang"))</td>
                                <td><input id="TinhTrang" name="TinhTrang" data-bind="value:TinhTrang"  style="width: 100%" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("loaihopdong"))</td>
                                <td><input id="LoaiHopDong" name="LoaiHopDong" data-bind="value:LoaiHopDong"  style="width: 100%" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("ngaydilam"))</td>
                                <td><input type="text" id="NgayDiLam" name="NgayDiLam" data-type="date" data-bind="value:NgayDiLam" data-role="datepicker" data-format="dd/MM/yyyy" style="width: 100%" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("ngaythoiviec"))</td>
                                <td><input type="text" name="NgayThoiViec"  id="NgayThoiViec"  data-bind="value:AAA" style="width:100%;"/></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("ngayketthuchopdong"))</td>
                                <td><input type="text" name="NgayKetThucHd" id="NgayKetThucHd" data-type="date" data-bind="value:AAA" style="width: 100%" /></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("danopbang"))</td>
                                <td><input type="checkbox" name="DaNopBang" data-type="boolean" data-bind="checked:DaNopBang" style="margin-left:15px;"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("nganhnghe"))</td>
                                <td><input type="text" class="k-input k-textbox" name="NganhNghe" data-bind="value:NganhNghe" style="width: 100%"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("noicapbang"))</td>
                                <td><input type="text" class="k-input k-textbox" name="TruongCapBang" data-bind="value:TruongCapBang" style="width: 100%"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("diachi"))</td>
                                <td><input type="text" class="k-input k-textbox" name="DiaChi" data-bind="value:DiaChi" style="width: 100%"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("songaygioihan"))</td>
                                <td><input type="text" class="k-input k-textbox" name="SoNgayGioiHan" data-bind="value:SoNgayGioiHan" style="width: 100%"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle;text-align:right">@Html.Raw(Language.GetText("songaykhaibaobu"))</td>
                                <td><input type="text" class="k-input k-textbox" name="SoNgayKhaiCong" data-bind="value:SoNgayKhaiCong" style="width: 100%"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .k-edit-form-container {
        width: auto !important;
    }

    .avatar img {
        width: 200px;
        /*height: 200px;*/
    }

    .k-dropdown-operator {
        right: 0em !important;
    }

    .k-header .k-link {
        text-align: center !important;
    }

    .k-grid td {
        padding: 0.7em 1.286em;
    }

    th.k-header {
        text-align: center !important;
    }
</style>
<script type="text/x-kendo-template" id="template">
    <div class="row">
        <div class="k-edit-label col-sm-3">
            <label for="doithicong" style="">@Html.Raw(Language.GetText("doithicong"))</label>
        </div>
        <div class="col-sm-7">
            <input type="search" id="doithicong" required data-required-msg="@Html.Raw(Language.GetText("doithicongkhongduocdetrong"))" style="width: 100%;" />
        </div>
    </div>
    <div class="row">
        <div class="k-edit-label col-sm-3">
            <label for="congtrinhthicong" style="">@Html.Raw(Language.GetText("congtrinh"))</label>
        </div>
        <div class="col-sm-7">
            <input type="search" id="congtrinhthicong" style="width: 100%;" />
        </div>
    </div>
    <div class="row">
        <div class="k-edit-label col-sm-3">
            <label for="chucvu" style="">@Html.Raw(Language.GetText("chucvu"))</label>
        </div>
        <div class="col-sm-7">
            <input type="search" id="chucvu" style="width: 100%;" />
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="k-edit-label col-sm-3">
            <label for="thoigian" style="">@Html.Raw(Language.GetText("thoigian"))</label>
        </div>
        <div class="col-sm-7">
            <input id="thoigian" style="width:  100%;" />
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="k-edit-label col-sm-3">
        </div>
        <div class="col-sm-7">
            <input type="checkbox" id="dieuchuyencongtrinh" class="k-checkbox" /><label class="k-checkbox-label" for="dieuchuyencongtrinh">@Html.Raw(Language.GetText("chidieuchuyencongtrinh"))</label>
        </div>
    </div>
    <div class="row" style="margin-top:25px;">
        <div style="float:right;padding-right:40px;">
            <a class="k-button k-button-icontext" id="updateDieuChuyen">
                <span class="k-icon k-i-update"></span>
                @Html.Raw(Language.GetText("dieuchuyen"))
            </a>
        </div>
        <div style="float:right;margin-right:10px">
            <a class="k-button k-button-icontext" id="cancelDieuChuyen">
                <span class="k-icon k-i-cancel"></span>
                @Html.Raw(Language.GetText("dong"))
            </a>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="template-baohethan">
    <div id="gridbaohethan"></div>
</script>
<div id="baohethan"></div>

<div id="mdlThongTinNhanVien" style="padding:0;"></div>
<script type="text/x-kendo-template" id="tmplaction">
    <div class="text-center">
        <button class="btn btn-xs btn-primary xemchitiet">@Html.Raw(Language.GetText("suachucvu"))</button>
    </div>
</script>
<script src="~/Scripts/HanhChinh/NhanVien/QuanLyNhanVien_Cu.js"></script>
@*<script type="text/javascript">
    hs.enableKeyListener = false;
    hs.expandDuration = 0;
    hs.graphicsDir = '../Content/HightSlide/graphics/';
    hs.align = 'center';
    hs.transitions = ['expand', 'crossfade'];
    hs.outlineType = 'rounded-white';
    hs.wrapperClassName = 'controls-in-heading';
    hs.fadeInOut = false;
    //hs.dimmingOpacity = 0.75;

    // Add the controlbar
    if (hs.addSlideshow) hs.addSlideshow({
        //slideshowGroup: 'group1',
        interval: 5000,
        repeat: false,
        useControls: true,
        fixedControls: true,
        overlayOptions: {
            opacity: 1,
            position: 'top right',
            hideOnMouseOut: false
        },
    });
</script>*@
@*Notification thông báo lỗi*@
<script id="errorTemplate" type="text/x-kendo-template">
    <div class="noti-errorr">
        <img src="/Images/kendo/notification/error-icon.png" />
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>
<script type="text/x-kendo-template" id="tplHopDong">
    <form>
        <div class="row" style="display:flex;">
            <div style="margin:auto;text-align:center;color:coral"><h2>@Html.Raw(Language.GetText("lichsukyhopdong"))</h2></div>
        </div>
        <div id="gridKyHopDong"></div>
        <div style="clear:both"></div>
        <div class="modal-footer">
            <a class="btn btn-primary saves" id="btnLoad">
                <span class="fa fa-floppy-o"></span>
                @Html.Raw(Language.GetText("tailai"))
            </a>
            <a class="btn btn-danger edits" id="btnDong">
                <span class="fa fa-trash-o"></span>
                @Html.Raw(Language.GetText("huy"))
            </a>
        </div>
    </form>

</script>
@*Notification thông báo thành công !*@
<script id="successTemplate" type="text/x-kendo-template">
    <div class="noti-success">
        <img src="/Images/kendo/notification/success-icon.png" />
        <h3>#= message #</h3>
    </div>
</script>
<span id="notification" style="display:none;"></span>
<div class="content"><div id="grid"></div></div>

<div id="dieuchuyen">
</div>
<div id="kyhopdong"></div>
<div id="xemanh"></div>
@*CSS cho phần notification*@
<style>
    .k-notification {
        border: 0;
    }
    /* Error template */
    .k-notification-error.k-group {
        background: rgba(100%,0%,0%,.7);
        color: #ffffff;
    }

    .noti-errorr {
        width: 300px;
        height: 100px;
    }

        .noti-errorr h3 {
            font-size: 1.7em;
            padding: 12px 10px 0px;
        }

        .noti-errorr img {
            float: left;
            margin: 24px 15px 30px 30px;
        }

    /* Success template */
    .k-notification-upload-success.k-group {
        background: rgba(0%,60%,0%,.7);
        color: #fff;
    }

    .noti-success {
        width: 270px;
        height: 100px;
        padding: 0 30px;
        line-height: 100px;
    }

        .noti-success h3 {
            font-size: 1.7em;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 21px;
        }

        .noti-success img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
</style>
