﻿@{
    ViewBag.Title = Language.GetText("quanlysanxuat");
}
<script type="text/javascript" src="~/Scripts/NghiepVu/QLSanXuat/QuanLySanXuatNhom.js"></script>


<div class="content">
    <div class="row">
        <div class="form-group col-xs-4">
            <label>
                <input type="radio" name="tinhtrang" id="chuasanxuat"  /> Chưa sản xuất
            </label>
        </div>
        <div class="form-group col-xs-4">
            <label>
                <input type="radio" name="tinhtrang" id="tatca" checked /> Tất cả
            </label>
        </div>
    </div>
    <div class="row">
        <div id="grid"></div>
    </div>
   
</div>

<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<script type="text/x-kendo-template" id="tplLoaiHinh">
    # if(LoaiHinh == 1) { #
    <span class="btn btn-success btn-block no-padding">Sản Phẩm</span>
    # } #
    # if(LoaiHinh == 2) { #
    <span class="btn btn-info btn-block no-padding">Thành Phẩm</span>
    # } #

</script>
<script type="text/x-kendo-template" id="tplLoaiHinh2">
    # if(LoaiHinh == 1) { #
    <span class="btn btn-success btn-block no-padding">Nguyên liệu</span>
    # } #
    # if(LoaiHinh == 2) { #
    <span class="btn btn-info btn-block no-padding">Thành Phẩm</span>
    # } #

</script>
<script type="text/x-kendo-template" id="tplThoiGianConLai">
    # if(ThoiGianConLai == null) { #
    <span>-------</span>
    # } #
    # if(ThoiGianConLai != null && ThoiGianConLai > 0) { #
    <span style="color:blue">  #: kendo.toString(ThoiGianConLai,"n2") # Giờ</span>
    # } #
    # if(ThoiGianConLai != null && ThoiGianConLai <= 0) { #
    <span style="color:red">  #: kendo.toString(ThoiGianConLai,"n2") # Giờ</span>
    # } #


</script>
<script type="text/x-kendo-template" id="tplTinhTrang">
    # if(TinhTrang == "Hoàn thiện") { #
        <strong style="color:blue;font-size:13px">  #: TinhTrang # </strong>
    # } #
    # if(TinhTrang != "Hoàn thiện") { #
    <strong style="color:blue;font-size:13px">  #: TinhTrang # </strong>
    # } #


</script>
<div id="mdlsanxuat">

</div>