﻿@model DF.DBMapping.ModelsExt.NghiepVu.LenhSanXuatModel
<html>
<head>
    <title>Lệnh sản xuất</title>
    <link href="~/Content/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 style="text-align:center;">Lệnh sản xuất</h1>
    <div style="padding:10px">
        <div>
            <table style="width: 70%; float: left">
                <tbody>
                    <tr>
                        <td style="padding: 5px 0px;"><b>Thời gian</b>: @Model.ThoiGian</td>
                        <td style="padding: 5px 0px;"><b>Số lượng</b>: @Model.SoLuong</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 0px;"><b>Mã Sản phẩm:</b> @Model.MaSanPham</td>
                        <td style="padding: 5px 0px;"><b>Đơn hàng</b>: @Model.MaDonHang</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 0px;"><b>Tỉ Lệ Size</b>: @Model.TiLeSize</td>
                        <td style="padding: 5px 0px;"><b>Size mẫu gốc</b>: @Model.SizeMauGoc</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 0px;"><b>Khách hàng</b>: @Model.TenKhachHang</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 0px;"><b>Tên Sản Phẩm</b>:</td>
                    </tr>
                </tbody>

            </table>
            <div style="width:30%;float:left;text-align:right">
                <img style="width:150px;height:100px" src="/center/Upload/ImageQLVT/@Model.AnhDaiDien" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table style="width:100%;font-size:11px" border="1">
                    <thead>
                        <tr>
                            <td style="padding: 10px; text-align: center; width: 130px; font-weight: bold;">MÀU</td>
                            <td style="padding: 10px; text-align: center; width: 70px; font-weight: bold;">SIZE</td>
                            <td style="padding: 10px; text-align: center; width: 70px; font-weight: bold;">SL KÊ CẮT</td>
                            <td style="padding: 10px; text-align: center; width: 70px; font-weight: bold;">SL CẮT</td>
                            <td style="padding: 10px; text-align: center; width: 70px; font-weight: bold;">SL IN THÊU</td>
                            <td style="padding: 10px; text-align: center; width: 70px; font-weight: bold;">SL MAY</td>
                            <td style="padding: 10px; text-align: center; width: 70px; font-weight: bold;"></td>
                            <td style="padding: 10px; text-align: center; width: 70px; font-weight: bold;"></td>
                            <td style="padding: 10px; text-align: center; width: 70px; font-weight: bold;"></td>
                            <td style="padding: 10px; text-align: center; width: 70px; font-weight: bold;">SL HOÀN THIỆN</td>
                            <td style="padding: 10px; text-align: center; width: 140px; font-weight: bold;">GHI CHÚ</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var mau = "";
                            var dem = 0;
                        }
                        @foreach (var item in Model.items.Where(p => p.LoaiVai == 1 && p.SoLuong > 0).Select(p => new { p.Mau, p.Size }).Distinct().OrderBy(P => P.Mau).ThenBy(P => P.Size))
                        {
                            <tr>
                                @if (mau != item.Mau)
                                {
                                    <td style="padding:10px;text-align:center; font-weight: bold;" rowspan="@Model.items.Where(p => p.Mau ==item.Mau && p.SoLuong>0).Select(p => new { p.Size }).Distinct().Count()">@item.Mau</td>
                                    mau = item.Mau;
                                }
                                <td style="padding:10px;text-align:center">@item.Size</td>

                                @*<td style="padding:10px;text-align:center"> @(String.Join(",", Model.items.Where(p => p.LoaiVai == 1 && p.Size == item.Size && p.Mau == item.Mau).Select(p => p.MaNguyenLieu +"-"+p.TenNguyenLieu)))</td>
                                    <td style="text-align:center">
                                        <ul style="list-style: none; padding: 0px; margin-bottom: 0px;">

                                            @foreach (var item2 in Model.items.Where(p => (p.LoaiVai == 2 || p.LoaiVai == 3 || p.LoaiVai == 4) && p.SoLuong > 0 && p.Mau == item.Mau && p.Size == item.Size))
                                            {
                                                <li style=" border-bottom: 1px solid black;padding-top:5px;padding-bottom:5px;">@item2.MaNguyenLieu-@item2.TenNguyenLieu</li>
                                            }
                                        </ul>
                                    </td>
                                    <td style="padding:10px;text-align:center"></td>*@
                                <td style="padding: 10px; text-align: center">@Model.items.FirstOrDefault(p => p.Mau == item.Mau && p.Size == item.Size && p.SoLuong > 0).SoLuong</td>
                                <td style="padding: 10px; text-align: center"></td>
                                <td style="padding: 10px; text-align: center"></td>
                                <td style="padding: 10px; text-align: center"></td>
                                <td style="padding: 10px; text-align: center"></td>
                                <td style="padding: 10px; text-align: center"></td>
                                <td style="padding: 10px; text-align: center"></td>
                                <td style="padding: 10px; text-align: center"></td>
                                @if (dem == 0)
                                {
                                    <td style="padding: 10px; text-align: center" rowspan="@Model.items.Where(p => p.LoaiVai == 1 && p.SoLuong > 0).Select(p => new { p.Mau, p.Size }).Distinct().Count()"></td>
                                }
                            </tr>
                            dem++;
                        }
                    </tbody>
                    <tfoot>
                        <tr>

                            <td style="padding:10px;text-align:center" colspan="2">Tổng</td>
                            <td style="padding: 10px; text-align: center">
                                @Model.SoLuong
                            </td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding: 10px; text-align: center"></td>
                            <td style="padding: 10px; text-align: center"></td>
                        </tr>
                        <tr>

                            <td style="padding:10px;text-align:center" colspan="2">Ký tên</td>
                            <td style="padding: 10px; text-align: center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding:10px;text-align:center"></td>
                            <td style="padding: 10px; text-align: center"></td>
                            <td style="padding: 10px; text-align: center"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <script>
            window.print();
        </script>
</body>
</html>
