﻿@model DF.DBMapping.ModelsExt.NghiepVu.PhieuSanXuatThanhPhamModel
<input type="hidden" id="DonHangID" value="@Model.DonHangID" />
<input type="hidden" id="SanPhamID" value="@Model.SanPhamID" />
<style>
    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: left; /* adjust as needed */
        color: white; /* adjust as needed */
        margin-top: -15px;
        margin-left: -12px;
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }
</style>
<div>
    <table class="table">
        <tbody>
            <tr>
                <td>Mã Đơn Hàng:</td>
                <td><b>@Model.MaDonHang</b></td>
                <td>Mã thành phẩm:</td>
                <td><b>@Model.MaSanPham</b></td>
                <td>Thành tiền:</td>
                <td><b>@Model.GiaTriDonHang.ToString("n2")</b></td>
            </tr>
            <tr>
                <td>Khách hàng:</td>
                <td>@Model.TenKhachHang</td>
                <td>Tên thành phẩm:</td>
                <td><b>@Model.TenSanPham</b></td>
                <td>Số lượng:</td>
                <td><b>@Model.SoLuong.ToString("n0")</b></td>
            </tr>
        </tbody>

    </table>
    <div class="col-md-12 text-right">
        <button class="btn btn-success" id="BatDau">Bắt đầu</button>
    </div>

    <div style="padding: 10px;" class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" style="background:#73abd3;height:13px">
                    <div class="panel-title">
                        <a href="#congdoancuoi" data-toggle="collapse" class="accordion-toggle">
                            <div style="width: 50%; float: left; color: white">&nbsp;&nbsp;&nbsp;</div>
                            <div style="width:50%;float:left;">
                                <span style="color:white">Chưa bắt đầu</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="congdoancuoi" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p style="margin-top:10px"><b>Số lượng @(Model.SoLuongDaSanXuat) / @(Model.SoLuong)</b></p>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="success">
                                    <th>Loại hình</th>
                                    <th style="width:70px">Ảnh</th>
                                    <th>Mã nguyên liệu</th>
                                    <th>Tên nguyên liệu</th>
                                    <th>Tổng</th>
                                    <th>Đã có</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dg in Model.lstNguyenLieu)
                                {
                                    <tr class="info" data-toggle="collapse">
                                        <td>
                                            @{
                                    if (dg.LoaiHinh == 1)
                                    {
                                        <span class="btn btn-success"> Nguyên liệu </span>
                                    }
                                    else
                                    {
                                        <span class="btn btn-info"> Thành phẩm </span>
                                    }

                                        }
                                    </td>
                                    <td style="width:70px">
                                        <div class="imgslider2" style="float:left;position:relative;">
                                            <div style=" margin:0px;">
                                                <a rel="gallery" href="/center/Upload/ImageQLVT/@dg.AnhDaiDien">
                                                    <img src="/center/Upload/ImageQLVT/@dg.AnhDaiDien" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@dg.MaNguyenLieu</td>
                                    <td>@dg.TenNguyenLieu</td>
                                    <td class="text-right"><b>@dg.SoLuong.ToString("n2")</b></td>
                                    <td class="text-right"><b>@dg.SoLuongDaCo.ToString("n2")</b></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<script>
    $("#BatDau").click(function () {
        if ($(".accordion-toggle").length > 0) {
            ContentWatingOP("mdlsanxuat", 0.9);
            $.ajax({
                type: "POST",
                url: "/QuanLySanXuat/BatDauSanXuatThanhPham",
                data: { ThanhPhamID: $("#SanPhamID").val(), DonHangID: $("#DonHangID").val() },
                success: function (data) {
                    if (data.code == "success") {
                        setTimeout(function () {
                            $("#mdlsanxuat").load("/QuanLySanXuat/ViewSanXuatThanhPham?ThanhPhamID=" + $("#SanPhamID").val() + "&DonHangID=" + $("#DonHangID").val());
                            $("#mdlsanxuat").unblock();
                        }, 1000)
                    } else {
                        $("#mdlsanxuat").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                },
                error: function (xhr, status, error) {
                    $("#mdlsanxuat").unblock();
                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                }
            })

        } else {
            showToast("error", GetTextLanguage("thatbai"), "Chưa định nghĩa công thức");
        }
    })
</script>