﻿@model DF.DBMapping.ModelsExt.NghiepVu.SanXuatNhomModel
<input type="hidden" id="DonHangID" value="@Model.DonHangID" />
<input type="hidden" id="MauMayID" value="@Model.MauMayID" />
<style>
    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: left; /* adjust as needed */
        color: white; /* adjust as needed */
        margin-top: -15px;
        margin-left: -12px;
        ;
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }
</style>

<div>
    <table class="table">
        <tbody>
            <tr>
                <td>Thời gian:</td>
                <td><b>@Model.ThoiGian</b></td>
                <td>Mã Đơn Hàng:</td>
                <td><b>@Model.MaDonHang</b></td>
                <td>Mã Sản phẩm:</td>
                <td><b>@Model.MaSanPham</b></td>
                <td>Thành tiền:</td>
                <td><b>@Model.GiaTriDonHang.ToString("n2")</b></td>
            </tr>
            <tr>
                <td>Khách hàng:</td>
                <td>@Model.TenKhachHang</td>
                <td>Tên sản phẩm:</td>
                <td><b>@Model.TenSanPham</b></td>
                <td>Loại:</td>
                <td><b>@Model.Loai</b></td>
                <td>Giới tính:</td>
                <td><b>@Model.GioiTinh</b></td>
                <td>Số lượng:</td>
                <td><b>@Model.SoLuong.ToString("n0")</b></td>
            </tr>
        </tbody>

    </table>
    <div class="col-md-12 text-right">
        <button class="btn btn-success" id="LichSuSua">Lịch sử sửa</button>
        <button class="btn btn-primary" id="XuatExcelTongNguyenLieu">Xuất excel nguyên liệu xuất kho</button>
        <button class="btn btn-primary" id="XuatExcelThongSoKyThuat">In thông số kỹ thuật</button>
        <a class="btn btn-primary" href="/QuanLySanXuatNhom/InLenhSanXuat?MauMayID=@(Model.MauMayID)&DonHangID=@(Model.DonHangID)&loai=2" target="_blank">In lệnh sản xuất</a>
        <button class="btn btn-warning" id="DeNghi">Đề nghị</button>
    </div>
    <div style="margin-top:10px;padding:10px;" class="col-md-12">
        @foreach (var congdoan in Model.lstCongDoan.OrderBy(p => p.ViTri.GetValueOrDefault()))
        {
            var isfirst = (congdoan.ViTri == Model.lstCongDoan.OrderBy(p => p.ViTri.GetValueOrDefault()).FirstOrDefault().ViTri);
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background:#73abd3;height:13px">
                        <div class="panel-title">
                            <a href="#@congdoan.HangMucSanXuatID" data-toggle="collapse" class="accordion-toggle" style="width: 40%; float: left; color: white">
                                <div>&nbsp;&nbsp;&nbsp; @congdoan.TenCongDoan</div>
                            </a>
                            <div style="width:20%;float:left;margin-right:20px">
                                <select class="form-control trangthaicongdoan" data-hangmucsanxuatid="@congdoan.ViTri" style="height: 18px; margin-top: -10px;">
                                    <option value="1" @(congdoan.TrangThai == 1 ? "selected" : "")>Chưa bắt đầu</option>
                                    <option value="2" @(congdoan.TrangThai == 2 ? "selected" : "")>Đang sản xuất</option>
                                    <option value="3" @(congdoan.TrangThai == 3 ? "selected" : "")>Đã hoàn thành</option>
                                    <option value="5" @(congdoan.TrangThai == 5 ? "selected" : "")>Tạm dừng</option>
                                </select>
                            </div>
                            @if (congdoan.TrangThai == 2)
                            {
                                <div style="width:20%;float:left;margin-left:10px">
                                    <div class="btn btn-success themsanxuatcongdoan" data-tencongdoan="@congdoan.TenCongDoan" data-hangmucsanxuatid="@congdoan.ViTri" data-source="@Newtonsoft.Json.JsonConvert.SerializeObject(congdoan.lstThanhPham)" style="height: 18px; margin-top: -10px;">
                                        Sản xuất
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="@congdoan.HangMucSanXuatID" class="panel-collapse collapse @(congdoan.TrangThai == 2 || congdoan.TrangThai == 5 ? "in" : "")">
                        <div class="panel-body">
                            <p><b>Thời gian còn lại theo định mức @(congdoan.ThoiGianHienTai.ToString("n2"))/@(congdoan.ThoiGianDinhMuc) (Giờ)</b></p>
                            @if (congdoan.TrangThai == 5)
                            {
                                <p><b>Lý do tạm dừng: </b><span style="color:red;font-weight:bold"> @congdoan.LyDoTamDung</span></p>
                            }
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="success">
                                        <th style="width:70px">Ảnh</th>
                                        <th>Size</th>
                                        <th>Màu</th>
                                        <th>Tổng</th>
                                        <th>Hoàn thiện</th>
                                        <th>Hỏng</th>
                                        <th>Còn Lại</th>
                                        <th>Lý do hỏng</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var dg in congdoan.lstThanhPham.OrderBy(p => p.Size).ThenBy(x => x.Mau))
                                    {

                                        <tr class="info" data-toggle="collapse" href="#@dg.MaThanhPham">
                                            <td style="width:70px">
                                                <div class="imgslider2" style="float:left;position:relative;">
                                                    <div style=" margin:0px;">
                                                        <a rel="gallery" href="/center/Upload/ImageQLVT/@(dg.AnhDaiDien == null || dg.AnhDaiDien == "" ? "no-image.jpg" : dg.AnhDaiDien)">
                                                            <img src="/center/Upload/ImageQLVT/@(dg.AnhDaiDien == null || dg.AnhDaiDien == "" ? "no-image.jpg" : dg.AnhDaiDien)" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@dg.Size</td>
                                            <td>@dg.Mau</td>
                                            <td class="text-right"><b>@dg.SoLuongTong.ToString("n2")</b></td>
                                            <td class="text-right"><b>@dg.SoLuongDaHoanThien.ToString("n2")</b></td>
                                            <td class="text-right"><b>@dg.SoLuongHong.GetValueOrDefault().ToString("n2")</b></td>
                                            <td class="text-right"><b>@((dg.SoLuongTong - dg.SoLuongDaHoanThien - dg.SoLuongHong.GetValueOrDefault()).ToString("n2"))</b></td>
                                            <td>@dg.LyDoHong</td>
                                            <td>
                                                @if (dg.SoLuongHong.GetValueOrDefault() > 0)
                                                {
                                                    <button class="btn btn-warning suathanhpham" data-tpid="@dg.ThanhPhamID" data-slhong="@dg.SoLuongHong.GetValueOrDefault()">Sửa</button>
                                                }
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                            <p style="margin-top:10px"><b>Nguyên liệu</b></p>
                            <p>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="warning">
                                            <th style="width:70px">Ảnh</th>
                                            <th>Loại nguyên liệu</th>
                                            <th>Mã nguyên liệu</th>
                                            <th>Tên nguyên liệu</th>
                                            <th>Số lượng cần</th>
                                            <th>Số lượng hiện có</th>
                                            @if (isfirst)
                                            {
                                                <th>Loại vải</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
            var lst = (from l in congdoan.lstThanhPham.SelectMany(p => p.lstNguyenLieu).OrderBy(l => l.TenNguyenLieu)
                       group l by new { l.NguyenLieuID, l.TenNguyenLieu, l.LoaiHinh, l.LoaiVai, l.AnhDaiDien, l.MaNguyenLieu } into g
                       select new { g.First().NguyenLieuID, g.First().TenNguyenLieu, g.First().MaNguyenLieu, g.First().LoaiHinh, g.First().LoaiVai, g.First().AnhDaiDien, SoLuong = g.Sum(c => c.SoLuong), SoLuongDaCo = g.Sum(c => c.SoLuongDaCo) });
                                        }
                                        @foreach (var nn in lst)
                                        {
                                            <tr>
                                                <td style="width:70px">
                                                    <div class="imgslider2" style="float:left;position:relative;">
                                                        <div style=" margin:0px;">
                                                            <a rel="gallery" href="/center/Upload/ImageQLVT/@(nn.AnhDaiDien==null || nn.AnhDaiDien==""? "no-image.jpg" : nn.AnhDaiDien)">
                                                                <img src="/center/Upload/ImageQLVT/@(nn.AnhDaiDien==null || nn.AnhDaiDien=="" ? "no-image.jpg" : nn.AnhDaiDien)" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    @if (nn.LoaiHinh == 1)
                                                    {
                                                        <span class="btn  btn-success" style="display:block;">Nguyên liệu</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="btn  btn-info" style="display:block;">Thành phẩm</span>
                                                    }
                                                </td>
                                                <td>@nn.MaNguyenLieu</td>
                                                <td>@nn.TenNguyenLieu</td>
                                                <td class="text-right"><b>@nn.SoLuong.ToString("n2")</b></td>
                                                <td class="text-right"><b>@nn.SoLuongDaCo.GetValueOrDefault().ToString("n2")</b></td>
                                                @if (isfirst)
                                                {
                                                    <td>
                                                        @(nn.LoaiVai == 1 ? "Vải chính" : "")
                                                        @(nn.LoaiVai == 2 ? "Vải phối lót" : "")
                                                        @(nn.LoaiVai == 3 ? "Vải phối P1" : "")
                                                        @(nn.LoaiVai == 4 ? "Vải phối P2" : "")
                                                        @(nn.LoaiVai == 5 ? "Chỉ may" : "")
                                                        @(nn.LoaiVai == 6 ? "Mác" : "")
                                                        @(nn.LoaiVai == 7 ? "Cúc" : "")
                                                        @(nn.LoaiVai == 8 ? "PK khác" : "")
                                                    </td>
                                                }
                                            </tr>

                                        }
                                    </tbody>
                                </table>

                            </p>

                        </div>

                    </div>
                </div>
            </div>

        }
    </div>
    <div style="padding: 10px;" class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" style="background:#73abd3;height:13px">
                    <div class="panel-title">
                        <a href="#congdoancuoi" data-toggle="collapse" class="accordion-toggle" style="width: 40%; float: left; color: white">
                            <div>&nbsp;&nbsp;&nbsp; Hoàn thiện</div>
                        </a>
                        <div style="width:20%;float:left;margin-right:20px">
                            <select class="form-control trangthaicongdoancuoi" style="height: 18px; margin-top: -10px;">
                                <option value="1" @(Model.congDoanCuoi.TrangThai == 1 ? "selected" : "")>Chưa bắt đầu</option>
                                <option value="2" @(Model.congDoanCuoi.TrangThai == 2 ? "selected" : "")>Đang sản xuất</option>
                                <option value="3" @(Model.congDoanCuoi.TrangThai == 3 ? "selected" : "")>Đã hoàn thành</option>
                                <option value="5" @(Model.congDoanCuoi.TrangThai == 5 ? "selected" : "")>Tạm dừng</option>
                            </select>
                        </div>
                        @if (Model.congDoanCuoi.TrangThai == 2)
                        {
                            <div style="width:20%;float:left;margin-left:10px">
                                <div class="btn btn-success themsanxuatcongdoancuoi" data-slsp="" data-source="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.congDoanCuoi.lstThanhPham)" style="height: 18px; margin-top: -10px;">
                                    Sản xuất
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="congdoancuoi" class="panel-collapse collapse @(Model.congDoanCuoi.TrangThai == 2 || Model.congDoanCuoi.TrangThai == 5 ? "in" : "")">
                    <div class="panel-body">
                        <p><b>Thời gian còn lại theo định mức @(Model.congDoanCuoi.ThoiGianHienTai.ToString("n2")) / @(Model.congDoanCuoi.ThoiGianDinhMuc) (Giờ)</b></p>

                        @if (Model.congDoanCuoi.TrangThai == 5)
                        {
                            <p><b>Lý do tạm dừng: </b><span style="color:red;font-weight:bold"> @Model.congDoanCuoi.LyDoTamDung</span> </p>
                        }
                        <table class="table table-bordered">
                            <thead>
                                <tr class="success">
                                    <th style="width:70px">Ảnh</th>
                                    <th>Size</th>
                                    <th>Màu</th>
                                    <th>Tổng</th>
                                    <th>Đã có</th>
                                    <th>Hỏng</th>
                                    <th>Lý do hỏng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dg in Model.congDoanCuoi.lstThanhPham.OrderBy(p => p.Size))
                                {
                                    <tr class="info" data-toggle="collapse">
                                        <td style="width:70px">
                                            <div class="imgslider2" style="float:left;position:relative;">
                                                <div style=" margin:0px;">
                                                    <a rel="gallery" href="/center/Upload/ImageQLVT/@(dg.AnhDaiDien==null || dg.AnhDaiDien==""? "no-image.jpg" : dg.AnhDaiDien)">
                                                        <img src="/center/Upload/ImageQLVT/@(dg.AnhDaiDien==null || dg.AnhDaiDien=="" ? "no-image.jpg" : dg.AnhDaiDien)" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@dg.Size</td>
                                        <td>@dg.Mau</td>
                                        <td class="text-right"><b>@dg.SoLuongTong.ToString("n2")</b></td>
                                        <td class="text-right"><b>@dg.SoLuongDaHoanThien.ToString("n2")</b></td>
                                        <td class="text-right"><b>@dg.SoLuongHong.GetValueOrDefault().ToString("n2")</b></td>
                                        <td>@dg.LyDoHong</td>
                                        <td>
                                            @if (dg.SoLuongHong.GetValueOrDefault() > 0)
                                            {
                                                <button class="btn btn-warning suasanpham" data-tpid="@dg.SanPhamID" data-slhong="@dg.SoLuongHong.GetValueOrDefault()">Sửa</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <p style="margin-top:10px"><b>Nguyên liệu</b></p>
                        <p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="warning">
                                        <th style="width:70px">Ảnh</th>
                                        <th>Mã nguyên liệu</th>
                                        <th>Tên nguyên liệu</th>
                                        <th>Số lượng cần</th>
                                        <th>Số lượng hiện có</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var lst2 = (from l in Model.congDoanCuoi.lstThanhPham.SelectMany(p => p.lstNguyenLieu)
                                                    group l by new { l.ThanhPhamID, l.TenThanhPham, l.AnhDaiDien, l.MaThanhPham } into g
                                                    select new { g.First().ThanhPhamID, g.First().TenThanhPham, g.First().MaThanhPham, g.First().AnhDaiDien, SoLuong = g.Sum(c => c.SoLuongTong), SoLuongDaCo = g.Sum(c => c.SoLuongDaHoanThien) });
                                    }
                                    @foreach (var nn in lst2)
                                    {
                                        <tr>
                                            <td style="width:70px">
                                                <div class="imgslider2" style="float:left;position:relative;">
                                                    <div style=" margin:0px;">
                                                        <a rel="gallery" href="/center/Upload/ImageQLVT/@(nn.AnhDaiDien==null || nn.AnhDaiDien=="" ? "no-image.jpg" : nn.AnhDaiDien)">
                                                            <img src="/center/Upload/ImageQLVT/@(nn.AnhDaiDien==null || nn.AnhDaiDien=="" ? "no-image.jpg" : nn.AnhDaiDien)" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>@nn.MaThanhPham</td>
                                            <td>@nn.TenThanhPham</td>
                                            <td class="text-right"><b>@nn.SoLuong.ToString("n2")</b></td>
                                            <td class="text-right"><b>@nn.SoLuongDaCo.ToString("n2")</b></td>
                                        </tr>

                                    }
                                </tbody>
                            </table>

                        </p>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div id="mdlSanXuatThanhPham">

</div>
<script type="text/x-kendo-template" id="tempSanXuatThanhPham">
    <div class="row" style="margin-bottom:20px !important;">
        <div class="col-md-12 text-right">
            <button class="btn btn-warning" id="btnSanXuat">Sản xuất</button>
        </div>
    </div>
    <div class="row">
        <div id="gridThanhPham" class="col-md-6">

        </div>
        <div id="gridNguyenLieu" class="col-md-6">

        </div>
    </div>
</script>
<div id="mdlSanXuatSanPham">

</div>
<script type="text/x-kendo-template" id="tempSanXuatSanPham">
    <div class="row" style="margin-bottom:20px !important;">
        <div class="col-md-5">
            <div class="form-group">

                <div class="input-group" style="width:100%">
                    <input class="form-control" type="text" id="SoLuongSanPham" style="width:100%;text-align:right" value="0" />
                </div>
            </div>

        </div>
        <div class="col-md-7 text-right">
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="input-group" style="width:100%">
                    <button class="btn btn-warning" id="btnSanXuatSanPham">Sản xuất</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div id="gridThanhPham" class="col-md-12">

        </div>
    </div>
</script>
<div id="mdldenghinl">

</div>
<div id="mdltamdung">

</div>
<script type="text/x-kendo-template" id="tbptamdung">
    <div class="form-group">
        <label>Lý do</label>
        <textarea class="form-control" id="LyDoTamDung" style="width:100%"></textarea>

    </div>
    <div class="btn btn-danger" id="btntamdung">
        Tạm dừng
    </div>
</script>

<div id="mdlSuaThanhPham">

</div>
<script type="text/x-kendo-template" id="tempSuaThanhPham">
    <div class="row" style="margin-bottom:20px !important;">
        <div class="col-md-12">
            <div class="form-group">
                <label>Số lượng sửa</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control" type="text" id="SoLuongSua" style="width:100%;text-align:right" />
                </div>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="input-group" style="width:100%">
                    <button class="btn btn-warning" id="btnSuaThanhPham">Sửa thành phẩm</button>
                </div>
            </div>
        </div>
    </div>
</script>
<div id="mdlThongSoKyThuat"></div>
<script type="text/x-kendo-template" id="tplThongSoKyThuat">
    <div class="panel-group col-md-12" style="padding:5px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title" data-toggle="collapse">
                    <a href="javascript:void(0)">Bảng thông số</a>
                </span>
            </div>
            <div id="ThongTinChung" class="panel-collapse collapse in">
                <div class="panel-body" style="padding:5px">
                    <table style="width:100%" border="1" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
    <div id="tblThongTinChung" class="hidden">
        <table style="width:100%" border="1" cellpadding="0" cellspacing="0">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <div id="tblThongTinChung2" class="hidden">
        <table style="width:100%" border="1" cellpadding="0" cellspacing="0">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <button id="DongYIn" class="btn btn-success btn-lg pull-right">In</button>
</script>
<div id="mdlSuaSanPham"></div>
<script type="text/x-kendo-template" id="tempSuaSanPham">
    <div class="row" style="margin-bottom:20px !important;">
        <div class="col-md-12">
            <div class="form-group">
                <label>Số lượng sửa</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control" type="text" id="SoLuongSua" style="width:100%;text-align:right" />
                </div>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="input-group" style="width:100%">
                    <button class="btn btn-warning" id="btnSuaSanPham">Sửa sản phẩm</button>
                </div>
            </div>
        </div>
    </div>
</script>
<div id="mdlLichSuSua">

</div>
<script type="text/x-kendo-template" id="tempLichSuSua">
    <div class="row">
        <div id="gridLichSuSua">

        </div>
    </div>
</script>
<script>
    //---------------------------------------------------------------------------------------------------------------
    $("#XuatExcelTongNguyenLieu").click(function () {
        location.href = '/QuanLySanXuatNhom/XuatExcelTongNguyenLieu?DonHangID=' + $("#DonHangID").val();
    });
    //----------------------------------------------------------------------------------------------------------------
    //---------------------------------------------------------------------------------------------------------------
    $("#XuatExcelThongSoKyThuat").click(function () {
        CreateModalWithSize("mdlThongSoKyThuat", "80%", "80%", "tplThongSoKyThuat", "Thông số kỹ thuật");
        ContentWatingOP("mdlThongSoKyThuat");
        $.ajax({
            url: "/QuanLySanXuatNhom/LayDanhSachSanPham",
            method: "GET",
            data: { MauMayID: $("#MauMayID").val() },
            success: function (data) {
                var txt = '<tr><th style="padding:10px 2px;background: #3da2d2;color:white;text-align:center">Thông số</th>';
                for (var i = 0; i < data.sizes.length; i++) {
                    txt += '<th style="padding:10px 2px;background: #3da2d2;color:white;text-align:center">' + data.sizes[i].Size + '</th>';
                }
                txt += '</tr>';
                $("#ThongTinChung .panel-body thead").append(txt);
                //
                for (var j = 0; j < data.lstthuoctinh.length; j++) {
                    //var vitri = 0;
                    var txt2 = '<tr><td style="text-align:left;padding:10px">' + data.lstthuoctinh[j].TenThuocTinh + '</td>';
                    for (var i = 0; i < data.sizes.length; i++) {
                        for (var o = 0; o < data.data.length; o++) {
                            if (data.data[o].Size == data.sizes[i].Size && data.data[o].TenThuocTinh == data.lstthuoctinh[j].TenThuocTinh) {
                                txt2 += '<td data-sanphamid="' + data.data[o].SanPhamID + '"><input  type="text" class="form-control thuoctinhchung ' + (data.data[o].KieuDuLieu == 1 ? "number" : "text") + '" data-id="' + data.data[o].ThuocTinhSanPhamID + '" value="' + (data.data[o].GiaTri != null ? data.data[o].GiaTri : "") + '" data-text="' + data.data[o].TenThuocTinh + '" style="box-sizing:border-box" disabled="disabled"></td>';
                                break;
                            }
                        }
                    }
                    txt2 += '</tr>';
                    $("#ThongTinChung .panel-body tbody").append(txt2);
                    $(".number").autoNumeric(autoNumericOptionsMoney);
                    $("#ThongTinChung").unblock();
                }
                $("#tblThongTinChung thead").append(txt);
                //
                for (var j = 0; j < data.lstthuoctinh.length; j++) {
                    //var vitri = 0;
                    var txt4 = '<tr><td style="text-align:left;padding:10px">' + data.lstthuoctinh[j].TenThuocTinh + '</td>';
                    for (var i = 0; i < data.sizes.length; i++) {
                        for (var o = 0; o < data.data.length; o++) {
                            if (data.data[o].Size == data.sizes[i].Size && data.data[o].TenThuocTinh == data.lstthuoctinh[j].TenThuocTinh) {
                                txt4 += '<td style="padding:10px 2px;text-align:center;">' + (data.data[o].GiaTri != null ? data.data[o].GiaTri : "") + '</td>';
                                break;
                            }
                        }
                    }
                    txt4 += '</tr>';
                    $("#tblThongTinChung  tbody").append(txt4);
                }
                $("#tblThongTinChung2 thead").append(txt);
                for (var j = 0; j < data.lstthuoctinh.length; j++) {
                    //var vitri = 0;
                    var txt4 = '<tr><td style="text-align:left;padding:10px">' + data.lstthuoctinh[j].TenThuocTinh + '</td>';
                    for (var i = 0; i < data.sizes.length; i++) {
                        for (var o = 0; o < data.data.length; o++) {
                            if (data.data[o].Size == data.sizes[i].Size && data.data[o].TenThuocTinh == data.lstthuoctinh[j].TenThuocTinh) {
                                txt4 += '<td style="padding:10px 2px;text-align:center;"></td>';
                                break;
                            }
                        }
                    }
                    txt4 += '</tr>';
                    $("#tblThongTinChung2  tbody").append(txt4);
                }
                
                $('#DongYIn').on('click', function () {
                    var divToPrint = $("#tblThongTinChung").html();
                    console.log(divToPrint);
                    window.frames["print_frame"].document.body.innerHTML = divToPrint;
                    window.parent.document.title = "Bảng thông số kỹ thuật";
                    window.frames["print_frame"].window.focus();
                    window.frames["print_frame"].window.print();
                    return false;
                });
                $('#InThongSo2').on('click', function () {
                    var divToPrint = $("#tblThongTinChung2").html();
                    window.frames["print_frame"].document.body.innerHTML = divToPrint;
                    window.frames["print_frame"].window.focus();
                    window.frames["print_frame"].window.print();
                    return false;
                })
                $("#mdlThongSoKyThuat").unblock();
            },
            error: function (xhr, status, error) {
                $("#mdlThongSoKyThuat").unblock();
                showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
            }
        });
    });
    //----------------------------------------------------------------------------------------------------------------
    $("#DeNghi").click(function () {
        CreateModalWithSize("mdldenghinl", "99%", "90%", null, "Đề nghị nguyên liệu");
        $("#mdldenghinl").load("/QuanLySanXuatNhom/TaoDeNghi_View");
    })
    $(".trangthaicongdoan").change(function () {
        var ip = $(this);
        if ($(this).val() == 5) {
            CreateModalWithSize("mdltamdung", "99%", "90%", 'tbptamdung', "Tạm dừng");
            $("#btntamdung").click(function () {
                ContentWatingOP("mdltamdung");
                ContentWatingOP("mdlsanxuat", 0.9);
                $.ajax({
                    type: "POST",
                    url: "/QuanLySanXuatNhom/DoiTrangThaiCongDoan",
                    data: { MauMayID: $("#MauMayID").val(), DonHangID: $("#DonHangID").val(), ViTri: ip.data("hangmucsanxuatid"), TrangThai: 5, LyDoTamDung: $("#LyDoTamDung").val() },
                    success: function (data) {
                        if (data.code == "success") {
                            setTimeout(function () {
                                $("#mdlsanxuat").load("/QuanLySanXuatNhom/ViewSanXuatSanPham?MauMayID=" + $("#MauMayID").val() + "&DonHangID=" + $("#DonHangID").val());
                                $("#mdlsanxuat").unblock();
                                closeModel("mdltamdung");
                            }, 1000)
                        } else {
                            $("#mdlsanxuat").unblock();
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    },
                    error: function (xhr, status, error) {
                        $("#mdlsanxuat").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                })
            });
        }
        else if (confirm("Bạn có chắc chắn muốn đổi công đoạn?")) {
            ContentWatingOP("mdlsanxuat", 0.9);
            $.ajax({
                type: "POST",
                url: "/QuanLySanXuatNhom/DoiTrangThaiCongDoan",
                data: { MauMayID: $("#MauMayID").val(), DonHangID: $("#DonHangID").val(), ViTri: ip.data("hangmucsanxuatid"), TrangThai: $(this).val(), LyDoTamDung: $("#LyDoTamDung").val() },
                success: function (data) {
                    if (data.code == "success") {
                        setTimeout(function () {
                            $("#mdlsanxuat").load("/QuanLySanXuatNhom/ViewSanXuatSanPham?MauMayID=" + $("#MauMayID").val() + "&DonHangID=" + $("#DonHangID").val());
                            $("#mdlsanxuat").unblock();
                        }, 1000)
                    } else {
                        $("#mdlsanxuat").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                },
                error: function (xhr, status, error) {
                    $("#mdlsanxuat").unblock();
                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                }
            })
        }

    })
    $(".trangthaicongdoancuoi").change(function () {
        if ($(this).val() == 5) {
            CreateModalWithSize("mdltamdung", "99%", "90%", 'tbptamdung', "Tạm dừng");
            $("#btntamdung").click(function () {
                ContentWatingOP("mdlsanxuat", 0.9);
                ContentWatingOP("mdltamdung");
                $.ajax({
                    type: "POST",
                    url: "/QuanLySanXuatNhom/DoiTrangThaiCongDoanCuoi",
                    data: { MauMayID: $("#MauMayID").val(), DonHangID: $("#DonHangID").val(), TrangThai: 5, LyDoTamDung: $("#LyDoTamDung").val() },
                    success: function (data) {
                        if (data.code == "success") {
                            setTimeout(function () {
                                $("#mdlsanxuat").load("/QuanLySanXuatNhom/ViewSanXuatSanPham?MauMayID=" + $("#MauMayID").val() + "&DonHangID=" + $("#DonHangID").val());
                                $("#mdlsanxuat").unblock();
                                closeModel("mdltamdung");
                            }, 1000)
                        } else {
                            $("#mdlsanxuat").unblock();
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    },
                    error: function (xhr, status, error) {
                        $("#mdlsanxuat").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                })
            });
        }
        else if (confirm("Bạn có chắc chắn muốn đổi công đoạn?")) {
            ContentWatingOP("mdlsanxuat", 0.9);
            $.ajax({
                type: "POST",
                url: "/QuanLySanXuatNhom/DoiTrangThaiCongDoanCuoi",
                data: { MauMayID: $("#MauMayID").val(), DonHangID: $("#DonHangID").val(), TrangThai: $(this).val() },
                success: function (data) {
                    if (data.code == "success") {
                        setTimeout(function () {
                            $("#mdlsanxuat").load("/QuanLySanXuatNhom/ViewSanXuatSanPham?MauMayID=" + $("#MauMayID").val() + "&DonHangID=" + $("#DonHangID").val());
                            $("#mdlsanxuat").unblock();
                        }, 1000)
                    } else {
                        $("#mdlsanxuat").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                },
                error: function (xhr, status, error) {
                    $("#mdlsanxuat").unblock();
                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                }
            })
        }

    });
    $(".themsanxuatcongdoan").click(function () {
        var tencongdoan = $(this).data("tencongdoan");
        CreateModalWithSize("mdlSanXuatThanhPham", "100%", "95%", "tempSanXuatThanhPham", tencongdoan);
        var hangmucsanxuatid = $(this).data("hangmucsanxuatid");
        var lst = $(this).data("source");
        console.log(lst);
        for (var p = 0; p < lst.length; p++) {
            lst[p].SoLuongHong = null;
            lst[p].LyDoHong = '';
        }
        $("#gridNguyenLieu").kendoGrid({
            dataSource: new kendo.data.DataSource(
           {
               data: null,
               batch: true,
               pageSize: 20,
               sort: [{ field: "TenVatTu", dir: "asc" }],
               schema: {
                   data: 'data',
                   total: 'total',
                   model: {
                       id: "NguyenLieuID",
                       fields: {
                           NguyenLieuID: { editable: false },
                           TenDonVi: { type: "string", editable: false },
                           TenNguyenLieu: { type: "string", editable: false },
                           MaNguyenLieu: { type: "string", editable: false },
                           LoaiHinh: { type: "number", editable: false },
                           SoLuongCan: { type: "number", editable: false },
                           SoLuongDaCo: { type: "number", editable: false },
                       }
                   }
               },
           }),
            height: window.innerHeight * 0.80,
            width: "100%",
            filterable: {
                mode: "row"
            },
            sortable: true,
            resizable: true,
            dataBinding: function () {
                record = 0;
            },
            pageable: pageableAll,
            columns: [
                {
                    title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                    template: "#= ++record #",
                    width: 60,
                    attributes: alignCenter
                },

                {
                    field: "AnhDaiDien", title: "Ảnh",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    template: kendo.template($("#tplAnh").html()),
                    width: 70
                },
                {
                    field: "SoLuongCan", width: 100,
                    title: "Số lượng cần",
                    format: "{0:n2}",
                    attributes: alignRight,
                    filterable: FilterInColumn,

                },
                 {
                     field: "SoLuongDaCo", width: 100,
                     title: "Số lượng đã có",
                     format: "{0:n2}",
                     attributes: alignRight,
                     filterable: FilterInColumn,
                 },
                 {
                     field: "LoaiHinh", width: 100,
                     title: "Loại Hình",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplLoaiHinh2").html())
                 },
                {
                    field: "TenNguyenLieu", width: 200,
                    title: "Tên nguyên liệu",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "MaNguyenLieu",
                    width: 100,
                    attributes: { style: "text-align:left;" },
                    title: "Mã nguyên liệu",
                    filterable: FilterInTextColumn
                },
                {
                    field: "DonVi", width: 100,
                    title: GetTextLanguage("donvi"),
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },


            ],
            dataBound: function (e) {
                showslideimg10();
                var rows = this.items();
                var gridct = $("#gridNguyenLieu").data("kendoGrid");
                var next = true;
                //$(rows).each(function () {
                //    var dataItem = gridct.dataItem((this));
                //    if (Math.round(dataItem.SoLuongCan, 2) > Math.round(dataItem.SoLuongDaCo, 2)) {
                //        $(this).css("background", "#d6bdbd");
                //        $("#btnSanXuat").removeClass("btn-warning");
                //        $("#btnSanXuat").addClass("disabled");
                //        next = false;
                //    }
                //});
                if (next == true) {
                    $("#btnSanXuat").addClass("btn-warning");
                    $("#btnSanXuat").removeClass("disabled");
                }
            },
        });

        var grid = $("#gridThanhPham").kendoGrid({
            dataSource: new kendo.data.DataSource({
                data: lst,
                type: "json",
                batch: true,
                pageSize: 50,
                sort: [{ field: "Size", dir: "asc" }, { field: "Mau", dir: "asc" }],
                schema: {
                    model: {
                        id: "ThanhPhamID",
                        fields: {
                            ThanhPhamID: { editable: false, nullable: true },
                            Size: { editable: false, nullable: true },
                            Mau: { editable: false, nullable: true },
                            DonVi: { editable: false, nullable: true },
                            SoLuongSanXuat: { type: "number", editable: true, nullable: true },
                            SoLuongHong: { type: "number", editable: true, nullable: true },
                            SoLuongTong: { type: "number", editable: false, nullable: true },
                            SoLuongDaHoanThien: { type: "number", editable: false, nullable: true },

                        }
                    }
                },
            }),
            filterable: {
                mode: "row"
            },
            sortable: true,
            editable: true,
            resizable: true,
            pageable: {
                refresh: true,
                buttonCount: 5,
                pageSizes: true,
                messages: messagegrid
            },
            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },
            height: window.innerHeight * 0.8,
            width: "100%",
            columns: [
                {
                    title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                    width: 60,
                    attributes: alignCenter,
                    template: "#= ++record #",
                },
                 {
                     field: "AnhDaiDien", title: "Ảnh",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplAnh").html()),
                     width: 70
                 },
                {
                    field: "Size",
                    title: "Size",
                    width: 100,
                    attributes: alignCenter,
                    filterable: FilterInTextColumn,
                },
                {
                    field: "Mau",
                    title: "Màu",
                    filterable: FilterInTextColumn,
                    attributes: { style: "text-align:left;" },
                    width: 100
                },
                {
                    field: "SoLuongTong",
                    title: "Tổng",
                    filterable: FilterInColumn,
                    attributes: { style: "text-align:right;" },
                    width: 100,
                    format: "{0:n0}"
                },
                {
                    field: "SoLuongDaHoanThien",
                    title: "Đã hoàn thiện",
                    filterable: FilterInColumn,
                    attributes: { style: "text-align:right;" },
                    width: 100,
                    format: "{0:n0}"
                },
                {
                    field: "SoLuongSanXuat",
                    title: "Số lượng sản xuất",
                    width: 150,
                    format: "{0:n0}",
                    attributes: { class: "soluongcheck" },
                    filterable: FilterInColumn,
                    editor: function (container, options) {
                        var input = $('<input type="text"  style="width:75%;height:15px;" class="form-control" id="' + options.model.get("ThanhPhamID") + '" name="SoLuongSanXuat" />');
                        input.appendTo(container);
                        input.autoNumeric(autoNumericOptionsSoLuong);
                    },
                },
                {
                    field: "SoLuongHong",
                    title: "Số lượng hỏng",
                    width: 150,
                    format: "{0:n0}",
                    attributes: { class: "soluongcheck" },
                    filterable: FilterInColumn,
                    editor: function (container, options) {
                        var input = $('<input type="text"  style="width:75%;height:15px;" class="form-control" id="' + options.model.get("ThanhPhamID") + '" name="SoLuongHong" />');
                        input.appendTo(container);
                        input.autoNumeric(autoNumericOptionsSoLuong);
                    },
                },
                {
                    field: "LyDoHong",
                    title: "Lý do hỏng",
                    filterable: FilterInTextColumn,
                    attributes: { style: "text-align:left;" },
                    width: 150
                },

            ],
            dataBound: function (e) {
                showslideimg10();

            },
            save: function (e) {
                var items = [];
                var datas = $("#gridThanhPham").data("kendoGrid").dataSource.data();
                if (e.values.SoLuongSanXuat) {
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].ThanhPhamID == e.model.ThanhPhamID) {
                            if (e.values.SoLuongSanXuat > 0) {
                                for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                    var add = false;
                                    for (var j = 0; j < items.length; j++) {
                                        if (items[j].NguyenLieuID == datas[i].lstNguyenLieu[o].NguyenLieuID) {
                                            items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * e.values.SoLuongSanXuat)
                                            add = true;
                                        }
                                    }
                                    if (!add) {
                                        datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * e.values.SoLuongSanXuat)
                                        items.push(datas[i].lstNguyenLieu[o]);
                                    }
                                }
                            }
                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].ThanhPhamID != e.model.ThanhPhamID) {
                            if (e.values.SoLuongSanXuat > 0) {
                                if (datas[i].SoLuongSanXuat > 0) {
                                    for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                        var add = false;
                                        for (var j = 0; j < items.length; j++) {

                                            if (items[j].NguyenLieuID == datas[i].lstNguyenLieu[o].NguyenLieuID) {
                                                items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongSanXuat)
                                                add = true;

                                            }
                                        }
                                        if (!add) {
                                            datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongSanXuat)
                                            items.push(datas[i].lstNguyenLieu[o]);
                                        }
                                    }

                                }
                            }
                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].SoLuongHong > 0) {
                            for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                var add = false;
                                for (var j = 0; j < items.length; j++) {

                                    if (items[j].NguyenLieuID == datas[i].lstNguyenLieu[o].NguyenLieuID) {
                                        items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongHong)
                                        add = true;

                                    }
                                }
                                if (!add) {
                                    datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongHong)
                                    items.push(datas[i].lstNguyenLieu[o]);
                                }
                            }

                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        for (var j = 0; j < items.length; j++) {
                            if (items[j].ThanhPhamID == datas[i].ThanhPhamID) {
                                items[j].LyDoTamDung = datas[i].LyDoTamDung;
                            }
                        }
                    }
                }
                else if (e.values.SoLuongHong) {
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].ThanhPhamID == e.model.ThanhPhamID) {
                            if (e.values.SoLuongHong > 0) {
                                for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                    var add = false;
                                    for (var j = 0; j < items.length; j++) {
                                        if (items[j].NguyenLieuID == datas[i].lstNguyenLieu[o].NguyenLieuID) {
                                            items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * e.values.SoLuongHong)
                                            add = true;
                                        }
                                    }
                                    if (!add) {
                                        datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * e.values.SoLuongHong)
                                        items.push(datas[i].lstNguyenLieu[o]);
                                    }
                                }
                            }
                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].ThanhPhamID != e.model.ThanhPhamID) {
                            if (e.values.SoLuongHong > 0) {
                                if (datas[i].SoLuongHong > 0) {
                                    for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                        var add = false;
                                        for (var j = 0; j < items.length; j++) {

                                            if (items[j].NguyenLieuID == datas[i].lstNguyenLieu[o].NguyenLieuID) {
                                                items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongHong)
                                                add = true;

                                            }
                                        }
                                        if (!add) {
                                            datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongHong)
                                            items.push(datas[i].lstNguyenLieu[o]);
                                        }
                                    }

                                }
                            }
                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].SoLuongSanXuat > 0) {
                            for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                var add = false;
                                for (var j = 0; j < items.length; j++) {

                                    if (items[j].NguyenLieuID == datas[i].lstNguyenLieu[o].NguyenLieuID) {
                                        items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongSanXuat)
                                        add = true;

                                    }
                                }
                                if (!add) {
                                    datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongSanXuat)
                                    items.push(datas[i].lstNguyenLieu[o]);
                                }
                            }

                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        for (var j = 0; j < items.length; j++) {
                            if (items[j].ThanhPhamID == datas[i].ThanhPhamID) {
                                items[j].LyDoTamDung = datas[i].LyDoTamDung;
                            }
                        }
                    }
                }
                else {
                    items = $("#gridNguyenLieu").data("kendoGrid").dataSource.data();
                    for (var j = 0; j < items.length; j++) {
                        if (items[j].ThanhPhamID == e.model.ThanhPhamID) {
                            items[j].LyDoTamDung = e.values.LyDoTamDung;
                            add = true;
                        }
                    }
                }

                $("#gridNguyenLieu").data("kendoGrid").dataSource.data(items);
            }
        });

        $("#btnSanXuat").click(function () {
            if (!$(this).hasClass("disabled")) {
                var datas = $("#gridThanhPham").data("kendoGrid").dataSource.data();
                var cont = 0;
                var lstthanhpham = [];
                for (var i = 0; i < datas.length; i++) {
                    if (datas[i].SoLuongSanXuat > 0 || datas[i].SoLuongHong > 0) {
                        cont++;

                    }
                    lstthanhpham.push(datas[i]);
                }
                if (cont <= 0) {
                    showToast("warning", GetTextLanguage("canhbao"), "Vui lòng nhập số lượng nguyên liệu đã sản xuất được.");
                    return false;
                }
                ContentWatingOP("mdlSanXuatThanhPham", 0.9);
                $.ajax({
                    type: "POST",
                    url: "/QuanLySanXuatNhom/SanXuatThanhPham",
                    data: { MauMayID: $("#MauMayID").val(), DonHangID: $("#DonHangID").val(), ViTri: hangmucsanxuatid, datanhap: JSON.stringify(lstthanhpham), dataxuat: JSON.stringify($("#gridNguyenLieu").data("kendoGrid").dataSource.data()) },
                    success: function (data) {
                        if (data.code == "success") {
                            setTimeout(function () {
                                closeModel("mdlSanXuatThanhPham");
                                $("#mdlsanxuat").load("/QuanLySanXuatNhom/ViewSanXuatSanPham?MauMayID=" + $("#MauMayID").val() + "&DonHangID=" + $("#DonHangID").val());
                                $("#mdlSanXuatThanhPham").unblock();
                            }, 1000)
                        } else {
                            $("#mdlsanxuat").unblock();
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    },
                    error: function (xhr, status, error) {
                        $("#mdlSanXuatThanhPham").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                })
            } else {
                showToast("warning", GetTextLanguage("canhbao"), "Không đủ nguyên liệu để sản xuất. Vui lòng giảm số lượng thành phẩm");

            }
        })
    });
    $(".themsanxuatcongdoancuoi").click(function () {
        CreateModalWithSize("mdlSanXuatThanhPham", "100%", "95%", "tempSanXuatThanhPham", "Hoàn thiện");
        var hangmucsanxuatid = $(this).data("hangmucsanxuatid");
        var lst = $(this).data("source");
        for (var p = 0; p < lst.length; p++) {
            lst[p].SoLuongHong = null;
            lst[p].LyDoHong = '';
        }

        $("#gridNguyenLieu").kendoGrid({
            dataSource: new kendo.data.DataSource(
           {
               data: null,
               batch: true,
               pageSize: 20,
               sort: [{ field: "TenThanhPham", dir: "asc" }],
               schema: {
                   data: 'data',
                   total: 'total',
                   model: {
                       id: "NguyenLieuID",
                       fields: {
                           NguyenLieuID: { editable: false },
                           TenDonVi: { type: "string", editable: false },
                           TenNguyenLieu: { type: "string", editable: false },
                           MaNguyenLieu: { type: "string", editable: false },
                           LoaiHinh: { type: "number", editable: false },
                           SoLuongCan: { type: "number", editable: false },
                           SoLuongDaCo: { type: "number", editable: false },
                       }
                   }
               },
           }),
            height: window.innerHeight * 0.80,
            width: "100%",
            filterable: {
                mode: "row"
            },
            sortable: true,
            resizable: true,
            dataBinding: function () {
                record = 0;
            },
            pageable: pageableAll,
            columns: [
                {
                    title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                    template: "#= ++record #",
                    width: 60,
                    attributes: alignCenter
                },
                {
                    field: "AnhDaiDien", title: "Ảnh",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    template: kendo.template($("#tplAnh").html()),
                    width: 70
                },
                 {
                     field: "SoLuongCan", width: 100,
                     title: "Số lượng cần",
                     format: "{0:n2}",
                     attributes: alignRight,
                     filterable: FilterInColumn,

                 },
                 {
                     field: "SoLuongDaHoanThien", width: 100,
                     title: "Số lượng đã có",
                     format: "{0:n2}",
                     attributes: alignRight,
                     filterable: FilterInColumn,
                 },
                 {
                     field: "LoaiHinh", width: 100,
                     title: "Loại Hình",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplLoaiHinh2").html())
                 },
                {
                    field: "TenThanhPham", width: 200,
                    title: "Tên nguyên liệu",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "MaThanhPham",
                    width: 100,
                    attributes: { style: "text-align:left;" },
                    title: "Mã nguyên liệu",
                    filterable: FilterInTextColumn
                },
                {
                    field: "DonVi", width: 100,
                    title: GetTextLanguage("donvi"),
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },


            ],
            dataBound: function (e) {
                showslideimg10();
                var rows = this.items();
                var gridct = $("#gridNguyenLieu").data("kendoGrid");
                var next = true;
                //$(rows).each(function () {
                //    var dataItem = gridct.dataItem((this));
                //    if (Math.round(dataItem.SoLuongCan, 2) > Math.round(dataItem.SoLuongDaHoanThien, 2)) {
                //        $(this).css("background", "#d6bdbd");
                //        $("#btnSanXuat").removeClass("btn-warning");
                //        $("#btnSanXuat").addClass("disabled");
                //        next = false;
                //    }
                //});
                if (next == true) {
                    $("#btnSanXuat").addClass("btn-warning");
                    $("#btnSanXuat").removeClass("disabled");
                }
            },
        });

        var grid = $("#gridThanhPham").kendoGrid({
            dataSource: new kendo.data.DataSource({
                data: lst,
                type: "json",
                batch: true,
                pageSize: 50,
                sort: [{ field: "Size", dir: "asc" }],
                schema: {
                    model: {
                        id: "SanPhamID",
                        fields: {
                            SanPhamID: { editable: false, nullable: true },
                            Size: { editable: false, nullable: true },
                            Mau: { editable: false, nullable: true },
                            DonVi: { editable: false, nullable: true },
                            SoLuongSanXuat: { type: "number", editable: true, nullable: true },
                            SoLuongHong: { type: "number", editable: true, nullable: true },
                            SoLuongTong: { type: "number", editable: false, nullable: true },
                            SoLuongDaHoanThien: { type: "number", editable: false, nullable: true },
                        }
                    }
                },
            }),
            filterable: {
                mode: "row"
            },
            sortable: true,
            editable: true,
            resizable: true,
            pageable: {
                refresh: true,
                buttonCount: 5,
                pageSizes: true,
                messages: messagegrid
            },
            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },
            height: window.innerHeight * 0.8,
            width: "100%",
            columns: [
                {
                    title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                    width: 60,
                    attributes: alignCenter,
                    template: "#= ++record #",
                },
                 {
                     field: "AnhDaiDien", title: "Ảnh",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplAnh").html()),
                     width: 70
                 },
                {
                    field: "Size",
                    title: "Size",
                    width: 100,
                    attributes: alignCenter,
                    filterable: FilterInTextColumn,
                },
                {
                    field: "Mau",
                    title: "Màu",
                    filterable: FilterInTextColumn,
                    attributes: { style: "text-align:right;" },
                    width: 100,
                    format: "{0:n0}"
                },
                {
                    field: "SoLuongTong",
                    title: "Tổng",
                    filterable: FilterInTextColumn,
                    attributes: { style: "text-align:right;" },
                    width: 100,
                    format: "{0:n0}"
                },
                {
                    field: "SoLuongDaHoanThien",
                    title: "Đã hoàn thiện",
                    filterable: FilterInTextColumn,
                    attributes: { style: "text-align:right;" },
                    width: 100,
                    format: "{0:n0}"
                },
                {
                    field: "SoLuongSanXuat",
                    title: "Số lượng sản xuất",
                    width: 150,
                    format: "{0:n0}",
                    attributes: { class: "soluongcheck" },
                    filterable: FilterInColumn,
                    editor: function (container, options) {
                        var input = $('<input type="text"  style="width:75%;height:15px;" class="form-control" id="' + options.model.get("SanPhamID") + '" name="SoLuongSanXuat" />');
                        input.appendTo(container);
                        input.autoNumeric(autoNumericOptionsSoLuong);
                    },
                },
                {
                    field: "SoLuongHong",
                    title: "Số lượng hỏng",
                    width: 150,
                    format: "{0:n0}",
                    attributes: { class: "soluongcheck" },
                    filterable: FilterInColumn,
                    editor: function (container, options) {
                        var input = $('<input type="text"  style="width:75%;height:15px;" class="form-control" id="' + options.model.get("SanPhamID") + '" name="SoLuongHong" />');
                        input.appendTo(container);
                        input.autoNumeric(autoNumericOptionsSoLuong);
                    },
                },
                {
                    field: "LyDoHong",
                    title: "Lý do hỏng",
                    filterable: FilterInTextColumn,
                    attributes: { style: "text-align:left;" },
                    width: 150
                },

            ],
            dataBound: function (e) {
                showslideimg10();

            },
            save: function (e) {
                var items = [];
                var datas = $("#gridThanhPham").data("kendoGrid").dataSource.data();
                console.log(datas);
                if (e.values.SoLuongSanXuat) {
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].SanPhamID == e.model.SanPhamID) {
                            if (e.values.SoLuongSanXuat > 0) {
                                for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                    var add = false;
                                    for (var j = 0; j < items.length; j++) {
                                        if (items[j].ThanhPhamID == datas[i].lstNguyenLieu[o].ThanhPhamID) {
                                            items[j].SoLuongCan = items[j].SoLuongCan + (1 * e.values.SoLuongSanXuat)
                                            add = true;
                                        }
                                    }
                                    if (!add) {
                                        datas[i].lstNguyenLieu[o].SoLuongCan = (1 * e.values.SoLuongSanXuat)
                                        items.push(datas[i].lstNguyenLieu[o]);
                                    }
                                }
                            }
                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].SanPhamID != e.model.SanPhamID) {
                            if (e.values.SoLuongSanXuat > 0) {
                                if (datas[i].SoLuongSanXuat > 0) {
                                    for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                        var add = false;
                                        for (var j = 0; j < items.length; j++) {

                                            if (items[j].ThanhPhamID == datas[i].lstNguyenLieu[o].ThanhPhamID) {
                                                items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongSanXuat)
                                                add = true;

                                            }
                                        }
                                        if (!add) {
                                            datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongSanXuat)
                                            items.push(datas[i].lstNguyenLieu[o]);
                                        }
                                    }

                                }
                            }
                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].SoLuongHong > 0) {
                            for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                var add = false;
                                for (var j = 0; j < items.length; j++) {

                                    if (items[j].ThanhPhamID == datas[i].lstNguyenLieu[o].ThanhPhamID) {
                                        items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongHong)
                                        add = true;

                                    }
                                }
                                if (!add) {
                                    datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongHong)
                                    items.push(datas[i].lstNguyenLieu[o]);
                                }
                            }

                        }
                    }
                    for (var i = 0; i < datas.length; i++) {
                        for (var j = 0; j < items.length; j++) {
                            if (items[j].SanPhamID == datas[i].SanPhamID) {
                                items[j].LyDoTamDung = datas[i].LyDoTamDung;
                                add = true;
                            }
                        }
                    }
                }
                else if (e.values.SoLuongHong) {
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].SanPhamID == e.model.SanPhamID) {
                            if (e.values.SoLuongHong > 0) {
                                for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                    var add = false;
                                    for (var j = 0; j < items.length; j++) {
                                        if (items[j].ThanhPhamID == datas[i].lstNguyenLieu[o].ThanhPhamID) {
                                            items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * e.values.SoLuongHong)
                                            add = true;
                                        }
                                    }
                                    if (!add) {
                                        datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * e.values.SoLuongHong)
                                        items.push(datas[i].lstNguyenLieu[o]);
                                    }
                                }
                            }
                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].SanPhamID != e.model.SanPhamID) {
                            if (e.values.SoLuongHong > 0) {
                                if (datas[i].SoLuongHong > 0) {
                                    for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                        var add = false;
                                        for (var j = 0; j < items.length; j++) {

                                            if (items[j].ThanhPhamID == datas[i].lstNguyenLieu[o].ThanhPhamID) {
                                                items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongHong)
                                                add = true;

                                            }
                                        }
                                        if (!add) {
                                            datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongHong)
                                            items.push(datas[i].lstNguyenLieu[o]);
                                        }
                                    }

                                }
                            }
                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        if (datas[i].SoLuongSanXuat > 0) {
                            for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                                var add = false;
                                for (var j = 0; j < items.length; j++) {

                                    if (items[j].ThanhPhamID == datas[i].lstNguyenLieu[o].ThanhPhamID) {
                                        items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongSanXuat)
                                        add = true;

                                    }
                                }
                                if (!add) {
                                    datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongSanXuat)
                                    items.push(datas[i].lstNguyenLieu[o]);
                                }
                            }

                        }

                    }
                    for (var i = 0; i < datas.length; i++) {
                        for (var j = 0; j < items.length; j++) {
                            if (items[j].SanPhamID == datas[i].SanPhamID) {
                                items[j].LyDoTamDung = datas[i].LyDoTamDung;
                                add = true;
                            }
                        }
                    }
                } else {
                    items = $("#gridNguyenLieu").data("kendoGrid").dataSource.data();
                    for (var j = 0; j < items.length; j++) {
                        if (items[j].SanPhamID == e.model.SanPhamID) {
                            items[j].LyDoTamDung = e.values.LyDoTamDung;
                            add = true;
                        }
                    }
                }

                $("#gridNguyenLieu").data("kendoGrid").dataSource.data(items);
            }
        });

        $("#btnSanXuat").click(function () {
            if (!$(this).hasClass("disabled")) {
                var datas = $("#gridThanhPham").data("kendoGrid").dataSource.data();
                var cont = 0;
                var lstthanhpham = [];
                for (var i = 0; i < datas.length; i++) {
                    if (datas[i].SoLuongSanXuat > 0 || datas[i].SoLuongHong > 0) {
                        cont++;

                    }
                    lstthanhpham.push(datas[i]);
                }
                if (cont <= 0) {
                    showToast("warning", GetTextLanguage("canhbao"), "Vui lòng nhập số lượng nguyên liệu đã sản xuất được.");
                    return false;
                }

                ContentWatingOP("mdlSanXuatThanhPham", 0.9);
                $.ajax({
                    type: "POST",
                    url: "/QuanLySanXuatNhom/SanXuatSanPham",
                    data: { MauMayID: $("#MauMayID").val(), DonHangID: $("#DonHangID").val(), datanhap: JSON.stringify(lstthanhpham), dataxuat: JSON.stringify($("#gridNguyenLieu").data("kendoGrid").dataSource.data()) },
                    success: function (data) {
                        if (data.code == "success") {
                            setTimeout(function () {
                                closeModel("mdlSanXuatThanhPham");
                                $("#mdlsanxuat").load("/QuanLySanXuatNhom/ViewSanXuatSanPham?MauMayID=" + $("#MauMayID").val() + "&DonHangID=" + $("#DonHangID").val());
                                $("#mdlSanXuatThanhPham").unblock();
                            }, 1000)
                        } else {
                            $("#mdlSanXuatThanhPham").unblock();
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    },
                    error: function (xhr, status, error) {
                        $("#mdlSanXuatThanhPham").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                })
            } else {
                showToast("warning", GetTextLanguage("canhbao"), "Không đủ nguyên liệu để sản xuất. Vui lòng giảm số lượng sản phẩm");
            }
        })
    });

    //
    $(".suathanhpham").click(function () {
        CreateModalWithSize("mdlSuaThanhPham", "50%", "20%", "tempSuaThanhPham", "Sửa thành phẩm");
        var tpid = $(this).data("tpid");
        var sl = $(this).data("slhong");
        $("#SoLuongSua").attr("data-v-max", sl);
        $("#SoLuongSua").attr("placeholder", sl);
        $("#SoLuongSua").autoNumeric(autoNumericOptionsMoney);

        $("#btnSuaThanhPham").click(function () {
            if ($("#SoLuongSua").autoNumeric("get") <= 0) {
                showToast("warning", GetTextLanguage("canhbao"), "Vui lòng nhập số lượng sửa");
                return false;
            }
            ContentWatingOP("mdlsanxuat", 0.9);
            ContentWatingOP("mdlSuaThanhPham", 0.9);
            $.ajax({
                type: "POST",
                url: "/QuanLySanXuatNhom/SuaThanhPhamLoi",
                data: { DonHangID: $("#DonHangID").val(), ThanhPhamID: tpid, SoLuongSua: $("#SoLuongSua").autoNumeric("get") },
                success: function (data) {
                    if (data.code == "success") {
                        setTimeout(function () {
                            closeModel("mdlSuaThanhPham");
                            $("#mdlsanxuat").load("/QuanLySanXuatNhom/ViewSanXuatSanPham?MauMayID=" + $("#MauMayID").val() + "&DonHangID=" + $("#DonHangID").val());
                            $("#mdlsanxuat").unblock();
                        }, 1000)
                    } else {
                        $("#mdlsanxuat").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                },
                error: function (xhr, status, error) {
                    $("#mdlSuaThanhPham").unblock();
                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                }
            })
        })
    });
    $(".suasanpham").click(function () {
        CreateModalWithSize("mdlSuaSanPham", "50%", "20%", "tempSuaSanPham", "Sửa sản phẩm");
        var tpid = $(this).data("tpid");
        var sl = $(this).data("slhong");
        $("#SoLuongSua").attr("data-v-max", sl);
        $("#SoLuongSua").attr("placeholder", sl);
        $("#SoLuongSua").autoNumeric(autoNumericOptionsMoney);

        $("#btnSuaSanPham").click(function () {
            if ($("#SoLuongSua").autoNumeric("get") <= 0) {
                showToast("warning", GetTextLanguage("canhbao"), "Vui lòng nhập số lượng sửa");
                return false;
            }
            ContentWatingOP("mdlsanxuat", 0.9);
            ContentWatingOP("mdlSuaSanPham", 0.9);
            $.ajax({
                type: "POST",
                url: "/QuanLySanXuatNhom/SuaSanPhamLoi",
                data: { DonHangID: $("#DonHangID").val(), SanPhamID: tpid, SoLuongSua: $("#SoLuongSua").autoNumeric("get") },
                success: function (data) {
                    if (data.code == "success") {
                        setTimeout(function () {
                            closeModel("mdlSuaSanPham");
                            $("#mdlsanxuat").load("/QuanLySanXuatNhom/ViewSanXuatSanPham?MauMayID=" + $("#MauMayID").val() + "&DonHangID=" + $("#DonHangID").val());
                            $("#mdlsanxuat").unblock();
                        }, 1000)
                    } else {
                        $("#mdlsanxuat").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                },
                error: function (xhr, status, error) {
                    $("#mdlSuaSanPham").unblock();
                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                }
            })
        })
    });
    $("#LichSuSua").click(function () {
        CreateModalWithSize("mdlLichSuSua", "99%", "90%", "tempLichSuSua", "Lịch sử sửa");
        var grid = $("#gridLichSuSua").kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/QuanLySanXuatNhom/LayLichSuSua?MauMayID=" + $("#MauMayID").val() + "&DonHangID=" + $("#DonHangID").val(),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                    },
                    parameterMap: function (options, type) {
                        return JSON.stringify(options);
                    }
                },
                type: "json",
                batch: true,
                pageSize: 50,
                sort: [{ field: "ThoiGian", dir: "desc" }],
                schema: {
                    data: 'data',
                    total: 'total',
                    model: {
                        id: "ThanhPhamID",
                        fields: {
                            ThanhPhamID: { editable: false, nullable: true },
                            Size: { editable: false, nullable: true },
                            Mau: { editable: false, nullable: true },
                            DonVi: { editable: false, nullable: true },
                            ThoiGian: { type: "date", editable: true, nullable: true },
                            SoLuongSua: { type: "number", editable: true, nullable: true },
                        }
                    }
                },
            }),
            filterable: {
                mode: "row"
            },
            sortable: true,
            resizable: true,
            pageable: {
                refresh: true,
                buttonCount: 5,
                pageSizes: true,
                messages: messagegrid
            },
            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },
            height: window.innerHeight * 0.8,
            width: "100%",
            columns: [
                {
                    title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                    width: 60,
                    attributes: alignCenter,
                    template: "#= ++record #",
                },
                 {
                     field: "ThoiGian",
                     title: "Thời gian",
                     width: 100,
                     attributes: alignCenter,
                     format: "{0:dd/MM/yyyy}"
                 },
                 {
                     field: "AnhDaiDien", title: "Ảnh",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplAnh").html()),
                     width: 70
                 },
                {
                    field: "Size",
                    title: "Size",
                    width: 100,
                    attributes: alignCenter,
                    filterable: FilterInTextColumn,
                },
                {
                    field: "Mau",
                    title: "Màu",
                    filterable: FilterInTextColumn,
                    attributes: { style: "text-align:left;" },
                    width: 100
                },
                 {
                     field: "TenThanhPham",
                     title: "Thành phẩm",
                     filterable: FilterInTextColumn,
                     attributes: { style: "text-align:left;" },
                     width: 100
                 },
                {
                    field: "SoLuongSua",
                    title: "Số lượng sửa",
                    width: 150,
                    format: "{0:n2}",
                    filterable: FilterInColumn,
                },
                {
                    field: "TenNhanVien",
                    title: "Nhân viên sửa",
                    width: 150,
                    filterable: FilterInColumn,
                },


            ],
            dataBound: function (e) {
                showslideimg10();

            },

        });
    });
    showslideimg10();
</script>
