﻿
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Scripts/BaoCao/BaoCaoSanPhamDaSanXuat.js"></script>
<style>
    .dshinhanhadd, .dshinhanhadd2 {
        padding: 10px;
        margin: 10px 0 0;
        border: 1px solid #ddd;
        height: 80px;
        background: #fff;
        margin-bottom: 10px;
    }
</style>
<div class="content">
     <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="tlbFilter">
    <div class="toolbar" style="text-align:left;">
        @Html.Raw(Language.GetText("tungay"))  :
        <input type="search" id="inputTuNgay" />
        @Html.Raw(Language.GetText("denngay")) :
        <input type="search" id="inputDenNgay" />
        @*<button id="XuatExcelTaiChinh" class="btn btn-primary k-btn pull-right"> @Html.Raw(Language.GetText("xuatexcel"))</button>*@
    </div>

</script>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>

