﻿@{
    ViewBag.Title = "Login";
    var User = DFWeb.Security.CookiePersister.getAcountInfo();
    if (User != null)
    {
        Response.Redirect("/Home/Index");
    }
}
@model DFWeb.ViewModels.AccountViewModel
@{
    var errorlog = ViewBag.ErrorLog;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>@Html.Raw(Language.GetText("dangnhaphethong"))</title>
    <link href="../Content/assets/css/minified/bootstrap.min.css" rel="stylesheet">
    <link href="../Content/css_custom/login.css" rel="stylesheet">
</head>
<body class="bodylogin">
    <div id="wait" style="display: none; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.1); border: 0px solid black; position: fixed; top: 0%; left: 0%; z-index: 9999;">
        <img src="/Images/loadingtc.gif" style="margin-top: 21%; height: 64px; margin-left: 47%; width: 64px;" /><br>
    </div>
    <div class="container">
        <div class="row" style="padding-top:20%;">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="text-transform: uppercase">
                        @*@if (WebConst.SiteName == "SUNWARD")
                        {
                            <img src="/Images/img/logo_sunward.png" style="height:28px;margin-right:10px;vertical-align:sub;" /><span class="text-bold">@Html.Raw(Language.GetText("dangnhaphethong"))</span>
                        }
                        else
                        {
                            <img src="/Images/img/logo-df.jpg" style="height:28px;margin-right:10px;vertical-align:sub;" /><span class="text-bold">@Html.Raw(Language.GetText("dangnhaphethong"))</span>
                        }*@
                        <span class="text-bold">@Html.Raw(Language.GetText("dangnhaphethong"))</span>
                       </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @id = "FormLogin", onsubmit = "submitform()" }))
                        {
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="@Html.Raw(Language.GetText("tentaikhoan"))" id="Username" name="Username" type="text" autofocus required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="@Html.Raw(Language.GetText("matkhau"))" id="Password" name="Password" type="password" required>
                                </div>
                                @if (errorlog != null && errorlog != "")
                                {
                                    <div>
                                        <label style="color:red;">@errorlog</label>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-6" style="margin-top:10px;" data-toggle="modal" data-target="#quenmatkhaumodal"><a href="javascript:void(0)">@Html.Raw(Language.GetText("quenmatkhau"))</a></div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-lg btn-success btn-block">@Html.Raw(Language.GetText("dangnhap"))</button>
                                    </div>
                                </div>
                                
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="quenmatkhaumodal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Html.Raw(Language.GetText("quenmatkhau"))</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-xs-12 col-md-8 col-md-push-2" style="text-align:center;">
                            <label style="color: red;">@Html.Raw(Language.GetText("vuilonglienhequantrihethong"))</label>
                            <div>
                                <label>@Html.Raw(Language.GetText("vuilonglienhequantrihethong")): Bùi Trung Hiếu</label>
                            </div>
                            <div>
                                <label>@Html.Raw(Language.GetText("sdt")): <a href="javascript:void(0)">0906 269 622</a></label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Html.Raw(Language.GetText("dong"))</button>
                </div>
            </div>

        </div>
    </div>
    <!-- jQuery -->
    <script src="../Content/assets/js/core/libraries/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../Content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script>
        function submitform()
        {
            $("#wait").show();
        }
    </script>
</body>
</html>



