﻿@using DF.DBMapping.ModelsExt.NghiepVu.QuanLyDoiTac
@model DeNghiVanChuyen

@if (Model != null)
{
    <div class="form-group">
        <span>@Html.Raw(Language.GetText("madenghi")): </span><span style="color:#ff0000">@Model.MaDeNghi</span>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("thoigian"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@Model.ThoiGian.Value.ToString("dd/MM/yyyy")" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("noidung"))</label>
        <div class="input-group" style="width:100%;">
            <p>
                @Model.NoiDung
            </p>
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("nguoitao"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@Model.NguoiTao" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("congtrinh"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@Model.CongTrinh" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("doithicong"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@Model.DoiThiCong" disabled />
        </div>
    </div>
    <div class="form-group">
        <table class="table datatable-responsive-row-control table-bordered" id="TKChiPhiTheoCTDetailTable">
            <thead>
                <tr style="background:#4682B4;color:#fff;">
                    <th>@Html.Raw(Model.LoaiHinh == 3? Language.GetText("tenvattu") : Language.GetText("tenthietbi"))</th>
                    <th>@Html.Raw(Model.LoaiHinh == 3 ? Language.GetText("tenviettat") : Language.GetText("mathietbi"))</th>
                    <th>@Html.Raw(Language.GetText("biensoxe"))</th>
                    @if (Model.LoaiHinh == 3)
                    {
                        <th>@Html.Raw(Language.GetText("soluong"))</th>
                    }
                  
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.ChiTiet)
                    {
                        <tr>
                            <td>@item.Ten</td>
                            <td>@item.Ma</td>
                            <td>@item.BienSoXe</td>
                            @if (Model.LoaiHinh == 3)
                            {
                                <td>@item.SoLuong</td>
                            }
                          
                        </tr>
                       }
                }
            </tbody>
        </table>
    </div>
    <div style="margin-top:15px">
            <label>@Html.Raw(Language.GetText("anhdinhkem"))</label>
            <div class="dshinhanhadd" style="margin-top:10px;">
                @if (Model != null && Model.DanhSachHinhAnhs != null && Model.DanhSachHinhAnhs != "")
                {
                    foreach (var anh in Model.DanhSachHinhAnhs.Split(','))
                    {
                        <div class='imgslider' style='float:left;position:relative;margin-right:10px;'>
                            <div style='margin:0px;' class='img-con ahihi3'><a rel='gallery' href='/center/Upload/ImageQLTC/@anh'><img src="/center/Upload/ImageQLTC/@anh" style='width: 70px;height: 70px;margin: 0;opacity: 1;'></a></div>
                        </div>
                    }
                }
            </div>

        </div>
   }
   else
   {
       <div class="form-group">
            <h3>@Html.Raw(Language.GetText("khongtontaiphieudenghi"))</h3>
        </div>
   }
   <script>
       $(document).ready(function () {
            showslideimg5($("#content-ChiTiet"));
        });
   </script>
