﻿@using DF.DBMapping.ModelsExt.NghiepVu.QuanLyDoiTac
@model DeNghiTaiChinhDoiTac

@if (Model != null)
{
    <div class="form-group">
        <span>@Html.Raw(Language.GetText("madenghi")): </span><span style="color:#ff0000">@Model.MaDeNghi</span>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("thoigian"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@Model.ThoiGian.Value.ToString("dd/MM/yyyy")" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("noidung"))</label>
        <div class="input-group" style="width:100%;">
            <p>
                @Model.NoiDung
            </p>
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("nguoitao"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@Model.NguoiTao" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("congtrinh"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@Model.CongTrinh" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("doithicong"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@Model.DoiThiCong" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("sotien"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@Model.SoTien.Value.ToString("n2")" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("nhanvienduyet"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@Model.NguoiDuyet" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>@Html.Raw(Language.GetText("sotienduyet"))</label>
        <div class="input-group" style="width:100%;">
            <input type="text" class="form-control" value="@(Model.SoTienDuyet.HasValue ? Model.SoTienDuyet.Value.ToString("n2") : "0.00")" disabled />
        </div>
    </div>
    <div style="margin-top:15px">
        <label>@Html.Raw(Language.GetText("anhdinhkem"))</label>
        <div class="dshinhanhadd" style="margin-top:10px;">
            @if (Model != null && Model.DanhSachHinhAnhs != null && Model.DanhSachHinhAnhs != "")
                {
                    foreach (var anh in Model.DanhSachHinhAnhs.Split(','))
                    {
                    <div class='imgslider' style='float:left;position:relative;margin-right:10px;'>
                        <div style='margin:0px;' class='img-con ahihi3'><a rel='gallery' href='/center/Upload/ImageQLTC/@anh'><img src="/center/Upload/ImageQLTC/@anh" style='width: 70px;height: 70px;margin: 0;opacity: 1;'></a></div>
                    </div>
                }
            }
        </div>



    </div>
}
else
{
    <div class="form-group">
        <h3>@Html.Raw(Language.GetText("khongtontaiphieudenghi"))</h3>
</div>
}
<script>
    $(document).ready(function () {
        showslideimg5($("#content-ChiTiet"));
    });
</script>