﻿@{
    ViewBag.Title = Language.GetText("quanlydoitac");
}
<script type="text/javascript" src="~/Scripts/NghiepVu/QuanLyDoiTac/QuanLyDoiTac.js"></script>
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<style>
    .dropdown-header {
        border-width: 0 0 1px 0;
        text-transform: uppercase;
    }

        .dropdown-header > span {
            display: inline-block;
            padding: 10px;
        }

            .dropdown-header > span:first-child {
                width: 50px;
            }

    .k-list-container > .k-footer {
        padding: 10px;
    }

    .selected-value {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        background-size: 100%;
        margin-right: 5px;
        border-radius: 50%;
    }

    #customers-list .k-item {
        line-height: 1em;
        min-width: 300px;
    }

    /* Material Theme padding adjustment*/

    .k-material #customers-list .k-item,
    .k-material #customers-list .k-item.k-state-hover,
    .k-materialblack #customers-list .k-item,
    .k-materialblack #customers-list .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }

    #customers-list .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }

        #customers-list .k-item > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    #customers-list h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }

    #customers-list p {
        margin: 5px 0 0 0;
        padding: 0;
        font-size: .8em;
    }
</style>

<div class="content">
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="templtool">
    <div class="row">
        <div class="pull-left">
            @Html.Raw(Language.GetText("tungay"))  :
            <input type="search" id="inputTinhCongNoTuNgay" />
            @Html.Raw(Language.GetText("denngay")) :
            <input type="search" id="inputTinhCongNoDenNgay" />
        </div>
        <div style="float:right">
            <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
            <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
            <a class="k-button k-button-icontext k-grid-add" href="javascript:void(0)"><span class="k-icon k-i-add"></span>@Html.Raw(Language.GetText("them"))</a>
        </div>
    </div>
    <div style="clear:both"></div>
</script>
<script type="text/x-kendo-template" id="tempChiTiet">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active tab_tonghoptaichinh">
                <i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;@Html.Raw(Language.GetText("tonghoptaichinh"))
            </li>
            <li class="tab_chitiet">
                <i class="fa fa-history" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;@Html.Raw(Language.GetText("thongtinchitiet"))
            </li>
            <li class="tab_thanhtoan">
                <i class="fa fa-money" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Thanh toán công nợ
            </li>
        </ul>
        <div>
            <div class="form-group">
                <input type="radio" name="datetype" class="chontatca" checked />	&nbsp;	&nbsp; @Html.Raw(Language.GetText("tatca"))	&nbsp;	&nbsp;	&nbsp;
                <input type="radio" name="datetype" class="chonngay" />	&nbsp;	&nbsp; @Html.Raw(Language.GetText("chonngay"))	&nbsp;	&nbsp;
                @Html.Raw(Language.GetText("tungay")) &nbsp;<input type="search" id="inputTuNgay" disabled />&nbsp;
                @Html.Raw(Language.GetText("denngay"))&nbsp; <input type="search" id="inputDenNgay" disabled />
            </div>
            <div id="gridtonghoptaichinh"></div>
        </div>
        <div>
            <div class="col-sm-8 col-md-6 col-xs-12 col-md-offset-3 col-sm-offset-2" id="chitiet"></div>
        </div>
        <div>
            <div id="gridThanhToanCongNo"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="btnThemCongNo">
    <div class="toolbarAdd">
        <button id="btnAddTTCN" class="btn btn-warning k-btn k-grid-add"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm mới</button>
    </div>
</script>
<div id="mdlTTCN"></div>
<script type="text/x-kendo-template" id="tplTTCN">
    <div id="frmTTCN">
        <input type="text" class="form-control hidden" id="ThanhToanID" name="ThanhToanID" data-bind="value:ThanhToanID"/>
        <div class="form-group">
            <label>Thời gian thanh toán</label>
            <div class="input-group" style="width:100%;">
                <input type="text" class="form-control" id="ThoiGian" name="ThoiGian" data-bind="value:ThoiGian" placeholder='Thời gian thanh toán' required/>
            </div>
        </div>
        <div class="form-group">
            <label>Loại hình thanh toán</label>
            <div class="input-group" style="width:100%;">
                <input type="text" class="form-control" id="LoaiHinh" name="LoaiHinh" data-bind="value:LoaiHinh" placeholder='Loại hình thanh toán' required />
            </div>
        </div>
        <div class="form-group">
            <label>Nội dung thanh toán</label>
            <div class="input-group" style="width:100%">
                <textarea type="text" class="form-control" id="NoiDung" name="NoiDung" data-bind="value:NoiDung" placeholder='Nội dung thanh toán' rows="6"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label>Số tiền thanh toán</label>
            <div class="input-group" style="width:100%;">
                <input type="text" class="form-control" id="SoTien" name="SoTien" data-bind="value:SoTien" placeholder='Số tiền thanh toán' required/>
            </div>
        </div>
        <a id="btnLuuTTCN" class="btn btn-primary pull-right btn-lg" style="margin-top:10px !important;">Lưu</a>
        <a id="btnXoaTTCN" class="btn btn-danger pull-left btn-lg hidden" style="margin-top:10px !important;">Xóa</a>  
    </div>
</script>
<div id="mdlChiTiet"></div>
<script type="text/x-kendo-template" id="tempNoiDung">
    # if(LoaiHinh == 1) { #
    <span>Mua nguyên liệu theo phiếu</span>
    <span>:</span> #: NoiDung #
    # } #
    # if(LoaiHinh == 2) { #
    <span>
        Mua thành phẩm theo phiếu: 
    </span>
    <span>:</span> #: NoiDung #
    # } #
    # if(LoaiHinh == 3) { #
    <span>
        Mua sản phẩm theo phiếu: 
    </span>
    <span>:</span> #: NoiDung #
    # } #
    # if(LoaiHinh == 4) { #
    <span>
        Giao hàng theo mã đơn hàng: 
    </span>
    <span>:</span> #: NoiDung #
    # } #
    # if(LoaiHinh == 5) { #
    <span>
        Giao hàng theo mã đơn hàng: 
    </span>
    <span>:</span> #: NoiDung #
    # } #
    # if(LoaiHinh == 6) { #
    <span>Trả nguyên liệu theo phiếu: </span>
    <span>:</span> #: NoiDung #
    # } #
</script>
<script type="text/x-kendo-template" id="templThemSua">
    <div id="frmDoiTac">
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("tendoitac"))</label>
            <div class="input-group" style="width:100%;">
                <input type="text" class="form-control" id="TenDoi" name="TenDoi" data-bind="value:TenDoi" required data-required-msg='@Html.Raw(Language.GetText("nhaptendoitac"))' placeholder="@Html.Raw(Language.GetText(" tendoitac"))" />
            </div>
        </div>
        <div id="frgrMaDoiTac" class="form-group hidden">
            <label>Mã đối tác</label>
            <div class="input-group" style="width:100%;">
                <input type="text" class="form-control" id="MaDoiTac" name="MaDoiTac" style="text-transform:uppercase" data-bind="value:MaDoiTac" required data-required-msg="Phải phập vào mã đối tác có nhiều nhất 3 chữ cái" disabled />
            </div>
        </div>
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("sdt"))</label>
            <div class="input-group" style="width:100%;">
                <input type="text" class="form-control" id="SDT" name="SDT" data-bind="value:SDT" placeholder='@Html.Raw(Language.GetText("sdt"))' />
            </div>
        </div>
        <div class="form-group">
            <label>Mã số thuế</label>
            <div class="input-group" style="width:100%;">
                <input type="text" class="form-control" id="MaSoThue" name="MaSoThue" data-bind="value:MaSoThue" placeholder='Mã số thuế' />
            </div>
        </div>
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("email"))</label>
            <div class="input-group" style="width:100%;">
                <input type="email" class="form-control" id="Email" name="Email" data-bind="value:Email" placeholder='@Html.Raw(Language.GetText("email"))' />
            </div>
        </div>
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("diachi"))</label>
            <div class="input-group" style="width:100%;">
                <textarea class="form-control" id="DiaChi" name="DiaChi" data-bind="value:DiaChi" rows="4" cols="50"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label>Loại đối tác</label>
            <div class="input-group" style="width:100%;">
                <input type="text" class="form-control" id="KieuDoiTac" name="KieuDoiTac" data-bind="value:KieuDoiTac" placeholder='Kiểu đối tác' data-required-msg="Phải lựa chọn kiểu đối tác là Mua hay Bán"  required />
            </div>
        </div>
        <div class="form-group">
            <div class="text-right">
                <button class="k-button k-button-icontext k-primary k-grid-update"><span class="k-icon k-i-update"></span>@Html.Raw(Language.GetText("luu"))</button>
                <button id="xoaDoiTac" class="k-button k-button-icontext k-primary k-grid-delete hidden pull-left"><span class="k-icon k-i-delete"></span>@Html.Raw(Language.GetText("xoa"))</button>
            </div>
        </div>
    </div>
</script>
<div id="mdlThem"></div>
<div id="mdlThemFileExcel"></div>
<script type="text/x-kendo-template" id="tempImport">
    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem">

    </div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<div id="mdlChiTietTaiChinh"></div>
<script type="text/x-kendo-template" id="templChiTietTaiChinh">
    <div id="content-ChiTiet"></div>
</script>
<script type="text/x-kendo-template" id="tempKieuDoiTac">
    # if(KieuDoiTac == 1) { #
    <span>Đối tác mua</span>
    # } #
    # if(KieuDoiTac == 2) { #
    <span>
        Đối tác bán
    </span>
    # } #
</script>
<script type="text/x-kendo-template" id="tempLoaiHinhTTCN">
    # if(LoaiHinh == 1) { #
    <span class="btn btn-success btn-block no-padding">
        Người mua thanh toán tiền hàng
    </span>
    # } #
    # if(LoaiHinh == 2) { #
    <span class="btn btn-danger btn-block no-padding">
        Thanh toán tiền cho người bán
    </span>
    # } #
</script>
