﻿@model Add_Update_ModelNhanVien
<input type="hidden" id="IDNhanVien" value="@Model.NhanVienID" />
<script type="text/javascript" src="/Content/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
<script type="text/javascript" src="~/Scripts/HanhChinh/NhanVien/Add_Update_NhanVien.js"></script>
<style>
    .checker{top: 16px !important;}
    #uniform-DaNopCMT,#uniform-DaNopBang{
        top: 8px !important;
    }
    .inputupload {
        position: absolute;
        top: 0;
        right: 0px;
        min-width: 100%;
        min-height: 100%;
        width: 90px;
        height: 90px;
        opacity: 0;
        cursor: pointer;
    }
    .btn-outline-secondary {
        color: #000000 !important;
        background-color: #FFFFFF !important;
        background-image: none !important;
        border-color: #ddd !important;
        position: absolute;
    }

    .hiddens{display:none;}
    .shows{display:block;}
    .addnv{padding: 15px 10px !important;margin: 0 !important;}
</style>
<div style="margin: 10px 0px;" id="ctloader">
    <div class="col-md-4 col-lg-2">
        <div class="thumbnail">
            <div class="thumb thumb-rounded thumb-slide">
                <img src="~/Content/assets/images/placeholder.jpg" alt="" id="img-avatar-show" style="height: auto !important;">
                <div class="caption">
                    <span>
                        <a href="javascript:void(0)" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-image3"></i></a>
                    </span>
                    <input type="file" class="inputupload" accept=".png, .jpg, .jpeg" id="upLoadFile" onchange="chageavatar();">
                </div>
            </div>

            <div class="caption text-center">
                <h6 class="text-semibold no-margin">@Html.Raw(Language.GetText("anhdaidien"))</h6>
            </div>
        </div>
    </div>
    <input hidden id="NV_Avatar" value="" />
    <div class="col-md-4 col-lg-5">
        <div class="panel panel-flat">
            <form action="#" class="form-horizontal">
                <div class="panel-heading"><h4 style="margin:0px;" class="text-bold">@Html.Raw(Language.GetText("thongtincanhan"))</h4></div>
                <div class="panel-body" style="padding-top:0;">
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("tennhanvien")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control validreq" id="TenNhanVien" style="width:100%">
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("tentaikhoan")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control validreq" id="TaiKhoan" style="width:100%">
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="col-lg-3 control-label  text-right">@Html.Raw(Language.GetText("ngaysinh")):</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="NgaySinh" style="width:100%;" placeholder=@Html.Raw(Language.GetText("chonngay"))>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("gioitinh")):</label>
                        <div class="col-lg-9">
                            <input id='GioiTinh' class="form-control" style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("sdt")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="SDT" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("tennganhang")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="TenNganHang" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("sotaikhoan")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="SoTaiKhoan" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("masothue")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="MaSoThue" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("danopcmt")):</label>
                        <div class="col-lg-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="DaNopCMT" class="control-primary">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("socmt")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="SoCMT" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("ngaycapcmt")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="NgayCapCMT" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("noicapcmt")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="NoiCapCMT" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("danopbang")):</label>
                        <div class="col-lg-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="DaNopBang" class="control-primary">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("nganhnghe")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="NganhNghe" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("noicapbang")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="NoiCapBang" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("diachi")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="DiaChi" style="width:100%">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4 col-lg-5">
        <div class="panel panel-flat">
            <form action="#" class="form-horizontal">
                <div class="panel-heading"><h4 style="margin:0px;" class="text-bold">@Html.Raw(Language.GetText("thongtincongviec"))</h4></div>
                <div class="panel-body" style="padding-top:0;">
                    @*<div class="form-group text-center edits">
                        <label class="radio-inline" style="margin-top: 10px;">
                            <input type="radio" name="radio-inline-left" id="VanPhong" class="styled" checked="checked">
                            @Html.Raw(Language.GetText("phongban"))
                        </label>
                        <label class="radio-inline" style="margin-top: 10px;">
                            <input type="radio" name="radio-inline-left" id="CongTrinh" class="styled">
                            @Html.Raw(Language.GetText("congtrinh"))
                        </label>
                    </div>*@
                    @*<div class="congtrinhtab hidden">
                        <div class="form-group">
                            <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("doithicong")):</label>
                            <div class="col-lg-9">
                                <input id='DoiThiCongID' class="form-control" style="width:100%" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("congtrinh")):</label>
                            <div class="col-lg-9">
                                <div class="multi-select-full">
                                    <select class="multiselect form-control" multiple="multiple" id="CTLienQuan" style="width:100% !important;">
                                        @foreach (var item in Model.CT)
                                        {
                                            <option value="@item.value">@item.label</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="phongbantab">
                        <div class="form-group">
                            <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("phongban")):</label>
                            <div class="col-lg-9">
                                <input id='PhongBanID' class="form-control" style="width:100%" />
                            </div>
                        </div>
                        <div class="form-group hidden" style="display:none !important">
                            <label class="col-lg-3 control-label text-right" style="display:none !important">@Html.Raw(Language.GetText("diadiemlamviec")):</label>
                            <div class="col-lg-9" style="display:none !important">
                                <div class="multi-select-full">
                                    <select class="form-control" id="CTLienQuan2" style="width:100% !important;">
                                        <option value="@WebConst.CONGTRINHTONG">@Html.Raw(Language.GetText("vanphong"))</option>
                                        @*@foreach (var item in Model.CT)
                                        {
                                            <option value="@item.value">@item.label</option>
                                        }*@
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("chucvu")):</label>
                        <div class="col-lg-9">
                            <input id='ChucVu' class="form-control" style="width:89%" />
                            <button id="btnThemNhanh" class="btn btn-outline-secondary btn-primary glyphicon glyphicon-plus" type="button"></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("tinhtrang")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="TinhTrang" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group " style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("loaihopdong")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="LoaiHopDong" disabled style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("ngaydilam")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="NgayDiLam" style="width:100%"  readonly disabled>
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("ngaythoiviec")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="NgayThoiViec" style="width:100%" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("ngayketthuchopdong")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="NgayKetThucHopDong" style="width:100%" disabled>
                        </div>
                    </div>
                   
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("songaygioihan")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="SoNgayGioiHan" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("songaykhaibaobu")):</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control" id="SoNgayKhaiBaoBu" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("capdobaomat")):</label>
                        <div class="col-lg-9">
                            <input id='CapDoID' class="form-control" style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("phanquyenphongchat")):</label>
                        <div class="col-lg-9">
                            <input id='ThamGiaPhongChat' class="form-control" style="width:100%" />
                        </div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("thoatphongchat")):</label>
                        <div class="col-lg-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="ThoatPhongChat" class="control-primary">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 text-right">
        <span onclick="xoaNhanVien();" class="btn btn-danger tb-our btn-xoa" style="display:none;">@Html.Raw(Language.GetText("xoa")) <i class="icon-bin position-right"></i></span>
        <span onclick="reload();" class="btn btn-default tb-our">@Html.Raw(Language.GetText("thoat")) <i class="icon-arrow-right14 position-right"></i></span>
        <span onclick="saveNhanVien();" class="btn btn-success btnsaves">@Html.Raw(Language.GetText("luu")) <i class="icon-floppy-disk position-right"></i></span>
    </div>
</div>

<div id="mdlThemNhanh"></div>
<script type="text/x-kendo-template" id="tplThemNhanh">
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <div class="form-group">
                <label>Tên chức vụ</label>
                <input id="TenChucVu" type="text" class="form-control" name="TenChucVu" data-bind="value:TenChucVu" placeholder="Nhập tên chức vụ" required data-required-msg="Không được trống" style="box-sizing:border-box">
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <button id="btnLuuNhanh" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Lưu</button>
        </div>
    </div>
</script>

<script>
    $("#btnThemNhanh").click(function () {
        CreateModalWithSize("mdlThemNhanh", "25%", "20%", "tplThemNhanh", "Thêm chức vụ");
        $("#btnLuuNhanh").click(function () {
            var validate = $("#TenChucVu").kendoValidator().data("kendoValidator");
            if (validate.validate()) {
                ContentWatingOP("mdlThemNhanh", 0.9);
                $.ajax({
                    url: "/DMChucVu/AddOrUpdateChucVu",
                    method: "post",
                    data: {
                        TenChucVu: $("#TenChucVu").val(),
                    },
                    success: function (data) {
                        showToast("success", GetTextLanguage("thanhcong"), GetTextLanguage("thanhcong"));
                        setTimeout(function () {
                            $("#mdlThemNhanh").unblock();
                            $(".windows8").css("display", "none");
                            closeModel("mdlThemNhanh");
                            $("#ChucVu").data("kendoDropDownList").dataSource.read();
                            $("#ChucVu").data("kendoDropDownList").refresh();
                        }, 1000);
                    },
                    error: function (xhr, status, error) {
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        $("#mdlThemNhanh").unblock();
                        $(".windows8").css("display", "none");
                    }
                });
            }
        })
    })
</script>
