﻿@model DF.DBMapping.ModelsExt.HopDongEdit
<script type="text/javascript" src="~/Content/lib/jquery.fullscreenslides.js"></script>
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<input type="hidden" id="HDID" value="@Model.HopDongID" />
<style>
    .form-horizontal .checkbox .checker {
        top: 50% !important;
    }

    .img-responsive {
        display: inline !important;
        margin-bottom: 3px;
        position: relative;
    }

        .img-responsive img {
            width: 90px;
            height: 90px;
            box-shadow: 0px 0px 2px 1px #ccc;
            margin-right: 6px;
        }
</style>
<form action="#" class="form-horizontal">
    <div class="panel panel-flat col-md-8 col-md-offset-2">
        <h3 class="text-bold">@Html.Raw(Language.GetText("thongtin"))</h3>
        <div class="panel-body" id="loadpanel-addform">
            
            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("tungay")):</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="TuNgayHD" style="width:100%;">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("denngay")):</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="DenNgayHD" style="width:100%;">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("ngaythoiviec")):</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="NgayThoiViec" style="width:100%;">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("loaihopdong")):</label>
                <div class="col-lg-9">
                    <input id='drdLoaiHopDong' class="form-control" style="width:100%" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("capdobaomat")):</label>
                <div class="col-lg-9">
                    <input id='CapDoID' class="form-control" style="width:100%" />
                </div>
            </div>
            <div class="row">
                <h5 class="text-bold">@Html.Raw(Language.GetText("danhsachdinhkem")) <span style="font-weight:100;font-size:12px;">(.png, .jpg, .jpeg, .gif, .doc, .docs, .xls, .xlsx, .pdf, .ppt, .txt, .dwg)</span></h5>

                <div id="lstImageDisplay">
                    <div class="img-responsive media-preview">
                        <div class="objupload" style="position:relative;display: inline-block;margin-bottom: 3px;margin-right: 3px;">
                            <i class="icon-googleplus5"></i>
                            <input type="file" class="inputupload" accept=".png, .jpg, .jpeg, .gif, .doc,.docs, .xls, .xlsx, .pdf, .ppt, .txt, .dwg" multiple="multiple" id="upLoadFile" onchange="loadImage_new(this, 'lstImageDisplay');">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <span onclick="searchHopDongNV();" class="btn btn-default ">@Html.Raw(Language.GetText("thoat")) <i class="icon-arrow-right14 position-right"></i></span>
                <span onclick="saveCongTrinh();" class="btn btn-success btnsaves">@Html.Raw(Language.GetText("luu")) <i class="icon-floppy-disk position-right"></i></span>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    var dataimg = new FormData();
    $(document).ready(function () {
        lstHinhAnh = [];
        

        var loaihopdong = [
        { text: GetTextLanguage("daihan"), value: 1 },
        { text: GetTextLanguage("thang1236"), value: 2 },
        { text: GetTextLanguage("thuviec"), value: 3 },
        { text: GetTextLanguage("muavu"), value: 4 }
        ];
        $("#NgayKhoiTao").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
        });
        $("#TuNgayHD").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
            open: function (e) {
                if ($("#DenNgayHD").data("kendoDatePicker").value() !== null) {
                    $("#TuNgayHD").data("kendoDatePicker").max($("#DenNgayHD").data("kendoDatePicker").value());
                }
            }
        });
        $("#DenNgayHD").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
            open: function (e) {
                if ($("#TuNgayHD").data("kendoDatePicker").value() !== null) {
                    $("#DenNgayHD").data("kendoDatePicker").min($("#TuNgayHD").data("kendoDatePicker").value());
                }
            }
        });
        $("#NgayThoiViec").kendoDatePicker({
            format: "dd/MM/yyyy"
        });


        $("#drdLoaiHopDong").kendoDropDownList({
            dataSource: loaihopdong,
            dataTextField: "text",
            dataValueField: "value",
            autoBind: true,
            filter: "contains"
        });

        $("#CapDoID").kendoDropDownList({
            dataTextField: 'TenCapDo',
            dataValueField: 'CapDoBaoMatID',
            filter: "contains",
            autoBind: true,
            optionLabel: GetTextLanguage("capdobaomat"),
            dataSource: getDataSourceDropDownList("/Home/DSCapDoBaoMat")
        });

        $(".validreq").on("keyup", function () {
            if ($(this).val() == "") {
                $(this).addClass("errorReq");
            } else {
                $(this).removeClass("errorReq");
            }
        });
        if ($("#HDID").val() != null && $("#HDID").val() != "") {
            $.ajax({
                url: '@Url.Action("LayChiTietHopDong", "QLHopDong")',
                method: "POST",
                data: {
                    HopDongID: $("#HDID").val()
                },
                datatype: 'json',
                success: function (data) {
                    $("#TuNgayHD").val(data.data.strThoiGianBD);
                    $("#DenNgayHD").val(data.data.strThoiGianKT);
                    $("#drdLoaiHopDong").data("kendoDropDownList").value(data.data.LoaiHopDongNhanVien.toString());
                    $("#CapDoID").data("kendoDropDownList").value(data.data.CapDoBaoMat.toString());
                    $("#NgayThoiViec").val(data.data.NgayThoiViec);
                    var lst = data.data.DinhKem.split(',');
                    if (lst.length > 0 && lst[0] != "") {
                        for (var i = 0 ; i < lst.length; i++) {
                            lstHinhAnh.push({ img: lst[i] });
                        }
                        var htmls = "";
                        for (var i = 0; i < lstHinhAnh.length; i++) {
                            if (lstHinhAnh[i].img.match(/\.(jpg|jpeg|png|gif)$/)) {
                                htmls += "<div class='img-responsive media-preview imgslider'><a rel='gallery' href='" + localQLVanBan + lstHinhAnh[i].img + "'><img src='" + localQLVanBan + lstHinhAnh[i].img + "' data-src='" + localQLVanBan + lstHinhAnh[i].img + "' class='img-responsive img-rounded media-preview' alt=''  data-file='" + lstHinhAnh[i].img + "' /></a><a href='javascript:void(0)' data-file='" + lstHinhAnh[i].img + "' class='icross closeImgLoad'><i class='icon-cross3'></i></a><a class='download' href='" + localQLVanBan + lstHinhAnh[i].img + "' download>" + GetTextLanguage("taixuong") + "</a></div>";
                            } else {
                                htmls += "<div class='img-responsive media-preview imgslider'><a rel='gallery' href='" + localQLVanBan + lstHinhAnh[i].img + "'><img src='/content/assets/images/file.png' data-src='" + localQLVanBan + lstHinhAnh[i].img + "' class='img-responsive img-rounded media-preview'  data-file='" + lstHinhAnh[i].img + "' alt='' /></a><a href='javascript:void(0)' data-file='" + lstHinhAnh[i].img + "' class='icross closeImgLoad'><i class='icon-cross3'></i></a><a class='download' href='" + localQLVanBan + lstHinhAnh[i].img + "' download>" + GetTextLanguage("taixuong") + "</a></div>";
                            }

                        }
                        $('#lstImageDisplay').append(htmls);
                        $("#lstImageDisplay").on("click", ".closeImgLoad", function () {
                            var file = $(this).data("file");
                            for (var i = 0; i < lstHinhAnh.length; i++) {
                                if (lstHinhAnh[i].img === file) {
                                    lstHinhAnh.splice(i, 1);
                                    break;
                                }
                            }
                            $(this).parent().remove();
                        });
                        showslideimg();
                    }
                },
                error: function () {
                }
            });
        }

    });
    function valid() {
        
        if ($("#TuNgayHD").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("tungay"));
            $("#TuNgayHD").focus();
            return false;
        }
        if ($("#DenNgayHD").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("denngay"));
            $("#DenNgayHD").focus();
            return false;
        }
        if ($("#CapDoID").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("capdobaomat"));
            $("#CapDoID").focus();
            return false;
        }
        return true;
    }
    function saveCongTrinh() {
        if (valid()) {
            ContentWatingOP("loadpanel-addform", 0.9);

            var ins = document.getElementById("upLoadFile").files.length;;
            if (ins > 0) {
                for (var x = 0; x < ins; x++) {
                    dataimg.append("uploads", document.getElementById("upLoadFile").files[x]);
                }

            }
            var flag = true;
            if (flag) {
                var objXhr = new XMLHttpRequest();
                objXhr.onreadystatechange = function () {
                    if (objXhr.readyState == 4) {
                        if (objXhr.responseText != "") {
                            var strUrl = objXhr.responseText.split(',');
                            for (var k = 0; k < strUrl.length; k++) {
                                lstHinhAnh.push({ img: strUrl[k] });
                            }
                        }

                        setTimeout(function () {
                            console.log(lstHinhAnh);
                            $.ajax({
                                cache: false,
                                async: false,
                                type: "POST",
                                url: "/QLHopDong/AddorUpdate_HDLaoDong",
                                data: { NgayTao: "", TuNgay: $("#TuNgayHD").val(), DenNgay: $("#DenNgayHD").val(), NgayThoiViec: $("#NgayThoiViec").val(), TenHopDong: "", NhanVienID: $("#TTNVID").val(), lstImage: JSON.stringify(lstHinhAnh), HopDongID: $("#HDID").val(), LoaiHopDong: $("#drdLoaiHopDong").val(), CapDoBaoMat: $("#CapDoID").val() },
                                success: function (data) {
                                    altReturn(data);
                                    lstHinhAnh = [];
                                    if (data.code == "success") {
                                        $(".btnsaves").css("display", "none");
                                    }
                                    $("#loadpanel-addform").unblock();
                                },
                                error: function (xhr, status, error) {
                                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                                }
                            });
                        }, 1000);
                    }
                }

                objXhr.open("POST", "/Upload/UploadHopDong", true);
                objXhr.send(dataimg);
            }
        }
    }

    $("#upLoadFile").change(function () {
        for (var x = 0; x < this.files.length; x++) {
            dataimg.append("uploads", this.files[x]);
        }
        dataimg.getAll("uploads");
        $("#upLoadFile").val('').clone(true);
    });
</script>