﻿@model List<DF.DataAccess.DBML.Web_HopDong_LayHopDongbyNhanVienResult>
<div class="text-right control-function">
    <div class="form-group">
        <label style="width:100%;">&nbsp;</label>
        <span class="btn btn-success" onclick="addHopDongNhanVien();" style="padding: 8px 10px 9px;"><i class="icon-plus3 position-left"></i> @Html.Raw(Language.GetText("themmoi"))</span>
    </div><!-- /.form-group -->

</div>
<div class="panel panel-flat">
    <table class="table datatable-responsive-row-control table-bordered">
        <thead>
            <tr style="background:#4682B4;color:#fff;">
                <th width="30px">@Html.Raw(Language.GetText("stt"))</th>
                <th>@Html.Raw(Language.GetText("loaihopdong"))</th>
                <th>@Html.Raw(Language.GetText("tungay"))</th>
                <th>@Html.Raw(Language.GetText("denngay"))</th>
                <th>@Html.Raw(Language.GetText("ngaythoiviec"))</th>
                <th data-hide="phone,tablet" style="width:200px;" class="text-bold text-center"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@i</td>
                        <td class="text-center"> @DFWeb.Utils.Utils.GetstrLoaiHopDongNhanVien(item.LoaiHopDongNhanVien == null ? 0 : item.LoaiHopDongNhanVien.Value)</td>
                        <td class="text-center">@item.strNgayBatDau</td>
                        <td class="text-center">@item.strNgayKetThuc</td>
                        <td class="text-center">@item.strNgayThoiViec</td>
                        <td class="text-center text-bold text-danger tdfunction">
                            <span class="btn btn-danger" onclick="destroyPhepNV('@item.HopDongID')">@Html.Raw(Language.GetText("xoa"))</span>
                            <span class="btn btn-primary" onclick="XemChiTiethopdong('@item.HopDongID','@item.LoaiHopDong')">@Html.Raw(Language.GetText("capnhat"))</span>
                        </td>
                    </tr>
                    i++;
                }

            }

        </tbody>
    </table>
</div>

<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/footable/footable.min.js"></script>
<script>
    $(document).ready(function () {
        var gridtable = $('.datatable-responsive-row-control').DataTable({
            "ordering": false,
        });

        $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: "-1"
        });
        $('.datatable-responsive-row-control').footable();
        if ($("#role_update").val() == 0) {
            $(".control-function").html(""); 
            $(".tdfunction").html("");
        }
    });

    function destroyPhepNV(HopDongID) {
        if (confirm(GetTextLanguage("cochacchanxoa"))) {
            $.ajax({
                url: '@Url.Action("XoaHopDong", "QLHopDong")',
                method: "POST",
                data: {
                    HopDongId: HopDongID
                },
                async: true,
                datatype: 'json',
                success: function (data) {
                    altReturn(data);
                    searchHopDongNV();
                },
                error: function () {
                    showToast("error", GetTextLanguage("coloi"), GetTextLanguage("coloitrongquatrinhxulydulieu"));
                }
            });
        }
    }
</script>