﻿@model  List<DF.DataAccess.DBML.sp_GetInfoNhanVien_LichSuLamViecResult>
<div class="text-right control-function">
    <div class="form-group">
        <label style="width:100%;">&nbsp;</label>
        <span class="btn btn-success" onclick="addDieuChuyen();" style="padding: 8px 10px 9px;"><i class="icon-forward position-left"></i> @Html.Raw(Language.GetText("dieuchuyen"))</span>
    </div><!-- /.form-group -->

</div>
<div class="panel panel-flat">
    <table class="table datatable-responsive-row-control table-bordered">
        <thead>
            <tr style="background:#4682B4;color:#fff;">
                <th width="30px">@Html.Raw(Language.GetText("stt"))</th>
                <th>@Html.Raw(Language.GetText("thoigianbatdau"))</th>
                <th>@Html.Raw(Language.GetText("donvi"))</th>
                <th>@Html.Raw(Language.GetText("chucvu"))</th>
                <th>@Html.Raw(Language.GetText("mucluong"))</th>
                <th>@Html.Raw(Language.GetText("thoigianketthuc"))</th>
            </tr>

        </thead>
        <tbody>
            @if (Model != null)
            {
                int i = 1;
                foreach (var item in Model)
                {
                    string strThoiGianBD = item.ThoiGianDieuChuyen == null ? "" : item.ThoiGianDieuChuyen.Value.ToString("dd/MM/yyyy");
                    string strThoiGianKT = item.ThoiGianKetThuc == null ? "" : item.ThoiGianKetThuc.Value.ToString("dd/MM/yyyy");
                    <tr>
                        <td class="text-center">@i</td>
                        <td class="text-center">@strThoiGianBD</td>
                        <td>@item.TenDoi</td>
                        <td>@item.TenChucVu</td>
                        <td class="text-right">@item.LuongCoBan</td>
                        <td class="text-center">@strThoiGianKT</td>
                    </tr>

                    i++;
                }

            }

        </tbody>

    </table>
</div>

<!-- /column controlled child rows -->
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/footable/footable.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('.datatable-responsive-row-control').DataTable({
            responsive: {
                details: {
                    type: 'column'
                }
            },
            columnDefs: [
                { render: $.fn.dataTable.render.number(",", ".", 0), targets: [4] }

            ],
            "ordering": false,
        });

        $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: "-1"
        });
        $('.datatable-responsive-row-control').footable();
        if ($("#role_update").val() == 0) {
            $(".control-function").html("");
        }
    });
</script>