﻿@model List<DF.DBMapping.ModelsExt.ItemBangCapChungChiResult>
<style>
    .table tbody tr td {
        padding: 10px !important;
    }
</style>
<div class="text-right control-function">
    <div class="form-group">
        <label style="width:100%;">&nbsp;</label>
        <span class="btn btn-success" onclick="addBangCap();" style="padding: 8px 10px 9px;"><i class="icon-plus3 position-left"></i> @Html.Raw(Language.GetText("themmoi"))</span>
    </div><!-- /.form-group -->

</div>
<div class="panel panel-flat">
    
    <table class="table datatable-responsive-row-control table-bordered">
        <thead>
            <tr style="background:#4682B4;color:#fff;">
                <th data-toggle="true" width="30px">@Html.Raw(Language.GetText("stt"))</th>
                <th>@Html.Raw(Language.GetText("tenchungchi"))</th>
                <th style="width:100px;" class="text-bold text-center"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@i</td>
                        <td><a href="javascript:void(0);" onclick="XemChiTietBangCap('@item.BangCapChungChiID')">@item.TenBangCapChungChi</a></td>
                        <td class="text-center text-bold text-danger tdfunction">
                            <span class="btn btn-danger" onclick="destroyBangCap('@item.BangCapChungChiID')">@Html.Raw(Language.GetText("xoa"))</span>
                        </td>
                    </tr>

                    i++;
                }

            }

        </tbody>
    </table>
</div>


<!-- /column controlled child rows -->
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/footable/footable.min.js"></script>
<script>
    $(document).ready(function () {
        var gridtable = $('.datatable-responsive-row-control').DataTable({
            "ordering": false,
        });

        $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: "-1"
        });
        $('.datatable-responsive-row-control').footable();
        if ($("#role_update").val() == 0) {
            $(".control-function").html("");
            $(".tdfunction").html("");
        }
    });

    
</script>
