﻿@model DieuChuyenViewModels
<style>
    .checker {
        top: 16px !important;
    }

    .hiddens {
        display: none;
    }

    .shows {
        display: block;
    }
</style>
<script type="text/javascript" src="/Content/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
<div class="content">
    <div class="col-md-6 panel panel-flat">
        <h3>@Html.Raw(Language.GetText("danhsachnhanvien"))</h3>
        <table class="table datatable-responsive-row-control table-bordered" style="border: 1px solid #ddd;">
            <thead>
                <tr style="background:#4682B4;color:#fff;">
                    <th data-toggle="true" class="text-bold text-center" style="width:50px;">#</th>
                    <th class="text-bold text-center">@Html.Raw(Language.GetText("tennhanvien"))</th>
                    <th data-hide="phone" class="text-bold text-center">@Html.Raw(Language.GetText("tendoi"))</th>
                    <th data-hide="phone" class="text-bold text-center">@Html.Raw(Language.GetText("chucvu"))</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int i = 1;
                    string selected = "";
                    foreach (var item in Model.DSNhanVien.NhanVien)
                    {
                        <tr>
                            <td class="text-center">@i</td>
                            <td class="">@item.TenNhanVien</td>
                            <td class="">@item.TenDoi</td>
                            <td class="text-center">
                                <select class="form-control clcv">
                                    @foreach (var icv in Model.ChucVu)
                                    {
                                        if (icv.TenChucVu.ToLower().Trim() == item.ChucVu.ToLower().Trim())
                                        {
                                            selected = "selected";
                                        }else
                                        {
                                            selected = "";
                                        }
                                        <option value="@icv.ChucVuID" @selected >@icv.TenChucVu</option>
                                    }
                                </select>
                            </td>
                            <input type="hidden" class="NhanVien_Input" value="@item.NhanVienID" />
                        </tr>
                        i++;
                    }

                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <form action="#" class="form-horizontal">
            <div class="panel panel-flat">
                <div class="panel-body" id="loadpanel-addform">
                    <div class="form-group text-center">
                        <label class="radio-inline" style="margin-top: 10px;">
                            <input type="radio" name="radio-inline-left" id="VanPhong" class="styled" checked="checked">
                            @Html.Raw(Language.GetText("phongban"))
                        </label>
                        <label class="radio-inline" style="margin-top: 10px;">
                            <input type="radio" name="radio-inline-left" id="CongTrinh" class="styled">
                            @Html.Raw(Language.GetText("congtrinh"))
                        </label>
                    </div>
                    <div class="congtrinhtab hidden">
                        <div class="form-group">
                            <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("doithicong")):</label>
                            <div class="col-lg-9">
                                <input id='DoiThiCongID' class="form-control" style="width:100%" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("congtrinh")):</label>
                            <div class="col-lg-9">
                                <div class="multi-select-full">
                                    <select class="multiselect form-control" multiple="multiple" id="CTLienQuan" style="width:100% !important;">
                                        @foreach (var item in Model.CT)
                                        {
                                            <option value="@item.value">@item.label</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="phongbantab">
                        <div class="form-group">
                            <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("phongban")):</label>
                            <div class="col-lg-9">
                                <input id='PhongBanID' class="form-control" style="width:100%" />
                            </div>
                        </div>
                        <div class="form-group hidden">
                            <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("diadiemlamviec")):</label>
                            <div class="col-lg-9">
                                <div class="multi-select-full">
                                    <select class="form-control" id="CTLienQuan2" style="width:100% !important;">
                                        <option value="@WebConst.CONGTRINHTONG">@Html.Raw(Language.GetText("vanphong"))</option>
                                        @foreach (var item in Model.CT)
                                        {
                                            <option value="@item.value">@item.label</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("thoigian")):</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="ThoiGian" style="width:100%;" placeholder=@Html.Raw(Language.GetText("chonngay"))>
                        </div>
                    </div>
                    <div class="text-right">
                        <span onclick="thoatds();" class="btn btn-default ">@Html.Raw(Language.GetText("thoat")) <i class="icon-arrow-right14 position-right"></i></span>
                        <span class="btn btn-success btnsaves_dc">@Html.Raw(Language.GetText("luu")) <i class="icon-floppy-disk position-right"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ThoiGian").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
        });
        var Dept = 1;
        var gridtable = $('.datatable-responsive-row-control').DataTable({
            "ordering": false,
        });
        $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: "-1"
        });

        var categCheck = $('.multiselect').multiselect({
            enableFiltering: true,
            templates: {
                filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
            },
            onChange: function () {
                $.uniform.update();
            }
        });
        // Primary
        $(".control-primary").uniform({
            radioClass: 'choice',
            wrapperClass: 'border-primary-600 text-primary-800'
        });
        $(".styled, .multiselect-container input").uniform({ radioClass: 'choice' });


        $("#DoiThiCongID").kendoDropDownList({
            dataTextField: 'TenDoi',
            dataValueField: 'DoiThiCongID',
            filter: "contains",
            autoBind: true,
            optionLabel: GetTextLanguage("donvi"),
            dataSource: getDataForDropdownlistWithParam("/Home/DSDoiThiCongorPhongBan", { Dept: 1 }),
            change: function () {
                if (Dept == 0) {
                    loadMultiselect($("#DoiThiCongID").data("kendoDropDownList").value());
                }
            }
        });
        $("#PhongBanID").kendoDropDownList({
            dataTextField: 'TenDoi',
            dataValueField: 'DoiThiCongID',
            filter: "contains",
            autoBind: true,
            optionLabel: GetTextLanguage("phongban"),
            dataSource: getDataForDropdownlistWithParam("/QLNhanVien/DanhSachPhongBan"),

        });

        $(".validreq").on("keyup", function () {
            if ($(this).val() == "") {
                $(this).addClass("errorReq");
            } else {
                $(this).removeClass("errorReq");
            }
        });

        $("#VanPhong").on("click", function () {
            Dept = 1;
            $(".inputct").removeClass("shows").addClass("hiddens"); // Chưa Ký
            $("#DoiThiCongID").data("kendoDropDownList").dataSource.read({ Dept: 1 });
            loadMultiselect("");
            $(".congtrinhtab").addClass("hidden");
            $(".phongbantab").removeClass("hidden");

        });
        $("#CongTrinh").on("click", function () {
            Dept = 0;
            $(".inputct").removeClass("hiddens").addClass("shows"); //Đã Kỹ
            $("#DoiThiCongID").data("kendoDropDownList").dataSource.read({ Dept: 0 });
            $(".congtrinhtab").removeClass("hidden");
            $(".phongbantab").addClass("hidden");
            loadMultiselect("");
        });

        function loadMultiselect(DoiThiCongID) {
            $.ajax({
                url: "/Home/DsContTrinhTheoDoiMultiple",
                type: "POST",
                data: {
                    DoiThiCongID: DoiThiCongID
                },
                complete: function (e) {
                    categCheck.multiselect('dataprovider', e.responseJSON.data);
                    $(".control-primary").uniform({
                        radioClass: 'choice',
                        wrapperClass: 'border-primary-600 text-primary-800'
                    });
                    $(".styled, .multiselect-container input").uniform({ radioClass: 'choice' });
                }
            });
        }

        function getRowTable() {
            var form = [];
            var rowss = gridtable.rows({ 'search': 'applied' }).nodes();
            $('.NhanVien_Input', rowss).each(function () {
                var obj = new Object();
                obj.NhanVienID = $(this).val();
                obj.ChucVuID = $(this).closest('tr').find('.clcv').val();
                form.push(obj);

            });
            return form;
        }

        function valid() {
            if (Dept == 0) {
                if ($("#DoiThiCongID").val() == "") {
                    showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("bophan"));
                    $("#DoiThiCongID").data("kendoDropDownList").focus();
                    return false;
                }
            } else {
                if ($("#PhongBanID").val() == "") {
                    showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("phongban"));
                    $("#PhongBanID").data("kendoDropDownList").focus();
                    return false;
                }
            }
            return true;
        }

        $(".btnsaves_dc").on("click", function () {
            if (true) {
                ContentWatingOP("content-loader", 0.9);
                var objData = {};
                var CTLQ = [];
                CTLQ = $("#CTLienQuan").val();
                objData.NhanVienID = $("#TTNVID").val();
                objData.CT = CTLQ;
                objData.DoiThiCongID = $("#DoiThiCongID").val();
                
                if (Dept == 1) {
                    objData.CT = [];
                    objData.CT.push($("#CTLienQuan2").val());
                    objData.DoiThiCongID = $("#PhongBanID").val();
                }
                objData.ChucVu = $("#ChucVu").val();
                objData.ThoiGian = $("#ThoiGian").val();
                objData.Dept = Dept;
                objData.items = getRowTable();
                var flag = true;
              
                if (flag) {
                    $.ajax({
                        cache: false,
                        async: true,
                        type: "POST",
                        url: "/QLNhanVien/DieuChuyenNVMultiple",
                        data: { data: JSON.stringify(objData) },
                        success: function (data) {
                            altReturn(data);
                            lstHinhAnh = [];
                            if (data.code == "success") {
                                $(".btnsaves").css("display", "none");
                            }
                            $("#content-loader").unblock();
                        },
                        error: function (xhr, status, error) {
                            $("#content-loader").unblock();
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    });
                }
            }
        });
       

    });

    function thoatds() {
        $("#grid_DSNhanVien").data("kendoGrid").dataSource.read();
        $("#ChiTietNhanVien").html("");
        $(".NV_DS").show();
    }

    
</script>