﻿@model List<itemCongTrinh_NhanVien>
 <style>
     .checker{top: 16px !important;}
     .hiddens{display:none;}
    .shows{display:block;}
 </style>
<form action="#" class="form-horizontal">
    <div class="panel panel-flat col-md-8 col-md-offset-2">
        <h3 class="text-bold">@Html.Raw(Language.GetText("dieuchuyennhanvien"))</h3>
        <div class="panel-body" id="loadpanel-addform">
            <div class="form-group text-center">
                <label class="radio-inline" style="margin-top: 10px;">
                    <input type="radio" name="radio-inline-left" id="VanPhong" class="styled" checked="checked">
                    @Html.Raw(Language.GetText("phongban"))
                </label>
                <label class="radio-inline" style="margin-top: 10px;">
                    <input type="radio" name="radio-inline-left" id="CongTrinh" class="styled">
                    @Html.Raw(Language.GetText("congtrinh"))
                </label>
            </div>
            <div class="congtrinhtab hidden">
                <div class="form-group">
                    <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("doithicong")):</label>
                    <div class="col-lg-9">
                        <input id='DoiThiCongID' class="form-control" style="width:100%" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("congtrinh")):</label>
                    <div class="col-lg-9">
                        <div class="multi-select-full">
                            <select class="multiselect form-control" multiple="multiple" id="CTLienQuan" style="width:100% !important;">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.value">@item.label</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="phongbantab">
                <div class="form-group">
                    <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("phongban")):</label>
                    <div class="col-lg-9">
                        <input id='PhongBanID' class="form-control" style="width:100%" />
                    </div>
                </div>
                <div class="form-group hidden">
                    <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("diadiemlamviec")):</label>
                    <div class="col-lg-9">
                        <div class="multi-select-full">
                            <select class="form-control" id="CTLienQuan2" style="width:100% !important;">
                                <option value="@WebConst.CONGTRINHTONG">@Html.Raw(Language.GetText("vanphong"))</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.value">@item.label</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("chucvu")):</label>
                <div class="col-lg-9">
                    <input id='ChucVu' class="form-control" style="width:100%" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label text-right">@Html.Raw(Language.GetText("thoigian")):</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="ThoiGian" style="width:100%;" placeholder=@Html.Raw(Language.GetText("chonngay"))>
                </div>
            </div>
            <div class="text-right">
                <span onclick="searchLichSuLamViec();" class="btn btn-default ">@Html.Raw(Language.GetText("thoat")) <i class="icon-arrow-right14 position-right"></i></span>
                <span  class="btn btn-success btnsaves">@Html.Raw(Language.GetText("luu")) <i class="icon-floppy-disk position-right"></i></span>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ThoiGian").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
        });
        var Dept = 1;
        var categCheck = $('.multiselect').multiselect({
            enableFiltering: true,
            templates: {
                filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
            },
            onChange: function () {
                $.uniform.update();
            }
        });
        // Primary
        $(".control-primary").uniform({
            radioClass: 'choice',
            wrapperClass: 'border-primary-600 text-primary-800'
        });
        $(".styled, .multiselect-container input").uniform({ radioClass: 'choice' });

        $("#PhongBanID").kendoDropDownList({
            dataTextField: 'TenDoi',
            dataValueField: 'DoiThiCongID',
            filter: "contains",
            autoBind: true,
            optionLabel: GetTextLanguage("phongban"),
            dataSource: getDataForDropdownlistWithParam("/QLNhanVien/DanhSachPhongBan"),

        });
        $("#DoiThiCongID").kendoDropDownList({
            dataTextField: 'TenDoi',
            dataValueField: 'DoiThiCongID',
            filter: "contains",
            autoBind: true,
            optionLabel: GetTextLanguage("donvi"),
            dataSource: getDataForDropdownlistWithParam("/Home/DSDoiThiCongorPhongBan", { Dept: 1 }),
            change: function () {
                if (Dept == 0) {
                    loadMultiselect($("#DoiThiCongID").data("kendoDropDownList").value());
                }
            }
        });

        $("#ChucVu").kendoDropDownList({
            dataTextField: 'text',
            dataValueField: 'value',
            filter: "contains",
            autoBind: true,
            dataSource: getDataForDropdownlistWithParam("/Home/DSChucVu", {})
        });
        $(".validreq").on("keyup", function () {
            if ($(this).val() == "") {
                $(this).addClass("errorReq");
            } else {
                $(this).removeClass("errorReq");
            }
        });

        $("#VanPhong").on("click", function () {
            Dept = 1;
            $(".inputct").removeClass("shows").addClass("hiddens"); // Chưa Ký
            $("#DoiThiCongID").data("kendoDropDownList").dataSource.read({ Dept: 1 });
            $(".congtrinhtab").addClass("hidden");
            $(".phongbantab").removeClass("hidden");
            loadMultiselect("");
        });
        $("#CongTrinh").on("click", function () {
            Dept = 0;
            $(".inputct").removeClass("hiddens").addClass("shows"); //Đã Kỹ
            $("#DoiThiCongID").data("kendoDropDownList").dataSource.read({ Dept: 0 });
            $(".congtrinhtab").removeClass("hidden");
            $(".phongbantab").addClass("hidden");
            loadMultiselect("");
        });

        function loadMultiselect(DoiThiCongID) {
            $.ajax({
                url: "/Home/DsContTrinhTheoDoiMultiple",
                type: "POST",
                data: {
                    DoiThiCongID: DoiThiCongID
                },
                complete: function (e) {
                    categCheck.multiselect('dataprovider', e.responseJSON.data);
                    $(".control-primary").uniform({
                        radioClass: 'choice',
                        wrapperClass: 'border-primary-600 text-primary-800'
                    });
                    $(".styled, .multiselect-container input").uniform({ radioClass: 'choice' });
                }
            });
        }
        function valid() {
            
            if (Dept == 0) {
                if ($("#DoiThiCongID").val() == "") {
                    showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("bophan"));
                    $("#DoiThiCongID").data("kendoDropDownList").focus();
                    return false;
                }
            } else {
                if ($("#PhongBanID").val() == "") {
                    showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("phongban"));
                    $("#PhongBanID").data("kendoDropDownList").focus();
                    return false;
                }
            }

            if ($("#ChucVu").val() == "") {
                showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("chucvu"));
                $("#ChucVu").data("kendoDropDownList").focus();
                return false;
            }

            return true;
        }
        $(".btnsaves").on("click", function () {
            if (valid()) {
                ContentWatingOP("loadpanel-addform", 0.9);
                var objData = {};
                var CTLQ = [];
                CTLQ = $("#CTLienQuan").val();
                objData.NhanVienID = $("#TTNVID").val();

                objData.DoiThiCongID = $("#DoiThiCongID").val();
                objData.ChucVu = $("#ChucVu").val();
                objData.ThoiGian = $("#ThoiGian").val();
                objData.CT = CTLQ;
                if (Dept == 1) {
                    objData.CT = [];
                    objData.CT.push($("#CTLienQuan2").val());
                    objData.DoiThiCongID = $("#PhongBanID").val();
                }
                
                objData.Dept = Dept;
                var flag = true;
                if (flag) {
                    $.ajax({
                        cache: false,
                        async: false,
                        type: "POST",
                        url: "/QLNhanVien/DieuChuyenNV",
                        data: { data: JSON.stringify(objData) },
                        success: function (data) {
                            altReturn(data);
                            lstHinhAnh = [];
                            if (data.code == "success") {
                                $(".btnsaves").css("display", "none");
                            }
                            $("#loadpanel-addform").unblock();
                        },
                        error: function (xhr, status, error) {
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    });
                }
            }
        })
        
    });

    
</script>