﻿@model List<DF.DataAccess.DBML.Web_HopDong_LayHopDongbyNhanVienResult>
<style>
    .table tbody tr td {
        padding: 10px !important;
    }
</style>
<div id="BangTPNV">
    @Html.Partial("~/Views/QLNhanVien/_DanhSachHopDongNV.cshtml", Model)
</div>

<script>
    function searchHopDongNV() {
        ContentWatingOP("BangTPNV", 1);
        $.ajax({
            url: '@Url.Action("TimKiemHopDong", "QLNhanVien")',
            method: "POST",
            data: {
                NhanVienID: $("#TTNVID").val()
            },
            datatype: 'json',
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#BangTPNV").unblock();
            }, error: function () {
                $("#BangTPNV").unblock();
            }
        });
    }
    function XemChiTiethopdong(BangCapID) {
        ContentWatingOP("BangTPNV", 1);
        $.ajax({
            url: '/QLNhanVien/XemChiTietHopDong',
            method: "POST",
            datatype: 'json',
            data: {
                HopDongID: BangCapID
            },
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#BangTPNV").unblock();
            }
        });
    }

    function addHopDongNhanVien() {
        ContentWatingOP("BangTPNV", 1);
        $.ajax({
            url: '/QLNhanVien/AddHopDongNV_Patital',
            method: "POST",
            datatype: 'json',
            data: {

            },
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#BangTPNV").unblock();
            }
        });
    }
</script>
