﻿@model  List<DF.DataAccess.DBML.sp_GetInfoNhanVien_LichSuLamViecResult>
<style>
    .table tbody tr td {
        padding: 10px !important;
    }
</style>
<div id="BangTPNV">
    @Html.Partial("~/Views/QLNhanVien/_DanhSachDieuChuyen.cshtml", Model)
</div>
<script>
    function searchLichSuLamViec() {
        ContentWatingOP("BangTPNV", 1);
        $.ajax({
            url: '@Url.Action("TimKiemLSLV", "QLNhanVien")',
            method: "POST",
            data: {
                NhanVienID: $("#TTNVID").val()
            },
            datatype: 'json',
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#BangTPNV").unblock();
            }, error: function () {
                $("#BangTPNV").unblock();
            }
        });
    }
    function destroyBangCap(BangCapID) {
        if (confirm(GetTextLanguage("cochacchanxoa"))) {
            $.ajax({
                url: '@Url.Action("XoaBangCap", "QLNhanVien")',
                method: "POST",
                data: {
                    BangCapID: BangCapID
                },
                async: true,
                datatype: 'json',
                success: function (data) {
                    altReturn(data);
                    searchBangCap();
                },
                error: function () {
                    showToast("error", GetTextLanguage("coloi"), GetTextLanguage("coloitrongquatrinhxulydulieu"));
                }
            });
        }
    }
    function XemChiTietBangCap(BangCapID) {
        ContentWatingOP("BangTPNV", 1);
        $.ajax({
            url: '/QLNhanVien/XemChiTietBangCap',
            method: "POST",
            datatype: 'json',
            data: {
                HopDongID: BangCapID
            },
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#BangTPNV").unblock();
            }
        });
    }

    function addDieuChuyen() {
        ContentWatingOP("BangTPNV", 1);
        $.ajax({
            url: '/QLNhanVien/AddDieuChuyen_Patital',
            method: "POST",
            datatype: 'json',
            data: {

            },
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#BangTPNV").unblock();
            }
        });
    }
</script>