﻿@model  List<DF.DBMapping.ModelsExt.TaiSanModel>

<style>
    .table tbody tr td {
        padding: 10px !important;
    }
</style>
<div class="panel panel-flat">
    <table class="table datatable-responsive-row-control table-bordered">
        <thead>
            <tr style="background:#4682B4;color:#fff;">
                <th width="30px">@Html.Raw(Language.GetText("stt"))</th>
                <th>@Html.Raw(Language.GetText("tentaisan"))</th>
                <th>@Html.Raw(Language.GetText("mataisan"))</th>
                <th>@Html.Raw(Language.GetText("ngaybangiao"))</th>
                <th>@Html.Raw(Language.GetText("ngaytra"))</th>
                <th>@Html.Raw(Language.GetText("trangthai"))</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int i = 1;
                foreach (var item in Model)
                {
                    string strThoiGian = item.NgayNhap == null ? "" : item.NgayNhap.Value.ToString("dd/MM/yyyy");
                    string strThoiGianTra = item.ThoiGianTra == null ? "" : item.ThoiGianTra.Value.ToString("dd/MM/yyyy");
                    <tr>
                        <td class="text-center">@i</td>
                        <td>@item.TenTaiSan</td>
                        <td>@item.MaTaiSan</td>
                        <td class="text-center">@strThoiGian</td>
                        <td class="text-center">@strThoiGianTra</td>
                        <td class="text-center">@DFWeb.Utils.Utils.GetstrTrangThaiTaiSan(item.TrangThaiHienTai)</td>
                    </tr>

                    i++;
                }

            }

        </tbody>

    </table>
</div>
<!-- /column controlled child rows -->
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/footable/footable.min.js"></script>
<script>
    $(document).ready(function () {
        var gridtable = $('.datatable-responsive-row-control').DataTable({
            "ordering": false,
        });

        $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: "-1"
        });
        $('.datatable-responsive-row-control').footable();

    });
</script>
