﻿@model Add_Update_ModelNhanVien
<input type="hidden" id="TTNVID" value="@Model.NhanVienID" />
<div @*class="navbar navbar-default navbar-xs" style="border-top: 0;"*@ style="display: none;">
    <ul class="nav navbar-nav visible-xs-block">
        <li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter" class="collapsed" aria-expanded="false"><i class="icon-menu7"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="navbar-filter" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav element-active-slate-400">
            <li class="limenu active"><a href="javascript:void(0);" class="NV_ThongTin"><i class="icon-info22 position-left"></i> @Html.Raw(Language.GetText("thongtincanhan3"))</a></li>
            <li class="limenu "><a href="javascript:void(0);" class="NV_LSLV"><i class="icon-history position-left"></i> @Html.Raw(Language.GetText("lichsulamviec"))</a></li>
            <li class="limenu "><a href="javascript:void(0);" class="NV_BANGCAP"><i class="icon-certificate position-left"></i> @Html.Raw(Language.GetText("bangcap"))</a></li>
            <li class="limenu "><a href="javascript:void(0);" class="NV_TAISAN"><i class="icon-notebook position-left"></i> @Html.Raw(Language.GetText("taisandangquanly"))</a></li>
            <li class="limenu "><a href="javascript:void(0);" class="NV_DANHGIA"><i class="icon-spell-check2 position-left"></i> @Html.Raw(Language.GetText("lichsudanhgia"))</a></li>
            <li class="limenu "><a href="javascript:void(0);" class="NV_HDCANHAN"><i class="icon-address-book2 position-left"></i> @Html.Raw(Language.GetText("hopdongcanhan"))</a></li>
            @*<li class="limenu "><a href="javascript:void(0);" class="NV_YKIEN"><i class="icon-pie5 position-left"></i> @Html.Raw(Language.GetText("ykienphanhoi"))</a></li>*@
            @*<li class="limenu "><a href="javascript:void(0);" class="NV_BIENBAN"><i class="icon-pie5 position-left"></i> @Html.Raw(Language.GetText("bienban"))</a></li>*@
        </ul>
        @*<div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/QuanLyCongTrinh/Index" style="background: steelblue;color: #fff;"><i class="icon-stack-text position-left"></i>@Html.Raw(Language.GetText("danhsachduan"))</a></li>
                </ul>
            </div>*@
    </div>
</div>
<div class="content">
    <span onclick="reload();" class="btn btn-default tb-our"><i class="icon-arrow-left8 position-left"></i>@Html.Raw(Language.GetText("thoat"))</span>
    <!-- User profile -->
    <div class="row">
        <div class="">
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="contentCongTrinh">
                        <!-- Timeline -->
                        @Html.Partial("~/Views/QLNhanVien/_AddorUpdateNhanVien.cshtml", Model)
                        <!-- /timeline -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(".NV_ThongTin").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QLNhanVien/ThongTinChung?NhanVienID=" + $("#TTNVID").val());
    });
    $(".NV_LSLV").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QLNhanVien/LichSuLamViec?NhanVienID=" + $("#TTNVID").val());
    });
    $(".NV_BANGCAP").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QLNhanVien/BangCapChungChi?NhanVienID=" + $("#TTNVID").val());
    });
    $(".NV_TAISAN").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QLNhanVien/TaiSanQuanLy?NhanVienID=" + $("#TTNVID").val());
    });
    $(".NV_DANHGIA").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QLNhanVien/LichSuDanhGia?NhanVienID=" + $("#TTNVID").val());
    });
    $(".NV_HDCANHAN").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QLNhanVien/HoSoCaNhan?NhanVienID=" + $("#TTNVID").val());
    });
    $(".NV_YKIEN").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QLNhanVien/YKienPhanHoi?NhanVienID=" + $("#TTNVID").val());
    });
    $(".NV_BIENBAN").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QLNhanVien/BienBan?NhanVienID=" + $("#TTNVID").val());
    });

    function delCongTrinh(CongTrinhID) {
        if (confirm(GetTextLanguage("bancomuonxoabanghinaykhong"))) {
            $.ajax({
                url: '@Url.Action("XoaCongTrinh", "QuanLyCongTrinh")',
                method: "POST",
                data: {
                    CongTrinhID: CongTrinhID
                },
                datatype: 'json',
                success: function (data) {
                    altReturn(data);
                    if (data.code == "success") {
                        setTimeout(function () { location.href = "/QuanLyCongTrinh/Index"; }, 1000);
                    }
                },
                error: function () {
                    $("#form_loading").unblock();
                }
            });
        }
        else {
            return false;
        }
    }

    function reload() {
        ContentWatingOP("content-loader", 1);
        $("#grid_DSNhanVien").data("kendoGrid").dataSource.read();
        $(".content").show();
        $("#ChiTietNhanVien").html("");
        $("#content-loader").unblock();
    }
</script>