﻿<div class="panel panel-flat">
    <table class="table datatable-responsive-row-control table-bordered">
        <thead>
            <tr style="background:#4682B4;color:#fff;">
                <th width="30px">@Html.Raw(Language.GetText("stt"))</th>
                <th>@Html.Raw(Language.GetText("thoigian"))</th>
                <th>@Html.Raw(Language.GetText("tieude"))</th>
                <th>@Html.Raw(Language.GetText("noidung"))</th>
            </tr>
        </thead>
    </table>
</div>