﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("danhsachnhanvien"));
    ViewBag.Title_Function = @Html.Raw(Language.GetText("danhsachnhanvien"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<script type="text/javascript" src="~/Scripts/HanhChinh/NhanVien/QuanLyNhanVien.js"></script>
<style>
    .btn-kyhopdong {
        padding: 1px 0px !important;
    }
</style>

<div class="content">
    <div class="NV_DS">
        <div class="row" style="margin-bottom:10px;">
            <div class="text-right">
				<span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
            	<span class="btn btn-success btnTemplate"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
                @*<span class="btn btn-primary btnDieuChuyen"><i class="icon-redo2 position-left"></i>@Html.Raw(Language.GetText("dieuchuyen"))</span>*@
                <span class="btn btn-warning btAdd"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("themmoi"))</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div style="height:10px;"></div>
        <div id="grid_DSNhanVien"></div>
    </div>
    
</div>
<div id="ChiTietNhanVien"></div>
<script type="text/x-kendo-template" id="tplGioiTinh">
    # if(GioiTinh == 0) { #
    <span>#=GetTextLanguage("boy")#</span>
    # } #
    # if(GioiTinh == 1) { #
    <span>#=GetTextLanguage("nu")#</span>
    # } #
</script>

<script type="text/x-kendo-template" id="tplTinhTrang">
    # if(TinhTrang == 1) { #
    <span>#=GetTextLanguage("danglamviec")#</span>
    # } #
    # if(TinhTrang == 2) { #
    <span>#=GetTextLanguage("nghichoviec")#</span>
    # } #
    # if(TinhTrang == 3) { #
    <span>#=GetTextLanguage("thoiviec")#</span>
    # } #
</script>

<script type="text/x-kendo-template" id="tplLoaiHopDong">
    # if(LoaiHopDong == 0) { #
    <span>#=GetTextLanguage("chuaky")#</span>
    # } #
    # if(LoaiHopDong == 1) { #
    <span>#=GetTextLanguage("daihan")#</span>
    # } #
    # if(LoaiHopDong == 2) { #
    <span>#=GetTextLanguage("thang1236")#</span>
    # } #
    # if(LoaiHopDong == 3) { #
    <span>#=GetTextLanguage("thuviec")#</span>
    # } #
    # if(LoaiHopDong == 4) { #
    <span>#=GetTextLanguage("muavu")#</span>
    # } #
</script>
<div id="mdlThemFileExcel">

</div>
<script type="text/x-kendo-template" id="tempImport">

    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem">

    </div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<script type="text/x-kendo-template" id="tempNoiDung">
    # if(Dept == 0) { #
    
    <span></span> #: TenCongDoi #
    # } #
    # if(Dept == 1) { #
    <span>
        #: GetTextLanguage("vanphong")#
    </span>
    
    # } #
    
</script>