﻿@model  DFWeb.Models.CongTrinhPhongBan.PhongBan_DoiThiCongModel
<input type="hidden" value="@Model.CongTrinhID" id="PhongBanID" />
<div class="col-md-8 col-md-offset-2">

    <div class="panel panel-flat">
        <h3 style="margin:10px;">@Html.Raw(Language.GetText("doithicong"))</h3>
        <table class="table datatable-responsive-row-control table-bordered" style="border: 1px solid #ddd;">
            <thead>
                <tr style="background:#4682B4;color:#fff;">
                    <th data-toggle="true" class="text-bold text-center" style="width:50px;">#</th>
                    <th class="text-bold">@Html.Raw(Language.GetText("tendoi"))</th>
                    <th style="width:60px;" class="text-bold text-center">@Html.Raw(Language.GetText(""))</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int i = 1;
                    string active = "active";
                    foreach (var item in Model.DSDoiThiCong)
                    {

                        if (item.checkeds.Value)
                        {
                            active = "active";
                        }
                        else
                        {
                            active = "";
                        }
                        <tr>
                            <td class="text-center">@i</td>
                            <td class="">@item.TenDoi</td>
                            <td class="text-center">
                                <input type="checkbox" class="control-primary ckbox @active">
                                <input type="hidden" class="DTC_Input" value="@item.DoiThiCongID" />
                            </td>
                        </tr>
                        i++;
                    }

                }
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <span onclick="thoatds();" style="margin-bottom:10px;" class="btn btn-default tb-our"><i class="icon-arrow-left8 position-left"></i>@Html.Raw(Language.GetText("thoat"))</span>
        <span style="margin-bottom:10px;" class="btn btn-success btnsaves_dc"><i class="icon-arrow-left8 position-left"></i>@Html.Raw(Language.GetText("luu"))</span>
    </div>
</div>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var gridtable = $('.datatable-responsive-row-control').DataTable({
            "ordering": false,
            "paging":false
        });
        $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: "-1"
        });

        // Primary
        $(".control-primary").uniform({
            radioClass: 'choice',
            wrapperClass: 'border-primary-600 text-primary-800'
        });
        $(".styled, .multiselect-container input").uniform({ radioClass: 'choice' });
        $(".active").closest('span').addClass('checked');
        $(".active").prop('checked', true);

        function getRowTable() {
            var form = [];
            var rowss = gridtable.rows({ 'search': 'applied' }).nodes();
            $('.DTC_Input', rowss).each(function () {
                var obj = new Object();
                obj.DoiThiCongID = $(this).val();
                if ($(this).closest('tr').find('.ckbox').is(':checked')) {
                    form.push(obj);
                }
            });
            return form;
        }


        $(".btnsaves_dc").on("click", function () {

            ContentWatingOP("content-loader", 0.9);
            var objData = {};
            objData.CongTrinhID = $("#PhongBanID").val();
            objData.items = getRowTable();
            var flag = true;
            console.log(objData);
            if (flag) {
                $.ajax({
                    cache: false,
                    async: true,
                    type: "POST",
                    url: "/QuanLyPhongBan/ThemDoiThiCong",
                    data: { data: JSON.stringify(objData) },
                    success: function (data) {
                        altReturn(data);
                        if (data.code == "success") {
                            $(".btnsaves").css("display", "none");
                        }
                        $("#content-loader").unblock();
                    },
                    error: function (xhr, status, error) {
                        $("#content-loader").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                });
            }

        });


    });

    function thoatds() {
        $("#grid").data("kendoGrid").dataSource.read();
        $("#DSDoiThiCong").html("");
        $(".dsphongban").show();
    }


</script>