﻿@{
    ViewBag.Title = Language.GetText("quanlyphongban");
}

<script type="text/javascript" src="~/Scripts/DanhMuc/phongban.js"></script>
<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
        <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
        <button id="btnAdd" class="k-button k-button-icontext k-grid-add"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
    </div>
</script>

<div style="clear:both"></div>

<div class="content">
    <div id="grid" class="dsphongban"></div>
    <div id="DSDoiThiCong"></div>
</div>
<script type="text/x-kendo-template" id="btnAddNhanVien">
    <div class="toolbarAdd">
        <button id="btnAddNhanVienDoi" class="btn btn-warning k-btn"><i class="fa fa-plus" aria-hidden="true"></i> Thêm Nhân Viên Về Phòng</button>
    </div>
</script>
<script type="text/x-kendo-template" id="btnroidoi">
    <a class="btn btn-danger roidoi"><i class="fa fa-reply" aria-hidden="true"></i> Rời Phòng</a>
</script>
<script type="text/x-kendo-template" id="template">
    <div style="clear: both; float: left; width: 300px; ">
        #=DiaChi#
    </div>
    <div style="float:left; width: 200px; ">
        #=NgaySinh#
    </div>
    <div style="float:left; width: 100px;">
        #=CMT#
    </div>
</script>

<script type="text/x-kendo-template" id="tempNhanVienDoi">

    <div id="gridNhanVienDoi"></div>
</script>
<div id="mdlNhanVienDoi" style="padding:0;"></div>

<script type="text/x-kendo-template" id="tmpladdNhanVien">
    <form id="frmaddDoi">
        <div class="text-center">
            <h3>@Html.Raw(Language.GetText("chonnhanviendethemvaodoi"))</h3>
            <input id="customers" name="customers" required data-required-msg="@Html.Raw(Language.GetText(" chonnhanvien"))" data-bind="value:customers" style="width: 100%;" /><br />
            <input id="chucvus" name="chucvus" required data-required-msg="@Html.Raw(Language.GetText(" chonchucvu"))" data-bind="value:chucvus" style="width: 100%;" />
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" data-bind="click:save">Thêm</a>
        </div>
    </form>
</script>
<div id="mdladdNhanVien"></div>
<script type="text/x-kendo-template" id="tempKieuPhongBan">
    # if(KieuPhongBan != undefined && KieuPhongBan == 1) { #
    <span>#:GetTextLanguage("phongvattu")#</span>
    # } #
    # if(KieuPhongBan != undefined &&KieuPhongBan == 2) { #
    <span>
        #: GetTextLanguage("phongtaichinh")#
    </span>
    # } #
    # if(KieuPhongBan != undefined &&KieuPhongBan == 3) { #
    <span>
        #: GetTextLanguage("phongccdc")#
    </span>
    # } #
    # if(KieuPhongBan != undefined &&KieuPhongBan == 4) { #
    <span>
        #: GetTextLanguage("phongthietbi")#
    </span>
    # } #
    # if(KieuPhongBan != undefined &&KieuPhongBan == 5) { #
    <span>
        #: GetTextLanguage("phongktkh")#
    </span>
    # } #
    # if(KieuPhongBan != undefined &&KieuPhongBan == 6) { #
    <span>
        #: GetTextLanguage("phonghanhchinh")#
    </span>
    # } #
    # if(KieuPhongBan != undefined && KieuPhongBan == 7) { #
    <span>
        #: GetTextLanguage("phongduan")#
    </span>
    # } #
    # if(KieuPhongBan != undefined && KieuPhongBan == 8) { #
    <span>
        #: GetTextLanguage("phongvanchuyen")#
    </span>
    # } #
    # if(KieuPhongBan != undefined && KieuPhongBan == 9) { #
    <span>
        #: GetTextLanguage("phongvemaybay")#
    </span>
    # } #
    # if(KieuPhongBan != undefined && KieuPhongBan == 0) { #
    <span>
        #: GetTextLanguage("khac")#
    </span>
    # } #
</script>
<div id="mdlThemFileExcel">

</div>
<script type="text/x-kendo-template" id="tempImport">
 
    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem">

    </div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />



