﻿@{
    ViewBag.Title = "Danh mục thành phẩm";
}
<link href="/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="/Content/lib/fncUploadFile.js"></script>
<script type="text/javascript" src="~/Scripts/DanhMuc/DMThanhPham.js"></script>
<style>
    .k-edit-form-container {
        width: 100%;
    }

    .dshinhanhadd {
        padding: 10px;
        border: 1px solid #ddd;
        height: 90px;
        background: #ddd;
    }

    .btn-outline-secondary {
        color: #fff !important;
        background-color: #0c7cd5 !important;
        background-image: none !important;
        border-color: #ddd !important;
    }
</style>



<div class="content">
    <div id="grid"></div>
</div>

<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        <span class="btn btn-primary btnexcel">@Html.Raw(Language.GetText("xuatexcel"))</span>
        <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
        <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
        @*<button id="btnAdd" class="btn btn-warning k-btn k-grid-add"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm mới</button>*@
    </div>
</script>

<div id="mdlThemMoiThanhPham"></div>
<script type="text/x-kendo-template" id="tplThemMoiThanhPham">

    <form id="frmThemMoiThanhPham">
        <div class="row">
            <div class="col-xs-5">
                <div class="col-md-4" style="box-sizing: border-box; text-align: center; margin-bottom:10px; margin-top:10px !important">
                    <div class="panel panel-default" style="margin-bottom: 5px !important;">
                        <div class="panel-body">
                            <div class="anhdaidien imgslider">
                                <a href="javascript:void(0)" class="setavataimage">
                                    <img src="/Content/no-image.jpg" alt="avatar" data-file="no-image.jpg" class="imgavatar" style="width:100%" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="btnChonAnh" class="fileUpload btn btn-primary" style="width:90% !important; text-align:center;">
                        <span><i class="fa fa-camera" aria-hidden="true"></i>  Chọn ảnh</span>
                        <input type="file" id="file_1" name="file_1" class="upload" accept=".png, .jpg, .jpeg">
                    </div>
                </div>
                <div class="col-md-8">
                    <input id="ThanhPhamID" name="ThanhPhamID" data-bind="value:ThanhPhamID" type="text" class="hidden" />
                    <div class="form-group">
                        <label>Mã thành phẩm</label>
                        <input id="MaThanhPham" type="text" class="form-control" name="MaThanhPham" data-bind="value:MaThanhPham" placeholder="Nhập vào mã thành phẩm" required data-required-msg="Mã thành phẩm không được trống" style="box-sizing:border-box">
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label>Tên thành phẩm</label>
                        <input id="TenThanhPham" type="text" class="form-control" name="TenThanhPham" data-bind="value:TenThanhPham" placeholder="Nhập vào tên thành phẩm" required data-required-msg="Tên thành phẩm không được trống" style="box-sizing:border-box">
                    </div><!-- /.form-group -->
                    <label>Đơn vị tính</label>
                    <div class="input-group">
                        <input id="cbbDonVi" name="cbbDonVi" type="text" class="form-control" placeholder="Chọn đơn vị thành phẩm" aria-describedby="basic-addon2" data-bind="value:DonViID" required data-required-msg="Phải chọn đơn vị thành phẩm">
                        <span class="input-group-btn">
                            <button id="btnThemDonViNhanh" class="btn btn-outline-secondary btn-primary glyphicon glyphicon-plus" type="button"></button>
                        </span>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label>Đơn giá</label>
                        <input id="DonGia" type="text" class="form-control" name="DonGia" data-bind="value:DonGia" min="0" placeholder="0" style="box-sizing:border-box">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                        <div class="dshinhanhadd">
                        </div>
                        <div class="fileUpload btn btn-primary pull-left" style="margin-top:10px">
                            <span><i class="fa fa-camera" aria-hidden="true"></i>  Thêm ảnh</span>
                            <input type="file" id="files_0" name="files_0" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple">
                        </div>
                        <a id="btnLuuThemMoi" class="btn btn-primary pull-right" style="margin-top:10px !important;">Lưu</a>
                        <a id="btnXoa" class="btn btn-danger pull-right hidden" style="margin-top:10px !important; margin-right: 10px !important">Xóa</a>
                        <div class="toolVatTu pull-right" style="margin-top:10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="row">
                    <div class="btn btn-warning" id="btnChonNguyenLieu">Định nghĩa thành phẩm</div>
                </div>
                <div id="gridDinhNghia">

                </div>
            </div>

        </div>

    </form>
</script>

<div id="mdlOptionAvatar"></div>
<script type="text/x-kendo-template" id="tplOptionAvatar">
    <div class="row">

    </div>
</script>

<div id="mdlThemNhanhDonVi"></div>
<script type="text/x-kendo-template" id="tplThemNhanhDonVi">
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <div class="form-group">
                <label>Tên đơn vị</label>
                <input id="TenDonVi" type="text" class="form-control" name="TenDonVi" data-bind="value:TenDonVi" placeholder="Nhập vào tên đơn vị" required data-required-msg="Tên đơn vị không được trống" style="box-sizing:border-box">
            </div><!-- /.form-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <button id="btnLuuNhanhDonVi" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Lưu</button>
        </div>
    </div>
</script>

<div id="mdlThemFileExcel"></div>
<script type="text/x-kendo-template" id="tempImport">
    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem"></div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<script type="text/x-kendo-template" id="tplLoaiHinh">
    # if(LoaiHinh == 1) { #
    <span class="btn btn-success btn-block no-padding">Nguyên Liệu</span>
    # } #
    # if(LoaiHinh == 2) { #
    <span class="btn btn-info btn-block no-padding">Thành Phẩm</span>
    # } #

</script>
<div id="mdlDanhSachNguyenLieu"></div>
<script type="text/x-kendo-template" id="tplDanhSachNguyenLieu">
    <div id="gridDanhSachNguyenLieu"></div>
    <div style="margin-top:15px;">
        <div class="pull-right">
            <button class="btn btn-default" id="btnHuyChonVatTu"><i class="glyphicon glyphicon-share-alt"></i> @Html.Raw(Language.GetText("huy"))</button>
            <button class="btn btn-success" id="btnDongY"><i class="glyphicon glyphicon-ok"></i> @Html.Raw(Language.GetText("dongy"))</button>
        </div>
    </div>
</script>