﻿@model  DF.DBMapping.ModelsExt.PhanQuyen.UserPhanQuyenModels

<div class="col-md-8 col-md-offset-2">

    <div class="panel panel-flat">
        <table class="table datatable-responsive-row-control table-bordered" style="border: 1px solid #ddd;">
            <thead>
                <tr >
                    <th style="background:#4682B4;color:#fff;width:50px;" class="text-bold text-center" >#</th>
                    <th style="background:#4682B4;color:#fff;" class="text-bold">@Html.Raw(Language.GetText("tenquyen"))</th>
                    <th style="width:60px;" class="text-bold text-center">
                        <input type="checkbox" class="control-danger ckall">
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int i = 1;
                    string active = "active";
                    string colorrow = "";
                    foreach (var item in Model.Quyen)
                    {
                        if (item.IsHeader)
                        {
                            colorrow = "text-danger text-bold";
                        }
                        else
                        {
                            if (item.GroupParent == null)
                            {
                                colorrow = "text-bold";
                            }
                            else
                            {
                                colorrow = "";
                            }
                        }

                        if (item.IsCheck)
                        {
                            active = "active";
                        }
                        else
                        {
                            active = "";
                        }
                        <tr class="@colorrow">
                            <td class="text-center text-bold">@if (item.GroupParent == null) { <span>@item.STT</span>}</td>
                            <td class="">@Html.Raw(item.GroupName)</td>
                            <td class="text-center">
                                <input type="checkbox" class="control-primary ckbox @active">
                                <input type="hidden" class="DTC_Input" value="@item.GroupGuid" />
                            </td>
                        </tr>
                        i++;
                    }

                }
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <span onclick="thoatds();" style="margin-bottom:10px;" class="btn btn-default tb-our"><i class="icon-arrow-left8 position-left"></i>@Html.Raw(Language.GetText("thoat"))</span>
        <span style="margin-bottom:10px;" class="btn btn-success btnsaves_dc"><i class="icon-floppy-disk position-left"></i>@Html.Raw(Language.GetText("luu"))</span>
    </div>
</div>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var gridtable = $('.datatable-responsive-row-control').DataTable({
            "ordering": false,
            "paging": false
        });
        $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: "-1"
        });

        // Primary
        $(".control-primary").uniform({
            radioClass: 'choice',
            wrapperClass: 'border-primary-600 text-primary-800'
        });
        $(".control-danger").uniform({
            radioClass: 'choice',
            wrapperClass: 'border-danger-600 text-danger-800'
        });
        $(".styled, .multiselect-container input").uniform({ radioClass: 'choice' });
        $(".active").closest('span').addClass('checked');
        $(".active").prop('checked', true);

        function getRowTable() {
            var form = [];
            var rowss = gridtable.rows({ 'search': 'applied' }).nodes();
            $('.DTC_Input', rowss).each(function () {
                var obj = new Object();
                obj.GroupGuid = $(this).val();
                if ($(this).closest('tr').find('.ckbox').is(':checked')) {
                    form.push(obj);
                }
            });
            return form;
        }


        $(".btnsaves_dc").on("click", function () {

            ContentWatingOP("content-loader", 0.9);
            var objData = {};
            objData.NhanVienID = $("#NhanVienID").val();
            objData.UserID = $("#UserID").val();
            objData.LoaiHinh = $("#TinhTrangCT").val();
            objData.items = getRowTable();
            var flag = true;
            console.log(objData);
            if (flag) {
                $.ajax({
                    cache: false,
                    async: true,
                    type: "POST",
                    url: "/PhanQuyen/PhanQuyenUser",
                    data: { data: JSON.stringify(objData) },
                    success: function (data) {
                        altReturn(data);
                        if (data.code == "success") {
                            $(".btnsaves").css("display", "none");
                        }
                        $("#content-loader").unblock();
                    },
                    error: function (xhr, status, error) {
                        $("#content-loader").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                });
            }

        });

        $(".ckall").on("click", function () {
            if($(this).is(':checked')){
                $(".ckbox").addClass("active");
                $(".active").closest('span').addClass('checked');
                $(".active").prop('checked', true);
            } else {
                $(".active").closest('span').removeClass('checked');
                $(".active").prop('checked', false);
                $(".ckbox").removeClass("active");
            }
        });

    });

    function thoatds() {
        $("#ChiTietNhanVien").html("");
        $(".dsnv").show();
    }


</script>