﻿@model DF.DBMapping.ModelsExt.PhanQuyen.UserPhanQuyenModels
@{
    ViewBag.Title = @Html.Raw(Language.GetText("phanquyenchucnang"));
    ViewBag.Title_Function = @Html.Raw(Language.GetText("phanquyenchucnang"));
}
<script type="text/javascript" src="~/Scripts/PhanQuyen/QLPhanQuyenChiTiet.js"></script>
<input type="hidden" value="@Model.NhanVienID" id="NhanVienID" />
<input type="hidden" value="@Model.UserID" id="UserID" />
<div class="content dsct" id="content-qlluongkhoan">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-xs-5" style="padding-left:0;">
            <div class="form-group">
                <div class="form-group">
                    <input type="text" class="form-control " id="TinhTrangCT" name="TinhTrangCT" style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->
            </div>
        </div>
    </div>
    <div id="grid_DMQuyen">
        @Html.Partial("~/Views/PhanQuyen/_BangChiTietPhanQyen.cshtml", Model)
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var loaihopdong = [
            { text: "Đề nghị", value: 1 },
            { text: "web", value: 2 },
        ];
        $("#TinhTrangCT").kendoDropDownList({
            dataSource: loaihopdong,
            dataTextField: "text",
            dataValueField: "value",
            autoBind: true,
            filter: "contains",
            change: function (e) {
                var value = this.value();
                if (value) {
                    SearchPhanQuyen();
                }
            }
        });
        $("#TinhTrangCT").data("kendoDropDownList").value(2);

        function SearchPhanQuyen() {
            ContentWatingOP("content-qlluongkhoan", 1);
            $.ajax({
                url: '@Url.Action("SearchGenPhanQuyenByNhanVien", "PhanQuyen")',
                method: "POST",
                data: {
                    NhanVienID: $("#NhanVienID").val(),
                    UserID: $("#UserID").val(),
                    LoaiHinh: $("#TinhTrangCT").val()
                },
                datatype: 'json',
                success: function (data) {
                    $("#grid_DMQuyen").html(data);
                    $("#content-qlluongkhoan").unblock();
                }, error: function () {
                    $("#content-qlluongkhoan").unblock();
                }
            });
        }
    });
</script>