﻿@model List<DF.DBMapping.ModelsExt.PhanQuyen.PhanQuyenDanhMucModels>
<style>
    .ishead {
        background: #ccc;
    }

        .ishead td, isgroupparent td {
            font-weight: bold;
        }
</style>
<div class="panel panel-flat">
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/select2.min.js"></script>
    <table class="table datatable-responsive-row-control  table-bordered">
        <thead>
            <tr style="background:#4682B4;color:#fff;">
                <th class="text-bold text-center" style="width:40px;">#</th>
                <th style="width:150px;" class="text-bold text-center">GroupName</th>
                <th class="text-bold text-center">RuleType</th>
                <th class="text-bold text-center">Code</th>
                <th style="width:200px;" class="text-bold text-center">UrlLink</th>
                <th class="text-bold text-center">KeyLanguage</th>
                <th style="width:50px;" class="text-bold text-center"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int i = 1;
                string strClass = "";
                foreach (var item in Model)
                {
                    if (item.IsHeader)
                    {
                        strClass = "ishead text-danger";
                    }
                    else
                    {
                        if (item.GroupParent == null)
                        {
                            strClass = "isgroupparent";
                        }
                        else
                        {
                            strClass = "";
                        }
                    }
                    <tr class="@strClass">
                        <td class="text-center">
                            @if (item.IsHeader == false && item.GroupParent != null)
                            {
                                <span class="label label-success"></span>
                            }
                            else
                            {
                                <span>@Html.Raw(DFWeb.Utils.Utils.GetSoLaMa(item.STT, item.IsHeader))</span>
                            }

                        </td>
                        <td><a href="javascript:void(0);" onclick="XemChiTietPhieu('@item.GroupGuid')">@item.GroupName</a></td>
                        <td class="text-center">@item.RuleType</td>
                        <td class="text-center">@item.Code</td>
                        <td class="">@item.UrlLink</td>
                        <td>@item.KeyLanguage</td>
                        <td class="text-center">
                            @if (item.IsHeader)
                            {
                                <span class=""></span>
                            }
                            else
                            {
                                <span class="btn btn-danger" onclick="destroyTP('@item.GroupGuid')">@Html.Raw(Language.GetText("xoa"))</span>
                            }

                        </td>
                    </tr>
                    i++;
                }

            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>@Html.Raw(Language.GetText("tong"))</td>
                <td></td>
                <td></td>
                <td><input type="text" disabled class="form-control text-bold disable numbers total text-right" /></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".numbers").autoNumeric(autoNumericOptionsKhoan);
        var gridtable = $('.datatable-responsive-row-control').DataTable({
            "paging": false,
            "ordering": false,
        });

        $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: "-1"
        });
        $('.datatable-responsive-row-control').footable();
    });
</script>