﻿@model List<DF.DBMapping.ModelsExt.PhanQuyen.PhanQuyenDanhMucModels>
@{
    ViewBag.Title = @Html.Raw(Language.GetText("phanquyenchucnang"));
    ViewBag.Title_Function = @Html.Raw(Language.GetText("phanquyenchucnang"));
}
<script type="text/javascript" src="~/Scripts/PhanQuyen/QLPhanQuyen.js"></script>
<style>
    .backgroundisheader{background:#FBEBD7 !important;font-weight:bold;color:red;}
    .backgroudisparent{font-weight:bold;}
</style>
<div class="content dsct">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-xs-5" style="padding-left:0;">
            <div class="form-group">
                <div class="form-group">
                    <input type="text" class="form-control " id="TinhTrangCT" name="TinhTrangCT" style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->
            </div>
        </div>
    </div>
    <div id="grid_DMQuyen"></div>
</div>

<script id="popup_editor" type="text/x-kendo-template">
    <div class="row">
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>GroupName</label>
                <input type="text" class="form-control" id="GroupName" name="GroupName" data-bind="value:GroupName" required  style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>RuleType</label>
                <input type="text" class="form-control" id="RuleType" name="RuleType" data-bind="value:RuleType" required  style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>Code</label>
                <div class="input-group" style="width:100%;">
                    <input type="text" class="form-control" name="Code" data-bind="value:Code" id="Code">
                </div>
            </div>
        </div>
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>UrlLink</label>
                <div class="input-group" style="width:100%;">
                    <input type="text" class="form-control" name="UrlLink"  data-bind="value:UrlLink" id="UrlLink">
                </div>
            </div>
        </div>
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>Loại Hình</label>
                <input type="text" class="form-control" id="LoaiHinh" name="LoaiHinh" data-bind="value:LoaiHinh" required  style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="box-sizing:border-box">
            <div class="form-group">
                <label>Nhóm</label>
                <input type="text" class="form-control" id="Nhom" name="Nhom" data-bind="value:Nhom" style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="box-sizing:border-box">
            <div class="form-group">
                <label>Parent</label>
                <input type="text" class="form-control" id="Parent" name="Parent" data-bind="value:GroupParent" style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="box-sizing:border-box">
            <div class="form-group">
                <label>Language</label>
                <input type="text" class="form-control" id="Language" name="Language" data-bind="value:KeyLanguage" required style="box-sizing:border-box">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="box-sizing:border-box">
            <div class="form-group">
                <label>Icon</label>
                <input type="text" class="form-control " id="Icon" name="Icon" data-bind="value:Icon"  style="box-sizing:border-box">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="box-sizing:border-box">
            <div class="form-group">
                <label>STT</label>
                <input type="text" class="form-control " id="STT" name="STT" data-bind="value:STT2" style="box-sizing:border-box">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
    </div>
</script>
