﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("qphanquyenchucnang"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<script type="text/javascript" src="~/Scripts/PhanQuyen/PhanQuyen.js"></script>
<link rel="stylesheet" type="text/css" href="~/assets/customcss.css" />

    <script type="text/x-kendo-template" id="tmplaction">
        <div class="text-center">
            <button class="btn btn-xs btn-primary xemchitiet">@Html.Raw(Language.GetText("xemphanquyen"))</button>
        </div>
    </script>
<div class="content dsnv">
    <div id="grid"></div>
</div>
<div id="ChiTietNhanVien"></div>

    <script type="text/x-kendo-template" id="tmplquyen">
        <div>
            <button class="btn btn-primary k-btn pull-right excelsuachuain"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Html.Raw(Language.GetText("luu"))</button>
        </div>
        <div style="clear:both"></div>
        <br />
        <div id="gridquyen"></div>
    </script>
    <script type="text/x-kendo-template" id="tmplchecked">
        # if(IsActive == false) { #
        <input type="checkbox" class="checkquyen" />
        # } #
        # if(IsActive == true) { #
        <input type="checkbox" class="checkquyen" checked="checked"/>
        # } #
    </script>
    <div id="mdlquyen">

    </div>
