﻿@{ 
    var urlimg = "/center/Upload/ImageQLVT/";
}
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Content/lib/fncUploadFile.js"></script>
<script src="~/Scripts/NghiepVu/Kho/SanPham/_PopupXuatKhoTong.js"></script>
@model DF.DBMapping.ModelsExt.VatTu.ChiTietPhieuXuatVatTuResult
<input id="ipPhieuXuatVatTuID" value="@Model.PhieuXuatVatTuID" hidden />
<input id="CongTrinhID" value="@Model.CongTrinhNhanID" hidden />
<input id="LoaiHinhXuat" value="@Model.LoaiHinhXuat" hidden />
<style>
    .dshinhanhadd {
        padding: 10px;
        margin: 10px 0 0;
        border: 1px solid #ddd;
        height: 95px;
        background: #fff;
        margin-bottom:10px;
    }
    .table tr:hover {
        background:none !important;
    }
    
</style>
<div>
    <div id="mdlDanhSachVatTu"></div>
    <div class="row">
        <div class="form-group" style="float:left">
            <label for="ThoiGianXuat" style="text-align:right">Thời gian xuất:</label>
            <div class="input-group">
                <input id="ThoiGianXuat" name="ThoiGianXuat" style="width:200px !important;height:36px;" required data-required-msg=@Html.Raw(Language.GetText("khongtrong")) value="@(Model!=null && Model.ThoiGian.Date > DateTime.MinValue.Date ?Model.ThoiGian.ToString("dd/MM/yyyy HH:mm"):DateTime.Now.ToString("dd/MM/yyyy HH:mm"))" />
            </div>
        </div>
        <div id="grNhan">
            <div class="col-md-6" style="margin-left: 20px;">
                <div class="form-group filter-hoadon">
                    <label for="drdCongTrinhNhan" style="text-align:right">Đơn hàng nhận</label>
                    <div class="input-group" style="width:100%">
                        <input id="drdCongTrinhNhan" class="form-control text-left" style="width:100%" required />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" style="padding: 8px 11px 8px;"><i class="icon-grid52"></i></button>
                        </span>
                    </div>
                </div>
            </div>
           
          
        </div>
        <div class="form-group" style="float:left; margin-left:15px;">
            <label for="btnChonVatTu">Chọn Sản Phẩm</label>
            <div class="input-group">
                <button id="btnChonVatTu" class="btn btn-primary"><i class="fa fa-plus"></i> Chọn Sản Phẩm</button>
            </div>
        </div>
        <div class="form-group hidden" style="float:left;">
            <label>@Html.Raw(Language.GetText("loaihinh"))</label>
            <div class="input-group">
                <button class="btn btn-success" id="btnXuatDieuChuyen">@Html.Raw(Language.GetText("xuatdieuchuyen"))</button>
                <button class="btn btn-default" id="btnXuatSuDung">@Html.Raw(Language.GetText("xuatsudung"))</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="gridChiTietPhieuXuatVatTu"></div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <div class="dshinhanhadd" style="margin-top:10px;">
                    @if (Model != null && Model.DanhSachHinhAnh!=null && Model.DanhSachHinhAnh != "")
                    {
                        foreach (var anh in Model.DanhSachHinhAnh.Split(','))
                        {
                            <div class='imgslider' style='float:left;position:relative;margin-right:10px;'>
                                <div class='img-con ahihi3'><a rel='gallery' href='@urlimg@anh'><img src="@urlimg@anh" data-file='@anh' style='width: 70px;height: 70px;margin: 0;opacity: 1;'></a></div>
                            </div>
                        }
                    } 
                </div>
                </div>
            </div>
        <div style="margin-top:15px">
            <button class="btn btn-default pull-left" id="btnHuyPhieuXuatVatTu"><i class="glyphicon glyphicon-remove"></i> @Html.Raw(Language.GetText("huy"))</button>
            <div class="fileUpload btn btn-primary pull-left" style="margin-left:10px">
                <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("themanh"))</span>
                <input type="file" id="files_0" name="files_0" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple">
            </div>
            <div class="pull-right">
                <button class="btn btn-success" id="btnDongYXuat"><i class="glyphicon glyphicon-save"></i> Đồng ý xuất</button>
            </div>
        </div>
    </div>
</div>
@* Template *@
<script type="text/x-kendo-template" id="tplDanhSachVatTu">
    <div id="gridDanhSachVatTu"></div>
    <div style="margin-top:15px;">
        <button class="btn btn-default pull-left" id="btnHuyChonVatTu"><i class="glyphicon glyphicon-share-alt"></i> @Html.Raw(Language.GetText("huy"))</button>
        <button class="btn btn-success pull-right" id="btnTiepTuc"><i class="glyphicon glyphicon-ok"></i> Tiếp tục</button>
    </div>
</script>
<script>
    showslideimg();
</script>

