﻿
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Scripts/NghiepVu/Kho/SanPham/QuanLyKhoTong.js"></script>
<style>
    .dshinhanhadd, .dshinhanhadd2 {
        padding: 10px;
        margin: 10px 0 0;
        border: 1px solid #ddd;
        height: 80px;
        background: #fff;
        margin-bottom: 10px;
    }
</style>
<div class="content">
    <div class='row' style="margin-bottom:10px !important;">
        <div class='pull-left'>
            <button class='btn btn-warning' id='btnNhapVatTuKhoTong'>Mua Sản Phẩm</button>
            <button class='btn btn-warning hidden' id='btnXuatVatTuKhoTong'>Xuất Sản Phẩm</button>
        </div>
        <div class='pull-right'>
            <button class='btn btn-primary' id='btnLichSuNhapVatTuKhoTong'>Lịch sử nhập</button>
            <button class='btn btn-primary' id='btnLichSuXuatVatTuKhoTong'>Lịch sử xuất</button>
        </div>
    </div>

    <div id="tabstrip">
        <ul>
            <li class="k-state-active tab_tonkhosoluong">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Tồn kho 
            </li>
            @*<li class="tab_SanPhamdatra">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Sản Phẩm đã trả
            </li>*@
        </ul>
        <div>
            <div id="gridQuanLyVatTuKhoTong"></div>
        </div>
        @*<div>
            <div id="gridSanPhamDaTra"></div>
        </div>*@
    </div>


    <div id="mdlNhapVatTuKhoTong" style="padding:0 !important;"></div>

    <div id="mdlXuatVatTuKhoTong"></div>
</div>



<div id="mdlLichSuNhapVatTuKhoTong"></div>
<script type="text/x-kendo-template" id="tplLichSuNhapVatTuKhoTong">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("loaihinh")) </label>
                <div class="input-group" style="width:100%">
                    <input id="ipLoaiHinhNhap" style="width:100%" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tungay")) </label>
                <div class="input-group" style="width:100%">
                    <input id="inputTuNgay" style="width:100%" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("denngay")) </label>
                <div class="input-group" style="width:100%">
                    <input id="inputDenNgay" style="width:100%" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group text-right">
                <label> </label>
                <div class="input-group" style="width:100%">
                    <button class="btn btn-xs btn-primary xuat-excel">@Html.Raw(Language.GetText("xuatexcel"))</button>
                </div>
            </div>
        </div>
    </div>
    <div id="gridLichSuNhapVatTuKhoTong"></div>
    <div id="mdlChiTietPhieuNhap"></div>
</script>


<div id="mdlLichSuXuatVatTuKhoTong"></div>
<script type="text/x-kendo-template" id="tplLichSuXuatVatTuKhoTong">
    <div style="margin-bottom:-10px;">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group" style="margin-left: 10px;">
                    <label>@Html.Raw(Language.GetText("tungay")) </label>
                    <div class="input-group" style="width:100%">
                        <input id="inputTuNgay2" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="margin-left: 10px;">
                    <label>@Html.Raw(Language.GetText("denngay")) </label>
                    <div class="input-group" style="width:100%">
                        <input id="inputDenNgay2" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group filter-hoadon">
                    <label>Đơn hàng:</label>
                    <div class="input-group" style="width:100%">
                        <input class="form-control text-left" style="width:100%" id="ipCongTrinhDen" required />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" style="padding: 8px 11px 8px;"><i class="icon-grid52"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group hidden">
                    <label>@Html.Raw(Language.GetText("loaihinhxuat")) </label>
                    <div class="input-group" style="width:100%">
                        <input id="ipLoaiHinhXuat" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group text-right">
                    <label> </label>
                    <div class="input-group" style="width:100%">
                        <button class="btn btn-xs btn-primary xuat-excel">@Html.Raw(Language.GetText("xuatexcel"))</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gridLichSuXuatVatTuKhoTong"></div>
    <div id="mdlChiTietPhieuXuat"></div>
</script>

<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<script type="text/x-kendo-template" id="tplTinhTrang">
    # if(TinhTrang == 1) { #
    <span class="btn btn-success btn-block no-padding">Bình Thường</span>
    # } #
    # if(TinhTrang == 2) { #
    <span class="btn btn-warning btn-block no-padding">Lỗi</span>
    # } #
    # if(TinhTrang == 3) { #
    <span class="btn btn-danger btn-block no-padding">Hỏng</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplLoaiHinh">
    # if(LoaiHinh == 1) { #
    <span class="btn btn-success btn-block no-padding">Mua</span>
    # } #
    # if(LoaiHinh == 2) { #
    <span class="btn btn-info btn-block no-padding">Sản Xuất</span>
    # } #
    # if(LoaiHinh == 3) { #
    <span class="btn btn-warning btn-block no-padding">Sản phẩm trả về</span>
    # } #
</script>
<div id="mdlTraSanPham"></div>
@* Template *@

<script type="text/x-kendo-template" id="tpltraSanPham">
    <div class="row">
        <div class="form-group" style="float:left">
            <label for="ThoiGianTra" style="text-align:right">@Html.Raw(Language.GetText("thoigiannhap"))</label>
            <input id="ThoiGianTra" name="thoigiantra" style="width:200px !important" />
        </div>
        <div class="pull-right">
            <button class=" btn btn-warning" id="btnLuuTraSanPham">
                <i class="glyphicon glyphicon-upload"></i> Trả Sản Phẩm
            </button>
        </div>
    </div>
    <div id="gridDanhSachVatTuTra"></div>
    <div style="margin-top:15px">
        <label>@Html.Raw(Language.GetText("anhdinhkem"))</label>
        <div class="row">
            <div class="col-md-12">
                <div class="dshinhanhadd2" style="margin-top:10px;">

                </div>
            </div>
        </div>

    </div>
    <div style="margin-top:15px">

        <div class="fileUpload btn btn-primary pull-left" style="margin-left:10px">
            <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("themanh"))</span>
            <input type="file" id="files_02" name="files_02" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple" onchange="loadimgSuaChua3(this)">
        </div>

    </div>
</script>