body{
    font-size: 11px;
}
.sidebar-fixed .sidebar-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	display:none;
}
.soluongcheck,
.dongianhap {
    background-color: #ffffe6;
    text-align:right;
}
.sidebar-fixed .sidebar-content::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
	display:none;
}

.sidebar-fixed .sidebar-content::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
	display:none;
}
label {
    margin-bottom: 6px;
    font-weight: 600 !important; 
}
.siderbar-show{
	width: 260px;
    display: table-cell !important;
    vertical-align: top;
    position: relative;
    border-right: 1px solid #ddd;
    background-color: #fff;
}
.btn-float>span{
	font-size:11px;
}
.k-autocomplete.k-state-focused{
	box-shadow:none !important;
	background-color:#fff !important;
}
.sidebar-default{}
.k-filter-row th, .k-grid-header th.k-header{white-space: normal !important;text-align:center !important;}
.radio-inline .choice{top:-1px;}
.disable{color:#ccc !important;}
.k-filter-row{background:#ebebeb;}
.layout-abs{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background: #fff;
}
.layout-abs:hover{
    opacity:0.9;
}
.layout-abs-middle{
    padding: 16px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: steelblue;
    color: #fff;
    cursor: pointer;
}
.k-button.k-button-icontext .k-icon{
    vertical-align:sub !important;
}
.k-primary{
        background: #00b0ff !important;
    color: #fff !important;
    border-color: #00b0ff !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color: teal;
    color: #fff;
}
.objupload{    
    width: 90px;
    height: 90px;
    box-shadow: 0px 0px 2px 0px #ccc;
}
.objupload i{
    font-size: 37px;
    padding: 27px;
}
.objupload input[type=file]{
    position: absolute;
    top: 0;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 90px;
    height: 90px;
    opacity: 0;
    cursor: pointer;
}
.icross{
        position: absolute;
    background: red;
    z-index: 999;
    padding: 3px;
    color: #fff;
    right: 6px;
}
.k-input{height:32px !important;line-height: 31px !important;}
.datatable-responsive-custom thead tr th{background:#4682B4;color:#fff; font-weight:bold; text-align:center;}
.k-grid-cancel{display:none;}
.errorReq{border-color:red !important;}
.footable-row-detail-name{font-weight:bold;}
.disable{background:#ddd !important;color: #000 !important;}
.disfunction div{    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;}
.select2-container{font-size:13px;}
.form-control{font-size:11px !important;}
/*---------------------------------------------------------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.k-header .k-link {
    text-align: center;
    font-weight: bold;
}

.k-filtercell > .k-operator-hidden {
    padding-right: 0 !important;
}

.k-datetimepicker {
    width: auto !important;
}

.k-dropdown .k-state-default {
    border-color: #e6e6e6 !important;
}

.choduyet {
    background-color: dodgerblue;
}

.thongke {
    position: fixed;
    width: 225px;
    height: 96px;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #333;
    text-align: left;
    padding: 15px 0 15px 30px;
}

.k-grid td {
    padding: 8px 5px !important;
}

.k-grid th {
    padding: 5px !important;
}

    .k-grid th a {
        padding: 5px !important;
    }

table thead tr .k-header {
    background-color: #5C6DC4 !important;
}

    table thead tr .k-header a {
        color: #fff !important;
    }

table thead tr .k-filtercell {
    background-color: #e6e6e6 !important;
}

.k-header.k-grid-toolbar {
    background-color: #FAFAFA;
    border-bottom: 1px solid #e6e6e6 !important;
    color: #111;
    text-align:right;
}
.k-grid-add{
    background:#f39c12 !important;
    border-color: #e08e0b !important;
    margin-right: 13px !important;
}
.k-grid-delete{
    background-color: #dd4b39 !important;
    border-color: #d73925 !important;
    color:white !important;
    font-weight:bold;

}
.k-grid-delete .k-icon{
    opacity:1 !important;
}
.k-window-titlebar.k-header {
    background-color: #5C6DC4 !important;
    padding: 15px 0;
}

.k-button.k-bare.k-button-icon.k-window-action .k-icon.k-i-close {
    padding: 5px !important;
    background-color: #414c85 !important;
}

    .k-button.k-bare.k-button-icon.k-window-action .k-icon.k-i-close:hover {
        background-color: #414c85;
    }
/*#mdlDieuTuyen {
    overflow-x: hidden;
}*/

.k-window .row .k-window .row .col-xs-1, .k-window .row .col-xs-1, .k-window .row .col-sm-1, .k-window .row .col-md-1, .k-window .row .col-lg-1, .k-window .row .col-xs-2, .k-window .row .col-sm-2, .k-window .row .col-md-2, .k-window .row .col-lg-2, .k-window .row .col-xs-3, .k-window .row .col-sm-3, .k-window .row .col-md-3, .k-window .row .col-lg-3, .k-window .row .col-xs-4, .k-window .row .col-sm-4, .k-window .row .col-md-4, .k-window .row .col-lg-4, .k-window .row .col-xs-5, .k-window .row .col-sm-5, .k-window .row .col-md-5, .k-window .row .col-lg-5, .k-window .row .col-xs-6, .k-window .row .col-sm-6, .k-window .row .col-md-6, .k-window .row .col-lg-6, .k-window .row .col-xs-7, .k-window .row .col-sm-7, .k-window .row .col-md-7, .k-window .row .col-lg-7, .k-window .row .col-xs-8, .k-window .row .col-sm-8, .k-window .row .col-md-8, .k-window .row .col-lg-8, .k-window .row .col-xs-9, .k-window .row .col-sm-9, .k-window .row .col-md-9, .k-window .row .col-lg-9, .k-window .row .col-xs-10, .k-window .row .col-sm-10, .k-window .row .col-md-10, .k-window .row .col-lg-10, .k-window .row .col-xs-11, .k-window .row .col-sm-11, .k-window .row .col-md-11, .k-window .row .col-lg-11, .k-window .row .col-xs-12, .k-window .row .col-sm-12, .k-window .row .col-md-12, .k-window .row .col-lg-12 {
    box-sizing: border-box !important;
}

.k-tabstrip, .k-tabstrip *, .k-tabstrip :before {
    box-sizing: border-box !important;
}

.row {
    margin: 0px !important;
}

.side-nav {
    bottom: 96px;
}

table.bangCT tr td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

td.sum {
    line-height: 37px !important;
}

.k-tabstrip-wrapper {
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.14);
}

.k-grid-content tr td {
    border-left-width: 1px !important;
    border-bottom-width: 1px !important;
}

.panel-default > .panel-heading {
    font-weight: bold;
}

.table > tbody > tr > td {
    border-top: 1px solid #eee !important;
    padding: 4px 10px;
}
.table > tfoot > tr > td{
    padding: 4px 10px;
    font-weight:bold;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-color: #ddd;

}

/*CusstomCSS.css*/
.k-filtercell > span {
    padding-right: 0 !important;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.k-filtercell > .k-operator-hidden {
    padding-right: 0 !important;
}

.k-grid-header th.k-header > .k-link {
    color: #fff !important;
}
.k-detail-cell .k-grid-header .k-header {
    background-color: #5a537c !important;
}
.k-dropdown .k-state-default {
    border-color: #ddd !important;
}



.k-grid tr td {
    overflow: visible !important;
    text-align: center;
}

.k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
    border-color: #e6e6e6 !important;
}

.k-header .k-link {
    text-align: center;
}

.detailsHis {
    text-decoration: none;
    cursor: pointer;
}

.chitietleft {
    float: left;
    width: 49%;
}

.chitietright {
    float: right;
    width: 49%;
    line-height: 32px;
    font-size: 16px;
}

    .chitietright span {
        font-weight: bold;
    }

.img-con img {
    width: 29.33%;
    height: 100px;
    margin: 10px 5px;
}

.vl {
    font-weight: inherit !important;
}

.chitietleft img {
    border: 1px solid #ccc;
}

.k-grouping-row td {
    text-align: left !important;
}

.k-window-titlebar {
    height: 23px !important;
}

.clear {
    clear: both;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    vertical-align: middle;
}


.fileUpload {
    position: relative;
    overflow: hidden;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.rev {
    position: absolute;
    right: -8px;
    padding: 2px 5px;
    background: red;
    color: #fff;
    top: -8px;
    border-radius: 50%;
    cursor: pointer;
}

.demhan {
    background-color: red;
    color: white;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    font-size: 10px
}

td .process {
    line-height: 34px;
}

div.k-tabstrip:focus {
    box-shadow: none;
}

#notificationBaoDuong {
    background: #fff;
    position: fixed;
    height: auto;
    max-width: 250px;
    z-index: 1000;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    right: 15px;
    bottom: 15px;
}

    #notificationBaoDuong .alert {
        margin-bottom: 0 !important;
    }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    box-sizing: border-box !important;
}

.spHetHang {
    cursor: pointer;
}

    .spHetHang:hover {
        text-decoration: underline;
    }

.imgGenSuaChua {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    position: relative;
    float: left;
}

    .imgGenSuaChua img {
        width: 100%;
        height: 100%;
    }

    .imgGenSuaChua div {
        position: absolute;
        padding: 0px 5px;
        border-radius: 50%;
        background: red;
        color: #fff;
        top: 0;
        right: 0;
        cursor: pointer;
    }

#thietbisudung_listbox .k-state-selected {
    color: red;
}

.closeGenImgSuaChua {
    position: absolute;
    padding: 0px 5px;
    border-radius: 2px;
    background: red;
    color: #fff;
    top: 0;
    right: 0;
    cursor: pointer;
}


.k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup, .k-datepicker .k-input, .k-timepicker .k-input {
    box-sizing: content-box !important;
}

.k-tabstrip > .k-button {
    position: absolute !important;
}
.k-edit-form-container{width:auto !important;}
.k-grid-header th.k-header {
    text-align: center;
    color: #fff;
}
.k-content {
    padding: 15px !important;
}
.k-link{
    
}
.k-grid-delete .k-i-delete{
    background-position: -48px -16px !important;
}
.k-grid-add{
    color:white !important;
}
.k-grid-add .k-i-plus{
   background-position: -48px -64px !important;
}
/*.grid-title{
    position: absolute;
    top: 10px;
    left: 21px;
    z-index: 10;
}*/
.download{
            display:none;
        }
       .img-responsive:hover .download{
            display:block;
            position: absolute;
            right: 6px;
            bottom: -37px;
            width: 90px;
            background: black;
            color: white;
            height: 40px;
            line-height: 40px;
            text-align: center;
            opacity: 0.8;
        }
.modal-content{
    background-clip:initial !important;
}
.k-grid-content tr td{
    padding-left:5px !important;
    padding-right:5px !important;
}
.ahihi3{
    transform: initial !important;
}
.odd{background: #E8E8E3;}
.table tr:hover{background:#B2B2B2;}