.bodylogin{
	/*background: url('../../Images/img/dfloginbng.jpg') repeat-x scroll 260px bottom #E6F0F7;*/
    background: url('../../Images/img/dfloginbng.jpg');
    background-size: 100% 100%;
}

html, body {
    margin: 0;
    height: 100%;
}

