﻿<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Scripts/BaoCao/BaoCaoDonDatHang.js"></script>
<div class="content">
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <p style="font-size:18px;font-weight: bold;line-height:35px;">
                    Nhà cung cấp: CÔNG TY TNHH DVTM TÂN HÙNG MINH <br>
                    Mã số thuế: 0101918237<br>
                    Số tài khoản: 119000078490 - tại Ngân hàng Công thương Việt Nam CN Đông Hà Nội<br>
                    Thương hiệu: DỆT MAY SAPODILL<br>
                    * Địa Chỉ: Khu sinh thái Minh Thu - Xóm 9 Ninh Hiệp - Gia Lâm - Hà Nội<br>
                    * ĐT: 0986 111 666 ( Giám đốc sản xuất Nguyễn Xiêm)<br>
                    * Email: sapodill@gmail.com<br>
                    * Website: sapodill.vn
                </p>
            </div>
        </div>
        <div class="col-lg-4" style="line-height:2.0;">
            <div class="form-group">
                <div class="input-group" style="width:100%;">
                    Đối tác:<input type="text" class="form-control" id="inputDoiTac" name="inputDoiTac" data-bind="value:inputDoiTac" placeholder='Chọn đối tác' />
                </div>
            </div>
            <span style="font-size:15px;">Mã số thuế: </span><span id="inputMST" style="font-size:15px;font-weight: bold;"></span><br />
            <span style="font-size:15px;">Số tài khoản:</span><span id="inputSTK" style="font-size:15px;font-weight: bold;"></span><br />
            <span style="font-size:15px;">Địa chỉ:</span><span id="inputDC" style="font-size:15px;font-weight: bold;"></span><br />
            <span style="font-size:15px;">Đại diện khách hàng:</span>................................................................................<br />
            <span style="font-size:15px;">Điện thoại:</span><span id="inputDT" style="font-size:15px;font-weight: bold;"></span><br />
            <span style="font-size:15px;">Email:</span><span id="inputEmail" style="font-size:15px;font-weight: bold;"></span><br />
        </div>
    </div>
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<script type="text/x-kendo-template" id="tplToolbar">
    <div class="toolbar row">
        <div class="pull-left">
            @Html.Raw(Language.GetText("tungay"))  :
            <input type="search" id="inputTuNgay" />
            @Html.Raw(Language.GetText("denngay")) :
            <input type="search" id="inputDenNgay" />
            Chọn đơn hàng: 
            <input type="search" id="inputDonHang" style="width:300px !important;" class="text-center"/>
        </div>
        <div class="pull-right">
            <button id="btnXuatExcelBaoCao" class="btn btn-primary">Xuất Excel Báo Cáo</button>
        </div>
    </div>
</script>