﻿<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Scripts/BaoCao/BaoCaoTinhTrangNguyenLieu.js"></script>
<div class="content">
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="tplLoaiNguyenLieu">
    # if(Type == 1) { #
    <span class="btn btn-success btn-block no-padding">Dệt</span>
    # } #
    # if(Type == 2) { #
    <span class="btn btn-info btn-block no-padding">May</span>
    # } #
    # if(Type == 3) { #
    <span class="btn btn-primary btn-block no-padding">Phụ kiện</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplTinhTrangNguyenLieu">
    # if(TinhTrang == 2) { #
    <span class="btn btn-success btn-block no-padding">Còn đủ tồn</span>
    # } #
    # if(TinhTrang == 1) { #
    <span class="btn btn-danger btn-block no-padding">Cần nhập thêm</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>