﻿@{
    ViewBag.Title = "Nhóm nguyên liệu";
}
<script type="text/javascript" src="~/Scripts/DanhMuc/NhomNguyenLieu.js"></script>
<div class="content">
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        <button id="btnAdd" class="k-button k-button-icontext k-grid-add"><span class="k-icon k-i-add"></span> Thêm mới</button>
    </div>
</script>
<div id="mdlAddOrUpdate"></div>
<script type="text/x-kendo-template" id="tplAddOrUpdate">
    <div id="frm">
        <input id="NhomNguyenLieuID" name="NhomNguyenLieuID" data-bind="value:NhomNguyenLieuID" type="text" class="hidden" />
        <div class="form-group">
            <label>Tên nhóm nguyên liệu</label>
            <input id="TenNhomNguyenLieu" type="text" class="form-control" name="TenNhomNguyenLieu" data-bind="value:TenNhomNguyenLieu" placeholder="Nhập vào tên nhóm nguyên liệu" required data-required-msg="Tên nhóm không được trống" style="box-sizing:border-box">
        </div><!-- /.form-group -->
    </div>
    <div class="row">
        <a id="btnLuu" class="btn btn-primary btn-lg pull-right" style="margin-top:10px !important;">Lưu</a>
        <a id="btnXoa" class="btn btn-danger btn-lg pull-left hidden" style="margin-top:10px !important; margin-right: 10px !important">Xóa</a>
    </div>
</script>