﻿@{
    ViewBag.Title = "Chấm công theo sản phẩm";
}
<script type="text/javascript" src="~/Scripts/HanhChinh/ChamCongSanPham/ChamCongSanPham.js"></script>

<div class="content">
    <div class="row" style="margin-bottom: 10px !important;">
        <div class="col-sm-4">
            <label for="inputThoiGian">Chọn thời gian</label>
            <input id="inputThoiGian" style="width:100%; text-align:center;" />
        </div>
        <div class="col-sm-1 pull-right">
            <button id="btnLuuDuLieuChamCong" class="btn btn-success pull-right" style="margin-top:20px;"><i class="far fa-check-circle"></i>  Lưu dữ liệu</button>
        </div>
    </div>
    <div id="grid"></div>
</div>
