﻿@{
    ViewBag.Title = "Yêu cầu khách hàng";
    var listsize = new List<string>() { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "9T", "12T", "18T", "24T", "XS", "S", "M", "L", "XL", "XXL" };
}
<link href="/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="/Content/lib/fncUploadFile.js"></script>
<script type="text/javascript" src="~/Scripts/NghiepVu/KhachHang/YeuCauKhachHang.js"></script>
<style>
    .k-edit-form-container {
        width: 100%;
    }

    .dshinhanhadd {
        padding: 10px;
        border: 1px solid #ddd;
        height: 90px;
        background: #ddd;
    }

    .btn-outline-secondary {
        color: #fff !important;
        background-color: #0c7cd5 !important;
        background-image: none !important;
        border-color: #ddd !important;
    }
</style>



<div class="content">
    <div id="grid"></div>
</div>

<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        @*<span class="btn btn-primary btnexcel">@Html.Raw(Language.GetText("xuatexcel"))</span>
            <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
            <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>*@
        <button id="btnAdd" class="btn btn-warning k-btn k-grid-add"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm mới</button>
    </div>
</script>
<script type="text/x-kendo-template" id="tlbgridChiTietYeuCau">
    <button id="btnLichSuSua" class="btn btn-default btn-lg pull-left hidden"><i class="fas fa-history"></i> Lịch sử sửa</button>
    <button id="btnThemChiTiet" class="btn btn-success btn-lg"><i class="fas fa-plus"></i></button>
</script>
<div id="mdlLichSuSua"></div>
<script type="text/x-kendo-template" id="tplLichSuSua">
    <div id="gridLichSuSua"></div>
</script>
<div id="mdlThemMoiChiTietYeuCau"></div>
<script type="text/x-kendo-template" id="tplThemMoiChiTietYeuCau">
    <div id="frm">
        <div class="form-group">
            <label>Tên sản phẩm</label>
            <input id="TenSanPham" style="width:100%; box-sizing:border-box" name="TenSanPham" type="text" class="form-control" placeholder="Tên sản phẩm" aria-describedby="basic-addon2" data-bind="value:TenSanPham" required data-required-msg="Tên sản phẩm không được trống">
        </div><!-- /.form-group -->
        <div class="form-group">
            <label>Đặc điểm</label>
            <textarea id="DacDiem" rows="8" cols="50" style="width:100%; box-sizing:border-box" name="DacDiem" class="form-control" placeholder="Đặc điểm" aria-describedby="basic-addon2" data-bind="value:DacDiem"></textarea>
        </div><!-- /.form-group -->
        <div class="form-group">
            <label>Chất liệu</label>
            <input id="ChatLieu" style="width:100%; box-sizing:border-box" name="ChatLieu" type="text" class="form-control" placeholder="Chất liệu sản phẩm" aria-describedby="basic-addon2" data-bind="value:TenSanPham">
        </div><!-- /.form-group -->
        <div class="form-group">
            <label>Màu chính</label>
            <input id="Mau" style="width:100%; box-sizing:border-box" name="Mau" type="text" class="form-control" placeholder="Màu sản phẩm" aria-describedby="basic-addon2" data-bind="value:Mau" required data-required-msg="Màu chính sản phẩm không được trống">
        </div><!-- /.form-group -->
        <div class="form-group">
            <label>Màu phối</label>
            <input id="MauPhoi" style="width:100%; box-sizing:border-box" name="MauPhoi" type="text" class="form-control" placeholder="Màu phối sản phẩm" aria-describedby="basic-addon2" data-bind="value:MauPhoi" required data-required-msg="Màu phối sản phẩm không được trống">
        </div><!-- /.form-group -->
        <div class="form-group" style="padding-right:30px !important;">
            <label>Ghi chú (nếu có)</label>
            <textarea id="YeuCauKhac" rows="8" cols="50" class="form-control" name="YeuCauKhac" data-bind="value:YeuCauKhac"></textarea>
        </div><!-- /.form-group -->
        <div class="row">
            <button id="btnTiepTuc" class="btn btn-success btn-lg pull-right">Tiếp tục</button>
        </div>
    </div>
</script>
<div id="mdlChonSize"></div>
<script type="text/x-kendo-template" id="tplChonSize">
    <div id="DanhSachSize">
        <div class="row">
            @foreach (var i in listsize.Take(12))
            {
                <div class="col-xs-1">
                    <div class="form-check" style="font-size: 16px;">
                        <input type="checkbox" id="size-@i" value="@i" class="form-check-input biggerCheckbox" />
                        <label class="form-check-label" for="size-@i">
                            @i
                        </label>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @foreach (var i in listsize.Skip(12).Take(12))
            {
                <div class="col-xs-1">
                    <div class="form-check" style="font-size: 16px;">
                        <input type="checkbox" id="size-@i" value="@i" class="form-check-input biggerCheckbox" />
                        <label class="form-check-label" for="size-@i">
                            @i
                        </label>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @foreach (var i in listsize.Skip(24).Take(12))
            {
                <div class="col-xs-1">
                    <div class="form-check" style="font-size: 16px;">
                        <input type="checkbox" id="size-@i" value="@i" class="form-check-input biggerCheckbox" />
                        <label class="form-check-label" for="size-@i">
                            @i
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-success pull-right btn-lg" id="btnLuuDanhSachSize"><i class="glyphicon glyphicon-ok"></i>  Tiếp tục</button>
    </div>
</script>
<div id="mdlThemMoiYeuCauKhachHang"></div>
<script type="text/x-kendo-template" id="tplThemMoiYeuCauKhachHang">
    <div class="row">
        <div id="frmThemMoiYeuCauKhachHang">
            <div class="row">
                <input id="YeuCauKhachHangID" name="YeuCauKhachHangID" data-bind="value:YeuCauKhachHangID" type="text" class="hidden" />
                <div class="form-group col-xs-4">
                    <label>Đối tác</label>
                    <input id="cbbDoiTac" style="width:100%; box-sizing:border-box" name="cbbDoiTac" type="text" class="form-control" placeholder="Chọn đối tác" aria-describedby="basic-addon2" data-bind="value:DoiTacID" required data-required-msg="Đối tác không được trống">
                </div><!-- /.form-group -->
                <div class="form-group col-xs-4">
                    <label>Loại yêu cầu</label>
                    <input id="TinhTrang" style="width:100%; box-sizing:border-box" name="TinhTrang" type="text" class="form-control" placeholder="Chọn đối tác" aria-describedby="basic-addon2" data-bind="value:TinhTrang" required data-required-msg="Loại yêu cầu không được trống">
                </div><!-- /.form-group -->
                <div class="form-group col-xs-4">
                    <label>Loại hình</label>
                    <input id="LoaiHinhSanXuat" style="width:100%; box-sizing:border-box" name="LoaiHinhSanXuat" type="text" class="form-control" data-bind="value:LoaiHinhSanXuat" required data-required-msg="Chọn loại hình">
                </div><!-- /.form-group -->
                @*<div class="form-group" style="padding-right:30px !important;">
                        <label>Nội dung</label>
                        <textarea id="NoiDung" rows="4" cols="50" class="form-control" name="NoiDung" data-bind="value:NoiDung" required data-required-msg="Nội dung không được trống"></textarea>
                    </div>*@
                <div id="iptSize" class="form-group col-xs-4">
                    <label>Size</label>
                    <input id="Size" style="width:100%; box-sizing:border-box" name="Size" type="text" class="form-control" placeholder="Size" aria-describedby="basic-addon2" data-bind="value:Size" readonly="readonly">
                </div><!-- /.form-group -->
                <div class="form-group col-xs-4">
                    <label>Số lượng đặt</label>
                    <input id="SoLuongDat" style="width:100%; box-sizing:border-box" name="SoLuongDat" type="text" class="form-control" placeholder="Số lượng khách đặt" aria-describedby="basic-addon2" data-bind="value:SoLuongDat">
                </div><!-- /.form-group -->
                <div class="form-group col-xs-4">
                    <label>Giá bán</label>
                    <input id="GiaBan" style="width:100%; box-sizing:border-box" name="GiaBan" type="text" class="form-control" placeholder="Giá bán" aria-describedby="basic-addon2" data-bind="value:GiaBan">
                </div><!-- /.form-group -->
                <div class="form-group col-xs-4">
                    <label>Lịch giao hàng</label>
                    <input id="ThoiGianGiaoHang" style="width:100%; box-sizing:border-box" name="ThoiGianGiaoHang" type="text" class="form-control" placeholder="Thời gian giao hàng" aria-describedby="basic-addon2" data-bind="value:ThoiGianGiaoHang">
                </div><!-- /.form-group -->
            </div>
            <div class="row">
                <div id="gridChiTietYeuCau"></div>
            </div>
            <div class="row">
                <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                    <div class="dshinhanhadd">
                    </div>
                    <div class="fileUpload btn btn-primary pull-left btn-lg" style="margin-top:10px">
                        <span><i class="fa fa-camera" aria-hidden="true"></i>  Thêm ảnh</span>
                        <input type="file" id="files_0" name="files_0" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple">
                    </div>
                    <a id="btnLuuThemMoi" class="btn btn-primary pull-right btn-lg" style="margin-top:10px !important;">Lưu</a>
                    <a id="btnChotYeuCau" class="btn btn-success pull-right btn-lg hidden" style="margin-right: 10px !important; margin-top: 10px !important;">Chốt yêu cầu</a>
                    <a id="btnXoa" class="btn btn-danger pull-left hidden btn-lg" style="margin-top:10px !important; margin-left: 10px !important">Xóa</a>
                    <div class="toolVatTu pull-right" style="margin-top:10px;"></div>
                </div>
            </div>
        </div>
        @*<div class="col-xs-8">
                <div class="row">
                    <div class="btn btn-warning" id="btnChonNguyenLieu">Chọn nguyên liệu</div>
                </div>
                <div id="gridDinhNghia">

                </div>
            </div>*@
    </div>

</script>



<script type="text/x-kendo-template" id="tplTrangThai">
    # if(TrangThai == 1) { #
    <span style="color:darkred; font-weight:bold; font-size:14px;">Chưa bắt đầu</span>
    # } #
    # if(TrangThai == 7) { #
    <span style="color:aliceblue; font-weight:bold; font-size:14px;">Chưa báo giá</span>
    # } #
    # if(TrangThai == 5) { #
    <span style="color:green; font-weight:bold; font-size:14px;">Đã duyệt</span>
    # } #
    # if(TrangThai == 2) { #
    <span style="color:lightskyblue; font-weight:bold; font-size:14px;">Đang sản xuất</span>
    # } #
    # if(TrangThai == 3) { #
    <span style="color:blue; font-weight:bold; font-size:14px;">Hoàn thành sản xuất</span>
    # } #
    # if(TrangThai == 4) { #
    <span style="color:blueviolet; font-weight:bold; font-size:14px;">Đã bàn giao</span>
    # } #
    # if(TrangThai == 6) { #
    <span style="color:coral; font-weight:bold; font-size:14px;">Đã thanh toán xong</span>
    # } #
    # if(TrangThai == 8) { #
    <span style="color:darkgrey; font-weight:bold; font-size:14px;">Đã hủy</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplTrangThaiYeuCau">
    # if(TrangThaiYeuCau == 1) { #
    <span style="color:forestgreen; font-weight:bold; font-size:14px;">Đã chọn nguyên liệu</span>
    # } #
    # if(TrangThaiYeuCau == 2) { #
    <span style="color:royalblue; font-weight:bold; font-size:14px;">Chưa chọn nguyên liệu</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplTinhTrang">
    # if(TinhTrang == 1) { #
    <span class="btn btn-default btn-block no-padding">Bình thường</span>
    # } #
    # if(TinhTrang == 2) { #
    <span class="btn btn-danger btn-block no-padding">Gấp</span>
    # } #
    # if(TinhTrang == 3) { #
    <span class="btn btn-success btn-block no-padding">Yêu cầu đã chốt</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplLoaiHinh">
    # if(LoaiHinhSanXuat == 1) { #
    <span class="btn btn-primary btn-block no-padding">May</span>
    # } #
    # if(LoaiHinhSanXuat == 2) { #
    <span class="btn btn-success btn-block no-padding">Dệt</span>
    # } #

</script>

<div id="mdlDanhSachNguyenLieu"></div>
<script type="text/x-kendo-template" id="tplDanhSachNguyenLieu">
    <div id="gridDanhSachNguyenLieu"></div>
    <div style="margin-top:15px;">
        <div class="pull-right">
            <button class="btn btn-default" id="btnHuyChonVatTu"><i class="glyphicon glyphicon-share-alt"></i> @Html.Raw(Language.GetText("huy"))</button>
            <button class="btn btn-success" id="btnDongY"><i class="glyphicon glyphicon-ok"></i> @Html.Raw(Language.GetText("dongy"))</button>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<script type="text/x-kendo-template" id="tplLoaiNguyenLieu">
    # if(Type == 1) { #
    <span class="btn btn-success btn-block no-padding">Dệt</span>
    # } #
    # if(Type == 2) { #
    <span class="btn btn-info btn-block no-padding">May</span>
    # } #
    # if(Type == 3) { #
    <span class="btn btn-info btn-block no-padding">Phụ kiện</span>
    # } #
</script>
