﻿<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Scripts/NghiepVu/Kho/ThanhPham/QuanLyKhoDangSanXuat.js"></script>
<style>
    .table tr:hover {
        background: none !important;
    }
</style>
<div class="content">
    <div class="row" style="margin-bottom:10px;">
        <label>Hóa đơn</label>
        <input type="text" id="HoaDonID" style="width:500px"/>
    </div>
    <div id="gridKhoThanhPhamDangSanXuat" style="margin-top:10px;"></div>
</div>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>