﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("nhomdichvu"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<script type="text/javascript" src="~/Scripts/DanhMuc/DMNhomDichVu.js"></script>
<div class="content">
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="tempLoaiHinh">
    # if(LoaiHinh != undefined && LoaiHinh == 1) { #
    <span>#:GetTextLanguage("ccdc")#</span>
    # } #
    # if(LoaiHinh != undefined &&LoaiHinh == 2) { #
    <span>
        #: GetTextLanguage("thietbi")#
    </span>
    # } #
    # if(LoaiHinh != undefined &&LoaiHinh == 3) { #
    <span>
        #: GetTextLanguage("vattu")#
    </span>
    # } #
    # if(LoaiHinh != undefined &&LoaiHinh == 4) { #
    <span>
        #: GetTextLanguage("vanchuyen")#
    </span>
    # } #
    # if(LoaiHinh != undefined &&LoaiHinh == 5) { #
    <span>
        #: GetTextLanguage("taichinh")#
    </span>
    # } #
    # if(LoaiHinh != undefined &&LoaiHinh == 6) { #
    <span>
        #: GetTextLanguage("chudautu")#
    </span>
    # } #
    # if(LoaiHinh != undefined &&LoaiHinh == 7) { #
    <span>
        #: GetTextLanguage("khac")#
    </span>
    # } #
</script>
<script type="text/x-kendo-template" id="popup_editor">
    <div id="content-edit">
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("nhomdichvu"))</label>
            <div class="input-group" style="width:100%">
                <input type="text" class="form-control" id="TenNhomDichVu" name="TenNhomDichVu" data-bind="value:TenNhomDichVu" style="width:100%" required />
            </div>
        </div>
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("loaihinh"))</label>
            <div class="input-group" style="width:100%">
                <input type="text" id="LoaiHinh" name="LoaiHinh" data-bind="value:LoaiHinh" style="width:100%" required  data-required-msg="@Html.Raw(Language.GetText("chonloaihinh"))"/>
            </div>
        </div>
    </div>
</script>
