﻿@{
    ViewBag.Title = Language.GetText("nghiepvu_quanlyvattu_quanlyvattu");
    bool coquyensuachua = true;
    if (DFWeb.Security.CookiePersister.getAcountInfo().Roles.Contains(DFWeb.Common.WebConst.WebPhongVatTu) && DFWeb.Security.CookiePersister.getAcountInfo().Roles.Contains(DFWeb.Common.WebConst.WebKTKH))
    {
        coquyensuachua = false;
    }
}
<script type="text/javascript" src="~/Scripts/fncUploadFile.js"></script> 
<script type="text/javascript" src="~/Scripts/KendoJS/lib.js"></script>
<script type="text/javascript" src="~/Scripts/KendoJS/VatTu/dataVatTu.js"></script>
<script type="text/javascript" src="~/Scripts/KendoJS/VatTu/QuanLyVatTu.js"></script>
<link href="~/Scripts/KendoJS/QuanLyThietBi/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/KendoJS/QuanLyThietBi/jquery.fullscreenslides.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/assets/customcss.css" />
<style>
    .k-edit-form-container {
        width: 100%;
    }

    .btn-action-grid {
        margin: 0 5px;
    }

    .dropdown-header {
        border-width: 0 0 1px 0;
        text-transform: uppercase;
    }

        .dropdown-header > span {
            display: inline-block;
            padding: 10px;
        }

            .dropdown-header > span:first-child {
                width: 50px;
            }

    .k-list-container > .k-footer {
        padding: 10px;
    }

    .selected-value {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        background-size: 100%;
        margin-right: 5px;
        border-radius: 50%;
    }

    #customers-list .k-item {
        line-height: 1em;
        min-width: 200px;
    }

    /* Material Theme padding adjustment*/

    .k-material #customers-list .k-item,
    .k-material #customers-list .k-item.k-state-hover,
    .k-materialblack #customers-list .k-item,
    .k-materialblack #customers-list .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }

    #customers-list .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }

        #customers-list .k-item > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    #customers-list h3 {
        font-size: 1.2em;
        margin: 0 0 1px 0;
        padding: 0;
        color: #0094ff;
    }

    #customers-list p {
        margin: 5px 0 0 0;
        padding: 0;
        font-size: 15px;
    }

        #customers-list p span {
            color: #ff0000
        }


    .k-material #nguoinhans-list .k-item,
    .k-material #nguoinhans-list .k-item.k-state-hover,
    .k-materialblack #nguoinhans-list .k-item,
    .k-materialblack #nguoinhans-list .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }

    #nguoinhans-list .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }

        #nguoinhans-list .k-item > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    #nguoinhans-list h3 {
        font-size: 1.2em;
        margin: 0 0 1px 0;
        padding: 0;
        color: #0094ff;
    }

    #nguoinhans-list p {
        margin: 5px 0 0 0;
        padding: 0;
        font-size: 15px;
    }

        #nguoinhans-list p span {
            color: #ff0000;
        }

    th {
        text-align: center !important;
    }

    .dshinhanhadd {
        margin: 10px 0 0;
        border: 1px solid #ddd;
        height: 117px;
    }

    .itemsVT {
        padding: 5px 0;
        border-top: 1px solid #ddd;
    }

    .sc {
        margin: 10px 0;
        border-bottom: 1px solid #ddd;
    }

    .k-grid-header th.k-header {
        padding: .786em .6em;
    }

    .point {
        cursor: pointer;
    }

    .xemdoi.selected {
        background-color: #9e670f !important;
    }
</style>

<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd" style="text-align:left">
        <button id="btnCtDangThiCong" class="btn btn-warning k-btn k-grid-add xemdoi" data-tinhtrang="0"> @Html.Raw(Language.GetText("congtrinhdangthicong"))</button>
        <button id="btnCtDaHoanThanh" class="btn btn-warning k-btn k-grid-add xemdoi" data-tinhtrang="1"> @Html.Raw(Language.GetText("congtrinhdahoanthanh"))</button>
    </div>
</script>
<script type="text/x-kendo-template" id="btnQuanLy">
    <div class="toolbarAdd2">
        <button id="btnexcel" class="btn btn-primary k-btn"><i class="fa fa-file-excel-o" aria-hidden="true"></i> @Html.Raw(Language.GetText("xuatexcel"))</button>
        <button id="btnQlNhap" class="btn btn-warning k-btn k-grid-add"> @Html.Raw(Language.GetText("quanlynhapkho"))</button>
        <button id="btnQlXuat" class="btn btn-warning k-btn k-grid-add"> @Html.Raw(Language.GetText("quanlyxuatkho"))</button>
    </div>
</script>
<script type="text/x-kendo-template" id="btnQuanLy2">
    <div class="toolbarAdd2">
        <button id="btnKhoTong" class="btn btn-success k-btn"> @Html.Raw(Language.GetText("xemtheocongtrinh"))</button>
        <button id="btnexcel" class="btn btn-primary k-btn"><i class="fa fa-file-excel-o" aria-hidden="true"></i> @Html.Raw(Language.GetText("xuatexcel"))</button>
        <button id="btnQlNhap" class="btn btn-warning k-btn k-grid-add"> @Html.Raw(Language.GetText("quanlynhapkho"))</button>
        <button id="btnQlXuat" class="btn btn-warning k-btn k-grid-add"> @Html.Raw(Language.GetText("quanlyxuatkho")) </button>
    </div>
</script>
<div id="gridTonVatTuTong"></div>


<script id="popup_editor" type="text/x-kendo-template">
    <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("tenvattu"))</label>
            <input type="text" class="form-control" name="TenVatTu" data-bind="value:TenVatTu" placeholder=@Html.Raw(Language.GetText("tenvattu")) required data-required-msg="@Html.Raw(Language.GetText("tenvatturong"))" style="box-sizing:border-box">
        </div><!-- /.form-group -->

    </div><!-- /.col -->
    <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("tenviettat"))</label>
            <input type="text" class="form-control" name="TenVietTat" data-bind="value:TenVietTat" style="box-sizing:border-box">
        </div><!-- /.form-group -->

    </div><!-- /.col -->
    <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("nhom"))</label>
            <div class="input-group">
                <input id="cbbNhom" class="form-control" name="cbbNhom" data-bind="value:NhomVatTuID" required data-required-msg="@Html.Raw(Language.GetText("chonnhomdon"))" style="box-sizing: border-box; height: 36px !important;">
                <span class="input-group-btn">
                    <button class="btn btn-info btn-flat" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </span>
            </div>
        </div><!-- /.form-group -->

    </div><!-- /.col -->
    <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("donvitinh"))</label>
            <div class="input-group">
                <input id="cbbDonVi" class="form-control" name="cbbDonVi" data-bind="value:DonViId" required data-required-msg="@Html.Raw(Language.GetText("chondonvi"))" style="box-sizing: border-box; height: 36px !important;">
                <span class="input-group-btn">
                    <button class="btn btn-info btn-flat" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </span>
            </div>
        </div><!-- /.form-group -->

    </div><!-- /.col -->
    <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("dongiakhoan"))</label>
            <input type="text" class="form-control dongia text-right" onkeypress="return CheckNumeric()" name="DonGiaKhoan" data-bind="value: DonGiaKhoan" value="0" style="box-sizing:border-box">
        </div><!-- /.form-group -->

    </div><!-- /.col -->

</script>

<!--Danh sách phiếu nhập-->
<div id="mdlDanhSachNhapXuatKho">
</div>
<script type="text/x-kendo-template" id="tempChiTiet">
    <div>
        <div>
            @if (coquyensuachua)
            {
                <a id="btn-adds" class="btn btn-primary pull-right" style="margin-left:10px;"><i class="fa fa-plus" aria-hidden="true"></i>@Html.Raw(Language.GetText("themphieumoi"))</a>
            }
            <a id="btnexcelNhapXuat" class="btn btn-primary pull-right"><i class="fa fa-file-excel-o" aria-hidden="true"></i> @Html.Raw(Language.GetText("xuatexcel"))</a>

        </div>

        <div style="clear:both"></div>
        <br />

        <div id="gridNhapXuatKho">

        </div>
    </div>

</script>

<!--Chọn vật tư nhập xuất-->
<div id="mdlDanhSachVatTuNhapXuat">

</div>
<script type="text/x-kendo-template" id="tempDanhSachVatTuNhapXuat">


    <div>
        <div>
            <a id="btn-add-vt" class="btn btn-warning pull-right" style="margin-left:10px;"><i class="fa fa-plus" aria-hidden="true"></i> @Html.Raw(Language.GetText("them"))</a>

        </div>

        <div style="clear:both"></div>
        <br />

        <div id="gridDanhSachVatTuNhapXuat">

        </div>
    </div>

</script>
<!--/Chọn vật tư nhập xuất-->
<!--Add Phiếu nhập-->
<div id="mdlAddPhieuNhap"></div>
<script type="text/x-kendo-template" id="tempaddPhieuNhap">

    <div>
        @Html.Raw(Language.GetText("thoigian")): &nbsp;&nbsp;<input id="ThoiGianNhap" style="padding:0;width:200px;" name="thoigiannhap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!--Vật Tư: &nbsp;&nbsp;<input id="customers" name="customers" style="width:338px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Số Lượng: &nbsp;&nbsp;<input id="soluongs" name="soluongs" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
        <a id="addrow" class="btn btn-primary"><i class="fa fa-plus"></i> @Html.Raw(Language.GetText("chonvattu"))</a>
        @*<a id="saveas" class="btn btn-success pull-right"><i class="fa fa-floppy-o"></i> Lưu Phiếu</a>*@
    </div>
    <div class="sc" style="">
        <div id="gridChiTietNhap"></div>
    </div>
    <div class="fileUpload btn btn-primary">
        <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("themanh"))</span>
        <input type="file" id="files_0" name="files_0" class="upload" multiple onchange="loadimg(this)">
    </div>
    <div class="dshinhanhadd" style="margin-bottom:10px;">
        <div></div>
    </div>
    <div style='clear:both'></div>
    <div class="toolVatTu">
    </div>
</script>

<!--Add Phiếu Xuat-->
<div id="mdlAddPhieuXuat"></div>
<script type="text/x-kendo-template" id="tempaddPhieuXuat">
    <div>
        <div class="form-group" style="float:left;margin-right:10px;">
            <label>@Html.Raw(Language.GetText("thoigian")):</label>
            <div class="input-group">
                <input id="ThoiGianNhap" style="padding:0" name="thoigiannhap">
            </div>
        </div>
        <div class="form-group" style="float: left; margin-right: 10px;">
            <label>@Html.Raw(Language.GetText("loaihinh")):</label>
            <div class="input-group">
                <input id="loaihinhs" name="loaihinhs" />
            </div>
        </div>
        <div class="form-group" style="float: left; margin-right: 10px;">
            <label>@Html.Raw(Language.GetText("congtrinhnhan")):</label>
            <div class="input-group">
                <input id="congtrinhs" name="congtrinhs" />
            </div>
        </div>
        <div class="form-group" style="float: left; margin-right: 10px;">
            <label>@Html.Raw(Language.GetText("doinhan"))</label>
            <div class="input-group">
                <input id="doithicongs" name="doithicongs" />
            </div>
        </div>
        <div class="form-group" style="float: left; margin-right: 10px;">
            <label>@Html.Raw(Language.GetText("nguoinhan")):</label>
            <div class="input-group">
                <input id="nguoinhans" name="nguoinhans" style="width:300px" />
            </div>
        </div>
        <div class="form-group" style="float: left; margin-right: 10px;">
            <label>&nbsp;</label>
            <div class="input-group">
                <input type="checkbox" checked="checked" id="nhapmois" style="margin-top: 13px;vertical-align: sub;" /> @Html.Raw(Language.GetText("taophieunhapkhomoi"))
            </div>
        </div>
        <div style="clear:both"></div>
        <a id="addrow" class="btn btn-primary"><i class="fa fa-plus"></i> @Html.Raw(Language.GetText("chonvattu"))</a>
    </div>
    <div class="sc" style="">
        <div id="gridChiTietXuat"></div>
    </div>
    <div style="clear:both"></div>
    <div class="fileUpload btn btn-primary">
        <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("themanh"))</span>
        <input type="file" id="files_0" name="files_0" class="upload" multiple onchange="loadimg(this)">
    </div>
    <div class="dshinhanhadd" style="margin-bottom:10px;">
        <div></div>
    </div>
    <div style='clear:both'></div>
    <div class="toolVatTu">
    </div>
</script>

<!--Danh sách tồn vật tư-->
<div id="mdlTonVatTu">

</div>
<script type="text/x-kendo-template" id="tempTonVatTu">
    <div id="gridTonVatTu"></div>

</script>
<script type="text/x-kendo-template" id="tempTonTheoDoi">
    <div id="grid"></div>

</script>
<!--Danh sách tồn vật tư-->
<div id="mdlTuChoi">

</div>
<script type="text/x-kendo-template" id="tempTuChoi">
    <textarea id="ndTuChoi" class="form-control" style="height:200px !important;box-sizing:border-box;margin-bottom:15px;" placeholder="@Html.Raw(Language.GetText("noidungtuchoi")) ..."></textarea>
    <div>
        <a id="tuchois" class="btn btn-success pull-right"><i class="fa fa-floppy-o"></i>@Html.Raw(Language.GetText("xacnhan"))</a>
    </div>
</script>
<div id="mdldanhsachcongtrinh">

</div>
