﻿
@{
    ViewBag.Title = "Quản lý phiếu nhập";
}
<script type="text/javascript" src="~/Scripts/KendoJS/QuanLyPhieuNhap/QuanLyPhieuNhap.js"></script>
<div id="tabstrip">
    <ul>
        <li class="tab_khodonvi k-state-active">Kho đơn vị</li>
        <li class="tab_khotong">Kho tổng</li>
    </ul>
    <div>
        <div class="row">
            <div class="pull-left">
                <input type="text" id="CongTrinhID" />
                <input type="text" id="DoiThiCongID" />
            </div>
        </div>
        <div id="gridkhodonvi" style="margin-top:15px"></div>
    </div>


    <div>
        <div class="row">
            <div class="pull-right">
                <button class="btn btn-warning " id="btnThemPhieuNhapVatTuKhoTong">Thêm mới</button>
            </div>
        </div>
        <div>
            <div id="gridkhotong" style="margin-top:15px"></div>
        </div>
    </div>
</div>
<div id="mdlPhieuNhapVatTuKhoTong"></div>
<script id="tplPhieuNhapVatTuKhoTong" type="text/x-kendo-template">
    <input id="ipThoiGianNhap" />
    <button class="btn btn-primary" id="btnChonVatTu">Chọn Vật Tư</button>
    <div id="gridThemPhieuNhapVatTuKhoTong" style="margin-top:15px"></div>
    <button class="btn btn-primary pull-right" id="LuuPhieu">Lưu Phiếu</button>
</script>
<div id="mdlChonVatTuKhoTong"></div>
<script id="tplChonVatTuKhoTong" type="text/x-kendo-template">
    <button class="btn btn-warning" id="btnThemVatTu">Thêm</button>
    <div id="gridChonVatTuKhoTong" style="margin-top:15px"></div>
</script>



