﻿@{
    ViewBag.Title = "InBangNguyenPhuLieu";
    Layout = null;
}

@model List<DF.DataAccess.DBML.Web_ThanhPhamNhom_DinhNghiaThanhPhamResult>
<html>
<head>
    <title>Bảng nguyên phụ liệu</title>
    <link href="~/Content/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div style="padding:10px">
        <div class="text-center">
            <h1><b>BẢNG NGUYÊN PHỤ LIỆU</b></h1>
            <h4 style="margin-top:0px">Mã Hàng: @ViewBag.MaSanPham</h4>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table style="width: 100%; font-size: 11px; text-align: center" border="1">
                    <thead>
                        <tr>
                            <td rowspan="2" style="padding:5px">Màu</td>
                            <td rowspan="2" style="padding:5px">Vải chính</td>
                            <td colspan="3" style="padding:5px">Vải phối</td>
                            <td rowspan="2" style="padding:5px">Chỉ may</td>
                            <td rowspan="2" style="padding:5px">Mác</td>
                            <td rowspan="2" style="padding:5px">Cúc</td>
                            <td rowspan="2" style="padding:5px">Khác</td>
                        </tr>
                        <tr>
                            <td style="padding:5px">Lót</td>
                            <td style="padding:5px">P1</td>
                            <td style="padding:5px">P2</td>
                        </tr>
                    </thead>
                    <tbody>
                       
                            @foreach (var item in Model.Select(p => new {p.Mau }).Distinct().OrderBy(p=>p.Mau))
                            {
                                <tr>
                                    <td style="padding:5px">@item.Mau</td>
                                    <td style="padding:5px;text-align:left">@{
                                        var vai = Model.Where(p => p.LoaiVai == 1 && p.Mau == item.Mau).FirstOrDefault();
                                        if(vai!=null){
                                         <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien==null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                        }
                                    }
                                   @Model.Where(p => p.LoaiVai == 1  && p.Mau == item.Mau).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")").FirstOrDefault()</td>
                                    <td style="padding: 5px; text-align: left">
                                    @{
                                         vai = Model.Where(p => p.LoaiVai == 2  && p.Mau == item.Mau).FirstOrDefault();
                                        if (vai != null)
                                        {
                                            <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                        }
                                    }
                                   @Model.Where(p => p.LoaiVai == 2  && p.Mau == item.Mau).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")").FirstOrDefault()</td>
                                    <td style="padding: 5px; text-align: left">
                                        @{
                                        vai = Model.Where(p => p.LoaiVai == 3  && p.Mau == item.Mau).FirstOrDefault();
                                        if (vai != null)
                                        {
                                            <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                        }
                                        }
                                   @Model.Where(p => p.LoaiVai == 3  && p.Mau == item.Mau).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")").FirstOrDefault()</td>
                                    <td style="padding: 5px; text-align: left">
                                        @{
                                            vai = Model.Where(p => p.LoaiVai == 4  && p.Mau == item.Mau).FirstOrDefault();
                                            if (vai != null)
                                            {
                                                <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                            }
                                        }
                                   @Model.Where(p => p.LoaiVai == 4  && p.Mau == item.Mau).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")").FirstOrDefault()</td>
                                    <td style="padding: 5px; text-align: left">
                                        @{
                                            vai = Model.Where(p => p.LoaiVai == 5  && p.Mau == item.Mau).FirstOrDefault();
                                            if (vai != null)
                                            {
                                                <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                            }
                                        }
                                   @Model.Where(p => p.LoaiVai == 5  && p.Mau == item.Mau).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")").FirstOrDefault()</td>
                                    <td style="padding: 5px; text-align: left">
                                    @{
                                            vai = Model.Where(p => p.LoaiVai == 5  && p.Mau == item.Mau).FirstOrDefault();
                                            if (vai != null)
                                            {
                                                <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                            }
}
                                   @Model.Where(p => p.LoaiVai == 6  && p.Mau == item.Mau).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")").FirstOrDefault()</td>
                                    <td style="padding: 5px; text-align: left">
                                        @{
                                            vai = Model.Where(p => p.LoaiVai == 7  && p.Mau == item.Mau).FirstOrDefault();
                                            if (vai != null)
                                            {
                                                <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                            }
                                        }
                                   @Model.Where(p => p.LoaiVai == 7  && p.Mau == item.Mau).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")").FirstOrDefault()</td>
                                    <td style="padding: 5px; text-align: left">
                                    @{
                                            vai = Model.Where(p => p.LoaiVai == 7  && p.Mau == item.Mau).FirstOrDefault();
                                            if (vai != null)
                                            {
                                                <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                            }
}
                                   @Model.Where(p => p.LoaiVai == 8  && p.Mau == item.Mau).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")").FirstOrDefault()</td>
                                </tr>
                            }
                      
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top:20px; text-align:right;margin-left:10%;">
            <div class="col-xs-offset-6 col-xs-4" >
                <b>Nhân viên thiết kế</b><br />
                <i>(Ký ghi rõ họ tên)</i>
            </div>
        </div>

    </div>
    <script>
        window.print();
    </script>
</body>
</html>


