﻿@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/DanhMuc/DMNhomSanPham.js"></script>
<div class="content">
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<div id="mldchitiet">

</div>
<script type="text/x-kendo-template" id="tplchitiet">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active tab_thongso">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Thông số
            </li>
            <li class="tab_nguyenlieu">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Nguyên liệu
            </li>
            <li class="tab_thongtinchitiet">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Thông tin chi tiết
            </li>
        </ul>
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-12" style="box-sizing: border-box; text-align: center; margin-bottom:10px; margin-top:10px !important">
                            <div class="panel panel-default col-xs-12" style="margin-bottom: 5px !important;">
                                <div class="panel-body">
                                    <div class="col-xs-3">
                                        <div class="anhdaidien imgslider">
                                            <a href="javascript:void(0)" class="setavataimage">
                                                <img src="/Content/no-image.jpg" alt="avatar" data-file="no-image.jpg" class="imgavatar" style="width:100%" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="form-group col-xs-4 text-left">
                                            <label>Mã thiết kế</label>
                                            <input id="MaMauMay" type="text" class="form-control" disabled style="box-sizing:border-box">
                                        </div><!-- /.form-group -->
                                        <div class="form-group col-xs-4 text-left">
                                            <label>Tên thiết kế</label>
                                            <input id="TenMauMay" type="text" class="form-control" disabled style="box-sizing:border-box">
                                        </div><!-- /.form-group -->
                                        <div class="form-group col-xs-4 text-left">
                                            <label>Tên sản phẩm</label>
                                            <input id="TenSanPham" type="text" class="form-control" disabled style="box-sizing:border-box">
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group col-md-12" style="padding:5px;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="panel-title" data-toggle="collapse">
                                        <a href="javascript:void(0)">Bảng thông số</a>
                                    </span>
                                </div>
                                <div id="ThongTinChung" class="panel-collapse collapse in">
                                    <div class="panel-body" style="padding:5px">
                                        <table style="width:100%" border="1" cellpadding="0" cellspacing="0">
                                            <thead>
                                                <tr></tr>
                                            </thead>
                                            <tbody>
                                                <tr></tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
                        <div id="tblThongTinChung" class="hidden">
                            <table style="width:100%" border="1" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="tblThongTinChung2" class="hidden">
                            <table style="width:100%" border="1" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                            <a id="btnLuuThemMoi" class="btn btn-primary pull-right" style="margin-top:10px !important;">Lưu</a>
                            <a id="InNguyenPhuLieu" class="btn btn-warning pull-right" style="margin-top:10px !important; margin-right:10px">In Nguyên Phụ Liệu</a>
                            <button id="InThongSo" class="btn btn-warning pull-right" style="margin-top:10px !important; margin-right:10px">In Thông Số</button>
                            <button id="InThongSo2" class="btn btn-warning pull-right" style="margin-top:10px !important; margin-right:10px">In Thông Số Sau Giặt</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row text-right">
                <a id="btnLuuNguyenLieu" class="btn btn-primary pull-right" style="margin-top:10px !important;">Lưu</a>
            </div>
            <div class="row">
                <div id="gridNguyenLieu"></div>
            </div>
        </div>
        <div>
            <div class="row">
                <div id="gridThongTinChiTiet"></div>
            </div>
        </div>
    </div>

</script>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<script type="text/x-kendo-template" id="tplLoai">
    # if(Loai == 1) { #
    <span class="btn btn-success btn-block no-padding">Người lớn</span>
    # } #
    # if(Loai == 2) { #
    <span class="btn btn-info btn-block no-padding">Trẻ con</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplGioiTinh">
    # if(GioiTinh == 1) { #
    <span class="btn btn-success btn-block no-padding">Nam</span>
    # } #
    # if(GioiTinh == 2) { #
    <span class="btn btn-info btn-block no-padding">Nữ</span>
    # } #
</script>