﻿@{
    ViewBag.Title = Language.GetText("danhmucdonvitinh");
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<script type="text/javascript" src="~/Scripts/TienIch/Language.js"></script>

<script type="text/x-kendo-template" id="btnThem">
    
    <div class="toolbarAdd">
        <button id="btnAdd" class="k-button k-button-icontext k-grid-add"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <span class="btn btn-success btnlink" style="padding: 8px 10px 9px;" onclick="UpdateStatus()"><i class="icons-list position-left"></i> Reload ngôn ngữ</span>
    </div>
    
</script>

<div class="content">
    <div id="grid"></div>
</div>

<script type="text/javascript">
function UpdateStatus() {
    $.ajax({
        type: "GET",
        url: '/home/takejsonlanguagefile',
        success: function (responsedata) {
            alert("got response as " + "'" + responsedata + "'");
        }
    })
}
</script>