﻿@{
    ViewBag.Title = "Tổng Hợp Đề Nghị Vật Tư";
    ViewBag.Title_Function = "Tổng Hợp Đề Nghị Vật Tư";
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}

<script type="text/javascript" src="~/Scripts/NghiepVu/VatTu/TongHopDeNghi.js"></script>
<style>
    .btn-trangthai {
        display: block;
        padding: 2px !important;
    }

</style>
<div class="content" id="content-qlluongkhoan">
    <div class="row" id="dsLuongKhoan" style="margin: 10px -10px !important;">
        <div class="col-xs-6 col-md-2 col-lg-2">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tungay"))</label>
                <input type="text" class="form-control" id="inputTuNgay" data-bind="value:ThoiGianTinh" style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("denngay"))</label>
                <input type="text" class="form-control" id="inputDenNgay" data-bind="value:ThoiGianTinh" style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("congtrinh"))</label>
                <input id='inputCongTrinhID' class="form-control" style="width:100%;" />
            </div><!-- /.form-group -->
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("doithicong"))</label>
                <input id='inputDoiThiCongID' class="form-control" style="width:100%;" />
            </div><!-- /.form-group -->
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2">
            <div class="form-group">
                <label>Trạng thái</label>
                <input id='inputTrangThai' class="form-control" style="width:100%;" />
            </div><!-- /.form-group -->
        </div>
    </div>
    <div id="BangTPNV"></div>
</div>

<script type="text/x-kendo-template" id="tempTrangThai">
    # if(TrangThai == 0) { #
    <span class="btn btn-trangthai btn-default">Chưa duyệt</span>
    # } #
    # if(TrangThai == 1) { #
    <span class="btn btn-trangthai btn-success btn-default">Đã duyệt</span>
    # } #
</script>
