﻿@{
    ViewBag.Title = "InBangNguyenPhuLieu";
    Layout = null;
}

@model List<DF.DataAccess.DBML.Web_ThanhPham_DinhNghiaThanhPhamResult>
<html>
<head>
    <title>Bảng nguyên phụ liệu</title>
    <link href="~/Content/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div style="padding:10px">
        <div class="text-center">
            <h1><b>BẢNG NGUYÊN PHỤ LIỆU</b></h1>
            <h4 style="margin-top:0px">Mã Hàng: @ViewBag.MaSanPham</h4>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table style="width:100%;font-size:11px; text-align:center" border="1">
                    <thead>
                        <tr>
                            <td rowspan="2" style="padding:5px">STT</td>
                            <td rowspan="2" style="padding:5px">Vải chính</td>
                            <td colspan="3" style="padding:5px">Vải phối</td>
                            <td rowspan="2" style="padding:5px">Chỉ may</td>
                            <td rowspan="2" style="padding:5px">Mác</td>
                            <td rowspan="2" style="padding:5px">Cúc</td>
                            <td rowspan="2" style="padding:5px">Khác</td>
                        </tr>
                        <tr>
                            <td style="padding:5px">Lót</td>
                            <td style="padding:5px">P1</td>
                            <td style="padding:5px">P2</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding:5px">1</td>
                            <td style="padding:5px">
                            @{
                                    var vai = Model.Where(p => p.LoaiVai == 1).FirstOrDefault();
                                    if (vai != null)
                                    {
                                        <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                    }
                                }
                            @(String.Join(",", Model.Where(p => p.LoaiVai == 1).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")")))</td>
                            <td style="padding:5px">
                            @{
                                vai = Model.Where(p => p.LoaiVai == 2).FirstOrDefault();
                                if (vai != null)
                                {
                                    <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                }
                            }
                            @(String.Join(",", Model.Where(p => p.LoaiVai == 2).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")")))</td>
                            <td style="padding:5px">
                            @{
                                vai = Model.Where(p => p.LoaiVai == 3).FirstOrDefault();
                                if (vai != null)
                                {
                                    <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                }
                            }
                            @(String.Join(",", Model.Where(p => p.LoaiVai == 3).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")")))</td>
                            <td style="padding:5px">
                            @{
                                vai = Model.Where(p => p.LoaiVai == 4).FirstOrDefault();
                                if (vai != null)
                                {
                                    <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                }
                            }
                            @(String.Join(",", Model.Where(p => p.LoaiVai == 4).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")")))</td>
                            <td style="padding:5px">
                            @{
                                vai = Model.Where(p => p.LoaiVai == 5).FirstOrDefault();
                                if (vai != null)
                                {
                                    <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                }
                            }
                            @(String.Join(",", Model.Where(p => p.LoaiVai == 5).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")")))</td>
                            <td style="padding:5px">
                            @{
                                vai = Model.Where(p => p.LoaiVai == 6).FirstOrDefault();
                                if (vai != null)
                                {
                                    <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                }
                            }
                            @(String.Join(",", Model.Where(p => p.LoaiVai == 6).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")")))</td>
                            <td style="padding:5px">
                            @{
                                vai = Model.Where(p => p.LoaiVai == 7).FirstOrDefault();
                                if (vai != null)
                                {
                                    <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                }
                            }
                            @(String.Join(",", Model.Where(p => p.LoaiVai == 7).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")")))</td>
                            <td style="padding:5px">@{
                                vai = Model.Where(p => p.LoaiVai == 7).FirstOrDefault();
                                if (vai != null)
                                {
                                    <img src="/center/Upload/ImageQLVT/@(vai.AnhDaiDien == "" || vai.AnhDaiDien == null ? "no-image.jpg" : vai.AnhDaiDien)" width="50" height="50" />
                                }
                            }
                            @(String.Join(",", Model.Where(p => p.LoaiVai == 8).Select(p => p.MaNguyenLieu + "(" + p.SoLuong + " " + p.TenDonVi + ")")))</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top:20px; text-align:right;margin-left:10%;">
            <div class="col-xs-offset-6 col-xs-4" >
                <b>Nhân viên thiết kế</b><br />
                <i>(Ký ghi rõ họ tên)</i>
            </div>
        </div>

    </div>
    <script>
        window.print();
    </script>
</body>
</html>


