﻿@{
    ViewBag.Title = "Danh mục sản phẩm";
    var listsize = new List<string>() { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "9T", "12T", "18T", "24T", "XS", "S", "M", "L", "XL", "XXL" };
}
<link href="/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="/Content/lib/fncUploadFile.js"></script>
<script type="text/javascript" src="~/Scripts/DanhMuc/DMSanPham.js"></script>
<style>
    .k-edit-form-container {
        width: 100%;
    }

    .dshinhanhadd {
        padding: 10px;
        border: 1px solid #ddd;
        height: 100px;
        background: #ddd;
    }

    .btn-outline-secondary {
        color: #fff !important;
        background-color: #0c7cd5 !important;
        background-image: none !important;
        border-color: #ddd !important;
    }

    .congdoanbox {
        padding: 5px;
        margin-top: 10px;
    }

    .congdoanbox2 {
        padding: 5px;
        border: 3px solid green;
        margin-top: 10px;
        background: #bae0c9;
    }

    .biggerCheckbox {
        width: 18px;
        height: 18px;
    }
</style>
<div class="content">
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        <span class="btn btn-primary btnexcel">@Html.Raw(Language.GetText("xuatexcel"))</span>
        <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
        <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
        <button id="btnAdd" class="btn btn-warning k-btn k-grid-add"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm mới</button>
    </div>
</script>
<div id="mdlThemMoiSanPham"></div>
<script type="text/x-kendo-template" id="tplThemMoiSanPham">
    <form id="frmThemMoiSanPham">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active tab_thongsokythuat">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Thông số kỹ thuật
                </li>
                <li class="tab_luachonnguyenlieu">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Lựa chọn nguyên liệu
                </li>
                <li class="tab_dinhghiacongdoan">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Định nghĩa công đoạn
                </li>
            </ul>
            <div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-4" style="box-sizing: border-box; text-align: center; margin-bottom:10px; margin-top:10px !important">
                            <div class="panel panel-default" style="margin-bottom: 5px !important;">
                                <div class="panel-body">
                                    <div class="anhdaidien imgslider">
                                        <a href="javascript:void(0)" class="setavataimage" rel="gallery">
                                            <img src="/Content/no-image.jpg" alt="avatar" data-file="no-image.jpg" class="imgavatar" style="width:100%" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="btnChonAnh" class="fileUpload btn btn-primary" style="width:100% !important; text-align:center;">
                                <span><i class="fa fa-camera" aria-hidden="true"></i>  Chọn ảnh</span>
                                <input type="file" id="file_1" name="file_1" class="upload" accept=".png, .jpg, .jpeg">
                            </div>
                        </div>
                        <div class="panel-group col-md-8" style="padding:5px;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="panel-title" data-toggle="collapse">
                                        <a href="javascript:void(0)">Thông số cơ bản</a>
                                    </span>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body" style="padding:5px">
                                        <input id="SanPhamID" name="SanPhamID" data-bind="value:SanPhamID" type="text" class="hidden" />
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label>Mã sản phẩm</label>
                                                <input id="MaSanPham" type="text" class="form-control" name="MaSanPham" data-bind="value:MaSanPham" disabled style="box-sizing:border-box">
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label>Tên sản phẩm</label>
                                                <input id="TenSanPham" type="text" class="form-control" name="TenSanPham" data-bind="value:TenSanPham" placeholder="Nhập vào tên sản phẩm" required data-required-msg="Tên sản phẩm không được trống" style="box-sizing:border-box">
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label>Loại sản phẩm</label>
                                                <div class="input-group" style="width:100%">
                                                    <input style="width: 100%;" id="LoaiHinhSanXuat" name="LoaiHinhSanXuat" type="text" class="form-control" placeholder="Chọn loại" aria-describedby="basic-addon2" data-bind="value:LoaiHinhSanXuat" required data-required-msg="Phải chọn loại">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Thiết kế</label>
                                                <div class="input-group">
                                                    <input id="MauMayID" name="MauMayID" type="text" class="form-control" data-bind="value:MauMayID" required data-required-msg="Phải chọn bản thiết kế">
                                                    <input id="YeuCauKhachHangID" name="YeuCauKhachHangID" type="text" class="form-control hidden" data-bind="value:YeuCauKhachHangID">
                                                    <span class="input-group-btn">
                                                        <button id="btnChonThietKe" class="btn btn-outline-secondary btn-primary glyphicon glyphicon-list" type="button"></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Đơn vị tính</label>
                                                <div class="input-group">
                                                    <input id="cbbDonVi" name="cbbDonVi" type="text" class="form-control" placeholder="Chọn đơn vị sản phẩm" aria-describedby="basic-addon2" data-bind="value:DonViID" required data-required-msg="Phải chọn đơn vị sản phẩm">
                                                    <span class="input-group-btn">
                                                        <button id="btnThemDonViNhanh" class="btn btn-outline-secondary btn-primary glyphicon glyphicon-plus" type="button"></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Loại</label>
                                                <input id="Loai" type="text" class="form-control" name="Loai" data-bind="value:Loai" style="box-sizing: border-box; width: 100%">
                                            </div><!-- /.form-group -->
                                        </div>

                                        <div class="col-xs-6">
                                            <div id="Maufrm" class="form-group hidden">
                                                <label>Màu</label>
                                                <input id="Mau" type="text" class="form-control" name="Mau" data-bind="value:Mau" style="box-sizing: border-box; width: 100%">
                                            </div><!-- /.form-group -->
                                            <div id="Sizefrm" class="form-group hidden">
                                                <label>Size</label>
                                                <input id="Size" type="text" class="form-control" name="Size" data-bind="value:Size" required data-required-msg="Phải chọn size" style="box-sizing: border-box; width: 100%">
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label>Size Mẫu Gốc</label>
                                                <input id="SizeMauGoc" type="text" class="form-control" name="SizeMauGoc" data-bind="value:SizeMauGoc" style="box-sizing: border-box; width: 100%">
                                            </div><!-- /.form-group -->
                                            <div id="TiLeSizefrm" class="form-group hidden">
                                                <label>Tỉ Lệ Size</label>
                                                <input id="TiLeSize" type="text" class="form-control" name="TiLeSize" data-bind="value:TiLeSize" style="box-sizing:border-box">
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label>Giới tính</label>
                                                <input id="GioiTinh" type="text" class="form-control" name="GioiTinh" data-bind="value:GioiTinh" style="box-sizing: border-box; width: 100%">
                                            </div><!-- /.form-group -->
                                            <div class="form-group" style="margin-top: 20px;">
                                                <label>Đơn giá</label>
                                                <input id="DonGia" type="text" class="form-control" name="DonGia" data-bind="value:DonGia" min="0" placeholder="0" style="box-sizing:border-box">
                                            </div><!-- /.form-group -->
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel-group col-md-12" style="padding:5px;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="panel-title" data-toggle="collapse">
                                        <a href="javascript:void(0)">Thông số riêng</a>
                                    </span>
                                </div>
                                <div id="ThongTinChung" class="panel-collapse collapse in" style="overflow-x: auto; white-space: nowrap;">
                                    <div class="panel-body" style="padding:5px;min-height:100px">
                                        <table style="width:100%" border="1">
                                            <thead>
                                                <tr></tr>
                                            </thead>
                                            <tbody>
                                                <tr></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group col-md-3 hidden" style="padding: 5px;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="panel-title" data-toggle="collapse">
                                        <a href="javascript:void(0)">Thông số riêng</a>
                                        <a href="javascript:void(0)" style="float: right; margin-right:-21px;margin-top:-15px;line-height:34px;height:46.4px;" class="btn btn-warning btn-themthuoctinh">Thêm</a>
                                    </span>
                                </div>
                                <div id="ThongTinRieng" class="panel-collapse collapse in">
                                    <div class="panel-body" style="padding: 5px; min-height: 100px">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                            <div class="dshinhanhadd">
                            </div>
                            <div class="fileUpload btn btn-primary pull-left" style="margin-top:10px">
                                <span><i class="fa fa-camera" aria-hidden="true"></i>  Thêm ảnh</span>
                                <input type="file" id="files_0" name="files_0" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple">
                            </div>
                            <a id="btnBangXacNhanMau" class="btn btn-primary pull-left" style="margin-top:10px !important; margin-left:10px !important;">Bảng xác nhận mẫu</a>
                            <a id="btnLuuThemMoi" class="btn btn-primary pull-right" style="margin-top:10px !important;">Lưu</a>
                            <a id="InThongSo" class="btn btn-warning pull-right hidden" style="margin-top: 10px !important; margin-right: 10px !important" href="" target="_blank">In Thông Số</a>
                            <a id="btnXoa" class="btn btn-danger pull-right hidden" style="margin-top:10px !important; margin-right: 10px !important">Xóa</a>
                            <div class="toolVatTu pull-right" style="margin-top:10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row" style="margin-bottom: 10px !important;">
                    <div class="btn btn-info btn-lg pull-left col-lg-1" id="btnThemDong"><i class="fas fa-plus"></i></div>
                    <div class="col-lg-4"><input id="DSSize" class="form-control" style="margin-left:10px !important;" name="DSSize" type="text" placeholder="DSSize" data-bind="value:DSSize" readonly="readonly"></div>
                    <div class="btn btn-success btn-lg pull-right col-lg-2" id="btnLuuDSNL">Lưu danh sách nguyên liệu</div>
                </div>
                <div id="gridLuaChonNguyenLieu"></div>
            </div>
            <div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="btn btn-info hidden" id="btnThemCongDoan">Thêm công đoạn</div>
                        <div class="btn btn-primary hidden" id="btnThemCongDoanCuoi">Tổng hợp công đoạn</div>
                        <div class="pull-right">
                            <a id="InBangNguyenPhuLieu" class="btn btn-primary hidden" href="" target="_blank"><i class="fa fa-print" aria-hidden="true"></i> In bảng nguyên phụ liệu</a>
                            <div id="TaoTuDong" class="btn btn-warning"><i class="fa fa-plus" aria-hidden="true"></i> Thêm công đoạn tự động</div>
                            <div class="btn btn-success" id="btnLuuCongDoan">Lưu</div>
                        </div>
                    </div>
                    <div class="boxscroll" style="overflow-y:scroll;margin-top:10px">
                        <div id="boxCongDoan" class="row">

                        </div>
                        <div id="boxCongDoanCuoi" class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>
<div id="mdlBangXacNhanMau"></div>
<script type="text/x-kendo-template" id="tplBangXacNhanMau">
    <div class="row" style="margin-bottom: 15px !important;">
        <a id="btnLuuBXNM" class="btn btn-success pull-right btn-lg" style="margin-top:10px !important;">Lưu</a>
        <a id="XuatExcelBXNM" class="btn btn-primary pull-left btn-lg" style="margin-top:10px !important;">Xuất excel</a>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-condensed" id="tblBXNM">
                <thead id="thBXNM"></thead>
                <tbody id="tdBXNM"></tbody>
            </table>
        </div>
    </div>
</script>
<div id="mdlDinhNghia"></div>
<script type="text/x-kendo-template" id="tplDinhNghia">
    <div id="gridDinhNghiaToanBoSanPham"></div>
    <div style="margin-top:15px;">
        <button class="btn btn-success pull-right btn-lg" id="btnLuuDuLieu"><i class="glyphicon glyphicon-ok"></i>  Lưu dữ liệu</button>
    </div>
</script>
<div id="mdlChonSize"></div>
<script type="text/x-kendo-template" id="tplChonSize">
    <div id="DanhSachSize">
        <div class="row">
            @foreach (var i in listsize.Take(12))
            {
                <div class="col-xs-1">
                    <div class="form-check" style="font-size: 16px;">
                        <input type="checkbox" id="size-@i" value="@i" class="form-check-input biggerCheckbox" />
                        <label class="form-check-label" for="size-@i">
                            @i
                        </label>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @foreach (var i in listsize.Skip(12).Take(12))
            {
                <div class="col-xs-1">
                    <div class="form-check" style="font-size: 16px;">
                        <input type="checkbox" id="size-@i" value="@i" class="form-check-input biggerCheckbox" />
                        <label class="form-check-label" for="size-@i">
                            @i
                        </label>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @foreach (var i in listsize.Skip(24).Take(12))
            {
                <div class="col-xs-1">
                    <div class="form-check" style="font-size: 16px;">
                        <input type="checkbox" id="size-@i" value="@i" class="form-check-input biggerCheckbox" />
                        <label class="form-check-label" for="size-@i">
                            @i
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-success pull-right btn-lg" id="btnLuuDanhSachSize"><i class="glyphicon glyphicon-ok"></i>  Tiếp tục</button>
    </div>
</script>
<div id="mdlOptionAvatar"></div>
<script type="text/x-kendo-template" id="tplOptionAvatar">
    <div class="row">

    </div>
</script>
<div id="mdlDanhSachNguyenLieuChoYeuCau"></div>
<script type="text/x-kendo-template" id="tplDanhSachNguyenLieuChoYeuCau">
    <div id="gridDanhSachNguyenLieuChoYeuCau"></div>
    <div style="margin-top:15px;">
        <div class="row">
            <button class="btn btn-default btn-lg pull-left" id="btnHuyChonNguyenLieu"><i class="glyphicon glyphicon-share-alt"></i> @Html.Raw(Language.GetText("huy"))</button>
            <button class="btn btn-success btn-lg pull-right" id="btnDongYChonNguyenLieu"><i class="glyphicon glyphicon-ok"></i> @Html.Raw(Language.GetText("dongy"))</button>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tplLoaiNguyenLieu">
    # if(Type == 1) { #
    <span class="btn btn-success btn-block no-padding">Dệt</span>
    # } #
    # if(Type == 2) { #
    <span class="btn btn-info btn-block no-padding">May</span>
    # } #
    # if(Type == 3) { #
    <span class="btn btn-info btn-block no-padding">Phụ kiện</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplTenLoaiVai">
    # if(LoaiVai == 1) { #
    <span>Vải chính</span>
    # } #
    # if(LoaiVai == 2) { #
    <span>Vải phối lót</span>
    # } #
    # if(LoaiVai == 3) { #
    <span>Vải phối P1</span>
    # } #
    # if(LoaiVai == 4) { #
    <span>Vải phối P2</span>
    # } #
    # if(LoaiVai == 5) { #
    <span>Chỉ may</span>
    # } #
    # if(LoaiVai == 6) { #
    <span>Mác</span>
    # } #
    # if(LoaiVai == 7) { #
    <span>Cúc</span>
    # } #
    # if(LoaiVai == 8) { #
    <span>Phụ kiện khác</span>
    # } #
</script>
<div id="mdlThemNhanhDonVi"></div>
<script type="text/x-kendo-template" id="tplThemNhanhDonVi">
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <div class="form-group">
                <label>Tên đơn vị</label>
                <input id="TenDonVi" type="text" class="form-control" name="TenDonVi" data-bind="value:TenDonVi" placeholder="Nhập vào tên đơn vị" required data-required-msg="Tên đơn vị không được trống" style="box-sizing:border-box">
            </div><!-- /.form-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <button id="btnLuuNhanhDonVi" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Lưu</button>
        </div>
    </div>
</script>

<div id="mdlThemFileExcel"></div>
<script type="text/x-kendo-template" id="tempImport">
    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem"></div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>

<div id="mdlThemCongDoan">

</div>
<script type="text/x-kendo-template" id="tplThemCongDoan">
    <div class="congdoanbox col-md-12 col-sm-12 col-lg-12" data-dmhangmucsanxuat="">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="pull-right xoacongdoan" style=" margin-top: -15px; width: 31px; height: 31px; background: red; color: white; text-align: center; /* border-radius: 23px; */ line-height: 31px; margin-right: -21px;"><a href="javascript:void(0)" style="color: white;font-weight: bold; font-size: 15px;">X</a></span></div>
            <div class="panel-body" style="padding:10px">
                <div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="">
                                <label class="control-label " style="line-height:35px">Tên công đoạn:</label>
                                <div class="input-group" style="width:100%">
                                    <input type="text" class="form-control TenCongDoan" name="TenCongDoan" style="width:100%">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 hidden">
                            <div class="">
                                <label class="control-label " style="line-height:35px">Hao hụt(%):</label>
                                <div class="input-group" style="width:100%">
                                    <input type="text" class="form-control HaoHut" name="HaoHut" style="width:100%">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="">
                                <label class="control-label " style="line-height:35px">Thời gian hoàn thành(Giờ):</label>
                                <div class="input-group" style="width:100%">
                                    <input type="text" class="form-control ThoiGianHoanThanh" name="ThoiGianHoanThanh" style="width:100%">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="">
                                <label class="control-label " style="line-height:35px">Giá trị:</label>
                                <div class="input-group" style="width:100%">
                                    <input type="text" class="form-control GiaTri" name="GiaTri" style="width:100%">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="">
                                <label class="control-label " style="line-height:35px">Mô tả</label>
                                <div class="input-group" style="width:100%">
                                    <textarea class="mota form-control MoTa" rows="4" style="width:100%"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="">
                                <label class="control-label " style="line-height:35px">Danh sách hình ảnh</label>
                                <div class="dshinhanh" style="width:100%;height:100px">


                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="control-label ">&nbsp;</label>
                                <div class="input-group text-right box-anh" style="width:100%">
                                    <div class="btn btn-primary themhinhanh" style="margin-right:10px">Chọn hình ảnh</div>
                                    <input type="file" multiple class="hidden" />
                                    <div class="btn btn-success themthanhphamdaco" style="margin-right:10px">Chọn thành phẩm</div>
                                    <div class="btn btn-warning themthanhpam" style="margin-right:10px">Tạo thành phẩm</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gridDanhSachThanhPham" style="min-height:100px">

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</script>
<script type="text/x-kendo-template" id="tplThemCongDoanCuoi">
    <div class="congdoanbox2">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label " style="line-height:35px">Thời gian hoàn thành(Giờ):</label>
                    <div class="input-group" style="width:100%">
                        <input type="text" class="form-control" id="ThoiGianHoanThanh" style="width:100%">
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label " style="line-height:35px">Giá trị:</label>
                    <div class="input-group" style="width:100%">
                        <input type="text" class="form-control GiaTri" name="GiaTri" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="">
                    <label class="control-label " style="line-height:35px">Mô tả</label>
                    <div class="input-group" style="width:100%">
                        <textarea class="mota form-control MoTa" rows="4" style="width:100%"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="">
                    <label class="control-label " style="line-height:35px">Danh sách hình ảnh</label>
                    <div class="dshinhanh" style="width:100%;height:100px">


                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">

                    <div class="input-group text-right box-anh" style="width:100%">
                        <div class="btn btn-primary themhinhanh" style="margin-right:10px">Chọn hình ảnh</div>
                        <input type="file" multiple class="hidden" />
                        <div class="btn btn-success themthanhpam2" style="margin-right:10px">Chọn thành phẩm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="gridDanhSachThanhPham" style="min-height:100px">

            </div>

        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tplThemCongDoan2">
    <div class="gridDanhSachThanhPhamChon" style="min-height:100px">

    </div>
    <div class="row text-right">
        <div class="btn btn-success" id="btnDongY" style="margin-top:10px">Tiếp tục</div>
    </div>
</script>
<script type="text/x-kendo-template" id="tplLoai">
    # if(Loai == 1) { #
    <span class="btn btn-success btn-block no-padding">Người lớn</span>
    # } #
    # if(Loai == 2) { #
    <span class="btn btn-info btn-block no-padding">Trẻ con</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplGioiTinh">
    # if(GioiTinh == 1) { #
    <span class="btn btn-success btn-block no-padding">Nam</span>
    # } #
    # if(GioiTinh == 2) { #
    <span class="btn btn-info btn-block no-padding">Nữ</span>
    # } #
</script>
<div id="mdlThemMoiThanhPham"></div>
<script type="text/x-kendo-template" id="tplThemMoiThanhPham">

    <form id="frmThemMoiThanhPham">
        <div class="row">
            <div class="col-xs-5">
                <div class="col-md-4" style="box-sizing: border-box; text-align: center; margin-bottom:10px; margin-top:10px !important">
                    <div class="panel panel-default" style="margin-bottom: 5px !important;">
                        <div class="panel-body">
                            <div class="anhdaidien imgslider">
                                <a href="javascript:void(0)" class="setavataimage">
                                    <img src="/Content/no-image.jpg" alt="avatar" data-file="no-image.jpg" class="imgavatar" style="width:100%" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="btnChonAnh" class="fileUpload btn btn-primary" style="width:90% !important; text-align:center;">
                        <span><i class="fa fa-camera" aria-hidden="true"></i>  Chọn ảnh</span>
                        <input type="file" id="file_1" name="file_1" class="upload" accept=".png, .jpg, .jpeg">
                    </div>
                </div>
                <div class="col-md-8">
                    <input id="ThanhPhamID" name="ThanhPhamID" data-bind="value:ThanhPhamID" type="text" class="hidden" />
                    <div class="form-group">
                        <label>Mã thành phẩm</label>
                        <input id="MaThanhPham" type="text" class="form-control" name="MaThanhPham" data-bind="value:MaThanhPham" placeholder="Nhập vào mã thành phẩm" required data-required-msg="Mã thành phẩm không được trống" style="box-sizing:border-box">
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label>Tên thành phẩm</label>
                        <input id="TenThanhPham" type="text" class="form-control" name="TenThanhPham" data-bind="value:TenThanhPham" placeholder="Nhập vào tên thành phẩm" required data-required-msg="Tên thành phẩm không được trống" style="box-sizing:border-box">
                    </div><!-- /.form-group -->
                    <label>Đơn vị tính</label>
                    <div class="input-group">
                        <input id="cbbDonVi" name="cbbDonVi" type="text" class="form-control" placeholder="Chọn đơn vị thành phẩm" aria-describedby="basic-addon2" data-bind="value:DonViID" required data-required-msg="Phải chọn đơn vị thành phẩm">
                        <span class="input-group-btn">
                            <button id="btnThemDonViNhanh" class="btn btn-outline-secondary btn-primary glyphicon glyphicon-plus" type="button"></button>
                        </span>
                    </div>
                    <div class="form-group" style="margin-top: 20px;display:none">
                        <label>Đơn giá</label>
                        <input id="DonGia" type="text" class="form-control" name="DonGia" data-bind="value:DonGia" min="0" placeholder="0" style="box-sizing:border-box">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                        <div class="dshinhanhadd">
                        </div>
                        <div class="fileUpload btn btn-primary pull-left" style="margin-top:10px">
                            <span><i class="fa fa-camera" aria-hidden="true"></i>  Thêm ảnh</span>
                            <input type="file" id="files_0" name="files_0" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple">
                        </div>
                        <a id="btnLuuThemMoi" class="btn btn-primary pull-right" style="margin-top:10px !important;">Lưu</a>
                        <a id="btnTheoMau" class="btn btn-warning pull-right" style="margin-top:10px !important;margin-right:10px">Lưu toàn bộ màu</a>
                        <a id="btnXoa" class="btn btn-danger pull-right hidden" style="margin-top:10px !important; margin-right: 10px !important">Xóa</a>
                        <div class="toolVatTu pull-right" style="margin-top:10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="row">
                    <div class="btn btn-warning" id="btnChonNguyenLieu">Định nghĩa thành phẩm</div>
                </div>
                <div id="gridDinhNghia">

                </div>
            </div>

        </div>

    </form>
</script>
<div id="mdlDanhSachNguyenLieu"></div>
<script type="text/x-kendo-template" id="tplDanhSachNguyenLieu">
    <div id="gridDanhSachNguyenLieu"></div>
    <div style="margin-top:15px;">
        <div class="pull-right">
            <button class="btn btn-default" id="btnHuyChonVatTu"><i class="glyphicon glyphicon-share-alt"></i> @Html.Raw(Language.GetText("huy"))</button>
            <button class="btn btn-success" id="btnDongY"><i class="glyphicon glyphicon-ok"></i> @Html.Raw(Language.GetText("dongy"))</button>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="tplLoaiHinh">
    # if(LoaiHinh == 1) { #
    <span class="btn btn-success btn-block no-padding">Nguyên Liệu</span>
    # } #
    # if(LoaiHinh == 2) { #
    <span class="btn btn-info btn-block no-padding">Thành Phẩm</span>
    # } #

</script>

<div id="mdlThemThuocTinh">

</div>
<script type="text/x-kendo-template" id="tplthemthuoctinh">
    <div class="form-group">
        <label>Tên thông số</label>
        <div class="input-group" style="width:100% !important">
            <input id="TenThuocTinh" type="text" class="form-control" style="width:100% !important">
        </div>

    </div>
    <div class="form-group">
        <label>Kiểu dữ liệu</label>
        <div class="input-group" style="width:100% !important">
            <select class="form-control lieudulieu" style="width:100% !important">
                <option value="1">Số</option>
                <option value="2">Chữ</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-luuthuoctinh">Thêm</button>
    </div>
</script>
<div id="mdlDanhSachVatTu">

</div>
<script type="text/x-kendo-template" id="tplDanhSachVatTu">
    <div id="gridDanhSachVatTu"></div>
    <div style="margin-top:15px;">
        <button class="btn btn-default pull-left" id="btnHuyChonVatTu"><i class="glyphicon glyphicon-share-alt"></i> @Html.Raw(Language.GetText("huy"))</button>
        <button class="btn btn-success pull-right" id="btnTiepTuc"><i class="glyphicon glyphicon-ok"></i> Tạo công đoạn tự động</button>
    </div>
</script>


<div id="mdlThietKe">
    <div id="gridThietKe">

    </div>
</div>
<script type="text/x-kendo-template" id="tplTrangThaiSanPham">
    # if(TrangThaiSanPham == 1) { #
    <span style="color:forestgreen; font-weight:bold; font-size:14px;">Đã định nghĩa công thức</span>
    # } #
    # if(TrangThaiSanPham == 2) { #
    <span style="color:red; font-weight:bold; font-size:14px;">Chưa định nghĩa công thức</span>
    # } #
</script>
