﻿@{
    ViewBag.Title = "InThongSo";
}

@model DF.DBMapping.ModelsExt.NghiepVu.ThongSoSanPhamModel
<html>
<head>
    <title>Thông số sản phẩm</title>
    <link href="~/Content/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style>
         table td{
             padding:5px 2px;
         }
    </style>
</head>
<body>
    <div style="padding:10px">
        <div class="text-center">
            <h1><b>THÔNG SỐ SẢN PHẨM</b></h1>
        </div>
        <P><b>Nhân viên TK:</b></P>
        <p><b>Mã hàng: @Model.lstMaSanPham</b></p>
        <p><b>Đặc điểm:</b></p>
        <p><b>Sợi:</b></p>
        <div class="row">
            <div class="col-xs-12">
                @if (Model.LoaiHinhSanXuat == 1)
                {
                    <table style="width:100%" border="1">
                    <thead>
                        <tr>
                            <td class="text-center">Size</td>
                            @foreach (var tentt in Model.thongsos.Select(p=>p.TenThongSo).Distinct().OrderBy(p=>p))
                            {
                                <td style="padding:10px;text-align:center">
                                    @tentt
                                </td>

                            }
                        </tr>
                    </thead>
                    <tbody>
                    @{
                            foreach (var size in Model.Sizes)
                            {
                                if (size.Length==2)
                                { 
                                <tr>
                                    <td class="text-center" style="padding:10px">@size</td>
                                     @foreach (var ts in Model.thongsos.Where(p => p.Size.ToLower() == size.ToLower()).OrderBy(p => p.TenThongSo)) {
                                          <td class="text-center text-bold" style="padding:10px">
                                            @Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo == ts.TenThongSo).GiaTri
                                            </td>
                                    }
                                    @if (!Model.thongsos.Any(p => p.Size.ToLower() == size.ToLower()))
                                    {
                                        <td class="text-center text-bold" style="padding:10px">
                                          
                                        </td>
                                        
                                    }
                                   
                                </tr>
                                }
                            }
                     }
                    </tbody>
                </table>
                }
                else
                {
                    
                    <table style="width:100%" border="1">
                    <thead>
                        <tr>
                            <td class="text-center">Size</td>
                            <td class="text-center">Dài áo</td>
                            <td class="text-center">Rộng áo</td>
                            <td class="text-center">Bản gấu áo</td>
                            <td class="text-center">Vai</td>
                            <td class="text-center">Rộng cổ</td>
                            <td class="text-center">Sâu cổ</td>
                            <td class="text-center">Bản cổ</td>
                            <td class="text-center">Hạ nách</td>
                            <td class="text-center">Dài tay</td>
                            <td class="text-center">Rộng bắp tay</td>
                            <td class="text-center">Rộng cửa tay</td>
                            <td class="text-center">Bản gấu tay</td>
                            <td class="text-center">Số đo cổ</td>
                            <td class="text-center">Số đo thân</td>
                            <td class="text-center">Số đo tay</td>
                            <td class="text-center">Thời gian</td>
                        </tr>
                    </thead>
                    <tbody>
                    @{
                            foreach (var size in Model.Sizes)
                            {
                                if (size.Length==2)
                                { 
                                <tr>
                                    <td class="text-center">@size</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Dài áo".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Dài áo".ToLower()).GiaTri : "") </td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Rộng áo".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Rộng áo".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Bản gấu áo".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Bản gấu áo".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Vai".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Vai".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Rộng cổ".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Rộng cổ".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Sâu cổ".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Sâu cổ".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Bản cổ".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Bản cổ".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Hạ nách".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Hạ nách".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Dài tay".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Dài tay".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Rộng bắp tay".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Rộng bắp tay".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Rộng cửa tay".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Rộng cửa tay".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Bản gấu tay".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Bản gấu tay".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Số đo cổ".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Số đo cổ".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Số đo thân".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Số đo thân".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Số đo tay".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Số đo tay".ToLower()).GiaTri : "")</td>
                                    <td class="text-center">@(Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Thời gian".ToLower()) != null ? Model.thongsos.FirstOrDefault(p => p.Size.ToLower() == size.ToLower() && p.TenThongSo.Trim().ToLower() == "Thời gian".ToLower()).GiaTri : "")</td>
                                    

                                </tr>
                                }
                            }
                     }
                    </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Mật độ bấm</td>
                                <td colspan="5">....đổ thân ===...... cm</td>
                                <td colspan="3">....đổ gấu ===...... cm</td>
                                <td colspan="6">....đổ cổ ===...... cm</td>
                            </tr>
                        </tfoot>
                </table>
                }
                
            </div>
        </div>
        <div class="row" style="margin-top:20px; text-align:left;">
            <div class="col-xs-4">
                <b>Ký xác nhận</b>
            </div>
        </div>

    </div>
    <script>
        window.print();
    </script>
</body>

</html>

