﻿@model DF.DBMapping.ModelsExt.NghiepVu.SanXuatModel
<input type="hidden" id="DonHangID" value="@Model.DonHangID" />
<input type="hidden" id="SanPhamID" value="@Model.SanPhamID" />
<style>
    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: left; /* adjust as needed */
        color: white; /* adjust as needed */
        margin-top: -15px;
        margin-left: -12px;
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }
</style>
<div>
    <div class="col-md-12 text-right">
        <a class="btn btn-success" id="BatDau">Bắt đầu</a>
    </div>
    <div style="margin-top:10px;padding:10px;" class="col-md-12">
        @foreach (var congdoan in Model.lstCongDoan.OrderBy(p => p.ViTri.GetValueOrDefault()))
        {
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background:#73abd3;height:42px">
                        <div class="panel-title">
                            <a href="#@congdoan.HangMucSanXuatID" data-toggle="collapse" class="accordion-toggle">
                                <div style="width: 50%; float: left;color: white">&nbsp;&nbsp;&nbsp; @congdoan.TenCongDoan</div>
                                <div style="width:50%;float:left;">
                                    @{if (congdoan.TrangThai == 1)
                                        { <span style="color:white">Chưa bắt đầu</span>}}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="@congdoan.HangMucSanXuatID" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="success">
                                        <th style="width:70px">Ảnh</th>
                                        <th>Mã thành phẩm</th>
                                        <th>Tên thành phẩm</th>
                                        <th>Tổng</th>
                                        <th>Hoàn thiện</th>
                                        <th>Còn Lại</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var dg in congdoan.lstThanhPham)
                                    {
                                        var isfirst = (congdoan.ViTri == Model.lstCongDoan.OrderBy(p => p.ViTri.GetValueOrDefault()).FirstOrDefault().ViTri);
                                        <tr class="info" data-toggle="collapse" href="#@dg.MaThanhPham">
                                            <td style="width:70px">
                                                <div class="imgslider2" style="float:left;position:relative;">
                                                    <div style=" margin:0px;">
                                                        <a rel="gallery" href="/center/Upload/ImageQLVT/@(dg.AnhDaiDien == "" ? "no-image.jpg" : dg.AnhDaiDien)">
                                                            <img src="/center/Upload/ImageQLVT/@(dg.AnhDaiDien == "" ? "no-image.jpg" : dg.AnhDaiDien)" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@dg.MaThanhPham</td>
                                            <td>@dg.TenThanhPham</td>
                                            <td class="text-right"><b>@dg.SoLuongTong.ToString("n2")</b></td>
                                            <td class="text-right"><b>@dg.SoLuongDaHoanThien.ToString("n2")</b></td>
                                            <td class="text-right"><b>@((dg.SoLuongTong - dg.SoLuongDaHoanThien).ToString("n2"))</b></td>
                                        </tr>
                                        <tr id="@dg.MaThanhPham" class="panel-collapse collapse">
                                            <td></td>
                                            <td colspan="5">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr class="warning">
                                                            <th style="width:70px">Ảnh</th>
                                                            <th>Loại nguyên liệu</th>
                                                            <th>Mã nguyên liệu</th>
                                                            <th>Tên nguyên liệu</th>
                                                            <th>Số lượng cần</th>
                                                            <th>Số lượng hiện có</th>
                                                            @if (isfirst)
                                                            {
                                                                <th>Loại vải</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var nn in dg.lstNguyenLieu)
                                                        {
                                                            <tr>
                                                                <td style="width:70px">
                                                                    <div class="imgslider2" style="float:left;position:relative;">
                                                                        <div style=" margin:0px;">
                                                                            <a rel="gallery" href="/center/Upload/ImageQLVT/@(nn.AnhDaiDien == "" ? "no-image.jpg" : nn.AnhDaiDien)">
                                                                                <img src="/center/Upload/ImageQLVT/@(nn.AnhDaiDien == "" ? "no-image.jpg" : nn.AnhDaiDien)" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    @if (nn.LoaiHinh == 1)
                                                                    {
                                                                        <span class="btn  btn-success" style="display:block;">Nguyên liệu</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="btn  btn-info" style="display:block;">Thành phẩm</span>
                                                                    }
                                                                </td>
                                                                <td>@nn.MaNguyenLieu</td>
                                                                <td>@nn.TenNguyenLieu</td>
                                                                <td class="text-right"><b>@nn.SoLuong.ToString("n2")</b></td>
                                                                <td class="text-right"><b>@nn.SoLuongDaCo.ToString("n2")</b></td>
                                                                @if (isfirst)
                                                                {
                                                                    <td>
                                                                        @(nn.LoaiVai == 1 ? "Vải chính" : "")
                                                                        @(nn.LoaiVai == 2 ? "Vải phối lót" : "")
                                                                        @(nn.LoaiVai == 3 ? "Vải phối P1" : "")
                                                                        @(nn.LoaiVai == 4 ? "Vải phối P2" : "")
                                                                        @(nn.LoaiVai == 5 ? "Chỉ may" : "")
                                                                        @(nn.LoaiVai == 6 ? "Mác" : "")
                                                                        @(nn.LoaiVai == 7 ? "Cúc" : "")
                                                                        @(nn.LoaiVai == 8 ? "PK khác" : "")
                                                                    </td>
                                                                }
                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

                                        }
    </div>
    @if (Model.congDoanCuoi != null)
    {
        <div style="padding: 10px;" class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background:#73abd3;height:42px">
                        <div class="panel-title">
                            <a href="#congdoancuoi" data-toggle="collapse" class="accordion-toggle">
                                <div style="width: 50%; float: left; color: white">&nbsp;&nbsp;&nbsp; Tổng hợp công đoạn</div>
                                <div style="width:50%;float:left;">
                                    <span style="color:white">Chưa bắt đầu</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="congdoancuoi" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p><b>Thời gian còn lại theo định mức @(Model.congDoanCuoi.ThoiGianHienTai) / @(Model.congDoanCuoi.ThoiGianDinhMuc) (Giờ)</b></p>
                            <p style="margin-top:10px"><b>Số lượng @(Model.congDoanCuoi.SoLuongDaCo) / @(Model.congDoanCuoi.SoLuong)</b></p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="success">
                                        <th style="width:70px">Ảnh</th>
                                        <th>Mã thành phẩm</th>
                                        <th>Tên thành phẩm</th>
                                        <th>Tổng</th>
                                        <th>Đã có</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var dg in Model.congDoanCuoi.lstThanhPham)
                                    {
                                        <tr class="info" data-toggle="collapse">
                                            <td style="width:70px">
                                                <div class="imgslider2" style="float:left;position:relative;">
                                                    <div style=" margin:0px;">
                                                        <a rel="gallery" href="/center/Upload/ImageQLVT/@(dg.AnhDaiDien == "" ? "no-image.jpg" : dg.AnhDaiDien)">
                                                            <img src="/center/Upload/ImageQLVT/@(dg.AnhDaiDien == "" ? "no-image.jpg" : dg.AnhDaiDien)" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@dg.MaThanhPham</td>
                                            <td>@dg.TenThanhPham</td>
                                            <td class="text-right"><b>@dg.SoLuongTong.ToString("n2")</b></td>
                                            <td class="text-right"><b>@dg.SoLuongDaHoanThien.ToString("n2")</b></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    }

</div>
<div id="mdldenghinl">

</div>
<script>
    $("#BatDau").click(function () {
        if ($(".accordion-toggle").length > 0) {
            ContentWatingOP("SanXuatThu", 0.9);
            $.ajax({
                type: "POST",
                url: "/DMSanPham/BatDauSanXuat",
                data: { SanPhamID: $("#SanPhamID").val(), DonHangID: $("#DonHangID").val() },
                success: function (data) {
                    if (data.code == "success") {
                        setTimeout(function () {
                            $("#SanXuatThu").load("/DMSanPham/ViewSanXuatSanPham?SanPhamID=" + $("#SanPhamID").val() + "&DonHangID=" + $("#DonHangID").val());
                            $("#SanXuatThu").unblock();
                        }, 1000)
                    } else {
                        $("#SanXuatThu").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                },
                error: function (xhr, status, error) {
                    $("#SanXuatThu").unblock();
                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                }
            })

        } else {
            showToast("error", GetTextLanguage("thatbai"), "Chưa định nghĩa công thức");
        }
    });

</script>