﻿@model DF.DBMapping.ModelsExt.NghiepVu.SanXuatModel
<input type="hidden" id="DonHangID" value="@Model.DonHangID" />
<input type="hidden" id="SanPhamID" value="@Model.SanPhamID" />
<style>
    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: left; /* adjust as needed */
        color: white; /* adjust as needed */
        margin-top: -15px;
        margin-left: -12px;
        ;
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }
</style>

<div>
    <div style="margin-top:10px;padding:10px;" class="col-md-12">
        @foreach (var congdoan in Model.lstCongDoan.OrderBy(p => p.ViTri.GetValueOrDefault()))
        {
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background:#73abd3;height:42px">
                        <div class="panel-title">
                            <a href="#@congdoan.HangMucSanXuatID" data-toggle="collapse" class="accordion-toggle" style="width: 40%; float: left; color: white">
                                <div>&nbsp;&nbsp;&nbsp; @congdoan.TenCongDoan</div>
                            </a>
                            <div style="width:20%;float:left;margin-right:20px">
                                <div style="color:white">
                                    @(congdoan.TrangThai == 1 ? "Chưa bắt đầu" : "")
                                    @(congdoan.TrangThai == 2 ? "Đang sản xuất" : "")
                                    @(congdoan.TrangThai == 3 ? "Đã hoàn thành" : "")
                                </div>
                            </div>
                            @if (congdoan.TrangThai == 2)
                            {
                                <div style="width:20%;float:left;margin-left:10px">
                                    <div class="btn btn-success themsanxuatcongdoan" data-hangmucsanxuatid="@congdoan.HangMucSanXuatID" data-source="@Newtonsoft.Json.JsonConvert.SerializeObject(congdoan.lstThanhPham)" style="height: 33px; margin-top: -10px;">
                                        Sản xuất
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="@congdoan.HangMucSanXuatID" class="panel-collapse collapse @(congdoan.TrangThai == 2 ? "in" : "")">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="success">
                                        <th style="width:70px">Ảnh</th>
                                        <th>Mã thành phẩm</th>
                                        <th>Tên thành phẩm</th>
                                        <th>Tổng</th>
                                        <th>Hoàn thiện</th>
                                        <th>Còn Lại</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var dg in congdoan.lstThanhPham)
                                    {
                                        var isfirst = (congdoan.ViTri == Model.lstCongDoan.OrderBy(p => p.ViTri.GetValueOrDefault()).FirstOrDefault().ViTri);
                                        <tr class="info" data-toggle="collapse" href="#@dg.MaThanhPham">
                                            <td style="width:70px">
                                                <div class="imgslider2" style="float:left;position:relative;">
                                                    <div style=" margin:0px;">
                                                        <a rel="gallery" href="/center/Upload/ImageQLVT/@dg.AnhDaiDien">
                                                            <img src="/center/Upload/ImageQLVT/@dg.AnhDaiDien" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@dg.MaThanhPham</td>
                                            <td>@dg.TenThanhPham</td>
                                            <td class="text-right"><b>@dg.SoLuongTong.ToString("n2")</b></td>
                                            <td class="text-right"><b>@dg.SoLuongDaHoanThien.ToString("n2")</b></td>
                                            <td class="text-right"><b>@((dg.SoLuongTong - dg.SoLuongDaHoanThien).ToString("n2"))</b></td>
                                        </tr>
                                        <tr id="@dg.MaThanhPham" class="panel-collapse collapse">
                                            <td></td>
                                            <td colspan="5">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr class="warning">
                                                            <th style="width:70px">Ảnh</th>
                                                            <th>Loại nguyên liệu</th>
                                                            <th>Mã nguyên liệu</th>
                                                            <th>Tên nguyên liệu</th>
                                                            <th>Số lượng cần</th>
                                                            <th>Số lượng hiện có</th>
                                                            @if (isfirst)
                                                            {
                                                                <th>Loại vải</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var nn in dg.lstNguyenLieu)
                                                        {
                                                            <tr>
                                                                <td style="width:70px">
                                                                    <div class="imgslider2" style="float:left;position:relative;">
                                                                        <div style=" margin:0px;">
                                                                            <a rel="gallery" href="/center/Upload/ImageQLVT/@(nn.AnhDaiDien == "" ? "no-image.jpg" : nn.AnhDaiDien)">
                                                                                <img src="/center/Upload/ImageQLVT/@(nn.AnhDaiDien == "" ? "no-image.jpg" : nn.AnhDaiDien)" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    @if (nn.LoaiHinh == 1)
                                                                    {
                                                                        <span class="btn  btn-success" style="display:block;">Nguyên liệu</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="btn  btn-info" style="display:block;">Thành phẩm</span>
                                                                    }
                                                                </td>
                                                                <td>@nn.MaNguyenLieu</td>
                                                                <td>@nn.TenNguyenLieu</td>

                                                                <td class="text-right"><b>@nn.SoLuong.ToString("n2")</b></td>
                                                                <td class="text-right"><b>@nn.SoLuongDaCo.ToString("n2")</b></td>
                                                                @if (isfirst)
                                                                {
                                                                    <td>
                                                                        @(nn.LoaiVai == 1 ? "Vải chính" : "")
                                                                        @(nn.LoaiVai == 2 ? "Vải phối lót" : "")
                                                                        @(nn.LoaiVai == 3 ? "Vải phối P1" : "")
                                                                        @(nn.LoaiVai == 4 ? "Vải phối P2" : "")
                                                                        @(nn.LoaiVai == 5 ? "Chỉ may" : "")
                                                                        @(nn.LoaiVai == 6 ? "Mác" : "")
                                                                        @(nn.LoaiVai == 7 ? "Cúc" : "")
                                                                        @(nn.LoaiVai == 8 ? "PK khác" : "")
                                                                    </td>
                                                                }
                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        }
    </div>
    <div style="padding: 10px;" class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" style="background:#73abd3;height:42px">
                    <div class="panel-title">
                        <a href="#congdoancuoi" data-toggle="collapse" class="accordion-toggle" style="width: 40%; float: left; color: white">
                            <div>&nbsp;&nbsp;&nbsp; Tổng hợp công đoạn</div>
                        </a>
                        <div style="width:20%;float:left;margin-right:20px">
                            <div style="color:white">
                                @(Model.congDoanCuoi.TrangThai == 1 ? "Chưa bắt đầu" : "")
                                @(Model.congDoanCuoi.TrangThai == 2 ? "Đang sản xuất" : "")
                                @(Model.congDoanCuoi.TrangThai == 3 ? "Đã hoàn thành" : "")
                            </div>
                        </div>
                        @if (Model.congDoanCuoi.TrangThai == 2)
                        {
                            <div style="width:20%;float:left;margin-left:10px">
                                <div class="btn btn-success themsanxuatcongdoancuoi" data-slsp="@Model.congDoanCuoi.SoLuong" data-source="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.congDoanCuoi.lstThanhPham)" style="height: 33px; margin-top: -10px;">
                                    Sản xuất
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="congdoancuoi" class="panel-collapse collapse @(Model.congDoanCuoi.TrangThai == 2 ? "in" : "")">
                    <div class="panel-body">
                        @*<p><b>Thời gian còn lại theo định mức @(Model.congDoanCuoi.ThoiGianHienTai.ToString("n2")) / @(Model.congDoanCuoi.ThoiGianDinhMuc) (Giờ)</b></p>
                            <p style="margin-top:10px"><b>Số lượng @(Model.congDoanCuoi.SoLuongDaCo) / @(Model.congDoanCuoi.SoLuong)</b></p>*@
                        <table class="table table-bordered">
                            <thead>
                                <tr class="success">
                                    <th style="width:70px">Ảnh</th>
                                    <th>Mã thành phẩm</th>
                                    <th>Tên thành phẩm</th>
                                    <th>Tổng</th>
                                    <th>Đã có</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dg in Model.congDoanCuoi.lstThanhPham)
                                {
                                    <tr class="info" data-toggle="collapse">
                                        <td style="width:70px">
                                            <div class="imgslider2" style="float:left;position:relative;">
                                                <div style=" margin:0px;">
                                                    <a rel="gallery" href="/center/Upload/ImageQLVT/@(dg.AnhDaiDien == "" ? "no-image.jpg" : dg.AnhDaiDien)">
                                                        <img src="/center/Upload/ImageQLVT/@(dg.AnhDaiDien == "" ? "no-image.jpg" : dg.AnhDaiDien)" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@dg.MaThanhPham</td>
                                        <td>@dg.TenThanhPham</td>
                                        <td class="text-right"><b>@dg.SoLuongTong.ToString("n2")</b></td>
                                        <td class="text-right"><b>@dg.SoLuongDaHoanThien.ToString("n2")</b></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div id="mdlSanXuatThanhPham">

</div>
<script type="text/x-kendo-template" id="tempSanXuatThanhPham">
    <div class="row" style="margin-bottom:20px !important;">
        <div class="col-md-12 text-right">
            <button class="btn btn-warning" id="btnSanXuat">Sản xuất</button>
        </div>
    </div>
    <div class="row">
        <div id="gridThanhPham" class="col-md-6">

        </div>
        <div id="gridNguyenLieu" class="col-md-6">

        </div>
    </div>
</script>
<div id="mdlSanXuatSanPham">

</div>
<script type="text/x-kendo-template" id="tempSanXuatSanPham">
    <div class="row" style="margin-bottom:20px !important;">
        <div class="col-md-6 hidden">
            <div class="form-group">
                @*<label>Số lượng sản phẩm sản xuất (@(Model.congDoanCuoi.SoLuongDaCo) / @(Model.congDoanCuoi.SoLuong)) :</label>*@
                <div class="input-group" style="width:100%">
                    <input class="form-control" type="text" id="SoLuongSanPham" style="width:100%;text-align:right" value="1" />
                </div>
            </div>

        </div>
        <div class="col-md-12 text-right">
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="input-group" style="width:100%">
                    <button class="btn btn-warning" id="btnSanXuatSanPham">Sản xuất</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div id="gridThanhPham" class="col-md-12">

        </div>
    </div>
</script>
<div id="mdldenghinl">

</div>
<script type="text/x-kendo-template" id="tplLoaiHinh2">
    # if(LoaiHinh == 1) { #
    <span class="btn btn-success btn-block no-padding">Nguyên liệu</span>
    # } #
    # if(LoaiHinh == 2) { #
    <span class="btn btn-info btn-block no-padding">Thành Phẩm</span>
    # } #

</script>
<script>
    $(".themsanxuatcongdoan").click(function () {
        CreateModalWithSize("mdlSanXuatThanhPham", "100%", "95%", "tempSanXuatThanhPham", "Sản xuất");
        var hangmucsanxuatid = $(this).data("hangmucsanxuatid");
        var lst = $(this).data("source");
        $("#gridNguyenLieu").kendoGrid({
            dataSource: new kendo.data.DataSource(
           {
               data: null,
               batch: true,
               pageSize: 20,
               sort: [{ field: "TenVatTu", dir: "asc" }],
               schema: {
                   data: 'data',
                   total: 'total',
                   model: {
                       id: "NguyenLieuID",
                       fields: {
                           NguyenLieuID: { editable: false },
                           TenDonVi: { type: "string", editable: false },
                           TenNguyenLieu: { type: "string", editable: false },
                           MaNguyenLieu: { type: "string", editable: false },
                           LoaiHinh: { type: "number", editable: false },
                           SoLuongCan: { type: "number", editable: true },
                           SoLuongDaCo: { type: "number", editable: true },
                       }
                   }
               },
           }),
            height: window.innerHeight * 0.80,
            width: "100%",
            filterable: {
                mode: "row"
            },
            sortable: true,
            resizable: true,
            dataBinding: function () {
                record = 0;
            },
            pageable: pageableAll,
            columns: [
                {
                    title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                    template: "#= ++record #",
                    width: 60,
                    attributes: alignCenter
                },
                {
                    field: "AnhDaiDien", title: "Ảnh",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    template: kendo.template($("#tplAnh").html()),
                    width: 70
                },
                 {
                     field: "LoaiHinh", width: 100,
                     title: "Loại Hình",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplLoaiHinh2").html())
                 },
                {
                    field: "TenNguyenLieu", width: 200,
                    title: "Tên nguyên liệu",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "MaNguyenLieu",
                    width: 100,
                    attributes: { style: "text-align:left;" },
                    title: "Mã nguyên liệu",
                    filterable: FilterInTextColumn
                },
                {
                    field: "DonVi", width: 100,
                    title: GetTextLanguage("donvi"),
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "SoLuongCan", width: 100,
                    title: "Số lượng cần",
                    format: "{0:n2}",
                    attributes: alignRight,
                    filterable: FilterInColumn,

                },
                 {
                     field: "SoLuongDaCo", width: 100,
                     title: "Số lượng đã có",
                     format: "{0:n2}",
                     attributes: alignRight,
                     filterable: FilterInColumn,
                 },

            ],
            dataBound: function (e) {
                showslideimg10();
                var rows = this.items();
                var gridct = $("#gridNguyenLieu").data("kendoGrid");
                var next = true;
                $(rows).each(function () {
                    var dataItem = gridct.dataItem((this));
                    if (Math.round(dataItem.SoLuongCan, 2) > Math.round(dataItem.SoLuongDaCo, 2)) {
                        $(this).css("background", "#d6bdbd");
                        $("#btnSanXuat").removeClass("btn-warning");
                        $("#btnSanXuat").addClass("disabled");
                        next = false;
                    }
                });
                if (next == true) {
                    $("#btnSanXuat").addClass("btn-warning");
                    $("#btnSanXuat").removeClass("disabled");
                }
            },
        });

        var grid = $("#gridThanhPham").kendoGrid({
            dataSource: new kendo.data.DataSource({
                data: lst,
                type: "json",
                batch: true,
                pageSize: 50,
                schema: {
                    model: {
                        id: "ThanhPhamID",
                        fields: {
                            ThanhPhamID: { editable: false, nullable: true },
                            MaThanhPham: { editable: false, nullable: true },
                            TenThanhPham: { editable: false, nullable: true },
                            DonVi: { editable: false, nullable: true },
                            SoLuongTong: { type: "number", editable: true, nullable: true },
                        }
                    }
                },
            }),
            filterable: {
                mode: "row"
            },
            sortable: true,
            editable: true,
            resizable: true,
            pageable: {
                refresh: true,
                buttonCount: 5,
                pageSizes: true,
                messages: messagegrid
            },
            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },
            height: window.innerHeight * 0.8,
            width: "100%",
            columns: [
                {
                    title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                    width: 60,
                    attributes: alignCenter,
                    template: "#= ++record #",
                },
                 {
                     field: "AnhDaiDien", title: "Ảnh",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplAnh").html()),
                     width: 70
                 },
                {
                    field: "MaThanhPham",
                    title: "Mã thành phẩm",
                    width: 100,
                    attributes: alignCenter,
                    filterable: FilterInTextColumn,
                },
                {
                    field: "TenThanhPham",
                    title: "Tên thành phẩm",
                    filterable: FilterInTextColumn,
                    attributes: { style: "text-align:left;" },
                    width: 200
                },
                {
                    field: "DonVi",
                    title: "Đơn vị",
                    width: 80,
                    attributes: alignCenter,
                    filterable: FilterInTextColumn
                },
                 {
                     field: "SoLuongTong",
                     title: "Số lượng sản xuất",
                     width: 150,
                     format: "{0:n2}",
                     attributes: { class: "soluongcheck" },
                     filterable: FilterInColumn,
                     editor: function (container, options) {
                         var input = $('<input type="text"  style="width:75%;height:15px;" class="form-control" id="' + options.model.get("ThanhPhamID") + '" name="SoLuongTong" />');
                         input.appendTo(container);
                         input.autoNumeric(autoNumericOptionsSoLuong);
                     },
                 },

            ],
            dataBound: function (e) {
                showslideimg10();
                var items = [];
                var datas = $("#gridThanhPham").data("kendoGrid").dataSource.data();
                for (var i = 0; i < datas.length; i++) {
                    if (datas[i].SoLuongTong > 0) {
                        for (var o = 0; o < datas[i].lstNguyenLieu.length; o++) {
                            var add = false;
                            for (var j = 0; j < items.length; j++) {
                                if (items[j].NguyenLieuID == datas[i].lstNguyenLieu[o].NguyenLieuID) {
                                    items[j].SoLuongCan = items[j].SoLuongCan + (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongTong)
                                    add == true;
                                }
                            }
                            if (!add) {
                                datas[i].lstNguyenLieu[o].SoLuongCan = (datas[i].lstNguyenLieu[o].SoLuong / datas[i].SoLuongTong * datas[i].SoLuongTong)
                                items.push(datas[i].lstNguyenLieu[o]);
                            }
                        }
                    }
                }
                $("#gridNguyenLieu").data("kendoGrid").dataSource.data(items);

            },

        });

        $("#btnSanXuat").click(function () {
            if (!$(this).hasClass("disabled")) {
                var datas = $("#gridThanhPham").data("kendoGrid").dataSource.data();
                var cont = 0;
                var lstthanhpham = [];
                for (var i = 0; i < datas.length; i++) {
                    if (datas[i].SoLuongTong > 0) {
                        cont++;
                        lstthanhpham.push(datas[i]);
                    }
                }
                if (cont <= 0) {
                    showToast("warning", GetTextLanguage("canhbao"), "Vui lòng nhập số lượng nguyên liệu đã sản xuất được.");
                    return false;
                }
                ContentWatingOP("mdlSanXuatThanhPham", 0.9);
                $.ajax({
                    type: "POST",
                    url: "/DMSanPham/SanXuatThanhPham",
                    data: { SanPhamID: $("#SanPhamID").val(), DonHangID: $("#DonHangID").val(), HangMucSanXuatID: hangmucsanxuatid, datanhap: JSON.stringify(lstthanhpham), dataxuat: JSON.stringify($("#gridNguyenLieu").data("kendoGrid").dataSource.data()) },
                    success: function (data) {
                        if (data.code == "success") {
                            setTimeout(function () {
                                closeModel("mdlSanXuatThanhPham");
                                ContentWatingOP("SanXuatThu", 0.9);
                                $("#SanXuatThu").load("/DMSanPham/ViewSanXuatSanPham?SanPhamID=" + $("#SanPhamID").val() + "&DonHangID=" + $("#DonHangID").val());
                                $("#mdlSanXuatThanhPham").unblock();
                            }, 1000)
                        } else {
                            $("#SanXuatThu").unblock();
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    },
                    error: function (xhr, status, error) {
                        $("#mdlSanXuatThanhPham").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                })
            } else {
                showToast("warning", GetTextLanguage("canhbao"), "Không đủ nguyên liệu để sản xuất");

            }
        })
    });

    $(".themsanxuatcongdoancuoi").click(function () {
        CreateModalWithSize("mdlSanXuatSanPham", "100%", "95%", "tempSanXuatSanPham", "Sản xuất");
        var lst = $(this).data("source");
        var sqsp = parseFloat($(this).data("slsp"));
        $("#SoLuongSanPham").autoNumeric({
            digitGroupSeparator: ',',
            decimalCharacter: '.',
            minimumValue: '0',
            maximumValue: '999999999999999',
        });
        var grid = $("#gridThanhPham").kendoGrid({
            dataSource: new kendo.data.DataSource({
                data: lst,
                type: "json",
                batch: true,
                pageSize: 50,
                schema: {
                    model: {
                        id: "ThanhPhamID",
                        fields: {
                            ThanhPhamID: { editable: false, nullable: true },
                            MaThanhPham: { editable: false, nullable: true },
                            TenThanhPham: { editable: false, nullable: true },
                            DonVi: { editable: false, nullable: true },
                            SoLuongTong: { type: "number", editable: true, nullable: true },
                        }
                    }
                },
            }),
            filterable: {
                mode: "row"
            },
            sortable: true,
            resizable: true,
            pageable: {
                refresh: true,
                buttonCount: 5,
                pageSizes: true,
                messages: messagegrid
            },
            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },
            height: window.innerHeight * 0.8,
            width: "100%",
            columns: [
                {
                    title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                    width: 60,
                    attributes: alignCenter,
                    template: "#= ++record #",
                },
                 {
                     field: "AnhDaiDien", title: "Ảnh",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplAnh").html()),
                     width: 70
                 },
                {
                    field: "MaThanhPham",
                    title: "Mã thành phẩm",
                    width: 100,
                    attributes: alignCenter,
                    filterable: FilterInTextColumn,
                },
                {
                    field: "TenThanhPham",
                    title: "Tên thành phẩm",
                    filterable: FilterInTextColumn,
                    attributes: { style: "text-align:left;" },
                    width: 200
                },
                {
                    field: "DonVi",
                    title: "Đơn vị",
                    width: 80,
                    attributes: alignCenter,
                    filterable: FilterInTextColumn
                },
                 {
                     field: "SoLuongTong",
                     title: "Số lượng cần",
                     width: 150,
                     format: "{0:n2}",
                     attributes: alignRight,
                     filterable: FilterInColumn,
                 },
                 {
                     field: "SoLuongDaHoanThien",
                     title: "Số lượng đã có",
                     width: 150,
                     format: "{0:n2}",
                     attributes: alignRight,
                     filterable: FilterInColumn,
                 },
            ],
            dataBound: function (e) {
                showslideimg10();
                var rows = this.items();
                var gridct = $("#gridThanhPham").data("kendoGrid");
                var next = true;
                $(rows).each(function () {
                    var dataItem = gridct.dataItem((this));
                    if (Math.round(dataItem.SoLuongTong, 2) > Math.round(dataItem.SoLuongDaHoanThien, 2)) {
                        $(this).css("background", "#d6bdbd");
                        $("#btnSanXuatSanPham").removeClass("btn-warning");
                        $("#btnSanXuatSanPham").addClass("disabled");
                        next = false;
                    }
                });
                if (next == true) {
                    $("#btnSanXuatSanPham").addClass("btn-warning");
                    $("#btnSanXuatSanPham").removeClass("disabled");
                }
            },
        });
        $("#SoLuongSanPham").keypress(function (e) {
            var datas = $("#gridThanhPham").data("kendoGrid").dataSource.data();
            for (var i = 0; i < datas.length; i++) {
                datas[i].SoLuongTong = (datas[i].SoLuongTong / sqsp) * $("#SoLuongSanPham").autoNumeric("get");
            }
            $("#gridThanhPham").data("kendoGrid").dataSource.data(datas);

        });
        $("#btnSanXuatSanPham").click(function () {
            if (!$(this).hasClass("disabled")) {
                var datas = $("#gridThanhPham").data("kendoGrid").dataSource.data();

                if ($("#SoLuongSanPham").val() == "" || $("#SoLuongSanPham").autoNumeric("get") <= 0) {
                    showToast("warning", GetTextLanguage("canhbao"), "Vui lòng nhập số lượng sản phẩm đã sản xuất được.");
                    return false;
                }
                ContentWatingOP("mdlSanXuatSanPham", 0.9);
                $.ajax({
                    type: "POST",
                    url: "/DMSanPham/SanXuatSanPham",
                    data: { SanPhamID: $("#SanPhamID").val(), DonHangID: $("#DonHangID").val(), SoLuong: $("#SoLuongSanPham").autoNumeric("get"), dataxuat: JSON.stringify($("#gridThanhPham").data("kendoGrid").dataSource.data()) },
                    success: function (data) {
                        if (data.code == "success") {
                            setTimeout(function () {
                                closeModel("mdlSanXuatSanPham");
                                ContentWatingOP("SanXuatThu", 0.9);
                                $("#SanXuatThu").load("/DMSanPham/ViewSanXuatSanPham?SanPhamID=" + $("#SanPhamID").val() + "&DonHangID=" + $("#DonHangID").val());
                                $("#mdlSanXuatSanPham").unblock();
                            }, 1000)
                        } else {
                            $("#SanXuatThu").unblock();
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    },
                    error: function (xhr, status, error) {
                        $("#mdlSanXuatSanPham").unblock();
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                    }
                })
            } else {
                showToast("warning", GetTextLanguage("canhbao"), "Không đủ thành phẩm để sản xuất. Vui lòng giảm số lượng sản phẩm");

            }
        })
    });
</script>