﻿@{
    ViewBag.Title = Language.GetText("danhmucdonvitinh");
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<script type="text/javascript" src="~/Scripts/DanhMuc/DMDonVi.js"></script>

<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
        <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
        <button id="btnAdd" class="k-button k-button-icontext k-grid-add"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
    </div>
</script>

<div class="content">
    <div id="grid"></div>
</div>

<div id="mdlThemFileExcel">

</div>
<script type="text/x-kendo-template" id="tempImport">

    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem">

    </div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />