﻿@{
    ViewBag.Title = "Danh mục thuộc tính sản phẩm";
}
<link href="/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="/Content/lib/fncUploadFile.js"></script>
<script type="text/javascript" src="~/Scripts/DanhMuc/DMThuocTinhSanPham.js"></script>
<style>
    .k-edit-form-container {
        width: 100%;
    }

    .dshinhanhadd {
        padding: 10px;
        border: 1px solid #ddd;
        height: 90px;
        background: #ddd;
    }

    .btn-outline-secondary {
        color: #fff !important;
        background-color: #0c7cd5 !important;
        background-image: none !important;
        border-color: #ddd !important;
    }
</style>



<div class="content">
    <div id="grid"></div>
</div>

<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        @*<span class="btn btn-primary btnexcel">@Html.Raw(Language.GetText("xuatexcel"))</span>
        <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
        <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>*@
        <button id="btnAdd" class="btn btn-warning k-btn k-grid-add"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm mới</button>
    </div>
</script>

<div id="mdlThemMoiThuocTinhSanPham"></div>
<script type="text/x-kendo-template" id="tplThemMoiThuocTinhSanPham">

    <form id="frmThemMoiThuocTinhSanPham">
        <div class="row">
            <div class="col-md-12">
                <input id="ThuocTinhSanPhamID" name="ThuocTinhSanPhamID" data-bind="value:ThuocTinhSanPhamID" type="text" class="hidden" />
                <div class="form-group">
                    <label>Tên thuộc tính</label>
                    <input id="TenThuocTinh" type="text" class="form-control" name="TenThuocTinh" data-bind="value:TenThuocTinh" placeholder="Nhập vào tên thuộc tính" required data-required-msg="Tên thuộc tính không được trống" style="box-sizing:border-box">
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label>Kiểu dữ liệu</label>
                    <div class="input-group" style="width:100%">
                        <input style="width: 100%;" id="drdKieuDuLieu" name="drdKieuDuLieu" type="text" class="form-control" placeholder="Chọn kiểu dữ liệu sản phẩm" aria-describedby="basic-addon2" data-bind="value:KieuDuLieu" required data-required-msg="Phải chọn kiểu dữ liệu sản phẩm">
                    </div>
                </div>
                <div class="form-group">
                    <label>Loại sản phẩm</label>
                    <div class="input-group" style="width:100%">
                        <input style="width: 100%;" id="drdLoaiHinhSanXuat" name="drdLoaiHinhSanXuat" type="text" class="form-control" placeholder="Chọn loại" aria-describedby="basic-addon2" data-bind="value:LoaiHinhSanXuat" required data-required-msg="Phải chọn loại">
                    </div>
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                <a id="btnLuuThemMoi" class="btn btn-primary pull-right" style="margin-top:10px !important;">Lưu</a>
                <a id="btnXoa" class="btn btn-danger pull-right hidden" style="margin-top:10px !important; margin-right: 10px !important">Xóa</a>
                <div class="toolVatTu pull-right" style="margin-top:10px;"></div>
            </div>
        </div>
    </form>
</script>

<script type="text/x-kendo-template" id="tplKieuDuLieu">
    # if(KieuDuLieu == 1) { #
    <span>Số</span>
    # } #
    # if(KieuDuLieu == 2) { #
    <span>Chữ</span>
    # } #
</script>

<!--<script type="text/x-kendo-template" id="tplThemNhanhDonVi">
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <div class="form-group">
                <label>Tên đơn vị</label>
                <input id="TenDonVi" type="text" class="form-control" name="TenDonVi" data-bind="value:TenDonVi" placeholder="Nhập vào tên đơn vị" required data-required-msg="Tên đơn vị không được trống" style="box-sizing:border-box">
            </div><!-- /.form-group
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <button id="btnLuuNhanhDonVi" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Lưu</button>
        </div>
    </div>
</script> -->

<div id="mdlThemFileExcel"></div>
<script type="text/x-kendo-template" id="tempImport">
    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem"></div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />