﻿@{
    ViewBag.Title = "Báo cáo tiêu hao nguyên liệu";
}
<link href="/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="/Content/lib/fncUploadFile.js"></script>
<style>
    .k-edit-form-container {
        width: 100%;
    }
    .btn-outline-secondary {
        color: #fff !important;
        background-color: #0c7cd5 !important;
        background-image: none !important;
        border-color: #ddd !important;
    }
</style>
<div class="content">
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<script>
    $(document).ready(function () {
    //Init
    var crudServiceBaseUrl = "/BaoCaoTieuHaoNguyenLieu";
    var dataBaoCao = new kendo.data.DataSource({
        transport: {
            read: {
                url: crudServiceBaseUrl + "/BaoCaoTieuHaoNguyenLieu",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: {}
            },
            parameterMap: function (options, type) {
                return JSON.stringify(options);
            }
        },
        type: "json",
        batch: true,
        pageSize: 50,
        schema: {
            type: 'json',
            data: 'data',
            total: "total",
            model: {
                id: "NguyenLieuID",
                fields: {
                    NguyenLieuID: { editable: false, nullable: true },
                }
            }
        },
    });
    //Build grid
    var grid = $("#grid").kendoGrid({
        dataSource: dataBaoCao,
        filterable: {
            mode: "row"
        },
        sortable: true,
        resizable: true,
        pageable: {
            refresh: true,
            buttonCount: 5,
            pageSizes: true,
            messages: messagegrid
        },
        dataBinding: function () {
            record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
        },
        height: window.innerHeight * 0.8,
        width: "100%",
        columns: [
            {
                title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                width: 60,
                attributes: alignCenter,
                template: "#= ++record #",
            },
             {
                 field: "AnhDaiDien", title: "Ảnh",
                 attributes: { style: "text-align:left;" },
                 filterable: FilterInTextColumn,
                 template: kendo.template($("#tplAnh").html()),
                 width: 70
             },
            {
                field: "MaNguyenLieu",
                title: "Mã nguyên liệu",
                width: 100,
                attributes: alignCenter,
                filterable: FilterInTextColumn,
            },
            {
                field: "TenNguyenLieu",
                title: "Tên Nguyên Liệu",
                filterable: FilterInTextColumn,
                attributes: { style: "text-align:left;" },
                width: 400
            },
            {
                field: "TenDonVi",
                title: "Đơn vị",
                width: 80,
                attributes: alignCenter,
                filterable: FilterInTextColumn
            },
            {
                field: "SoLuong",
                title: "Số lượng",
                width: 80,
                attributes: alignCenter,
                filterable: FilterInTextColumn,
                format: "{0:n0}",
            },
        ],
        dataBound: function (e) {
            showslideimg10();
        },
    });
    //---------------------------------------------------------------------------------------------------------------
});

</script>