﻿@{
    ViewBag.Title = Language.GetText("danhmucvattu");
}
<script type="text/javascript" src="~/Scripts/DanhMuc/DMVatTu.js"></script>
<style>
    .k-edit-form-container {
        width: 100%;
    }

    .btn-outline-secondary {
        color: #fff !important;
        background-color: #0c7cd5 !important;
        background-image: none !important;
        border-color: #ddd !important;
    }
</style>

<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
        <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
        <button id="btnAdd" class="btn btn-warning k-btn k-grid-add"><i class="fa fa-plus" aria-hidden="true"></i> @Html.Raw(Language.GetText("them"))</button>
    </div>
</script>

<div class="content">
    <div id="grid"></div>
</div>
<div id="mdlThemNhanhNhomVatTu"></div>
<script type="text/x-kendo-template" id="tplThemNhanhNhomVatTu">
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <div class="form-group">
                <label>Tên nhóm vật tư</label>
                <input id="TenNhom" type="text" class="form-control" name="TenNhom" data-bind="value:TenNhom" placeholder="Nhập vào tên nhóm vật tư" required data-required-msg="Tên nhóm vật tư không được trống" style="box-sizing:border-box">
            </div><!-- /.form-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <button id="btnLuuNhanh" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Lưu</button>
        </div>
    </div>
</script>
<div id="mdlThemNhanhDonVi"></div>
<script type="text/x-kendo-template" id="tplThemNhanhDonVi">
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <div class="form-group">
                <label>Tên đơn vị</label>
                <input id="TenDonVi" type="text" class="form-control" name="TenDonVi" data-bind="value:TenDonVi" placeholder="Nhập vào tên đơn vị" required data-required-msg="Tên đơn vị không được trống" style="box-sizing:border-box">
            </div><!-- /.form-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <button id="btnLuuNhanhDonVi" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Lưu</button>
        </div>
    </div>
</script>
<script id="popup_editor" type="text/x-kendo-template">
    <div class="row">
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tenvattu"))</label>
                <input type="text" class="form-control" name="TenVatTu" data-bind="value:TenVatTu" placeholder="Nhập vào tên vật tư" required data-required-msg="Tên vật tư không được trống" style="box-sizing:border-box">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tenviettat"))</label>
                <input type="text" class="form-control" name="TenVietTat" data-bind="value:TenVietTat" placeholder="Nhập vào tên viết tắt" style="box-sizing:border-box">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <label>Nhóm</label>
            <div class="input-group">
                <input id="cbbNhom" name="cbbNhom" type="text" class="form-control" placeholder="Chọn nhóm vật tư" aria-describedby="basic-addon2" data-bind="value:NhomVatTuID" required data-required-msg="Phải chọn nhóm vật tư">
                <span class="input-group-btn">
                    <button id="btnThemNhomVatTuNhanh" class="btn btn-outline-secondary btn-primary glyphicon glyphicon-plus" type="button"></button>
                </span>
            </div>
        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box; margin-bottom:10px">
            <label>Đơn vị tính</label>
            <div class="input-group">
                <input id="cbbDonVi" name="cbbDonVi" type="text" class="form-control" placeholder="Chọn đơn vị vật tư" aria-describedby="basic-addon2" data-bind="value:DonViId" required data-required-msg="Phải chọn đơn vị vật tư">
                <span class="input-group-btn">
                    <button id="btnThemDonViNhanh" class="btn btn-outline-secondary btn-primary glyphicon glyphicon-plus" type="button"></button>
                </span>
            </div>
        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("dongiadutoan"))</label>
                <input id="DonGiaKhoan" type="text" name="DonGiaKhoan" data-bind="value:DonGiaKhoan" class="form-control" style="box-sizing: border-box; height:36px; width:100%">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
    </div>
    <!-- <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
        <div class="form-group">
            <label>Đơn giá khoán</label>
            <input type="text" class="form-control dongia text-right" onkeypress="return CheckNumeric()" name="DonGiaKhoan" data-bind="value: DonGiaKhoan" value="0"  style="box-sizing:border-box">
        </div><!-- /.form-group -->
    <!-- </div><!-- /.col -->

</script>

<div id="mdlThemFileExcel">

</div>
<script type="text/x-kendo-template" id="tempImport">

    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem">

    </div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
