﻿@{
    ViewBag.Title = "Danh mục nguyên liệu";
}
<link href="/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="/Content/lib/fncUploadFile.js"></script>
<script type="text/javascript" src="~/Scripts/DanhMuc/DMNguyenLieu.js"></script>
<style>
    .k-edit-form-container {
        width: 100%;
    }

    .dshinhanhadd {
        padding: 10px;
        border: 1px solid #ddd;
        height: 90px;

        background: #ddd;
    }

    .btn-outline-secondary {
        color: #fff !important;
        background-color: #0c7cd5 !important;
        background-image: none !important;
        border-color: #ddd !important;
    }
</style>



<div class="content">
    <div id="grid"></div>
</div>

<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        <span class="btn btn-primary btnexcel">@Html.Raw(Language.GetText("xuatexcel"))</span>
        <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
        <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
        <button id="btnAdd" class="btn btn-warning k-btn k-grid-add"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm mới</button>
    </div>
</script>

<div id="mdlThemMoiNguyenLieu"></div>
<script type="text/x-kendo-template" id="tplThemMoiNguyenLieu">
 
    <form id="frmThemMoiNguyenLieu">
        <div class="row">
            <div class="col-md-4" style="box-sizing: border-box; text-align: center; margin-bottom:10px; margin-top:10px !important">
                <div class="panel panel-default" style="margin-bottom: 5px !important;">
                    <div class="panel-body">
                        <div class="anhdaidien imgslider">
                            <a href="javascript:void(0)" class="setavataimage" rel="gallery">
                                <img src="/Content/no-image.jpg" alt="avatar" data-file="no-image.jpg" class="imgavatar" style="width:100%" />
                            </a>
                        </div>
                    </div>
                </div>
                <div id="btnChonAnh" class="fileUpload btn btn-primary" style="width:90% !important; text-align:center;">
                    <span><i class="fa fa-camera" aria-hidden="true"></i>  Chọn ảnh</span>
                    <input type="file" id="file_1" name="file_1" class="upload" accept=".png, .jpg, .jpeg">
                </div>
            </div>
            <div class="col-md-8">
                <input id="NguyenLieuID" name="NguyenLieuID" data-bind="value:NguyenLieuID" type="text" class="hidden" />
                <div class="form-group">
                    <label>Mã nguyên liệu</label>
                    <input id="MaNguyenLieu" type="text" class="form-control" name="MaNguyenLieu" data-bind="value:MaNguyenLieu" style="box-sizing:border-box" disabled>
                </div><!-- /.form-group -->
                <label>Tên nhóm nguyên liệu</label>
                <div class="input-group" style="margin-bottom: 10px;">
                    <input id="NhomNguyenLieuID" name="NhomNguyenLieuID" type="text" class="form-control" aria-describedby="basic-addon2" data-bind="value:NhomNguyenLieuID" required data-required-msg="Phải chọn nhóm nguyên liệu">
                    <span class="input-group-btn">
                        <button id="btnThemNhomNguyenLieuNhanh" class="btn btn-outline-secondary btn-primary glyphicon glyphicon-plus" type="button"></button>
                    </span>
                </div>
                <div class="form-group">
                    <label>Thuộc tính</label>
                    <input id="MaMau" type="text" class="form-control" name="MaMau" data-bind="value:MaMau" placeholder="Nhập vào màu" required data-required-msg="Màu không được trống" style="box-sizing:border-box">
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label>Loại nguyên liệu</label>
                    <input id="Type" type="text" class="form-control" name="Type" data-bind="value:Type" required data-required-msg="Phải chọn loại nguyên liệu" style="box-sizing:border-box; width: 100%;">
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label>Hệ số quy đổi từ (Kg) sang (m)</label>
                    <input id="HeSoQuyDoi" type="text" class="form-control" name="HeSoQuyDoi" data-bind="value:HeSoQuyDoi" placeholder="1 KG = ? mét" style="box-sizing:border-box" min="0">
                </div><!-- /.form-group -->
                <label>Đơn vị tính</label>
                <div class="input-group">
                    <input id="cbbDonVi" name="cbbDonVi" type="text" class="form-control" placeholder="Chọn đơn vị nguyên liệu" aria-describedby="basic-addon2" data-bind="value:DonViID" required data-required-msg="Phải chọn đơn vị nguyên liệu">
                    <span class="input-group-btn">
                        <button id="btnThemDonViNhanh" class="btn btn-outline-secondary btn-primary glyphicon glyphicon-plus" type="button"></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                <div class="dshinhanhadd">
                </div>
                <div class="fileUpload btn btn-primary pull-left" style="margin-top:10px">
                    <span><i class="fa fa-camera" aria-hidden="true"></i>  Thêm ảnh</span>
                    <input type="file" id="files_0" name="files_0" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple">
                </div>
                <a id="btnLuuThemMoi" class="btn btn-primary pull-right" style="margin-top:10px !important;">Lưu</a>
                <a id="btnXoa" class="btn btn-danger pull-right hidden" style="margin-top:10px !important; margin-right: 10px !important">Xóa</a>
                <div class="toolVatTu pull-right" style="margin-top:10px;"></div>
            </div>
        </div>
    </form>
</script>

<div id="mdlOptionAvatar"></div>
<script type="text/x-kendo-template" id="tplOptionAvatar">
    <div class="row">

    </div>
</script>

<div id="mdlThemNhanhDonVi"></div>
<script type="text/x-kendo-template" id="tplThemNhanhDonVi">
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <div class="form-group">
                <label>Tên đơn vị</label>
                <input id="TenDonVi" type="text" class="form-control" name="TenDonVi" data-bind="value:TenDonVi" placeholder="Nhập vào tên đơn vị" required data-required-msg="Tên đơn vị không được trống" style="box-sizing:border-box">
            </div><!-- /.form-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <button id="btnLuuNhanhDonVi" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Lưu</button>
        </div>
    </div>
</script>

<div id="mdlThemNhanhNhomNguyenLieu"></div>
<script type="text/x-kendo-template" id="tplThemNhanhNhomNguyenLieu">
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <div class="form-group">
                <label>Tên nhóm nguyên liệu</label>
                <input id="NhomNguyenLieuID" name="NhomNguyenLieuID" data-bind="value:NhomNguyenLieuID" class="hidden" />
                <input id="TenNhomNguyenLieu" type="text" class="form-control" name="TenNhomNguyenLieu" data-bind="value:TenNhomNguyenLieu" placeholder="Nhập vào tên nhóm" required data-required-msg="Tên nhóm không được trống" style="box-sizing:border-box">
            </div><!-- /.form-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <button id="btnLuuNhanhNhomNguyenLieu" class="btn btn-primary pull-right btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Lưu</button>
        </div>
    </div>
</script>

<div id="mdlThemFileExcel"></div>
<script type="text/x-kendo-template" id="tempImport">
    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem"></div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<script type="text/x-kendo-template" id="tplLoaiNguyenLieu">
    # if(Type == 1) { #
    <span class="btn btn-success btn-block no-padding">Dệt</span>
    # } #
    # if(Type == 2) { #
    <span class="btn btn-info btn-block no-padding">May</span>
    # } #
    # if(Type == 3) { #
    <span class="btn btn-info btn-block no-padding">Phụ kiện</span>
    # } #
</script>
