﻿@model DFWeb.Models.DataResult.HoSoCaNhan.ChiTietThuTheoThangResult
@{
               double tong = 0;
               System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
           }
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">@Html.Raw(Language.GetText("thongtincongviec"))</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>@Html.Raw(Language.GetText("ngaycongduocxacnhan")):</td>
                                    <td class="text-right text-bold">@Model.NgayCongDuocXacNhan</td>
                                </tr>
                                <tr>
                                    <td>@Html.Raw(Language.GetText("ngaycongdakhaibao")):</td>
                                    <td class="text-right text-bold">@Model.NgayCongDaKhaiBao</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>@Html.Raw(Language.GetText("khaibaocv_sogiolamthem")):</td>
                                    <td class="text-right text-bold">@Model.SoGioLamThem</td>
                                </tr>
                                <tr>
                                    <td>@Html.Raw(Language.GetText("hesodanhgiacongviec")):</td>
                                    <td class="text-right text-bold">@Model.HeSoDanhGiaCongViec</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">@Html.Raw(Language.GetText("thongtinluong"))</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>@Html.Raw(Language.GetText("luongcoban")):</td>
                                    <td class="text-right text-bold">
                                        @if(@Model.LuongCoBan != 0.0)
                                        {
                                        @Model.LuongCoBan.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                                        }else
                                        {
                                        @Model.LuongCoBan
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.Raw(Language.GetText("luongbhxh")):</td>
                                    <td class="text-right text-bold">
                                        @if(@Model.LuongBaoHiemXaHoi != 0.0)
                                        {
                                        @Model.LuongBaoHiemXaHoi.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                                        }else
                                        {
                                        @Model.LuongBaoHiemXaHoi
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>@Html.Raw(Language.GetText("luongngoaigio")):</td>
                                    <td class="text-right text-bold">
                                        @if(@Model.LuongLamThemNgoaiGio != 0.0)
                                        {
                                        @Model.LuongLamThemNgoaiGio.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                                        }else
                                        {
                                        @Model.LuongLamThemNgoaiGio
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.Raw(Language.GetText("songuoigtgc")):</td>
                                    <td class="text-right text-bold">@Model.SoNguoiGiamTruGiaCanh</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">@Html.Raw(Language.GetText("thongtinthunhap"))</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <b style="color:cornflowerblue">A. @Html.Raw(Language.GetText("tongthunhap"))</b>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.Raw(Language.GetText("stt"))S</th>
                                    <th>@Html.Raw(Language.GetText("hangmuc"))</th>
                                    <th>@Html.Raw(Language.GetText("sotien"))</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>@Html.Raw(Language.GetText("luong"))</td>
                                    <td style="text-align:right;">
                                        @if(@Model.Luong != 0.0)
                                        {
                                        @Model.Luong.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                                        }else
                                        {
                                        @Model.Luong
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>@Html.Raw(Language.GetText("luongngoaigio"))</td>
                                    <td style="text-align:right;">
                                        @if(@Model.LuongNgoaiGio != 0.0)
                                        {
                                        @Model.LuongNgoaiGio.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                                        }else
                                        {
                                        @Model.LuongNgoaiGio
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>@Html.Raw(Language.GetText("luongthuong"))</td>
                                    <td style="text-align:right;">
                                        @if(@Model.LuongThuong != 0.0)
                                        {
                                        @Model.LuongThuong.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                                        }else
                                        {
                                        @Model.LuongThuong
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>@Html.Raw(Language.GetText("luongphat"))</td>
                                    <td style="text-align:right;">
                                        @if(@Model.LuongPhat != 0.0)
                                        {
                                        @Model.LuongPhat.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                                        }else
                                        {
                                        @Model.LuongPhat
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align:right;color:orangered;font-weight:bold">@Html.Raw(Language.GetText("tong")): 
                                        @if(@Model.TongLuong != 0.0)
                                        {
                                        @Model.TongLuong.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                                        }else
                                        {
                                        @Model.TongLuong
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-sm-6">
                        <b style="color:cornflowerblue">B. @Html.Raw(Language.GetText("tonggiamtru"))</b>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.Raw(Language.GetText("stt"))</th>
                                    <th>@Html.Raw(Language.GetText("hangmuc"))</th>
                                    <th>@Html.Raw(Language.GetText("tile")) %</th>
                                    <th>@Html.Raw(Language.GetText("sotien"))</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if(Model.dataGiamTru != null){
                                        if (Model.dataGiamTru.Count > 0)
                                        {
                                            foreach (var item in Model.dataGiamTru)
                                            {
                                            <tr>
                                                <td>@item.STT</td>
                                                <td>@item.HangMuc</td>
                                                <td style="text-align:center;">@item.TiLe</td>
                                                <td style="text-align:right;">
                                                    @if(@item.SoTien != 0)
                                                    {
                                                    @item.SoTien.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                                                    }else
                                                    {
                                                    @item.SoTien
                                                    }</td>
                                            </tr>
                                            }
                                        }
                                    }
                                }
                                <tr>
                                    <td colspan="4" style="text-align:right;color:orangered;font-weight:bold">@Html.Raw(Language.GetText("tong")): 
                                        @if(@Model.TongGiamTru != 0.0)
                                        {
                                        @Model.TongGiamTru.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                                        }else
                                        {
                                        @Model.TongGiamTru
                                        }</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pull-right" style="text-align:right;color:orangered;font-weight:bold">@Html.Raw(Language.GetText("tongthunhap")) + (A - B): 
                    @if(@Model.TongLuong != 0.0)
                    {
                    @Model.TongLuong.ToString("#,###", cul.NumberFormat).Replace(".", ",")
                    }else
                    {
                    @Model.TongLuong
                    }</div>
            </div>
        </div>
    </div>
</div>
