﻿@model DF.DBMapping.ModelsExt.BienBanResult
<div class="row">
    <input type="hidden" id="ipBienBanID" value="@Model.BienBanID" />
    <input type="hidden" id="ipListDinhKem" value="@Model.TepDinhKem" />
    <div class="col-md-12 showThem" style="width:100% !important; box-sizing:border-box">
        <div class="form-group pull-left form-inline">
            <label for="TenBienBan">Tên Biên Bản: </label>
            <div class="input-group">
                <input type="text" name="TenBienBan" class="form-control" id="TenBienBan" value="@Model.TenBienBan">
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-success" id="btnLuu"><i class="glyphicon glyphicon-floppy-save"></i> Lưu</button>
            <button class="btn btn-danger" id="btnXoa"><i class="glyphicon glyphicon-floppy-remove"></i> Xóa</button>
        </div>
    </div>
    <div class="col-sm-12">
        <label>File Đính Kèm</label>
        <div class="panel panel-default" style="margin-bottom:0">
            <div class="panel-heading showThem">
                <input id="files" name="files" type="file" required data-required-msg="Chọn File Đính Kèm!" />
            </div>
            <div class="panel-body">
                <div style="height:250px;overflow-y:scroll">
                    <div id="listDinhKem">
                        @if (Model.TepDinhKem != null && Model.TepDinhKem != "")
                        {
                            var list = Model.TepDinhKem.Split(',').ToList();
                            foreach (var item in list)
                            {
                                if (item != null && item != "")
                                {
                                    <div class='fileDinhKem' style='margin:15px;float:left'>
                                        <a href="~/Images/ImageUpload/@item" data-fancybox="gallery">
                                            <img src="~/Images/ImageUpload/@item" height='250' width='250' />
                                        </a>
                                        <div data-file='@item' class='xoaItemFile' title='Xóa'>X</div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mdlShowImg"></div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($(location).attr('pathname') === "/HoSoCaNhan/Index") {
            $(".showThem").hide();
            $(".xoaItemFile").hide();
        }
        else
        {
            if ($("#ipBienBanID").val() == null || $("#ipBienBanID").val() == "")
            {
                $("#btnXoa").hide();
            }
        }
        var FileDinhKem = [];

        $("#files").kendoUpload({
            async: {
                saveUrl: "/Upload/Save",
                removeUrl: "/Upload/Remove",
                autoUpload: true,
                localization: {
                    select: "files"
                }
            },
            showFileList: false,
            multiple: true,
            localization: {
                select: GetTextLanguage("chonanh")
            },
            success: function (e) {
                if (e.operation === "upload") {
                    for (var i = 0; i < e.files.length; i++) {
                        var file = e.files[i].rawFile;
                        if (file) {
                            var reader = new FileReader();
                            reader.onloadend = function () {
                                $("<div class='fileDinhKem' style='margin:15px;float:left'><a data-fancybox='gallery' href=" + this.result +"><img src=" + this.result + " height='250' width='250' /></a><div data-file='" + file.name + "' class='xoaItemFile' title='Xóa'>X</div></div>").appendTo($("#listDinhKem"));
                                imgbase64 = this.result;
                            };
                            reader.readAsDataURL(file);
                        }
                        FileDinhKem.push(file);
                    }
                };
            }
        });

        $("#mdlChiTietBienBan").on("click", ".xoaItemFile", function () {
            var file = $(this).data("file");
            for (var i = 0; i < FileDinhKem.length; i++) {
                if (FileDinhKem[i] === file) {
                    FileDinhKem.splice(i, 1);
                    break;
                }
            }
            $(this).parent().remove();
        });
        $("#btnLuu").click(function () {
            //check
            if ($("#TenBienBan").val() == null || $("#TenBienBan").val() == "") {
                alertToastr({ code: "error", message: "Tên Biên Bản Không Được Trống" });
            }
            else {
                var listFile = "";
                $("#listDinhKem .fileDinhKem .xoaItemFile").each(function () {
                    if ($(this).attr("data-file") != null && $(this).attr("data-file") != "") {
                        listFile += $(this).attr("data-file") + ",";
                    }
                });
                if (listFile == "" | listFile == null) {
                    alertToastr({ code: "error", message: "Vui Lòng Chọn File Đính Kèm" });
                }
                else {
                    if ($("#ipBienBanID").val() == null || $("#ipBienBanID").val() == "") {
                        $.ajax({
                            url: "/HoSoCaNhan/AddBienBan",
                            type: "POST",
                            data: {
                                TenBienBan: $("#TenBienBan").val(),
                                NhanVienID: $("#ThongTinNhanVienID").val(),
                                TepDinhKem: listFile
                            },
                            complete: function (e) {
                                alertToastr(e.responseJSON);
                                $("#mdlChiTietBienBan").data("kendoWindow").close();
                                $("#gridbienban").data("kendoGrid").dataSource.read();
                            }
                        });
                    }
                    else {
                        $.ajax({
                            url: "/HoSoCaNhan/UpdateBienBan",
                            type: "POST",
                            data: {
                                BienBanID: $("#ipBienBanID").val(),
                                TenBienBan: $("#TenBienBan").val(),
                                TepDinhKem: listFile
                            },
                            complete: function (e) {
                                alertToastr(e.responseJSON);
                                $("#mdlChiTietBienBan").data("kendoWindow").close();
                                $("#gridbienban").data("kendoGrid").dataSource.read();
                            }
                        });
                    }
                }
            }

        });
        $("#btnXoa").click(function () {
            var hoi = confirm("Bạn Có Thật Sự Muốn Xóa Biên Bản Này?")
            if (hoi == true) {
            if ($("#ipBienBanID").val() != null && $("#ipBienBanID").val() != "") {
                $.ajax({
                    url: "/HoSoCaNhan/DeleteBienBan",
                    type: "POST",
                    data: {
                        BienBanID: $("#ipBienBanID").val()
                    },
                    complete: function (e) {
                        alertToastr(e.responseJSON);
                        $("#mdlChiTietBienBan").data("kendoWindow").close();
                        $("#gridbienban").data("kendoGrid").dataSource.read();
                    }
                });
            }
            else {
                alertToastr({ code: "error", message: "Vui Lòng Chọn Bằng Cấp Chứng Chỉ Muốn Xóa!" });
                }
            }
        });
    });
</script>