﻿@model DFWeb.Models.DataResult.HoSoCaNhan.ThongTinCaNhanResult
@{
    var UserXx = DFWeb.Security.CookiePersister.getAcountInfo();
    var urlimg = DFWeb.Common.WebConst.SHOWIMGNV;
}
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Content/lib/fncUploadFile.js"></script>
<script type="text/javascript" src="~/Scripts/HanhChinh/NhanVien/ThongTinCaNhan.js"></script>
<script>
    function loadimgSuaChua2(input) {
        //$('.dshinhanhadd').empty();
        if (input.files) {
            var filesAmount = input.files.length;
            var html = "";
            for (var i = 0; i < filesAmount; i++) {
                if (input.files[i].type == "image/png" || input.files[i].type == "image/jpg" || input.files[i].type == "image/jpeg" || input.files[i].type == "image/gif") {
                    readURL2(input.files[i], input);

                }
            }

        }
    }
    function readURL2(file, input) {

        var reader = new FileReader();
        reader.onload = function (event) {
            var html = "";
            html += "<div class='imgslider' style='float:left;position:relative;margin-right:10px;'>";
            html += "<div style='background-image:url(\"" + event.target.result + "\"); margin:0px;' class='img-con ahihi3'><a rel='gallery' href='" + event.target.result + "'><img data-file='" + file.name + "' src='" + event.target.result + "' style='width: 100%;height: 100%;margin: 0;opacity: 0;'></a></div>";
            html += "<div data-file='" + file.name + "' class='closeGenImgSuaChua' title='Xóa'>X</div></div>";
            html += "</div>";
            //html = "<div class='imgGenSuaChua' style=\"width:100px;height:100px;\"><img src='" + event.target.result + "' /><div data-file='" + file.name + "' class='closeGenImgSuaChua' title='Xóa'>X</div></div>";
            $(input).parent().parent().find('.dshinhanhadd').append(html);
            showslideimg();
            $(".dshinhanhadd .closeGenImgSuaChua").click(function () {
                $(this).parent().remove();
                showslideimg();
            });

        }
        reader.readAsDataURL(file);
    }
</script>
<style>
    .box-comment {
        border: 1px solid #808080;
        padding: 10px;
    }

    .k-edit-form-container {
        width: 400px !important;
    }

    .hinhanhbaocao {
        height: 200px;
    }

    #frmTaiSan .input-group {
        width: 100%;
    }

    .ahihi {
        width: 110px;
        height: 110px;
        background-position: center;
        float: left;
        margin-right: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 3px 1px #ccc;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    .ahihi3 {
        width: 110px;
        height: 110px;
        background-position: center;
        float: left;
        margin-right: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 3px 1px #ccc;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    .dshinhanhadd {
        padding: 10px;
        margin: 10px 0 0;
        height: 120px;
        background: #fff;
    }

    .border-box {
        overflow-x: scroll;
        border: 1px solid #ddd;
    }
</style>


<input id="ThongTinNhanVienID" value="@Model.NhanVienID" hidden />
<input id="CurrentUrl" hidden />
<div id="tabstrip">
    <ul>
        <li class="k-state-active" id="tabthongtincanhan">
            @Html.Raw(Language.GetText("thongtincanhan"))
        </li>
        @*<li id="tablichsunhanluong">
                @Html.Raw(Language.GetText("lichsunhanluong"))
            </li>*@
        <li id="tablichsulamviec">
            @Html.Raw(Language.GetText("lichsulamviec"))
        </li>
        <li id="tabbangcapchungchi">
            @Html.Raw(Language.GetText("bangcap"))
        </li>
        <li id="tabtaisandangquanly">
            @Html.Raw(Language.GetText("taisandangquanly"))
        </li>
        <li id="tablichsudanhgia">
            @Html.Raw(Language.GetText("lichsudanhgia"))
        </li>
        <li id="tabhosocanhan">
            @Html.Raw(Language.GetText("hopdongcanhan"))
        </li>
        <li id="tabykienphanhoi">
            @Html.Raw(Language.GetText("ykienphanhoi"))
        </li>
        <li id="tabbienban">
            @Html.Raw(Language.GetText("bienban"))
        </li>
    </ul>
    <div>
        <div id="thongtincanhan">
            <div class="col-sm-4 col-md-3">
                <div class="row">
                    <input type="text" class="k-textbox" id="TenNhanVien" value="@Model.TenNhanVien" required data-required-msg="@Html.Raw(Language.GetText("tennhanvienkhongduocdetrong"))" style="margin-left:10%; width: 80%;text-align:center;font-weight:bold;font-size:13px">
                </div>
                <div class="panel panel-default" style="margin-top:20px;">
                    <div id="anh">
                        <div class="avatar" style="text-align:center;">
                            <a rel="gallery" href="@urlimg@Model.Avatar">
                                <img src="@urlimg@Model.Avatar" style="min-height:150px;width:100%" />
                            </a>
                        </div>
                    </div>
                    <div class="fileUpload btn btn-primary col-md-12 btn-block pull-left" onclick="$('#Avatar').click()">
                        <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("themanh"))</span>
                    </div>
                </div>

                <div class="row hidden" style="margin-top:10px; padding-left:10%; padding-right:10%;">
                    <input name="Avatar" id="Avatar" type="file" />
                    <input type="hidden" class="avtastring" value="@Model.Avatar" />
                </div>
            </div>
            <div class="col-sm-4 col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">@Html.Raw(Language.GetText("thongtin"))</div>
                    <div class="panel-body">
                        <div class="row">f
                            <div class="k-edit-label col-sm-3">
                                <label for="NgaySinh">@Html.Raw(Language.GetText("ngaysinh"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" value="@(Model.NgaySinh.HasValue?Model.NgaySinh.Value.ToString("dd/MM/yyyy"):"")" id="NgaySinh" style="width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="GioiTinh">@Html.Raw(Language.GetText("gioitinh"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input value="@Model.GioiTinh" id="GioiTinh" style="width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="SDT">@Html.Raw(Language.GetText("sdt"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="k-textbox" value="@Model.SDT" id="SDT" style="width: 100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="TenNganHang">@Html.Raw(Language.GetText("tennganhang"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="k-textbox" value="@Model.TenNganHang" style="width: 100%" id="TenNganHang">
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="SoTaiKhoanNganHang">@Html.Raw(Language.GetText("sotaikhoan"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="k-textbox" value="@Model.SoTaiKhoanNganHang" id="SoTaiKhoanNganHang" style="width: 100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="MaSoThue">@Html.Raw(Language.GetText("masothue"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="k-textbox" value="@Model.MaSoThue" id="MaSoThue" style="width: 100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="CMND">@Html.Raw(Language.GetText("socmt"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="k-textbox" value="@Model.CMND" style="width: 100%" id="CMND">
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="NgayCapCMND">@Html.Raw(Language.GetText("ngaycapcmt"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" value="@(Model.NgayCapCMND.HasValue?Model.NgayCapCMND.Value.ToString("dd/MM/yyyy"):"")" id="NgayCapCMND" style="width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="NoiCapCMT">@Html.Raw(Language.GetText("noicapcmt"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="k-textbox" id="NoiCapCMND" value="@Model.NoiCapCMND" style="width: 100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="NganhNghe">@Html.Raw(Language.GetText("nganhnghe"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="k-textbox" id="NganhNghe" value="@Model.NganhNghe" style="width: 100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="NganhNghe">@Html.Raw(Language.GetText("noicapbang"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="k-textbox" id="TruongCapBang" value="@Model.NoiCapBang" style="width: 100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="DiaChi">@Html.Raw(Language.GetText("diachi"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" id="DiaChi" class="k-textbox" value="@Model.DiaChi" style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">@Html.Raw(Language.GetText("congviec"))</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="TenDoi">@Html.Raw(Language.GetText("tendoi"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input id="TenDoi" value="@Model.DoiThiCongID" style="width: 100%" disabled/>
                            </div>

                        </div>
                        <div class="row" style="margin-bottom:8px !important">
                            <div class="k-edit-label col-sm-3">
                                <label for="TenCongTrinh">@Html.Raw(Language.GetText("tencongtrinh"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input id="TenCongTrinh" value="@Model.CongTrinhID" style="width: 100%" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="TenChucVu">@Html.Raw(Language.GetText("chucvu"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input id="TenChucVu" value="@Model.ChucVuId" style="width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="TinhTrang">@Html.Raw(Language.GetText("tinhtrang"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input id="TinhTrang" name="TinhTrang" style="width: 100%" value="@Model.TinhTrang" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="LoaiHopDong">@Html.Raw(Language.GetText("loaihopdong"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input id="LoaiHopDong" value="@Model.LoaiHopDong" style="width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="NgayDiLam">@Html.Raw(Language.GetText("ngaydilam"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" value="@Model.NgayDiLam" id="NgayDiLam" style="width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="NgayHetHanHopDong">@Html.Raw(Language.GetText("ngayhethopdong"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" id="NgayHetHanHopDong" value="@Model.NgayHetHanHopDong" data-bind="value:NgayHetHanHopDong" style="width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="NgayThoiViec">@Html.Raw(Language.GetText("ngaythoiviec"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" id="NgayThoiViec" value="@Model.NgayThoiViec" style="width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="SoNgayGioiHan">@Html.Raw(Language.GetText("songaygioihan"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="k-textbox" value="@Model.SoNgayGioiHan" id="SoNgayGioiHan" style="width: 100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="SoNgayKhaiCong">@Html.Raw(Language.GetText("songaykhaibaobu"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="k-textbox" value="@Model.SoNgayKhaiCong" id="SoNgayKhaiCong" style="width: 100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="k-edit-label col-sm-3">
                                <label for="Lever">@Html.Raw(Language.GetText("capdobaomat"))</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text"  value="@(Model.Lever.HasValue?Model.Lever:3)" id="Lever" style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <a class="btn btn-danger pull-right delete @(UserXx.NhanVienID.ToUpper()!="996FB7A3-321D-46CA-84D8-54717FB6C61B"?"hidden":"")" href="javascript:void(0)">@Html.Raw(Language.GetText("xoa"))</a>
                <a class="btn btn-success pull-right save" href="javascript:void(0)">@Html.Raw(Language.GetText("capnhat"))</a>
            </div>
        </div>
    </div>
    @*<div>
            <div id="lichsunhanluong">
                <div class="row">
                    <div class="col-md-2 no-padding">
                        <label style="padding-left:0px !important">@Html.Raw(Language.GetText("chonnam")):</label>
                        <select class="form-control select2" style="width: 100%;" id="NamNhanLuong">
                            @for (int i = DateTime.Now.Year; i >= 2015; i--)
                            {
                            <option value='@i'>@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:15px !important">
                    <div class="panel panel-default" id="ThongTinThuNhap">
                        <div class="panel-heading">@Html.Raw(Language.GetText("thongtinthunhap"))</div>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <table class="table table-striped">
                                    <tr style="border:1px;">
                                        <td>1. @Html.Raw(Language.GetText("tongthunhap")):</td>
                                        <td style="text-align:right;"><strong><span data-bind="text:TongThuNhap"></span></strong></td>
                                    </tr>
                                    <tr>
                                        <td>2. @Html.Raw(Language.GetText("thunhapdathanhtoan")):</td>
                                        <td style="text-align:right;"><strong><span data-bind="text:ThuNhapDaThanhToan"></span></strong></td>
                                    </tr>
                                    <tr>
                                        <td>3. @Html.Raw(Language.GetText("tonggiamtru")):</td>
                                        <td style="text-align:right;"><strong><span data-bind="text:TongGiamTru"></span></strong></td>
                                    </tr>
                                    <tr>
                                        <td>4. (= 1-2-3+7). @Html.Raw(Language.GetText("thunhapchuathanhtoan")):</td>
                                        <td style="text-align:right;"><strong style="color:red"><span data-bind="text:ThuNhapChuaDuocThanhToan"></span></strong></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table class="table table-striped">
                                    <tr>
                                        <td>5. @Html.Raw(Language.GetText("tongthuenam")):</td>
                                        <td style="text-align:right;"><strong><span data-bind="text:TongThueThuNhapCaNhanTheoNam"></span></strong></td>
                                    </tr>
                                    <tr>
                                        <td>6. @Html.Raw(Language.GetText("tongthuethang")):</td>
                                        <td style="text-align:right;"><strong><span data-bind="text:TongThueThuNhapCaNhanTheoThang"></span></strong></td>
                                    </tr>
                                    <tr>
                                        <td>7. (= 6-5). @Html.Raw(Language.GetText("chenhlech")):</td>
                                        <td style="text-align:right;"><strong><span data-bind="text:ChenhLech"></span></strong></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.Raw(Language.GetText("danhsachchitietthunhap"))</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">@Html.Raw(Language.GetText("lichsudieuchinhluong"))</div>
                                        <div class="panel-body">
                                            <div id="gridLichSuDieuChinhLuong"></div>
                                            <div id="mdlLichSuDieuChinhLuong"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">@Html.Raw(Language.GetText("bangkethunhap"))</div>
                                        <div class="panel-body">
                                            <div id="gridDanhSachThuTheoThang"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">@Html.Raw(Language.GetText("lichsunhanthanhtoan"))</div>
                                        <div class="panel-body">
                                            <div id="gridLichSuNhanThanhToan"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div>
        <div id="gridlichsulamviec"></div>
    </div>
    <div>
        <div id="content_bangcapchungchi">

        </div>
        <div id="mdlThemBangCapChungChi"></div>
    </div>
    <div>
        <div id="gridtaisandangquanly"></div>
    </div>
    <div>
        <div id="content_lichsudanhgia">

        </div>

    </div>
    <div>
        <div id="content_hosocanhan">

        </div>
    </div>
    <div>
        <div id="tabstripclone">
            <ul>
                <li id="tabykiendagui" class="k-state-active">
                    @Html.Raw(Language.GetText("ykiendagui"))
                </li>
                <li id="tabykiendanhan">
                    @Html.Raw(Language.GetText("ykiendanhan"))
                </li>
            </ul>
            <div>
                <div id="griddagui"></div>
            </div>
            <div>
                <div id="griddanhan"></div>
            </div>
        </div>
        <div id="mdlthemgopy"></div>
    </div>
    <div>
        <div id="content_bienban">

        </div>
        <div id="mdlChiTietBienBan"></div>
    </div>
</div>
<script type="text/x-kendo-template" id="tempthemgopy">
    <div class="row">
        <div class="col-md-12">

        </div>
        <div class="col-md-12" id="frmthemgopy">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("danhsachnguoinhan"))</label>
                <div id="gridnguoinhan">

                </div>
            </div>
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tieude"))</label>
                <div class="input-group" style="width:100%">
                    <input type="text" name="TieuDe" class="form-control" id="TieuDe" required data-required-msg="@Html.Raw(Language.GetText(" tieudekhongduoctrong"))" />
                </div>
            </div>
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("noidung"))</label>
                <div class="input-group" style="width:100%">
                    <textarea name="NoiDung" class="form-control" id="NoiDung" rows="4" style="height:100px !important;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div style="margin-top:10px;" class="text-left text-bold">@Html.Raw(Language.GetText("danhsachhinhanh"))</div>
                <div class="dshinhanhtb">
                    <div class="border-box">
                        <div id="dshinhanhadd" class="dshinhanhadd" style="height: 120px; width: 800px;">

                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div class="fileUpload btn btn-primary text-left" style="margin-top:25px;text-align:center">
                    <span><i class="fa fa-camera" aria-hidden="true"></i>@Html.Raw(Language.GetText("themanh"))n</span>
                    <input type="file" id="files_xs" name="files_xs" class="upload" multiple onchange="loadimgSuaChua2(this);">
                </div>
            </div>
            <div class="form-group">
                <div style="text-align:right;">
                    <button class="btn btn-success" id="btnThemYKien">@Html.Raw(Language.GetText("them"))</button>
                </div>
            </div>
        </div>
    </div>
</script>

<div id="mdlthemnguoinhan">

</div>
<script type="text/x-kendo-template" id="tempthemnguoinhan">
    <div id="griddanhsachnhanvien"></div>
    <div style="text-align:right;margin-top:10px;">
        <button class="btn btn-success" id="btnThemDanhSachNguoiNhan">@Html.Raw(Language.GetText("them"))</button>
    </div>
</script>

<div id="mdlxemchitiet">

</div>
<script type="text/x-kendo-template" id="tempxemchitiet">
    <div class="col-md-5">
        <label>@Html.Raw(Language.GetText("anhykien"))</label>
        <div class="dshinhanhtb2">
            <div style="padding: 10px;overflow-x: scroll;">
                <div id="dshinhanhadd2" class="dshinhanhadd2" style="height: 120px; width: 800px;">

                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <label>@Html.Raw(Language.GetText("tieude")) : <span class="txttieude"></span></label>
            <div class="input-group" style="width:100%">
                <textarea class="form-control txtnoidung" style="height:120px !important;"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <label class="nhanvienguinhan" style="margin-top:10px;margin-bottom:10px;">@Html.Raw(Language.GetText("danhsachnhanviennhan"))</label>
        <div id="griddanhsachnhanvien"></div>
        <div class="danhsachphanhoi">

        </div>
    </div>
</script>
<div class="mdlThongTinNhanVien"></div>


<div id="mdlShowImg"></div>
<script type="text/x-kendo-template" id="tempBaoCaoChiTiet">
    <div class="hinhanhbaocao"></div>
    <div style="clear:both"></div>
</script>
<div id="mdladdHopdong">

</div>
<script id="tempHopDong" type="text/x-kendo-template">
    <div id="frmthemsuahopdong">
        <div class="col-md-12">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tenhopdong"))</label>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control" name="TenHopDong" style="width:100%" id="TenHopDong" data-bind="value:TenHopDong" required data-required-msg="@Html.Raw(Language.GetText("nhaptenhopdong"))" />
                </div>
            </div>
            <input type="hidden" id="DinhKem" />
        </div>
        <div class="col-md-12">
            <div class="border-box">
                <div class="dshinhanhadd" style="width:800px;">
                    <div></div>
                </div>
            </div>
            <div class="fileUpload btn btn-primary pull-left" style="margin-top:10px">
                <span><i class="fa fa-camera" aria-hidden="true"></i>@Html.Raw(Language.GetText("themanh"))</span>
                <input type="file" id="files_0" name="files_0" class="upload" multiple="">
            </div>
            <div class="toolVatTu pull-right" style="margin-top:10px;">

            </div>
        </div>
    </div>
</script>
<script id="tempDanhGia" type="text/x-kendo-template">
    <div id="frmdanhgia">
        <div class="col-md-12">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("thoigian"))</label>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control" name="ThoiGian" id="ThoiGian" data-bind="value:ThoiGian" required data-required-msg="@Html.Raw(Language.GetText("nhapthoigian"))" />
                </div>
            </div>
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("danhgia"))</label>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control" name="HeSoID" id="HeSoID" data-bind="value:HeSoID" required data-required-msg="@Html.Raw(Language.GetText("nhapdanhgia"))" />
                </div>
            </div>
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("nhanxet"))</label>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control" name="NhanXet" id="NhanXet" data-bind="value:NhanXet" />
                </div>
            </div>
        </div>
    </div>
</script>
<script id="tempBangCapChungChi" type="text/x-kendo-template">
    <div id="frmbangcapchungchi">
        <div class="col-md-12">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tenbangcapchungchi"))</label>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control" style="width:100%" name="TenBangCapChungChi" id="TenBangCapChungChi" data-bind="value:TenBangCapChungChi" required data-required-msg="@Html.Raw(Language.GetText("nhaptenbangcapchungchi"))" />
                </div>
            </div>
            <input type="hidden" id="DinhKem" />
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="border-box">
                    <div class="dshinhanhadd" style="margin-top:10px;height: 120px; width: 800px;">
                        <div></div>
                    </div>
                </div>
                <div class="fileUpload btn btn-primary pull-left" style="margin-top:10px">
                    <span><i class="fa fa-camera" aria-hidden="true"></i>@Html.Raw(Language.GetText("themanh"))</span>
                    <input type="file" id="files_1" name="files_1" class="upload" multiple="">
                </div>
                <div class="toolVatTu pull-right" style="margin-top:10px;">

                </div>
            </div>
        </div>
    </div>
</script>
<script id="tempBienBan" type="text/x-kendo-template">
    <div id="frmbienban">
        <div class="col-md-12">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tenbienban"))</label>
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control" style="width:100%" name="TenBienBan" id="TenBienBan" data-bind="value:TenBienBan" required data-required-msg="@Html.Raw(Language.GetText("nhaptenbienban"))" />
                </div>
            </div>
            <input type="hidden" id="DinhKem" />
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="border-box">
                    <div class="dshinhanhadd" style="margin-top:10px;height: 120px; width: 800px;">
                        <div></div>
                    </div>
                </div>
                <div class="fileUpload btn btn-primary pull-left" style="margin-top:10px">
                    <span><i class="fa fa-camera" aria-hidden="true"></i>@Html.Raw(Language.GetText("themanh"))</span>
                    <input type="file" id="files_1" name="files_1" class="upload" multiple="">
                </div>
                <div class="toolVatTu pull-right" style="margin-top:10px;">

                </div>
            </div>
        </div>
    </div>
</script>
@*Template Kendo*@
<div id="mdlchitiettaisan">

</div>
<script type="text/x-kendo-template" id="tempchitiettaisan">
    <div id="frmTaiSan">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6" style="text-align: center;">
                    <img src="/Content/no-image.jpg" alt="avatar" class="imgavatar" style="width:80%; cursor:pointer;" />
                    <br />
                    @*<div class="fileUpload btn btn-primary" style="margin-top:5px;">
                            <span><i class="fa fa-camera" aria-hidden="true"></i> @Html.Raw(Language.GetText("tailen"))</span>
                            <input type="file" id="files_x" name="files_x" class="upload" onchange="readURLAvatar(this);">
                        </div>*@
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@Html.Raw(Language.GetText("tentaisan"))</label>
                        <div class="input-group">
                            <input type="text" id="TenTaiSan" name="TenTaiSan" data-bind="value:TenTaiSan" class="form-control" required data-required-msg="@Html.Raw(Language.GetText(" nhaptentaisan"))" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.Raw(Language.GetText("mataisan"))</label>
                        <div class="input-group">
                            <input type="text" id="MaTaiSan" name="MaTaiSan" data-bind="value:MaTaiSan" class="form-control" required data-required-msg="@Html.Raw(Language.GetText(" nhapmataisan"))" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.Raw(Language.GetText("ngaynhap"))</label>
                        <div class="input-group">
                            <input type="text" id="NgayNhap" name="NgayNhap" data-bind="value:NgayNhap" class="form-control" required data-required-msg="@Html.Raw(Language.GetText(" ngaynhapkhongduoctrong"))" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.Raw(Language.GetText("dongia"))</label>
                        <div class="input-group">
                            <input type="text" id="DonGia" name="DonGia" data-bind="value:DonGia" onkeypress="return CheckNumeric();" class="form-control" required data-required-msg="@Html.Raw(Language.GetText(" dongiakhongduoctrong"))" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.Raw(Language.GetText("nhomtaisan"))</label>
                        <div class="input-group">
                            <input type="text" id="NhomTaiSanID" name="NhomTaiSanID" data-bind="value:NhomTaiSanID" class="form-control" required data-required-msg="@Html.Raw(Language.GetText(" chonnhomtaisan"))" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>
