﻿@model Add_Update_ModelNhanVien
@{
    ViewBag.Title = Language.GetText("thongtincanhan");
    var UserXx = DFWeb.Security.CookiePersister.getAcountInfo();
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<input type="hidden" id="NV" value="@Model.NhanVienID"/>
<script type="text/javascript">
    $(document).ready(function () {
        $("#role_update").val(0);
        LoadingContent("content-loader", "/QLNhanVien/ViewChung?NhanVienID=" + $("#NV").val(), '');
    });
</script>


