﻿@model DF.DBMapping.ModelsExt.NghiepVu.QLThuNhap.ThuNhapCaNhanModel
@{
    ViewBag.Title = @Html.Raw(Language.GetText("bangthongthunhapcanhan"));
    ViewBag.Title_Function = @Html.Raw(Language.GetText("bangthongthunhapcanhan"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}

<input type="hidden" id="IDNhanVien" value="@Model.NhanVienID" />
<script type="text/javascript" src="~/Scripts/HanhChinh/NhanVien/ThuNhapCaNhan.js"></script>
<div class="content">
    <h3 class="box-title" style="margin-top:0;">@Html.Raw(Language.GetText("bangthongthunhapcanhan"))</h3>
    <div class="row" style="margin: 10px -10px !important;">
        <div class="col-xs-6 col-md-6 col-lg-2" style="margin-bottom:7px;">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("nam"))</label>
                <input type="text" class="form-control" id="Nam"  style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->
        </div>
        <div class="col-xs-6 col-md-6 col-lg-2" style="margin-bottom:7px;">
            <div class="input-group" style="width:100%;">
                <label style="width:100%;">&nbsp;</label>
                <button class="btn btn-primary btn-timkiem" type="button" style="padding: 8px 11px 8px;"><i class="icon-search4"></i> @Html.Raw(Language.GetText("timkiem"))</button>
            </div>
        </div>
    </div>
    <div id="mdl_DSNhanVien"></div>
    <script id="temp_DSNhanVien" type="text/x-kendo-template">
        <div id="grid_DSNhanVien"></div>
    </script>
    <div id="BangTPNV">
        @Html.Partial("~/Views/ThuNhapCaNhan/_ChiTietThuNhapCaNhan.cshtml", Model)
    </div>
</div>
<div id="myModalThuNhapNhanVien" class="modal fade" role="dialog"></div>