﻿@{
    ViewBag.Title = "Quản lý lịch sử chấm công";
}
<script type="text/javascript" src="~/Scripts/HanhChinh/QuanLyChamCong/QuanLyChamCong.js"></script>
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<style>
    table>tbody>tr>td>input {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        width: 100% !important;
        border-radius: 0 !important;
        line-height: 1 !important;
    }
    table>tbody>tr>td {
        margin: 0 !important;
        padding: 0 !important;
    }
    .form-control[disabled] {
        background-color: gainsboro !important;
        opacity: 0.75 !important;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-sm-2">
            <label for="inputThang">Chọn tháng</label>
            <input id="inputThang" style="width:100%; text-align:center;" />
        </div>
        <div class="col-sm-2">
            <label for="inputNam">Chọn năm</label>
            <input id="inputNam" style="width:100%; text-align:center;" />
        </div>
        <div class="col-sm-1">
            <button id="btnTimKiem" class="btn btn-warning btn-block" style="margin-top:23px;"><i class="fab fa-searchengin"></i>  Tìm kiếm</button>
        </div>
    </div>
    <div class="row">
        <button id="btnLuuDuLieuChamCong" class="btn btn-success pull-right hidden" style="margin-top:20px;"><i class="far fa-check-circle"></i>  Lưu dữ liệu</button>
    </div>
</div>
<div id="mdlBangChamCong" class="content">
    <div style="margin-top:20px; overflow-x:auto">
        <table id="tblBangChamCong" class="table table-bordered table-hover">
            <thead id="tblInputNgayThang" class="active"></thead>
            <tbody id="tblInputInfo" style="text-align:center;"></tbody>
        </table>
    </div>
</div>
