﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("quanlygiavattu"));
    ViewBag.Title_Function = @Html.Raw(Language.GetText("quanlygiavattu"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<script type="text/javascript" src="~/Scripts/NghiepVu/VatTu/QuanLyGiaVatTu.js"></script>
<div class="content">
    <div id="gridQuanLyGiaVatTu" style="margin-top:15px"></div>
    <div id="mdlCapNhatGiaVatTu"></div>
</div>
<script type="text/x-kendo-template" id="tplQuanLyGiaVatTu">
    <input id="ipVatTuID" hidden />
    <table class="table table-responsive" id="tblCapNhanDonGiaVatTu">
        <tr>
            <td style="vertical-align:middle;border:0 !important"><label>@Html.Raw(Language.GetText("doitac"))</label></td>
            <td style="border:0 !important"><input id="drdDoiTac" class="form-control" style="box-sizing:border-box; width:100%" required data-required-msg=@Html.Raw(Language.GetText("khongtrong"))></td>
        </tr>
        <tr>
            <td style="vertical-align:middle;border:0 !important"><label>@Html.Raw(Language.GetText("dongia"))</label></td>
            <td style="border:0 !important"><input id="ipDonGia" class="form-control" style="box-sizing:border-box; width:100%;" required data-required-msg=@Html.Raw(Language.GetText("khongtrong"))></td>
        </tr>
        <tr>
            <td style="vertical-align:middle;border:0 !important"><label>@Html.Raw(Language.GetText("thoigian"))</label></td>
            <td style="border:0 !important"><input class="form-control" id="ipThoiGian" style="box-sizing:border-box; width:100%;" required /></td>
        </tr>
    </table>
    <div style="margin-top:20px;">
        <div class="row">
            <button class="btn btn-default pull-left" style="" id="btnHuy">@Html.Raw(Language.GetText("huy"))</button>
            <button class="btn btn-primary pull-right" style="margin-bottom:15px" id="btnCapNhat">@Html.Raw(Language.GetText("capnhat"))</button>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tplLichSuThayDoiGia">
    <div class="tplLichSuThayDoiGia"></div>
</script>
