﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("quanlygiavattu"));
    ViewBag.Title_Function = @Html.Raw(Language.GetText("quanlygiavattu"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<script type="text/javascript" src="~/Scripts/NghiepVu/VatTu/QuanLyGiaVatTu.js"></script>
<div id="gridQuanLyGiaVatTu" style="margin-top:15px"></div>
