﻿@{
    ViewBag.Title = "Quản lý thiết kế";
}
<link href="/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="/Content/lib/fncUploadFile.js"></script>
<script type="text/javascript" src="~/Scripts/NghiepVu/QuanLyMauMay/MauMay.js"></script>
<style>
    .k-edit-form-container {
        width: 100%;
    }

    .dshinhanhadd {
        padding: 10px;
        border: 1px solid #fff;
        height: 80px;
        background: #fff;
    }

    .btn-outline-secondary {
        color: #fff !important;
        background-color: #0c7cd5 !important;
        background-image: none !important;
        border-color: #ddd !important;
    }
</style>

<div class="content">
    <div id="grid"></div>
</div>

<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        <button id="btnAdd" class="btn btn-warning k-btn k-grid-add"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm mới</button>
    </div>
</script>

<script type="text/x-kendo-template" id="btnThemDong">
    <div class="toolbarAdd">
        <button id="btnThemDong" class="btn btn-warning"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm</button>
        <button id="btnXoa" class="btn btn-danger k-btn hidden">Xóa thiết kế</button>
    </div>
</script>

<div id="mdlThemMoiMauMay"></div>
<script type="text/x-kendo-template" id="tplThemMoiMauMay">
    <div id="frmEdit" class="row">
        <input id="MauMayID" name="MauMayID" data-bind="value:MauMayID" type="text" class="hidden" />
        <input id="YeuCauKhachHang" type="text" class="form-control hidden"  style="box-sizing:border-box">
        <div class="col-lg-2">
            <div class="form-group">
                <label>Tên thiết kế</label>
                <input id="TenMauMay" type="text" class="form-control" name="TenMauMay" data-bind="value:TenMauMay" style="box-sizing:border-box" placeholder="Nhập vào tên thiết kế" required data-required-msg="Tên thiết kế không được trống">
            </div><!-- /.form-group -->
            <div class="form-group">
                <label>Mã thiết kế</label>
                <input id="MaMauMay" type="text" class="form-control" name="MaMauMay" data-bind="value:MaMauMay" placeholder="Nhập vào mã thiết kế" required data-required-msg="Mã thiết kế không được trống" style="box-sizing:border-box">
            </div><!-- /.form-group -->
            <div class="form-group">
                <label>Loại hình</label>
                <input id="LoaiHinhSanXuat" style="width:100%; box-sizing:border-box" name="LoaiHinhSanXuat" type="text" class="form-control" data-bind="value:LoaiHinhSanXuat" required data-required-msg="Chọn loại hình">
            </div><!-- /.form-group -->
            <div class="row" style="margin-top: 10px;line-height:35px">
                <div class="img-responsive">
                    <div class="fileUpload btn btn-primary pull-left" style="position: relative; display: inline-block; width:auto !important;height:auto !important;">
                        <i class="icon-googleplus5" style="padding:0px; font-size:16px; "></i> Chọn Tập Tin Đính Kèm
                        <input type="file" id="files_0" name="files_0" class="upload" accept=".png, .jpg, .jpeg" multiple="multiple">
                    </div>
                </div>
                <div class="dshinhanhadd" style="margin-top: 50px;">
                </div>
                <div class="toolVatTu pull-right" style="margin-top:10px;"></div>
            </div>
            <hr>
            <div class="form-group">
                <label>Khách hàng yêu cầu</label>
                <input id="DoiTacID" type="text" class="form-control" name="DoiTacID" placeholder="Tên khách hàng" data-bind="value:DoiTacID" style="box-sizing:border-box" disabled>
            </div><!-- /.form-group -->
            <div class="form-group">
                <label>Nội dung yêu cầu khách hàng</label>
                <textarea id="NoiDung" class="form-control" name="NoiDung"  data-bind="value:NoiDung" style="box-sizing:border-box; height: 100px;" disabled></textarea>
            </div><!-- /.form-group -->
            <button class="btn btn-primary pull-left" id="btnChonYeuCauKH" style="margin:10px 0px 10px 0px !important;">Chọn yêu cầu khách hàng</button>
            <div class="row" style="margin-top: 10px;line-height:35px">
                <div id="lstImageDisplay2" style="margin-top: 10px;">
                    <div class="img-responsive col-xs-12">
                        <table class="table">
                            <tbody id="tbody2"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div id="gridChiTietMauMay"></div>
        </div>
        <button class="btn btn-success pull-right" id="btnLuuMauMay" style="margin:10px !important;">Lưu thiết kế</button>
    </div>
</script>

<div id="mdlThemDongChiTietMauMay"></div>
<script type="text/x-kendo-template" id="tplThemDongChiTietMauMay">
    <div id="frmThemMoi">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-6">
                    <input id="ChiTietMauMayID" name="ChiTietMauMayID" data-bind="value:ChiTietMauMayID" type="text" class="hidden" />
                    <div class="form-group">
                        <label>Tổ sản xuất</label>
                        <input id="ToSanXuat" type="text" class="form-control" name="ToSanXuat" data-bind="value:ToSanXuat" required data-required-msg="Chọn tổ sản xuất" style="width:100%; box-sizing:border-box" tabindex="1">
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label>Người phụ trách</label>
                        <input id="NguoiPhuTrach" type="text" class="form-control" name="NguoiPhuTrach" data-bind="value:NguoiPhuTrach" required data-required-msg="Phải chọn người phụ trách" style="width:100%; box-sizing:border-box" placeholder="Nhập vào tên người giám sát" tabindex="3">
                    </div><!-- /.form-group -->
                </div>
                <div class="col-lg-6">
                    <div id="frmNguoiThucHien" class="form-group hidden">
                        <label>Người thực hiện</label>
                        <input id="NguoiThucHien" type="text" class="form-control" name="NguoiThucHien" data-bind="value:NguoiThucHien" required data-required-msg="Phải chọn người thực hiện" style="width:100%; box-sizing:border-box" placeholder="Nhập vào tên những người làm" tabindex="2">
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label>Thời hạn làm việc (giờ)</label>
                        <input id="ThoiGianThucHien" type="number" class="form-control" name="ThoiGianThucHien" data-bind="value:ThoiGianThucHien" style="box-sizing:border-box" placeholder="Giờ" tabindex="4">
                    </div><!-- /.form-group -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="padding-left:15px !important; padding-right:15px !important;">
                <label>Nội dung</label>
                <textarea id="NoiDungChiTiet" type="text" class="form-control" name="NoiDungChiTiet" data-bind="value:NoiDungChiTiet" placeholder="Nhập vào nội dung" style="box-sizing:border-box" rows="4" cols="50" tabindex="5"></textarea>
            </div>
            <div class="form-group" style="padding-left:15px !important; padding-right:15px !important;">
                <label>Yêu cầu hoặc phương án thực hiện</label>
                <textarea id="YeuCauPAThucHien" type="text" class="form-control" name="YeuCauPAThucHien" data-bind="value:YeuCauPAThucHien" placeholder="Nhập vào nội dung yêu cầu" required data-required-msg="Yêu cầu không được trống" style="box-sizing:border-box" rows="8" cols="50" tabindex="6"></textarea>
            </div>
            <div class="form-group" style="padding-left:15px !important; padding-right:15px !important;">
                <label>Ghi chú</label>
                <textarea id="GhiChu" type="text" class="form-control" name="GhiChu" data-bind="value:GhiChu" placeholder="Nhập vào ghi chú" style="box-sizing:border-box" rows="2" cols="50" tabindex="7"></textarea>
            </div>
            <button class="btn btn-info pull-right" id="btnLuuChiTiet" style="margin-right:15px !important;">Lưu</button>
        </div>
    </div>
</script>
<div id="mdlChonYeuCauKhachHang"></div>
<script type="text/x-kendo-template" id="tplChonYeuCauKhachHang">
    <div id="gridChonYeuCauKhachHang"></div>
</script>
<script type="text/x-kendo-template" id="tplTrangThai">
    # if(TrangThai == 1) { #
    <span style="color:darkred; font-weight:bold; font-size:14px;">Chưa bắt đầu</span>
    # } #
    # if(TrangThai == 7) { #
    <span style="color:aliceblue; font-weight:bold; font-size:14px;">Chưa báo giá</span>
    # } #
    # if(TrangThai == 5) { #
    <span style="color:green; font-weight:bold; font-size:14px;">Đã duyệt</span>
    # } #
    # if(TrangThai == 2) { #
    <span style="color:lightskyblue; font-weight:bold; font-size:14px;">Đang sản xuất</span>
    # } #
    # if(TrangThai == 3) { #
    <span style="color:blue; font-weight:bold; font-size:14px;">Hoàn thành sản xuất</span>
    # } #
    # if(TrangThai == 4) { #
    <span style="color:blueviolet; font-weight:bold; font-size:14px;">Đã bàn giao</span>
    # } #
    # if(TrangThai == 6) { #
    <span style="color:coral; font-weight:bold; font-size:14px;">Đã thanh toán xong</span>
    # } #
    # if(TrangThai == 8) { #
    <span style="color:darkgrey; font-weight:bold; font-size:14px;">Đã hủy</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplTinhTrang">
    # if(TinhTrang == 1) { #
    <span class="btn btn-default btn-block no-padding">Bình thường</span>
    # } #
    # if(TinhTrang == 2) { #
    <span class="btn btn-danger btn-block no-padding">Gấp</span>
    # } #
    # if(TinhTrang == 3) { #
    <span class="btn btn-success btn-block no-padding">Yêu cầu đã chốt</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplLoaiHinh">
    # if(LoaiHinhSanXuat == 1) { #
    <span class="btn btn-primary btn-block no-padding">May</span>
    # } #
    # if(LoaiHinhSanXuat == 2) { #
    <span class="btn btn-success btn-block no-padding">Dệt</span>
    # } #

</script>