﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("bankhongcoquyentruycapchucnangnay"));
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="content">
    <div class="container-fluid text-center">
        <h1 class="error-title">403</h1>
        <h6 class="text-semibold content-group text-bold">@Html.Raw(Language.GetText("bankhongcoquyentruycapchucnangnay"))</h6>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                
            </div>
        </div>
    </div>

</div>