﻿<!DOCTYPE html>
<html lang="en">
@{
    var UserXx = DFWeb.Security.CookiePersister.getAcountInfo();
    var stoken = Request.Params["token"];
    var scss = "";
    if (stoken != null)
    {
        scss = "contentbody_notpadding";
    }
    if (UserXx == null && stoken == null)
    {
        Response.Redirect("/Account/Login");
    }
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @if (WebConst.SiteName == "SUNWARD")
    {
        <link rel="icon" href="/Images/img/logo_sunward_mini.png" />
    }
    else
    {
        <link rel="icon" href="/Images/img/logo-df.jpg" />
    }
    <!-- Global stylesheets -->
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/core.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/colors.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/icons/fontawesome/styles.min.css">
    <link rel="stylesheet" href="~/Content/css_custom/customcss.css" type="text/css">
    <link rel="stylesheet" href="~/Content/lib/toast.min.css" />
    <!-- /global stylesheets -->
    <!--Css KendoJs-->
    <link href="~/Content/KendoJs/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/Content/KendoJs/styles/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Content/KendoJs/styles/kendo.material.mobile.min.css" rel="stylesheet" />
    <!--/ Css KendoJS-->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

</head>
<body id="body" class="navbar-top sidebar-xs">
    <!-- Main navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top " style="border: 0;box-shadow: 0px 0px 2px 0px #ccc;">
        <div class="navbar-header" style="box-shadow: 0px 0px 0px 0px #ccc;min-width:54px!important">
            @if (WebConst.SiteName == "SUNWARD")
            {
                <a class="navbar-brand logo-show" style="width:260px;background:#fff" href="/"><img style="width: 201px;height: 26px;margin-top: -6px;" src="~/Images/img/logo_sunward.png" alt=""></a>
                <a class="navbar-brand logo-hidden" style="display:none;padding:14px 7px!important" href="/"><img style="height:25px;padding:3px;margin-top: -6px;" src="~/Images/img/logo_sunward_mini.png" alt=""></a>
            }
            else
            {
                <a class="navbar-brand logo-hidden" style="display:none;padding: 0px !important" href="/"><img style="height: 44px;width: 54px; margin-top: 0px;" src="~/Images/img/logo_sunward.png" alt=""></a>
                <a class="navbar-brand logo-show" href="/" style="font-weight: bold; width: 260px;text-align: center;font-size: 50px;"> DUAFAT </a>
            }
            <ul class="nav navbar-nav visible-xs-block">
                <li id="siderbar-toogle"><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>

            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            
            <p class="navbar-text" style="font-size: 21px;padding: 6px 12px;"><span class="text-semibold title-function">@ViewBag.Title_Function</span></p>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown language-switch">
                    <a class="dropdown-toggle drlanguage" data-toggle="dropdown">
                        <img src="~/Content/assets/images/flags/vn.png" class="position-left" alt="">
                        Vietnamese
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li onclick="ChangeLanguage('cn')"><a class="ukrainian"><img src="~/Content/assets/images/flags/cn.png" alt=""> Chinese</a></li>
                        <li onclick="ChangeLanguage('en')"><a class="english"><img src="~/Content/assets/images/flags/gb.png" alt=""> English</a></li>
                        <li onclick="ChangeLanguage('vn')"><a class="espana"><img src="~/Content/assets/images/flags/vn.png" alt=""> Vietnamese</a></li>
                    </ul>
                </li>
                <li class="dropdown dropdown-user">
                    @Html.Partial("~/Views/Shared/_Userinfo.cshtml")
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            
            <!-- /main sidebar -->
            <!-- Secondary sidebar -->
            @*<div class="sidebar sidebar-secondary sidebar-default">
                <div class="sidebar-content" id="second-siderbar">

                </div>
            </div>*@
            <!-- /secondary sidebar -->
            <!-- Main content -->
            <div class="content-wrapper" id="content-loader">
                <div id="wrap-content">@RenderBody()</div>
                
                <!-- Content area -->
                <div class="content">
                    @Html.Partial("~/Views/Shared/_Footer.cshtml")
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <div id="modal-lst">
        <div id="modal-lst-grid"></div>
    </div>
    <div id="doimatkhaumodal" class="modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Html.Raw(Language.GetText("thaydoimatkhau"))</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-xs-12 col-md-5">
                            <label for="fullname">@Html.Raw(Language.GetText("hoten")):&nbsp;</label>
                        </div>
                        <div class="col-xs-12 col-md-7">
                            <label for="fullname">
                                @if (stoken == null)
                                {@UserXx.HoTen}
                            </label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-md-5" style="margin-top:10px;">
                            <label for="fullname">@Html.Raw(Language.GetText("matkhaucu"))<span style="color: red;">*&nbsp;</span></label>
                        </div>
                        <div class="col-xs-12 col-md-7" style="margin-top:3px;">
                            <input type="password" name="FullName" class="form-control form-control5" id="mkcu" placeholder="@Html.Raw(Language.GetText("nhapmatkhau"))" data-rule="maxlen:4" data-msg="* Tên đăng nhập phải có ít nhất 4 kí tự!" />
                            <div class="msg_mkcu" style="margin-top: 0px; color: red; font-size: 13px;"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-md-5" style="margin-top:10px;">
                            <label for="fullname">@Html.Raw(Language.GetText("matkhaumoi"))<span style="color: red;">*&nbsp;</span></label>
                        </div>
                        <div class="col-xs-12 col-md-7" style="margin-top:3px;">
                            <input type="password" name="FullName" class="form-control form-control5" id="mkmoi" placeholder="@Html.Raw(Language.GetText("matkhaumoi"))" data-rule="maxlen:4" data-msg="* Tên đăng nhập phải có ít nhất 4 kí tự!" />
                            <div class="msg_mkmoi" style="margin-top: 0px; color: red; font-size: 13px;"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-md-5" style="margin-top:10px;">
                            <label for="fullname">@Html.Raw(Language.GetText("nhaplaimatkhaumoi"))<span style="color: red;">*&nbsp;</span></label>
                        </div>
                        <div class="col-xs-12 col-md-7" style="margin-top:3px;">
                            <input type="password" name="FullName" class="form-control form-control5" id="mkmoilai" placeholder="@Html.Raw(Language.GetText("nhaplaimatkhaumoi"))" data-rule="maxlen:4" data-msg="* Tên đăng nhập phải có ít nhất 4 kí tự!" />
                            <div class="msg_mkmoilai" style="margin-top: 0px; color: red; font-size: 13px;"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="return saveMKMoi();">Lưu</button>
                </div>
            </div>

        </div>
    </div>
    <!--alert-->
    <div id="myModalThanhCong" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-success fade in">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                    <strong>Success!&nbsp;&nbsp;</strong> <span id="msgThanhCong">@Html.Raw(Language.GetText("banthanhcong"))</span>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalThongTin" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-info fade in">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                    <strong>Info!&nbsp;&nbsp;</strong> <span id="msgThongBao">@Html.Raw(Language.GetText("banco1thongbao"))</span>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalCanhBao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-warning fade in" id="my-alert-box">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                    <strong>Cảnh báo!&nbsp;&nbsp;</strong> <span id="canhbaospan">@Html.Raw(Language.GetText("banco1canhbao"))</span>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalLoi" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-danger fade in">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                    <strong>Danger!&nbsp;&nbsp;</strong> <span id="msgloi">@Html.Raw(Language.GetText("banco1loi"))</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/switch.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/layout_fixed_custom.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/components_loaders.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery_ui/datepicker.min.js"></script>

    <!--KendoJS-->
    <script type="text/javascript" src="~/Content/KendoJs/js/kendo.all.min.js"></script>
    <script src="~/Content/KendoJs/js/cultures/kendo.culture.vi-VN.min.js"></script>
    <script src="~/Content/KendoJs/js/cultures/kendo.culture.en-US.min.js"></script>
    <script src="~/Content/KendoJs/js/cultures/kendo.culture.zh-CN.min.js"></script>
    <!--/KendoJS-->

    <script type="text/javascript" src="~/Content/lib/toast.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/Language.js"></script>
    <script type="text/javascript" src="~/Content/lib/constant.js"></script>
    <script type="text/javascript" src="~/Content/lib/libKendoJS.js"></script>
    <script type="text/javascript" src="~/Content/lib/autoNumeric.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/lib_JS.js"></script>
    <script type="text/javascript" src="~/Content/lib/fncUploadFile.js"></script>
    <!-- /theme JS files -->

    <script type="text/javascript">

        if ($.cookie("DFS_Language") == "" || $.cookie("DFS_Language") == "vn") {
            kendo.culture("vi-VN");
        } else if ($.cookie("DFS_Language") == "cn") {
            kendo.culture("zh-CN");
        } else {
            kendo.culture("en-US");
        }

        function saveMKMoi() {
            var mkcu = $("#mkcu").val();
            var mkmoi = $("#mkmoi").val();
            var mkmoilai = $("#mkmoilai").val();
            if (mkcu == null || mkcu == "") {
                $(".msg_mkcu").html("Nhập mật khẩu");
                $(".msg_mkcu").show();
                $("#mkcu").focus();
                return false;
            }
            if (mkmoi == null || mkmoi == "") {
                $(".msg_mkmoi").html("Nhập mật khẩu mới");
                $(".msg_mkmoi").show();
                $(".msg_mkcu").hide();
                $(".msg_mkmoilai").hide();
                $("#mkmoi").focus();
                return false;
            }
            if (mkmoilai != mkmoi) {
                $(".msg_mkmoilai").html("Mật khẩu không trùng khớp");
                $(".msg_mkmoilai").show();
                $(".msg_mkmoi").hide();
                $(".msg_mkcu").hide();
                $("#mkmoilai").focus();
                return false;
            }
            $.ajax({
                url: '@Url.Action("DoiMK", "Home")',
                method: "POST",
                data: {
                    mkcu: mkcu,
                    mkmoi: mkmoi,
                },
                datatype: 'json',
                success: function (data) {
                    if (data == true) {
                        $("#doimatkhaumodal").modal("toggle");
                        $("#msgThanhCong").html("Đổi mật khẩu thành công!");
                        $("#myModalThanhCong").modal('toggle');
                    } else {
                        $(".msg_mkcu").html("Mật khẩu không đúng!");
                        $(".msg_mkcu").show();
                        $(".msg_mkmoilai").hide();
                        $(".msg_mkmoi").hide();
                        $("#mkcu").focus();
                    }
                }
            });
        }

        if ($.cookie("DFS_Language") == "") {
            ChangeLanguage("vn");
            $(".drlanguage").html('<img src="/Content/assets/images/flags/vn.png" alt="" > Vietnamese <span class="caret"></span>');
        } else if ($.cookie("DFS_Language") == "vn") {
            $(".drlanguage").html('<img src="/Content/assets/images/flags/vn.png" alt="" > Vietnamese <span class="caret"></span>');
        } else if ($.cookie("DFS_Language") == "cn") {
            $(".drlanguage").html('<img src="/Content/assets/images/flags/cn.png" alt="" > Chinese <span class="caret"></span>');
        } else if ($.cookie("DFS_Language") == "en") {
            $(".drlanguage").html('<img src="/Content/assets/images/flags/gb.png" alt="" > English <span class="caret"></span>');
        }

        $("#siderbar-toogle").on("click", function () {
            console.log("asss");
            $(".logo-show").toggle();

            $(".logo-hidden").toggle();



        });
    </script>
</body>

</html>
