﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>@ViewBag.Title</title>
    @if (WebConst.SiteName == "SUNWARD")
    {
        <link rel="icon" href="/Images/img/logo_sunward_mini.png" />
    }
    else
    {
        <link rel="icon" href="/Images/img/logo-df.jpg" />
    }
    <!-- Global stylesheets -->
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/core.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/colors.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/icons/fontawesome/styles.min.css">
    <link rel="stylesheet" href="~/Content/css_custom/customcss.css" type="text/css">
    <link rel="stylesheet" href="~/Content/lib/toast.min.css" />
    <!-- /global stylesheets -->
   
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/layout_fixed_custom.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/components_loaders.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/pickers/anytime.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery_ui/datepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/select2.min.js"></script>

    <!--KendoJS-->
    @*<script type="text/javascript" src="~/Content/KendoJs/js/kendo.all.min.js?ver=1"></script>
    <script src="~/Content/KendoJs/js/cultures/kendo.culture.vi-VN.min.js?ver=1"></script>
    <script src="~/Content/KendoJs/js/cultures/kendo.culture.en-US.min.js?ver=1"></script>
    <script src="~/Content/KendoJs/js/cultures/kendo.culture.zh-CN.min.js?ver=1"></script>*@
    <script type="text/javascript" src="~/Content/lib/toast.min.js?ver=1"></script>
    <script type="text/javascript" src="~/Content/lib/jquery.cookie.min.js?ver=1"></script>
    <script type="text/javascript" src="~/Content/lib/autoNumeric.min.js?ver=1"></script>
    <!--/KendoJS-->

   
    <script type="text/javascript" src="~/Content/lib/Language.js?ver=1"></script>
    @*<script>
        if ($.cookie("DFS_Language") == "") {
            ChangeLanguage("vn");
        }
    </script>*@
    <script type="text/javascript" src="~/Content/lib/constant.js?ver=1"></script>
    <script type="text/javascript" src="~/Content/lib/libKendoJS.js?ver=1"></script>

    <script type="text/javascript" src="~/Content/lib/lib_JS.js?ver=1"></script>
    <script type="text/javascript" src="~/Content/lib/fncUploadFile.js?ver=1"></script>
    <!-- /theme JS files -->
    <style>
        .logo-hidden {
        }

        .logo-show {
        }
        .content{
            padding:10px 0px !important;
        }
        .contentbody_notpadding {
            padding: 0;
        }
        .datatable-footer{
            display:none;
        }
        .dataTables_filter span{
            display:none;
        }
         .dataTables_filter label{
           width:100%;
        }
        .dataTables_filter input{
           width:100%;
        }
        .dataTables_filter input:before{
            content: "Tìm kiếm";
        }
        .modal-body{
            padding:1px !important;
            margin-top:10px;
        }
        .text-red{
            color:red !important;
        }
        .table thead tr th{
           background:#46b464 !important;
        }
        .dtr-data {
            white-space: normal;
        }
        .dtr-title {
            white-space: normal;
            padding-top:10px;
            padding-bottom:10px;
        }
        .main-tr {
            background: #2196f3 !important;
            color: white;
        }
        .child ul li {
            border-bottom: 1px #e0dbdb solid;
        }

        .child ul li:last-child {
                border-bottom: 1px #fff solid;
            }
        .child .child table td{
            border: 2px solid #ddd;
        }
        .child .child table th {
            border-right: 1px solid #fff;
        }
        .child .child table th :last-child {
                border-right:none;
         }
        .child .child{
           padding:5px !important;
       }
        .child .child .table-responsive {
            overflow: hidden;
        }
        .nutmorong.open:before {
            content: '\e9e7';
            font-family: 'icomoon';
            display: inline-block;
            font-size: 16px;
            width: 16px;
            line-height: 1;
            position: relative;
            top: -1px;
            vertical-align: middle;
            -webkit-font-smoothing: antialiased;
        }
        .nutmorong.closed:before {
            content: '\e9e4';
            font-family: 'icomoon';
            display: inline-block;
            font-size: 16px;
            width: 16px;
            line-height: 1;
            position: relative;
            top: -1px;
            vertical-align: middle;
            -webkit-font-smoothing: antialiased;
        }
        #content-ds table > thead > tr > th {
            border-right: 2px solid #fff !important;
        }
        #content-ds table > tbody > tr > td {
            border-right: 2px solid #fff !important;
        }
        #content-ds .child table > tbody > tr > td {
            border-right: 2px solid #ddd !important;
        }
        .pager {
            margin: 8px 3px;
            padding: 3px;
        }

            .pager .disabled {
                border: 1px solid #ddd;
                color: #999;
                margin-top: 4px;
                padding: 3px;
                text-align: center;
            }

            .pager .current {
                background-color: #2196f3;
                border: 1px solid #1e88e5;
                color: #fff;
                font-weight: bold;
                margin-top: 4px;
                padding: 5px 7px;
                text-align: center;
            }

            .pager span, .pager a {
                margin: 4px 3px;
            }

            .pager a {
                border: 1px solid #aaa;
                padding: 5px 7px;
                text-align: center;
                text-decoration: none;
            }
    </style>
    <!-- /core JS files -->

</head>
<body id="body" class="navbar-top contentbody_notpadding">
    <!-- Main navbar -->
    <input type="hidden" id="role_update" value="0" />

    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main sidebar-fixed hidden">
                <div class="sidebar-content">
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Secondary sidebar -->
            <!-- /secondary sidebar -->
            <!-- Main content -->
            <div class="content-wrapper" id="content-loader">
                @RenderBody()

                <!-- Content area -->
               
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->

</body>

</html>
