﻿<!DOCTYPE html>
<html lang="en">
@{
    var UserXx = DFWeb.Security.CookiePersister.getAcountInfo();
    var stoken = Request.Params["token"];
    var scss = "";
    var scss2 = "";
    if (stoken != null)
    {
        scss = "contentbody_notpadding";
        scss2 = "hidden";
    }
    if (UserXx == null && stoken == null)
    {
        Response.Redirect("/Account/Login");
    }
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
    <!-- Global stylesheets -->
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/core.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/minified/colors.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css_custom/customcss.css" type="text/css">
    <link rel="stylesheet" href="~/Content/lib/toast.min.css" />
    <link href="~/Content/assets/css/summernote.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!--Css KendoJs-->
    <link href="~/Content/KendoJs/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/Content/KendoJs/styles/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Content/KendoJs/styles/kendo.material.mobile.min.css" rel="stylesheet" />
    <!--/ Css KendoJS-->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/moment/moment_locales.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/layout_fixed_custom.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/components_loaders.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/pickers/anytime.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery_ui/datepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/select2.min.js"></script>

    <!--KendoJS-->
    <script type="text/javascript" src="~/Content/KendoJs/js/kendo.all.min.js?ver=1"></script>
    <script src="~/Content/KendoJs/js/cultures/kendo.culture.vi-VN.min.js?ver=1"></script>
    <script src="~/Content/KendoJs/js/cultures/kendo.culture.en-US.min.js?ver=1"></script>
    <script src="~/Content/KendoJs/js/cultures/kendo.culture.zh-CN.min.js?ver=1"></script>
    <script type="text/javascript" src="~/Content/lib/toast.min.js?ver=1"></script>
    <script type="text/javascript" src="~/Content/lib/jquery.cookie.min.js?ver=1"></script>
    <script type="text/javascript" src="~/Content/lib/autoNumeric.min.js?ver=1"></script>
    <!--/KendoJS-->


    <script type="text/javascript" src="~/Content/lib/Language.js?ver=1"></script>
    <script type="text/javascript" src="~/Content/lib/constant.js?ver=1"></script>
    <script type="text/javascript" src="~/Content/lib/libKendoJS.js?ver=1"></script>

    <script type="text/javascript" src="~/Content/lib/lib_JS.js?ver=1"></script>
    <script type="text/javascript" src="~/Content/lib/fncUploadFile.js?ver=1"></script>
    <script src="~/Content/assets/js/plugins/editors/summernote.js"></script>
    <!-- /theme JS files -->
    <script type="text/javascript" src="~/Content/lib/layoutjs.js?ver=2"></script>
    <style>
        .logo-hidden {
        }
        .logo-show {
        }
        .contentbody_notpadding{
            padding: 0;
        }
    </style>
    <!-- /core JS files -->
    
</head>
<body id="body" class="navbar-top @scss">
    <!-- Main navbar -->
    <input type="hidden" id="role_update" value="0" />
    <div class="navbar navbar-inverse navbar-fixed-top @scss2">
        <div class="navbar-header" style="box-shadow: 0px 0px 0px 0px #ccc;min-width:54px!important">
            @if (WebConst.SiteName == "SUNWARD")
            {
                <a class="navbar-brand logo-show" style="width:260px;background:#fff" href="/"><img style="width: 201px;height: 26px;margin-top: -6px;" src="~/Images/img/logo_sunward.png" alt=""></a>
                <a class="navbar-brand logo-hidden" style="display:none;padding:14px 7px!important" href="/"><img style="height:25px;padding:3px;margin-top: -6px;" src="~/Images/img/logo_sunward_mini.png" alt=""></a>
            }
            else
            {
                  <a class="navbar-brand logo-hidden" style="display:none;padding: 0px !important" href="/"><img style="height: 44px;width: 54px; margin-top: 0px;" src="~/Images/img/logo_sunward.png" alt=""></a>
                  <a class="navbar-brand logo-show" href="/" style="font-weight: bold; width: 260px;text-align: center;font-size: 34px;">  </a>
            }
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>

            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li id="siderbar-toogle"><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
                
            </ul>
            <p class="navbar-text" style="font-size: 21px;padding: 6px 12px;"><span class="text-semibold title-function">@ViewBag.Title_Function</span></p>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown language-switch">
                    <a class="dropdown-toggle drlanguage" data-toggle="dropdown">
                        <img src="~/Content/assets/images/flags/vn.png"  class="position-left logo-language" alt="">
                        <span class="language-text">Vietnamese</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li onclick="ChangeLanguage('cn')"><a class="ukrainian"><img src="~/Content/assets/images/flags/cn.png"  alt=""> Chinese</a></li>
                        <li onclick="ChangeLanguage('en')"><a class="english"><img src="~/Content/assets/images/flags/gb.png" alt=""> English</a></li>
                        <li onclick="ChangeLanguage('vn')"><a class="espana"><img src="~/Content/assets/images/flags/vn.png" alt=""> Vietnamese</a></li>
                    </ul>
                </li>
                <li class="dropdown dropdown-user">
                    @Html.Partial("~/Views/Shared/_Userinfo.cshtml")
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main sidebar-fixed @scss2" >
                <div class="sidebar-content">
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion" style="padding:0 0 10px;">
                                @Html.Partial("~/Views/Shared/_MenuViewPartial.cshtml")
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Secondary sidebar -->
            
            <!-- /secondary sidebar -->
            <!-- Main content -->
            <div class="content-wrapper" id="content-loader">
                @RenderBody()

                <!-- Content area -->
                <div class="content">
                    @Html.Partial("~/Views/Shared/_Footer.cshtml")
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <div id="modal-lst">
        <div id="modal-lst-grid"></div>
    </div>
    <div id="doimatkhaumodal" class="modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Html.Raw(Language.GetText("thaydoimatkhau"))</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-xs-12 col-md-5">
                            <label for="fullname">@Html.Raw(Language.GetText("hoten")):&nbsp;</label>
                        </div>
                        <div class="col-xs-12 col-md-7">
                            <label for="fullname">
                                @if (stoken == null)
                                {@UserXx.HoTen}
                            </label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-md-5" style="margin-top:10px;">
                            <label for="fullname">@Html.Raw(Language.GetText("matkhaucu"))<span style="color: red;">*&nbsp;</span></label>
                        </div>
                        <div class="col-xs-12 col-md-7" style="margin-top:3px;">
                            <input type="password" name="FullName" class="form-control form-control5" id="mkcu" placeholder="@Html.Raw(Language.GetText("nhapmatkhau"))" data-rule="maxlen:4" data-msg="* Tên đăng nhập phải có ít nhất 4 kí tự!" />
                            <div class="msg_mkcu" style="margin-top: 0px; color: red; font-size: 13px;"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-md-5" style="margin-top:10px;">
                            <label for="fullname">@Html.Raw(Language.GetText("matkhaumoi"))<span style="color: red;">*&nbsp;</span></label>
                        </div>
                        <div class="col-xs-12 col-md-7" style="margin-top:3px;">
                            <input type="password" name="FullName" class="form-control form-control5" id="mkmoi" placeholder="@Html.Raw(Language.GetText("matkhaumoi"))" data-rule="maxlen:4" data-msg="* Tên đăng nhập phải có ít nhất 4 kí tự!" />
                            <div class="msg_mkmoi" style="margin-top: 0px; color: red; font-size: 13px;"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-md-5" style="margin-top:10px;">
                            <label for="fullname">@Html.Raw(Language.GetText("nhaplaimatkhaumoi"))<span style="color: red;">*&nbsp;</span></label>
                        </div>
                        <div class="col-xs-12 col-md-7" style="margin-top:3px;">
                            <input type="password" name="FullName" class="form-control form-control5" id="mkmoilai" placeholder="@Html.Raw(Language.GetText("nhaplaimatkhaumoi"))" data-rule="maxlen:4" data-msg="* Tên đăng nhập phải có ít nhất 4 kí tự!" />
                            <div class="msg_mkmoilai" style="margin-top: 0px; color: red; font-size: 13px;"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="return saveMKMoi();">Lưu</button>
                </div>
            </div>

        </div>
    </div>
    <!--alert-->
    <div id="myModalThanhCong" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-success fade in">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                    <strong>Success!&nbsp;&nbsp;</strong> <span id="msgThanhCong">@Html.Raw(Language.GetText("banthanhcong"))</span>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalThongTin" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-info fade in">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                    <strong>Info!&nbsp;&nbsp;</strong> <span id="msgThongBao">@Html.Raw(Language.GetText("banco1thongbao"))</span>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalCanhBao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-warning fade in" id="my-alert-box">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                    <strong>Cảnh báo!&nbsp;&nbsp;</strong> <span id="canhbaospan">@Html.Raw(Language.GetText("banco1canhbao"))</span>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalLoi" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-danger fade in">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                    <strong>Danger!&nbsp;&nbsp;</strong> <span id="msgloi">@Html.Raw(Language.GetText("banco1loi"))</span>
                </div>
            </div>
        </div>
    </div>

    <script id="HoaDonTemplateHeader" type="text/x-kendo-template">
        <div class="dropdown-header k-widget k-header">
            <table class="table">
                <thead>
                    <tr style="padding:0px;">
                        <th style="padding: 5px !important; border-bottom: none !important; width:25%; ">Mã đơn hàng</th>
                        <th style="padding: 5px !important; border-bottom: none !important; width: 25%; ">Tên đơn hàng</th>
                        <th style="padding: 5px !important; border-bottom: none !important; width: 25%; ">Thời gian</th>
                        <th style="padding: 5px !important; border-bottom: none !important; width: 25%; ">Đối tác</th>
                    </tr>
                </thead>
            </table>
        </div>
    </script>
    <script id="HoaDonValueTemplateHeader" type="text/x-kendo-template">
        <div>
            <table class="table">
                <tbody>
                    <tr style="margin-top:5px;">
                        <td style="border-top: none !important; width: 50%;color:red;">#:data.MaDonHang#</td>
                        <td style="border-top: none !important; width: 50%;color:green;">#:data.TenDonHang#</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>
    <script id="HoaDonTemplate" type="text/x-kendo-template">
        <table class="table" style="padding-top:5px;padding-bottom:5px;">
            <tbody>
                <tr>
                    <td style="width: 25%">${MaDonHang}</td>
                    <td style="width:25%">${TenDonHang}</td>
                    <td style="width:25%">${ThoiGian}</td>
                    <td style="width:25%">${TenDoiTac}</td>
                </tr>
            </tbody>
        </table>
    </script>
    <div id="myModalShowimage" class="modal fade" role="dialog" style="z-index:9999999">
        <div class="modal-dialog" style="width:600px;height:90%">
            <div class="modal-content">
                <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="close" style="font-size:40px">&times;</a>
                <div style="text-align:center">
                    <img src="" id="showimagepopup" style="width:600px;"/>
                </div>
            </div>
        </div>
    </div>
    <div id="mldfilterdoitac">

    </div>
    <script id="mtplfilterdoitac" type="text/x-kendo-template">
        <div id="gridfilterdoitac">

        </div>
    </script>
    <script type="text/x-kendo-template" id="tempKieuDoiTacloc">
        # if(KieuDoiTac == 1) { #
        <span>Đối tác mua</span>
        # } #
        # if(KieuDoiTac == 2) { #
        <span>
            Đối tác bán
        </span>
        # } #
    </script>
    <div id="mdlChonDonHangHoaDon"></div>
    <script type="text/x-kendo-template" id="tplChonDonHangHoaDon">
        <div id="gridChonDonHangHoaDon"></div>
    </script>
    <script type="text/x-kendo-template" id="tplTrangThaiHoaDon">
        # if(TrangThai == 1) { #
        <span class="btn btn-default btn-block no-padding">Chưa bắt đầu</span>
        # } #
        # if(TrangThai == 7) { #
        <span class="btn btn-primary btn-block no-padding">Chưa báo giá</span>
        # } #
        # if(TrangThai == 5) { #
        <span class="btn btn-primary btn-block no-padding">Đã duyệt</span>
        # } #
        # if(TrangThai == 2) { #
        <span class="btn btn-info btn-block no-padding">Đang sản xuất</span>
        # } #
        # if(TrangThai == 3) { #
        <span class="btn btn-success btn-block no-padding">Hoàn thành sản xuất</span>
        # } #
        # if(TrangThai == 4) { #
        <span class="btn btn-success btn-block no-padding">Đã bàn giao</span>
        # } #
              # if(TrangThai == 6) { #
        <span class="btn btn-success btn-block no-padding">Đã thanh toán xong</span>
        # } #
        # if(TrangThai == 8) { #
        <span class="btn btn-danger btn-block no-padding">Đã hủy</span>
        # } #
    </script>
    <script type="text/x-kendo-template" id="btnThemLocHoaDon">
        <div class="toolbarAdd row">
            <div class="pull-left">
                <label style="margin-right: 10px">Từ ngày</label><input id="TuNgay" name="TuNgay" style="margin-right: 5px" />
                <label style="margin-right: 10px">Đến ngày</label><input id="DenNgay" name="DenNgay" />
                <button id="btnTimKiem" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
    </script>
</body>

</html>
