﻿@using DFWeb.Security;
@{
    var stokenss = Request.Params["token"];
    if (stokenss == null)
    {
        var listMenu = DFWeb.Common.GenMenu.GetListMenu();
        if (listMenu == null)
        {
            CookiePersister.removeAccountInfo();
            Response.Redirect("~/Account/Login");
        }
        else
        {
            var listMenuLevelOne = listMenu.Where(m => m.MenuIDCha == null).ToList();

            foreach (var menu in listMenuLevelOne)
            {
                var listMenucon = listMenu.Where(m => m.MenuIDCha == menu.MenuID).ToList();

                if (menu.IsHead)
                {
                    <li class="navigation-header" style="background: #1a2226;color: #FFFACD;"><span>@menu.TenMenu</span> <i class="fa @menu.icon" title="@menu.TenMenu"></i></li>
                }
                else
                {

                    <li class="@menu.Class menu id_@menu.MenuID @(menu.DuongDan == "#" ? "parent" : "")">
                        @if (menu.done == false)
                        {
                            if (menu.DuongDan == "#")
                            {
                                <a href="#@menu.DuongDan"><i class="fa @menu.icon"></i> <span>@menu.TenMenu</span></a>

                            }
                            else
                            {
                                if (menu.isLoadContent)
                                {
                                    <a href="javascript:void(0);" onclick="LoadingContent('wrap-content','@menu.DuongDan','@menu.MenuID','@menu.TenMenu');"><i class="fa @menu.icon"></i> <span>@menu.TenMenu</span></a>
                                }
                                else
                                {

                                    <a href="#@menu.DuongDan"><i class="fa @menu.icon"></i> <span>@menu.TenMenu</span></a>
                                }
                            }
                            if (listMenucon.Count > 0)
                            {
                                <ul>
                                    @foreach (var menucon in listMenucon)
                                    {
                                        if (menucon.isLoadContent)
                                        {
                                            <li class="@menucon.Class menu id_@menucon.MenuID"><a href="javascript:void(0);" onclick="LoadingContent('wrap-content','@menucon.DuongDan','@menucon.MenuID','@menucon.TenMenu');" id="@menucon.MenuID">@menucon.TenMenu</a></li>
                                        }
                                        else
                                        {
                                            if (menucon.done == true)
                                            {
                                                <li class="@menucon.Class menu id_@menucon.MenuID"><a onclick="alert(GetTextLanguage('chucnangdanghoanthien'));" style="color:red !important;" id="@menucon.MenuID">@menucon.TenMenu</a></li>
                                            }
                                            else
                                            {
                                                <li class="@menucon.Class menu id_@menucon.MenuID"><a href="#@menucon.DuongDan" id="@menucon.MenuID">@menucon.TenMenu</a></li>
                                            }

                                        }
                                    }
                                </ul>
                            }
                        }
                        else
                        {
                            <a href="javascript:void(0);" onclick="alert(GetTextLanguage('chucnangdanghoanthien'));" style="color:red !important;"><i class="fa @menu.icon"></i> <span>@menu.TenMenu</span></a>
                        }

                    </li>
                }
            }
        }
    }

}



<!-- <li class="treeview">
  <a href="javascript:void(0)">
    <i class="fa fa-files-o"></i>
    <span>Layout Options</span>
    <span class="label label-primary pull-right">4</span>
  </a>
  <ul class="treeview-menu">
    <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
    <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
    <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
    <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
  </ul>
</li>
<li>
  <a href="pages/widgets.html">
    <i class="fa fa-th"></i> <span>Widgets</span> <small class="label pull-right bg-green">new</small>
  </a>
</li>
<li class="treeview">
  <a href="javascript:void(0)">
    <i class="fa fa-pie-chart"></i>
    <span>Charts</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> ChartJS</a></li>
    <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
    <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
    <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="javascript:void(0)">
    <i class="fa fa-laptop"></i>
    <span>UI Elements</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
    <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
    <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
    <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
    <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
    <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="javascript:void(0)">
    <i class="fa fa-edit"></i> <span>Forms</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="javascript:void(0)">
    <i class="fa fa-table"></i> <span>Tables</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
    <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
  </ul>
</li>
<li>
  <a href="pages/calendar.html">
    <i class="fa fa-calendar"></i> <span>Calendar</span>
    <small class="label pull-right bg-red">3</small>
  </a>
</li>
<li>
  <a href="pages/mailbox/mailbox.html">
    <i class="fa fa-envelope"></i> <span>Mailbox</span>
    <small class="label pull-right bg-yellow">12</small>
  </a>
</li>
<li class="treeview">
  <a href="javascript:void(0)">
    <i class="fa fa-folder"></i> <span>Examples</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
    <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
    <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
    <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
    <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
    <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
    <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
    <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="javascript:void(0)">
    <i class="fa fa-share"></i> <span>Multilevel</span>
    <i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
    <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Level One</a></li>
    <li>
      <a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu">
        <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Level Two</a></li>
        <li>
          <a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Level Three</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Level Three</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Level One</a></li>
  </ul>
</li>
<li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
<li class="header">LABELS</li>
<li><a href="javascript:void(0)"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
<li><a href="javascript:void(0)"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
<li><a href="javascript:void(0)"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->
