﻿@using DF.DataAccess
@{
    var UserX = DFWeb.Security.CookiePersister.getAcountInfo();
    var stokens = Request.Params["token"];
   
}


@if (stokens == null)
{
    if (UserX.NhanVienID != null)
    {
        var nhanvienid = Guid.Parse(UserX.NhanVienID);
        var nhanvien = new UnitOfWork().Context.NhanViens.FirstOrDefault(p => p.NhanVienID == nhanvienid);
        var avatar = nhanvien.AnhDaiDien;
         <a class="dropdown-toggle" data-toggle="dropdown">
        <img src="@(avatar == null || avatar == "" ? "/center/Upload/ImageQLNV/no-image.png" : "/center/Upload/ImageQLNV/"+avatar)" alt="">
        <span>@nhanvien.TenNhanVien</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#doimatkhaumodal" ><i class="icon-cog5"></i> @Html.Raw(Language.GetText("doimatkhau"))</a></li>
        <li><a href="/Account/Logout"><i class="icon-switch2"></i> @Html.Raw(Language.GetText("dangxuat"))</a></li>
    </ul>
    }
   
}
