﻿@model  ChiTietDinhMucHangMuc
<input type="hidden" id="IDHangMuc" value="@Model.HangMucID" />
<div class="" id="form_loading">
    <form action="#" class="form-horizontal">
        <div class="panel panel-flat">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("tenhangmuc")):</label>
                    <div class="row" style="margin:0 10px !important;">
                        <input type="text" class="form-control" placeholder="Tên Hạng Mục" id="txtTenHangMuc" value="@Model.TenHangMuc" />
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("loaihinh")):</label>
                    <div class="row" style="margin:0 10px !important;">
                        <select data-placeholder="Select a state" id="TrangThai" class="select-clear">
                            <option class="" value=1 @Model.DongMoi>Đóng Mới</option>
                            <option class="" value=2 @Model.SuaChua>Sửa Chữa</option>
                            <option class="" value=3 @Model.NangCap>Nâng Cấp</option>

                        </select>
                    </div>
                </div>
                <h4 style="margin:0;" class="text-warning">Định mức vật tư</h4>
                <table class="table table-hover table-bordered datatable-responsive-row-control">
                    <thead style="background:#4682B4;color:#fff;">
                        <tr>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("vattu"))</th>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("mavattu"))</th>
                            <th class="text-bold text-center" style="width:200px;">@Html.Raw(Language.GetText("soluong"))</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DinhMucHangMucThiCong.OrderBy(p=>p.TenVatTu))
                        {
                            <tr>
                                <td>@item.TenVatTu</td>
                                <td class="text-center">@item.TenVietTat</td>
                                <td class="text-center">
                                    <input type="text" class="form-control numbers text-right sl_vt" value="@item.SoLuong" />
                                    <input type="hidden" class="IDVatTuID" value="@item.VatTuID" />
                                </td>

                            </tr>
                        }
                    </tbody>
                    @*<tbody id="lsthuoctinh">
                            @Html.Partial("~/Views/QuanLyCongTrinh/_DanhSachThuocTinhDuKien.cshtml", Model.LayDanhSachThuocTinhHangMuc)
                        </tbody>*@
                    <tr>
                        <td colspan="3" class="text-right">
                            <span class="btn btn-success" title="@Html.Raw(Language.GetText("luu"))" onclick="addDinhMuc()" style="margin-right:10px;"><i class="icon-floppy-disk"></i> @Html.Raw(Language.GetText("luu"))</span>
                            <span class="btn btn-danger" title="@Html.Raw(Language.GetText("xoa"))" onclick="xoaHangMuc()" style="margin-right:10px;"><i class="icon-floppy-disk"></i> @Html.Raw(Language.GetText("xoa"))</span>
                        </td>
                    </tr>

                </table>

            </div>
        </div>
    </form>
    <div class="clearfix"></div>
</div>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript">
    $(".numbers").autoNumeric(autoNumericOptionsKyHopDong);
    $('.select-clear').select2({
        allowClear: true
    });
    function getRowTable() {
        var form = [];
        var rowss = gridtable.rows({ 'search': 'applied' }).nodes();
        $('.sl_vt', rowss).each(function () {
            var tb = $(this).autoNumeric('get');
            if (tb != "" && tb != null && tb != 0) {
                var obj = new Object();
                obj.VatTuID = $(this).closest('tr').find('.IDVatTuID').val();
                obj.SoLuong = tb;
                form.push(obj);
            }

        });
        return form;
    }
    function xoaHangMuc() {
        if (confirm("Bạn có muốn xóa hạng mục này ?")) {
            $.ajax({
                url: '@Url.Action("XoaHangMucNew", "QuanLyCongTrinh")',
                method: "POST",
                data: { HangMucThiCongID: $("#IDHangMuc").val() },
                async: true,
                success: function (data) {
                    if (data.code == "success") {
                        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/LayDanhSachHangMuc_Paritial?CongTrinhID=" + $("#IDCongTrinh").val());
                    }
                    alertToastr(data);
                    $("#form_loading").unblock();
                },
                error: function (e) {
                    $("#form_loading").unblock();
                }
            });
        }
    }
    function addDinhMuc() {
        if (validAdd()) {
            ContentWatingOP("form_loading", 0.9);
            var object = new Object();
            object.HangMucID = $("#IDHangMuc").val();
            object.TenHangMuc = $("#txtTenHangMuc").val();
            object.LoaiHinh = $("#TrangThai").val();
            object.items = getRowTable();
            if (object.items.length == 0) {
                showToast("warning", GetTextLanguage("canhbao"), "Không có vật tư nào");
                $("#form_loading").unblock();
            } else {
                $.ajax({
                    url: '@Url.Action("AddDinhMucHangMuc", "QuanLyCongTrinh")',
                    method: "POST",
                    data: { data: JSON.stringify(object) },
                    async: true,
                    success: function (data) {
                        if (data.code == "success") {
                        }
                        alertToastr(data);
                        $("#form_loading").unblock();
                    },
                    error: function (e) {
                        $("#form_loading").unblock();
                    }
                });
            }
        }
    };

    function validAdd() {
        if ($("#txtTenHangMuc").val() == "") {
            alert("Nhập Tên Hạng Mục");
            $("#txtTenHangMuc").focus();
            return false;
        }
        return true;
    }

    var gridtable = $('.datatable-responsive-row-control').DataTable({
        "ordering": false,
    });
    $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
    // Enable Select2 select for the length option
    $('.dataTables_length select').select2({
        minimumResultsForSearch: "-1"
    });

</script>