﻿@model  List<DF.DataAccess.DBML.Web_PhanBoHangMuc_LayPhanBoVatTu_NewResult>
<div class="" id="form_loading">
    <form action="#" class="form-horizontal">
                <table class="table table-hover table-bordered datatable-responsive-row-control">
                    <thead style="background:#4682B4;color:#fff;">
                        <tr>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("vattu"))</th>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("mavattu"))</th>
                            <th class="text-bold text-center">Định mức</th>
                            <th class="text-bold text-center" style="width:200px;">@Html.Raw(Language.GetText("soluong"))</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.TenVatTu</td>
                            <td class="text-center">@item.MaVatTu</td>
                            <td class="text-right text-bold">@item.SoLuongDinhMuc</td>
                            <td class="text-center">
                                <input type="text" class="form-control numbers text-right sl_vt" value="@item.SoLuongPhanBo" />
                                <input type="hidden" class="IDVatTuID" value="@item.VatTuID" />
                            </td>
                            @*<td class="text-center"><span class="btn btn-primary" onclick="chitietphanbo('@item.VatTuID')"><i class="icon-pie5"></i></span></td>*@
                        </tr>
                        }
                    </tbody>
                    <tr>
                        <td colspan="4" class="text-right">
                            <span class="btn btn-success" title="@Html.Raw(Language.GetText("luu"))" onclick="addDinhMuc()" style="margin-right:10px;"><i class="icon-floppy-disk"></i> @Html.Raw(Language.GetText("luu"))</span>
                        </td>
                    </tr>
                </table>

    </form>
    <div class="clearfix"></div>
</div>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript">
    $(".numbers").autoNumeric(autoNumericOptionsKyHopDong);
    $('.select-clear').select2({
        allowClear: true
    });
    function getRowTable() {
        var form = [];
        var rowss = gridtable.rows({ 'search': 'applied' }).nodes();
        $('.sl_vt', rowss).each(function () {
            var tb = $(this).autoNumeric('get');
            if (tb != "" && tb != null && tb != 0) {
                var obj = new Object();
                obj.VatTuID = $(this).closest('tr').find('.IDVatTuID').val();
                obj.SoLuong = tb;
                form.push(obj);
            }

        });
        return form;
    }

    function addDinhMuc() {
        if (validAdd()) {
            ContentWatingOP("form_loading", 0.9);
            var object = new Object();
            object.HangMucID = $("#IDHMTC").val();
            object.CongTrinhDoiID = $("#IDCongTrinhDoi").val();
            object.items = getRowTable();
            if (object.items.length == 0) {
                showToast("warning", GetTextLanguage("canhbao"), "Không có vật tư nào");
                $("#form_loading").unblock();
            } else {
                $.ajax({
                    url: '@Url.Action("PhanBoDinhMucHangMuc", "QuanLyCongTrinh")',
                    method: "POST",
                    data: { data: JSON.stringify(object) },
                    async: true,
                    success: function (data) {
                        if (data.code == "success") {
                        }
                        alertToastr(data);
                        $("#form_loading").unblock();
                    },
                    error: function (e) {
                        $("#form_loading").unblock();
                    }
                });
            }
        }
    };

    function validAdd() {
        if ($("#txtTenHangMuc").val() == "") {
            alert("Nhập Tên Hạng Mục");
            $("#txtTenHangMuc").focus();
            return false;
        }
        return true;
    }

    var gridtable = $('.datatable-responsive-row-control').DataTable({
        "ordering": false,
        columnDefs: [
            { render: $.fn.dataTable.render.number(",", ".", 2), targets: [2] }

        ],
    });
    $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
    // Enable Select2 select for the length option
    $('.dataTables_length select').select2({
        minimumResultsForSearch: "-1"
    });

</script>