﻿@model DF.DBMapping.ModelsExt.HopDongEdit
<script type="text/javascript" src="~/Content/lib/jquery.fullscreenslides.js"></script>
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<style>
    .img-responsive {
        display: inline !important;
        margin-bottom: 3px;
        position: relative;
    }

        .img-responsive img {
            width: 90px;
            height: 90px;
            box-shadow: 0px 0px 2px 1px #ccc;
            margin-right: 6px;
        }
</style>
<div style="height:10px;"></div>
<form action="#" class="form-horizontal">
    <div class="panel panel-flat col-md-12">
        <h3 class="text-bold">@Html.Raw(Language.GetText("thongtinhopdong"))</h3>
        <input type="hidden" id="IDHopDong" value="@Model.HopDongID" />
        <div class="panel-body" id="loadpanel-addform">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Ngày Tạo:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="NgayKhoiTao" style="width:100%;" placeholder=@Html.Raw(Language.GetText("chonngay"))>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label ">Tên Hóa Đơn:</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control validreq" id="TenDuan" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label ">Mã hóa đơn:</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control validreq" id="MaDuAn" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label ">Đối tác:</label>
                        <div class="col-lg-9">
                            <input type="text" required class="form-control validreq" id="DoiTacID" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label ">Trạng thái:</label>
                        <div class="col-lg-9">
                            <select data-placeholder="Select a state" id="TrangThai" class="select-clear form-control">
                                <option class="" value=1>Chưa bắt đầu</option>
                                <option class="" value=2>Đang sản xuất</option>
                                <option class="" value=3>Đã xong</option>
                                <option class="" value=4>Đã giao hàng</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="img-responsive">
                            <div class="objupload btn btn-primary" style="position: relative; display: inline-block; width:auto !important;height:auto !important;">
                                <i class="icon-googleplus5" style="padding:0px; font-size:16px; "></i> Chọn Tập Tin Đính Kèm
                                <input type="file" class="inputupload" accept=".png, .jpg, .jpeg, .gif, .doc,.docs, .xls, .xlsx, .pdf, .ppt, .txt, .dwg" multiple="multiple" id="upLoadFile">
                            </div>
                        </div>


                        <div id="lstImageDisplay" style="margin-top: 10px;">
                            <div class="img-responsive col-xs-12">
                                <table class="table">
                                    <tbody id="tbody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="row text-right" style="margin-bottom:10px;">
                        <span class="btn btn-warning" id="ThemSanPham">Thêm sản phẩm</span>
                    </div>
                    <div id="gridsanpham">

                    </div>
                </div>
            </div>
    
         
            <div class="text-right" style="margin-top:10px;">
                <span class="btn btn-default" onclick="Thoat();">@Html.Raw(Language.GetText("thoat"))<i class="icon-arrow-right14 position-right"></i></span>
                <span onclick="saveCongTrinh();" class="btn btn-success btnsaves">@Html.Raw(Language.GetText("luu")) <i class="icon-floppy-disk position-right"></i></span>
            </div>

        </div>
    </div>
</form>
<div id="mdlDanhSachVatTu"></div>
<script type="text/x-kendo-template" id="tplDanhSachVatTu">
    <div id="gridDanhSachVatTu"></div>
    <div style="margin-top:15px;">
        <div class="pull-right">
            <button class="btn btn-default" id="btnHuyChonVatTu"><i class="glyphicon glyphicon-share-alt"></i> @Html.Raw(Language.GetText("huy"))</button>
            <button class="btn btn-success" id="btnDongY"><i class="glyphicon glyphicon-ok"></i> @Html.Raw(Language.GetText("dongy"))</button>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(DsHinhAnh)#</span>
</script>

<script type="text/javascript">
    $("#GiaTriHopDong").autoNumeric(autoNumericOptionsKyHopDong);
    var dataitems = [];
    var dataimg = new FormData();
    $(document).ready(function () {

        $("#DoiTacID").kendoDropDownList({
            dataTextField: "TenDoiTac",
            dataValueField: "DoiTacID",
            filter: "contains",
            autoBind: false,
            optionLabel: "Chọn đối tác",
            dataSource: getDataDroplitwithParam("/QuanLyCongTrinh", "/LayDanhSachDoiTac", { }),
           
        });
        $("#gridsanpham").kendoGrid({
            width: "100%",
            height: heightGrid * 0.6,
            dataSource: new kendo.data.DataSource({
                data: dataitems,
                type: "json",
                batch: true,
                pageSize: 50,
                sort: [{ field: "TenVatTu", dir: "desc" }],
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        fields: {
                            TenVatTu: { type: "number", editable: false },
                            MaVatTu: { type: "number", editable: false },
                            SoLuong: { type: "number", editable: true },
                            DonGia: { type: "number", editable: true },
                            ThanhTien: { type: "number", editable: false },
                        }
                    }
                }
            }),
            filterable: {
                mode: "row"
            },
            messages: {
                commands: {
                    update: GetTextLanguage("capnhat"),
                    canceledit: GetTextLanguage("huy")
                }
            },
            sortable: true,
            pageable:
                {
                    refresh: true,
                    buttonCount: 5,
                    pageSizes: true,
                    messages: messagegrid
                },
            columns: [
                {
                    field: "STT",
                    title: GetTextLanguage("stt"),
                    hidden: true
                },
                {
                    field: "DsHinhAnh", title: "Ảnh",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    template: kendo.template($("#tplAnh").html()),
                    width: 70
                },
                {
                    field: "TenVatTu",
                    title: "Tên sản phẩm",
                    width: 150,
                    filterable: FilterInColumn
                },
                {
                    field: "TenVietTat",
                    title: "Mã ",
                    width: 150,
                    filterable: FilterInTextColumn,
                    attributes: alignLeft,
                },
                {
                    field: "SoLuong",
                    title: "Số lượng",
                    width: 100,
                    filterable: FilterInColumn,
                    format:"{0:n2}",
                    attributes: alignRight,
                },
                {
                     field: "DonGia",
                     title: "Đơn giá",
                     width: 100,
                     filterable: FilterInColumn,
                     format: "{0:n2}",
                     attributes: alignRight,
                },
                 {
                     field: "ThanhTien",
                     title: "Thành tiền",
                     width: 100,
                     filterable: FilterInColumn,
                     format: "{0:n2}",
                     attributes: alignRight,
                 },
            ],
            dataBound: function (e) {
                showslideimg10();
            },
        });
       
        $("#ThemSanPham").click(function () {
            if (true) {
                CreateModalWithSize("mdlDanhSachVatTu", "99%", "90%", "tplDanhSachVatTu", GetTextLanguage("danhsachvattu"));
                $("#gridDanhSachVatTu").kendoGrid({
                    dataSource: new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: currentController + "/LayDanhSachSanPham",
                                dataType: "json",
                                type: "GET",
                                contentType: "application/json; charset=utf-8",
                            },
                        },
                        schema: {
                            data: "data",
                            total: "total",
                            model: {
                                id: "VatTuID",
                                fields: {
                                    TenVatTu: {type: "string",editable: false},
                                    TenVietTat: {type: "string", editable: false},
                                    TenDonVi: {type: "string",editable: false},
                                    DonGia: {type: "number"},
                                    SoLuong: {type: "number"},

                                }
                            }
                        },
                        change: function (e) {
                            var data = this.data();
                        }
                    }),
                    filterable: {
                        mode: "row"
                    },
                    sortable: true,
                    resizable: true,
                    editable: true,
                    height: innerHeight * 0.75,
                    width: "100%",
                    dataBound: function (e) {
                        var dataSource = this.dataSource.view();
                        var dataItem = $("#gridsanpham").data("kendoGrid").dataSource.data();
                        for (var i = 0; i < dataSource.length; i++) {
                            if (dataSource[i].Chon === undefined) dataSource[i].Chon = false;
                            for (var j = 0; j < dataItem.length; j++) {
                                if (dataSource[i].VatTuID == dataItem[j].VatTuID) {
                                    $("#gridDanhSachVatTu").find("tr[data-uid='" + dataSource[i].uid + "'] td:eq(3)").text(dataItem[j].DonGia).autoNumeric(autoNumericOptionsSoLuong);
                                    dataSource[i].DonGia = dataItem[j].DonGia;
                                    $("#gridDanhSachVatTu").find("tr[data-uid='" + dataSource[i].uid + "'] td:eq(4)").text(dataItem[j].SoLuong).autoNumeric(autoNumericOptionsSoLuong);
                                    dataSource[i].SoLuong = dataItem[j].SoLuong;
                                }
                            }
                        }
                    },
                    columns: [
                         {
                             field: "Lever", title: "Loại nguyên liệu",
                             attributes: { style: "text-align:left;" },
                             filterable: FilterInColumn,
                             template: kendo.template($("#tpllerver").html()),
                             width: 200
                         },
                         {
                             field: "DsHinhAnh", title: "Ảnh",
                             attributes: { style: "text-align:left;" },
                             filterable: FilterInTextColumn,
                             template: kendo.template($("#tplAnh").html()),
                             width: 70
                         },
                        {
                            field: "TenVatTu", title: "Nguyên liệu",
                            attributes: { style: "text-align:left;" },
                            filterable: FilterInTextColumn,
                            width: 200
                        },
                        {
                            field: "TenVietTat",
                            title: "Mã",
                            width: 200,
                            attributes: { "style": "text-align:left !important;" },
                            filterable: FilterInTextColumn
                        },
                        {
                            field: "TenDonVi",
                            title: GetTextLanguage("donvi"),
                            width: 200,
                            attributes: { "style": "text-align:left !important;" },
                            filterable: FilterInTextColumn
                        },
                        {
                            field: "DonGia", width: 150,
                            title: GetTextLanguage("gianhap"),
                            format: "{0:n2}",
                            attributes: { "style": "text-align:right !important;" },
                            filterable: FilterInColumn,
                            editor: function (container, options) {
                                rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                                var input = $('<input type="text" data-v-min="1" style="width:80%;height:15px;" class="form-control" id="' + options.model.get("VatTuID") + '" name="DonGia" />');
                                input.appendTo(container);
                                input.autoNumeric(autoNumericOptionsSoLuong);
                            },
                        },
                        {
                            field: "SoLuong",
                            width: 100,
                            title: GetTextLanguage("soluong"),
                            format: "{0:n2}",
                            attributes: {
                                "class": "soluongcheck",
                                "style": "font-weight:bold"
                            },
                            filterable: FilterInColumn,
                            editor: function (container, options) {
                                rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                                var input = $('<input type="text" data-v-min="1" style="width:75%;height:15px;" class="form-control" id="' + options.model.get("VatTuID") + '" name="SoLuong" />');
                                input.appendTo(container);
                                input.autoNumeric(autoNumericOptionsSoLuong);
                            },
                        }
                    ],
                    dataBound: function (e) {
                        showslideimg10();
                    },
                });
                $("#gridDanhSachVatTu").data("kendoGrid").table.on("click", ".chon", function () {
                    var dataItem = $("#gridDanhSachVatTu").data("kendoGrid").dataItem($(this).closest("tr"));
                    if ($(this)[0].checked === true) {
                        dataItem.Chon = true;
                        $("#gridDanhSachVatTu").data("kendoGrid").select($("#gridDanhSachVatTu").data("kendoGrid").table.find("[data-uid=" + dataItem.uid + "]"));
                    }
                    else {
                        dataItem.Chon = false;
                        $("#gridDanhSachVatTu").data("kendoGrid").table.find("[data-uid=" + dataItem.uid + "]").attr("class", "");
                    }
                });
                $("#gridDanhSachVatTu").data("kendoGrid").table.on("dblclick", "tr", function () {
                    var dataItem = $("#gridDanhSachVatTu").data("kendoGrid").dataItem($(this).closest("tr"));
                    if (dataItem.Chon === true) {
                        dataItem.Chon = false;
                        $(this).find(".chon").prop('checked', false);
                        $("#gridDanhSachVatTu").data("kendoGrid").table.find("[data-uid=" + dataItem.uid + "]").attr("class", "");
                    }
                    else {
                        dataItem.Chon = true;
                        $(this).find(".chon").prop('checked', true);
                        $("#gridDanhSachVatTu").data("kendoGrid").select($("#gridDanhSachVatTu").data("kendoGrid").table.find("[data-uid=" + dataItem.uid + "]"));
                    }
                });
                $("#btnDongY").click(function () {
                    var arrData = $("#gridsanpham").data("kendoGrid").dataSource.data();
                    var dataItem = $("#gridDanhSachVatTu").data("kendoGrid").dataSource.data();
                    for (var i = 0; i < dataItem.length; i++) {
                        if (dataItem[i].SoLuong != null) {
                            var isExsit = false;
                            for (var j = 0; j < arrData.length; j++) {
                                if (dataItem[i].VatTuID == arrData[j].VatTuID) {
                                    isExsit = true;
                                    arrData[j].DonGia = dataItem[i].DonGia;
                                    arrData[j].SoLuong = dataItem[i].SoLuong;
                                    arrData[j].ThanhTien = (dataItem[i].DonGia == null ? 1 : dataItem[i].DonGia) * (dataItem[i].SoLuong == null ? 1 : dataItem[i].SoLuong);
                                }
                            }
                            if (!isExsit) {
                                dataItem[i].ThanhTien = (dataItem[i].DonGia == null ? 1 : dataItem[i].DonGia) * (dataItem[i].SoLuong == null ? 1 : dataItem[i].SoLuong);
                                arrData.push(dataItem[i]);
                            }
                        }
                    }
                    $("#mdlDanhSachVatTu").data("kendoWindow").close();
                    $("#gridsanpham").data("kendoGrid").dataSource.data(arrData);
                });
                $("#btnHuyChonVatTu").click(function () {
                    $("#mdlDanhSachVatTu").data("kendoWindow").close();
                });
            }
        });
        lstHinhAnh = [];
        $("#NgayKhoiTao").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
        });


        
        $(".validreq").on("keyup", function () {
            if ($(this).val() == "") {
                $(this).addClass("errorReq");
            } else {
                $(this).removeClass("errorReq");
            }
        });

        if ($("#IDHopDong").val() != null && $("#IDHopDong").val() != "") {
            $.ajax({
                url: '@Url.Action("LayChiTietHopDong", "QLHopDong")',
                method: "POST",
                data: {
                    HopDongID: $("#IDHopDong").val()
                },
                datatype: 'json',
                success: function (data) {
                    $("#NgayKhoiTao").val(data.data.strThoiGian);
                    $("#TenHopDong").val(data.data.TenHopDong);
                    $("#GiaTriHopDong").autoNumeric('set', data.data.GiaTriHopDong);
                    var lst = data.data.ListHinhAnh;
                    if (lst.length > 0 && lst[0] != "") {
                        for (var i = 0 ; i < lst.length; i++) {
                            lstHinhAnh.push({ img: lst[i].img, name: lst[i].name });
                        }
                        var htmls = "";
                        for (var i = 0; i < lstHinhAnh.length; i++) {
                            if (lstHinhAnh[i].img.match(/\.(jpg|jpeg|png|gif)$/)) {

                                htmls += '<tr class="imgslider">';
                                htmls += '<td>';
                                htmls += '<a rel="gallery" href="' + localQLVanBan + lstHinhAnh[i].img + '">';
                                htmls += '<img src="' + localQLVanBan + lstHinhAnh[i].img + '" style="width:70px;height:70px" data-src="' + localQLVanBan + lstHinhAnh[i].img + '" class="img-responsive img-rounded media-preview" alt="" data-file="' + lstHinhAnh[i].img + '" />';
                                htmls += '</a>'
                                htmls += '<td style="width:150px"></td>'
                                htmls += '<td>' + lstHinhAnh[i].name + '</td>'
                                htmls += '<td><a href="' + localQLVanBan + lstHinhAnh[i].img + '" data-file="' + lstHinhAnh[i].img + '" download>' + GetTextLanguage("taixuong") + '</a></td>';
                                htmls += '<td><button class="closeImgLoad btn btn-danger" data-file="' + lstHinhAnh[i].img + '">' + GetTextLanguage("xoa") + '</a></td>'
                                htmls += '</tr>';
                            } else {

                                htmls += '<tr class="imgslider">';
                                htmls += '<td>';
                                htmls += '<a rel="gallery" href="' + localQLVanBan + lstHinhAnh[i].img + '">';
                                htmls += '<img src="/content/assets/images/file.png" style="width:70px;height:70px" data-src="' + localQLVanBan + lstHinhAnh[i].img + '" class="img-responsive img-rounded media-preview" alt="" data-file="' + lstHinhAnh[i].img + '" />';
                                htmls += '</a>'
                                htmls += '<td style="width:150px"></td>'
                                htmls += '<td>' + lstHinhAnh[i].name + '</td>'
                                htmls += '<td><a href="' + localQLVanBan + lstHinhAnh[i].img + '" data-file="' + lstHinhAnh[i].img + '" download>' + GetTextLanguage("taixuong") + '</a></td>';
                                htmls += '<td><button class="closeImgLoad btn btn-danger" data-file="' + lstHinhAnh[i].img + '">' + GetTextLanguage("xoa") + '</a></td>'
                                htmls += '</tr>';
                            }

                        }
                        $('#lstImageDisplay tbody').append(htmls);
                        $("#lstImageDisplay").on("click", ".closeImgLoad", function () {
                            var file = $(this).data("file");
                            for (var i = 0; i < lstHinhAnh.length; i++) {
                                if (lstHinhAnh[i].img === file) {
                                    lstHinhAnh.splice(i, 1);
                                    break;
                                }
                            }
                            var list = dataimg.getAll("uploads");
                            dataimg = new FormData();
                            for (var i = 0; i < list ; i++) {
                                if (list[i].name === file) {

                                } else {
                                    dataimg.append("uploads", list[i]);
                                }
                            }
                            $(this).closest("tr").remove();
                        });
                        showslideimg5($("#lstImageDisplay"));
                    }
                },
                error: function () {
                }
            });
        }

    });


    function valid() {
        if ($("#TenHopDong").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("tenhopdong"));
            $("#TenHopDong").focus();
            return false;
        }
        return true;
    }

    function saveCongTrinh() {
        if (valid()) {
            ContentWatingOP("loadpanel-addform", 0.9);

            var ins = document.getElementById("upLoadFile").files.length;;
            if (ins > 0) {
                for (var x = 0; x < ins; x++) {
                    dataimg.append("uploads", document.getElementById("upLoadFile").files[x]);
                }

            }

            var objData = {};
            var CTLQ = [];
            var PBLQ = [];
            objData.strThoiGian = $("#NgayKhoiTao").val();
            objData.TenHopDong = $("#TenHopDong").val();
            objData.CongTrinh = CTLQ;
            objData.PhongBan = PBLQ;
            objData.CapDoBaoMat = 1;
            objData.HopDongID = $("#IDHopDong").val();
            objData.GiaTriHopDong = parseFloat($('#GiaTriHopDong').autoNumeric('get'));

            var files = dataimg.getAll("uploads"); var count = 0;
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {
                    $(".imgslider img").each(function (index, element) {
                        if (files[i].name == $(element).data("file")) {
                            var dataimg2 = new FormData();
                            dataimg2.append("uploads", files[i]);
                            $(".processbar", $(element).closest(".imgslider")).html('<div style="width: 0%;background: #c66161;height: 20px;"></div>');
                            $.ajax({
                                url: '/Upload/UploadHopDong2',
                                data: dataimg2,
                                processData: false,
                                contentType: false,
                                sycn: false,
                                type: 'POST',
                                // this part is progress bar
                                xhr: function () {
                                    var xhr = new window.XMLHttpRequest();
                                    xhr.upload.addEventListener("progress", function (evt) {
                                        if (evt.lengthComputable) {
                                            var percentComplete = evt.loaded / evt.total;
                                            percentComplete = parseInt(percentComplete * 100);
                                            $(".processbar div", $(element).closest(".imgslider")).attr("style", "width: " + percentComplete + "%;background: #40aa24;height: 20px;text-align: center;color: white;font-weight: bold;")
                                            $(".processbar div", $(element).closest(".imgslider")).text(percentComplete + "%");
                                        }
                                    }, false);
                                    return xhr;
                                },
                                success: function (data) {
                                    count++;
                                    lstHinhAnh.push({ img: data.img, name: data.name });
                                    if (count == files.length) {
                                        objData.ListHinhAnh = lstHinhAnh;
                                        ContentWatingOP("loadpanel-addform", 0.9);
                                        setTimeout(function () {
                                            $.ajax({
                                                cache: false,
                                                async: false,
                                                type: "POST",
                                                url: "/QuanLyCongTrinh/AddorUpdate_HopDongTau",
                                                data: { data: JSON.stringify(objData) },
                                                success: function (data) {
                                                    altReturn(data);
                                                    //lstHinhAnh = [];
                                                    $("#loadpanel-addform").unblock();
                                                    if (data.code == "success") {
                                                        $(".btnsaves").css("display", "none");
                                                        return false;

                                                    }

                                                },
                                                error: function (xhr, status, error) {
                                                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                                                }
                                            });
                                        }, 1000);
                                    }



                                    //lstHinhAnh.push({ img: data.img, name: data.name });

                                }


                            });
                        }
                    });
                }
            } else {
                ContentWatingOP("loadpanel-addform", 0.9);
                objData.ListHinhAnh = lstHinhAnh;
                setTimeout(function () {
                    $.ajax({
                        cache: false,
                        async: false,
                        type: "POST",
                        url: "/QuanLyCongTrinh/AddorUpdate_HopDongTau",
                        data: { data: JSON.stringify(objData) },
                        success: function (data) {
                            altReturn(data);
                            //lstHinhAnh = [];
                            if (data.code == "success") {
                                $(".btnsaves").css("display", "none");
                            }
                            $("#loadpanel-addform").unblock();
                        },
                        error: function (xhr, status, error) {
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    });
                }, 1000);
            }
        }
    }
    $("#upLoadFile").change(function () {
        loadImage_new2(this, 'tbody');
        for (var x = 0; x < this.files.length; x++) {
            dataimg.append("uploads", this.files[x]);
        }
        $("#upLoadFile").val('').clone(true);
        $("#lstImageDisplay").on("click", ".closeImgLoad", function () {
            var file = $(this).data("file");
            for (var i = 0; i < lstHinhAnh.length; i++) {
                if (lstHinhAnh[i].img === file) {
                    lstHinhAnh.splice(i, 1);
                    break;
                }
            }
            var list = dataimg.getAll("uploads");
            dataimg = new FormData();
            for (var i = 0; i < list.length ; i++) {
                if (list[i].name === file) {

                } else {
                    dataimg.append("uploads", list[i]);
                }
            }
            $(this).closest("tr").remove();
        });
        showslideimg5($("#lstImageDisplay"));
    });
</script>