﻿@model DF.DBMapping.ModelsExt.NghiepVu.QuanLyDuAn.CongTrinhResults
@{ 
    Guid? CongTrinhID = Model.CongTrinhID;
    string strClass_HangMuc = "strClass_HangMuc Hang_Muc";
    string strClass_DuToan = "strClass_DuToan Du_Toan";
    string strClass_QuanLyHopDong = "strClass_QuanLyHopDong QuanLyHopDong";
    string strClass_PhanBoGiaTri = "strClass_PhanBoGiaTri PhanBoGiaTri";
    string strClass_PhanBoDuToan = "strClass_PhanBoDuToan disable";
    string strClass_KyHopDong = "strClass_KyHopDong KyHopDong";
    string strClass_DMVung = "strClass_DMVung DMVung";
    if (Model.DaKyHopDong.Value)
    {
        strClass_PhanBoGiaTri = "strClass_PhanBoGiaTri PhanBoGiaTri";
        strClass_PhanBoDuToan = "strClass_PhanBoDuToan PhanBoDuToan";
    }
}
<div class="navbar navbar-default navbar-xs" style="border-top: 0;">
    <ul class="nav navbar-nav visible-xs-block">
        <li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter" class="collapsed" aria-expanded="false"><i class="icon-menu7"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="navbar-filter" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav element-active-slate-400">
            <li class="limenu active"><a href="javascript:void(0);" class="strClass_ThongTin" ><i class="icon-info22 position-left"></i> @Html.Raw(Language.GetText("thongtinduan"))</a></li>
            <!--<li class="limenu "><a href="javascript:void(0);" class="@strClass_QuanLyHopDong"><i class="icon-book3 position-left"></i> @Html.Raw(Language.GetText("quanlyhopdongvanban"))</a></li>-->
            <li class="limenu "><a href="javascript:void(0);"  class="@strClass_HangMuc"><i class="icon-calendar3 position-left"></i> @Html.Raw(Language.GetText("hangmucthicong"))</a></li>
            <!--<li class="limenu "><a href="/QuanLyDuToan/Index?CongTrinhID=@CongTrinhID" target="_blank" class="@strClass_DuToan"><i class="icon-notebook position-left"></i> @Html.Raw(Language.GetText("dutoan"))</a></li>-->
            <!--<li class="limenu hd"><a href="javascript:void(0);" class="@strClass_KyHopDong"><i class="icon-pie5 position-left"></i> @Html.Raw(Language.GetText("thongtinhopdong"))</a></li>-->
            <li class="limenu "><div></div><a href="javascript:void(0);" class="@strClass_PhanBoGiaTri"><i class="icon-pie5 position-left"></i> @Html.Raw(Language.GetText("phanbohangmuc"))</a></li>
            <!--<li class="limenu "><div></div><a href="javascript:void(0);" target="_blank"  class="@strClass_PhanBoDuToan"><i class="icon-pie-chart2 position-left"></i> @Html.Raw(Language.GetText("phanbodutoan"))</a></li>-->
            <!--<li class="limenu "><a href="javascript:void(0);" class="@strClass_DMVung"><i class="icon-calendar3 position-left"></i> @Html.Raw(Language.GetText("danhmucvung"))</a></li>-->
        </ul>
        @*<div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/QuanLyCongTrinh/Index" style="background: steelblue;color: #fff;"><i class="icon-stack-text position-left"></i>@Html.Raw(Language.GetText("danhsachduan"))</a></li>
            </ul>
        </div>*@
    </div>
</div>
<div class="content">
    <span onclick="reload();" style="margin-bottom:10px;"  class="btn btn-default tb-our"><i class="icon-arrow-left8 position-left"></i>@Html.Raw(Language.GetText("thoat"))</span>
    <!-- User profile -->
    <div class="row">
        <div class="">
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="contentCongTrinh">
                        <!-- Timeline -->
                        @Html.Partial("~/Views/QuanLyCongTrinh/_KhoiTaoDuAn.cshtml", Model)
                        <!-- /timeline -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function saveCongTrinh() {
        if ($("#TenCongTrinh").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("tencongtrinhrong")); $("#TenCongTrinh").focus();
        } else if ($("#HopDongID").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("hopdong")); $("#HopDongID").data("kendoDropDownList").focus();
        } else {
            ContentWating("contentCongTrinh");
            var object = {};
            object.CongTrinhID = $("#IDCongTrinh").val();
            object.NgayKhoiTao = $("#NgayKhoiTao").val();
            object.TenCongTrinh = $("#TenCongTrinh").val();
            object.ChuDauTu = $("#ChuDauTu").val();
            object.NgayBatDau = $("#TuNgay").val();
            object.NgayKetThuc = $("#DeNgay").val();
            object.TinhTrang = $("#TrangThai").val();
            object.DiaDiem = $("#DiaDiem").val();
            object.GhiChu = $("#GhiChu").val();
            object.LoaiBaoCaoSanLuong = $("#LoaiBaoCaoSanLuong").val();
            object.HopDongID = $("#HopDongID").val();
            object.DaKyHopDong = $("#KyHopDong").is(':checked');
            if (object) {
                $.ajax({
                    url: '@Url.Action("AddOrUpdateCongTrinh", "QuanLyCongTrinh")',
                    method: "POST",
                    data: {
                        data: JSON.stringify(object)
                    },
                    datatype: 'json',
                    success: function (data) {
                        altReturn(data);
                        if (data) {
                            //$("#")
                            //LoadingContent("content-loader", "/QuanLyCongTrinh/ChiTietCongTrinh?CongTrinhID=" + data.CongTrinhID, "");
                            $("#contentCongTrinh").unblock();
                        } else {
                            $("#contentCongTrinh").unblock();
                        }
                    },
                    error: function () {
                        $("#contentCongTrinh").unblock();
                    }
                });
            }
        }
    }

    $(".Hang_Muc").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/LayDanhSachHangMuc_Paritial?CongTrinhID=" + '@CongTrinhID');

    });
    $(".DMVung").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/LayDMVung_Partial?CongTrinhID=" + '@CongTrinhID');

    });
    $(".strClass_ThongTin").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/KhoiTaoDuAn?CongTrinhID=" + '@CongTrinhID');

    });
    $(".QuanLyHopDong").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/LayDanhSachHopDong_Paritial?CongTrinhID=" + '@CongTrinhID');

    });

    $(".PhanBoGiaTri").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/PhanBoGiaTri_ParitialNew?CongTrinhID=" + '@CongTrinhID');

    });
    $(".KyHopDong").on("click", function () {
        activeMenuNav(this);
        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/KyHopDong_Paritial?CongTrinhID=" + '@CongTrinhID');

    });
    $(".PhanBoDuToan").on("click", function () {
        window.open('/QuanLyDuToan/Index?CongTrinhID=' + '@CongTrinhID' + '&DoiThiCongID=asc', '_blank');
    });

    function delCongTrinh(CongTrinhID) {
        if (confirm(GetTextLanguage("bancomuonxoabanghinaykhong"))) {
            $.ajax({
                url: '@Url.Action("XoaCongTrinh", "QuanLyCongTrinh")',
                method: "POST",
                data: {
                    CongTrinhID: CongTrinhID
                },
                datatype: 'json',
                success: function (data) {
                    altReturn(data);
                    if (data.code == "success") {
                        setTimeout(function () {
                            window.location.hash = "#";
                            window.location.hash = "/QuanLyCongTrinh/Index";
                        }, 10);
                    }
                },
                error: function () {
                    $("#form_loading").unblock();
                }
            });
        }
        else {
            return false;
        }
    }

    function reload() {
        ContentWatingOP("content-loader", 1);
        $(".dsct").show();
        $("#ChiTietCongTrinh").html("");
        $("#content-loader").unblock();
    }
</script>
<!-- /user profile -->