﻿@model  List<DF.DataAccess.DBML.Web_DuAn_LayDanhSachDuAnResult>
<div class="panel panel-flat">

    <table class="table datatable-responsive-row-control table-bordered">
        <thead>
            <tr style="background:#4682B4;color:#fff;">
                <th class="text-bold text-center" style="width:50px;">#</th>
                <th class="text-bold text-center">@Html.Raw(Language.GetText("thoigian"))</th>
                <th class="text-bold text-center">@Html.Raw(Language.GetText("tenhopdong"))</th>
                <th class="text-bold text-center">Đối tác</th>
                <th class="text-bold text-center">Trạng thái</th>
                <th class="text-bold text-center">@Html.Raw(Language.GetText("giatrihopdong"))</th>
                <th style="width:100px;" class="text-bold text-center"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@i</td>
                        <td class="text-center">@item.NgayTao.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                        <td><a href="javascript:void(0);" onclick="XemChiTietPhieuTau('@item.DuAnID')">@item.TenDuAn</a></td>
                        <td>@item.TenDoiTac</td>
                        <td class="text-right ">
                            @if (item.TinhTrang == 1){<span class="text-bold text-info">Chưa bắt đầu</span>}
                            @if (item.TinhTrang == 2){<span class="text-bold text-blue">Đang sản xuất</span>}
                            @if (item.TinhTrang == 3){<span class="text-bold text-success">Đã xong</span>}
                            @if (item.TinhTrang == 4){<span class="text-bold text-green">Đã giao hàng</span>}
                            @if (item.TinhTrang == 5){<span class="text-bold text-danger">Đã hủy</span>}
                        </td>
                        <td class="text-right text-bold text-danger">@item.GiaTriHopDong.GetValueOrDefault().ToString("n2")</td>
                        <td class="text-center text-bold text-danger">
                            <span class="btn btn-danger" onclick="destroyHopDongTau('@item.DuAnID')">@Html.Raw(Language.GetText("xoa"))</span>
                        </td>
                    </tr>
                    i++;
                }

            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/footable/footable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".numbers").autoNumeric(autoNumericOptionsPhep);

        var gridtable = $('.datatable-responsive-row-control').DataTable({
            "ordering": false,
            columnDefs: [
            { render: $.fn.dataTable.render.number(",", ".", 0), targets: [5] }

            ],
        });

        $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: "-1"
        });

    });


    function destroyHopDongTau(HopDongID) {
        if (confirm(GetTextLanguage("cochacchanxoa"))) {
            $.ajax({
                url: '@Url.Action("XoaHopDongTau", "QuanLyCongTrinh")',
                method: "POST",
                data: {
                    HopDongID: HopDongID
                },
                async: true,
                datatype: 'json',
                success: function (data) {
                    altReturn(data);
                    searchHopDong();
                },
                error: function () {
                    showToast("error", GetTextLanguage("coloi"), GetTextLanguage("coloitrongquatrinhxulydulieu"));
                }
            });
        }
    }
</script>