﻿@model  List<DF.DataAccess.DBML.Web_ThuocTinHangMuc_LayDanhSachThuocTinhHangMucResult>
@foreach (var item in Model)
{
    <tr>
        <td class="text-bold">@item.NoiDung (@item.DonVi)</td>
        <td class="text-center">
            <input type="hidden" class="thuoctinh" value="@item.ThuocTinhHangMucID" />
            <input type="text" class="form-control numbers text-right" id="giatri_@item.ThuocTinhHangMucID" value="0" />
        </td>
        <td class="text-center"><input type="text" class="form-control numbers text-right text-danger" id="dongia_@item.ThuocTinhHangMucID" value="0" /></td>

    </tr>
}
<script type="text/javascript">
    $(".numbers").autoNumeric(autoNumericOptionsKyHopDong);
</script>