﻿@model  CongTrinh_HangMucResults
<input type="hidden" id="IDCongTrinh" value="@Model.CongTrinhID" />
@*<script type="text/javascript" src="~/Scripts/NghiepVu/CongTrinh/_HangMucThiCong.js"></script>*@

<div>
    <span class="btn btn-warning btn-create">@Html.Raw(Language.GetText("them"))</span>
</div>
<div id="ds_DoiThiCong" class="row" style="margin:10px -10px !important;">
    @if (Model != null)
    {
        int k = 0;
        foreach (var item in Model.DanhSachHangMuc)
        {
            var lstDMHangMuc = Model.DanhSachDMHangMuc.Where(z => z.LoaiHangMucThiCongID == item.LoaiHangMucThiCongID).ToList();
            <div class="col-md-6 ">
                <div class="panel panel-flat">
                    <div class="panel-heading" style="padding:10px;">
                        <h5>@*@item.TenLoaiHangMuc*@&nbsp;</h5>
                        <div style="position: absolute;right: 10px; font-size: 24px;top: 18px;">@item.TenHangMuc</div>
                    </div>
                    <div class="panel-body" style="padding:0;">

                    </div>

                    <div class="table-responsive tbl-hangmuc">
                        <table class="table table-hover table-bordered inputCongTrinhDoi_@k">
                            <thead style="background:#4682B4;color:#fff;">
                                <tr>
                                    <th class="text-bold text-center" style="width:150px;">@Html.Raw(Language.GetText("hangmuc"))</th>
                                    <th class="text-bold text-center">@Html.Raw(Language.GetText("giatri"))</th>
                                    <th class="text-bold text-center">@Html.Raw(Language.GetText("dongia"))</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td class="text-bold">@Html.Raw(Language.GetText("sococ"))</td>
                                    <td class="text-center"><input type="text" class="form-control number datepicker-format text-right" id="sococ_@item.HangMucThiCongID" value="@item.SoCoc" /></td>
                                    <td class="text-center"></td>

                                </tr>
                                <tr>
                                    <td class="text-bold">@Html.Raw(Language.GetText("tungay"))</td>
                                    <td class="text-center">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                            <input type="text" class="form-control datepicker-format" id="tungay_@item.HangMucThiCongID" value="@item.strThoiGianBatDau" />
                                        </div>

                                    </td>
                                    <td class="text-center"></td>

                                </tr>
                                <tr>
                                    <td class="text-bold">@Html.Raw(Language.GetText("denngay"))</td>
                                    <td class="text-center">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                            <input type="text" class="form-control datepicker-format" id="denngay_@item.HangMucThiCongID" value="@item.strThoiGianKetThuc" />
                                        </div>

                                    </td>
                                    <td class="text-center"></td>

                                </tr>
                                <tr>
                                    <td class="text-bold">@Html.Raw(Language.GetText("metdat"))</td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right" id="metdat_@item.HangMucThiCongID" value="@item.MetDat" /></td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right  text-danger" id="dg_metdat_@item.HangMucThiCongID" value="@item.DonGiaThucTeMetDat" /></td>

                                </tr>
                                <tr>
                                    <td class="text-bold">@Html.Raw(Language.GetText("metda"))</td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right" id="metda_@item.HangMucThiCongID" value="@item.MetDa" /></td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right text-danger" id="dg_metda_@item.HangMucThiCongID" value="@item.DonGiaThucTeMetDa" /></td>

                                </tr>
                                <tr class="hidden">
                                    <td class="text-bold">@Html.Raw(Language.GetText("metrong"))</td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right" id="metrong_@item.HangMucThiCongID" value="@item.MetRong" /></td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right text-danger" id="dg_metrong_@item.HangMucThiCongID" value="@item.DonGiaThucTeMetRong" /></td>

                                </tr>
                                @{
                                    var listThuocTinh = Model.DanhSachHangMucThuocTinh.Where(z => z.HangMucThiCongID == item.HangMucThiCongID).ToList();
                                    int i = 0;
                                    if (listThuocTinh.Count > 0)
                                    {
                                        foreach (var itemCT in listThuocTinh)
                                        {
                                            <tr>
                                                <td class="text-bold">@itemCT.NoiDung (@itemCT.DonVi) </td>
                                                <td class="text-center">
                                                    <input type="hidden" class="thuoctinh_@item.HangMucThiCongID" value="@itemCT.ThuocTinhHangMucID" />
                                                    <input type="text" class="form-control numbers text-right " id="thuoctinh_@itemCT.ThuocTinhHangMucID" value="@itemCT.GiaTri" />
                                                </td>
                                                <td class="text-center"><input type="text" class="form-control numbers text-right text-danger" id="dg_thuoctinh_@itemCT.ThuocTinhHangMucID" value="@itemCT.DonGia" /></td>

                                            </tr>

                                            i++;
                                        }
                                    }
                                }

                                @{
                                    var lstThuocTinhConLai = Model.LayDanhSachThuocTinhHangMuc.Where(z => !listThuocTinh.Any(p2 => p2.ThuocTinhHangMucID == z.ThuocTinhHangMucID) && z.DMHangMucThiCongID == item.DMHangMucThiCongID).ToList();
                                    if (lstThuocTinhConLai.Count > 0)
                                    {
                                        foreach (var itemCT in lstThuocTinhConLai)
                                        {
                                            <tr>
                                                <td class="text-bold">@itemCT.NoiDung (@itemCT.DonVi) </td>
                                                <td class="text-center">
                                                    <input type="hidden" class="thuoctinh_@item.HangMucThiCongID" value="@itemCT.ThuocTinhHangMucID" />
                                                    <input type="text" class="form-control numbers text-right" id="thuoctinh_@itemCT.ThuocTinhHangMucID" value="0" />
                                                </td>
                                                <td class="text-center"><input type="text" class="form-control numbers text-right text-danger" id="dg_thuoctinh_@itemCT.ThuocTinhHangMucID" value="0" /></td>

                                            </tr>

                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                            <tr>
                                <td colspan="3" class="text-right">
                                    <span class="btn btn-success" title="@Html.Raw(Language.GetText("luu"))" onclick="saveHangMuc('@item.HangMucThiCongID')" style="margin-right:10px;"><i class="icon-floppy-disk"></i> @Html.Raw(Language.GetText("luu"))</span>
                                    <span class="btn btn-danger" title="@Html.Raw(Language.GetText("xoa"))" onclick="delHangmuc('@item.HangMucThiCongID')"><i class="icon-bin"></i> @Html.Raw(Language.GetText("xoa"))</span>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
                                    k++;
                                    if (k % 2 == 0)
                                    {
                                        <div class="clearfix"></div>
                                            }
                                        }
                                    }
    <div class="clearfix"></div>
</div>
<script type="text/javascript">
    $(".number").autoNumeric(autoNumericOptionsInt);
    $(".numbers").autoNumeric(autoNumericOptionsKyHopDong);
    $(".datepicker-format").datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('.select-clear').select2({
        allowClear: true
    });

    function delHangmuc(HangMucThiCong) {
        if (confirm(GetTextLanguage("xoabangi"))) {
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: "/QuanLyCongTrinh/DestroyHangMucThiCongTheoCongTrinh",
                data: { HangMucThiCongID: HangMucThiCong },
                success: function (data) {
                    altReturn(data);
                    $("#content-loader").unblock();
                    ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/KyHopDong_Paritial?CongTrinhID=" + $("#IDCongTrinh").val());
                },
                error: function (xhr, status, error) {
                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("coloi"));
                    $("#content-loader").unblock();
                }
            });
        }
    }
    function saveHangMuc(HangMucThiCongID) {
        if (confirm(GetTextLanguage("bancomuonluuphieunaykhong"))) {
            WatingLoad(0.8);
            var arrThuocTinh = $('.thuoctinh_' + HangMucThiCongID).length;
            var objDS = {};
            var lstThuocTinh = [];
            $('.thuoctinh_' + HangMucThiCongID).each(function () {
                var tb = $(this).val();
                lstThuocTinh.push({
                    ThuocTinhID: tb,
                    GiaTri: $("#thuoctinh_" + tb).autoNumeric('get'),
                    DonGia: $("#dg_thuoctinh_" + tb).autoNumeric('get')
                });
            });
            objDS.SoCoc = $("#sococ_" + HangMucThiCongID).autoNumeric('get');
            objDS.BatDau = $("#tungay_" + HangMucThiCongID).val();
            objDS.KetThuc = $("#denngay_" + HangMucThiCongID).val();
            objDS.SoMetDat = $("#metdat_" + HangMucThiCongID).autoNumeric('get');
            objDS.SoMetDa = $("#metda_" + HangMucThiCongID).autoNumeric('get');
            objDS.DGMetDat = $("#dg_metdat_" + HangMucThiCongID).autoNumeric('get');
            objDS.DGMetDa = $("#dg_metda_" + HangMucThiCongID).autoNumeric('get');
            objDS.MetRong = $("#metrong_" + HangMucThiCongID).autoNumeric('get');
            objDS.DGMetRong = $("#dg_metrong_" + HangMucThiCongID).autoNumeric('get');
            objDS.HangMucThiCongID = HangMucThiCongID;
            objDS.ThuocTinh = lstThuocTinh;
            console.log(objDS);


            if (objDS) {
                $.ajax({
                    cache: false,
                    async: true,
                    type: "POST",
                    url: "/QuanLyCongTrinh/SaveHangMucHopDong",
                    data: { data: JSON.stringify(objDS) },
                    success: function (data) {
                        altReturn(data);
                        $("#content-loader").unblock();
                    },
                    error: function (xhr, status, error) {
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("coloi"));
                        $("#content-loader").unblock();
                    }
                });

            }
        }
    }

    $(".btn-create").on("click", function () {
        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/AddHangMucHopDong?CongTrinhID=" + $("#IDCongTrinh").val());
    });
</script>
<div id="grid_DSHangMucThiCong"></div>
@*<script id="popup_editor_hangmucthicong" type="text/x-kendo-template">
        <div class="row">
            <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("loaihangmuc"))</label>
                    <input type="text" class="form-control" id="LoaiHangMucThiCong" name="LoaiHangMucThiCong" data-bind="value:LoaiHangMucThiCong"  style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->
            </div><!-- /.col -->
            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("tenhangmuc"))</label>
                    <input type="text" class="form-control" id="DMHangMucThiCongID" name="DMHangMucThiCongID" data-bind="value:DMHangMucThiCongID" required data-required-msg=@Html.Raw(Language.GetText("chonhangmucthicong")) style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->
            </div><!-- /.col -->
            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("sococ"))</label>
                    <input type="text" class="form-control text-right" id="SoCoc" name="SoCoc" data-bind="value:SoCoc" required data-required-msg=@Html.Raw(Language.GetText("nhapsoluongcoc")) style="box-sizing:border-box">
                </div><!-- /.form-group -->

            </div><!-- /.col -->

            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("sometdat"))</label>
                    <input type="text" class="form-control text-right" id="MetDat" name="MetDat" data-bind="value:MetDat" required data-required-msg=@Html.Raw(Language.GetText("nhapsometdat")) style="box-sizing:border-box">
                </div><!-- /.form-group -->

            </div><!-- /.col -->
            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("sometda"))</label>
                    <input type="text" class="form-control text-right" id="MetDa" name="MetDa" data-bind="value:MetDa" required data-required-msg=@Html.Raw(Language.GetText("nhapsometda")) style="box-sizing:border-box">
                </div><!-- /.form-group -->

            </div><!-- /.col -->
            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("tungay"))</label>
                    <input type="text" class="form-control" id="TuNgay" name="TuNgay" data-bind="value:ThoiGianBatDau" data-required-msg="@Html.Raw(Language.GetText("tungay"))" style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->

            </div><!-- /.col -->
            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("denngay"))</label>
                    <input type="text" class="form-control " id="DenNgay" name="DenNgay" data-bind="value:ThoiGianKetThuc" data-required-msg="@Html.Raw(Language.GetText("denngay"))" style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->
            </div><!-- /.col -->
            <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                <div class="form-group">
                    <input type="checkbox" id="autocreate" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="autocreate">@Html.Raw(Language.GetText("tudongkhoitaohangmuc"))</label>
                </div><!-- /.form-group -->
            </div><!-- /.col -->
        </div>
    </script>*@