﻿@model  CongTrinh_HangMucResults
<input type="hidden" id="IDCongTrinh" value="@Model.CongTrinhID" />
@*<script type="text/javascript" src="~/Scripts/NghiepVu/CongTrinh/_HangMucThiCong.js"></script>*@

<div>
    <h3 style="margin:0;" class="text-primary">Danh sách hạng mục</h3>
</div>
<div>
    @{
        int i = 0;
        string isactive = "btn-success";
    }
    @foreach (var item in Model.DanhSachHangMuc)
    {
        if (Model.HangMucThiCongID != "" && Model.HangMucThiCongID == item.HangMucThiCongID.ToString())
        {
            isactive = "btn-success";
        }
        else
        {
            isactive = "";
        }
        <button style="margin: 10px 0;width: 100px;display: inline-block;" class="btn @isactive @item.HangMucThiCongID btn-block btn-float btn-float-lg item-hangmuc " type="button" onclick="loadDinhMuc('@item.HangMucThiCongID')"><i class="icon-stats-bars"></i> <span>@item.TenHangMuc</span></button>
    }
    <button style="margin: 10px 0;width: 100px;height:84px; display: inline-block;" data-toggle="modal" data-target="#modal_mini" class="btn btn-block btn-float btn-float-lg item-hangmuc text-primary" type="button" title="Thêm Mới"><i class="icon-googleplus5"></i></button>
</div>
<hr />
<div>
    <h3 style="margin:0;" class="text-primary">Chi Tiết</h3>
</div>
<div id="ds_DoiThiCong" class="row" style="margin:10px 0!important;">
    @if (Model.DanhSachHangMuc == null || Model.DanhSachHangMuc.Count == 0)
    {
        <h3 class="text-center text-bold">Không Có Hạng Mục Nào !</h3>
    }
    else
    {
        @Html.Partial("~/Views/QuanLyCongTrinh/_AddHangMucDuKien.cshtml", Model.DinhMucHangMucThiCong)
    }
    <div class="clearfix"></div>
</div>

<div id="modal_mini" class="modal fade" data-backdrop="false">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nhập Tên Hạng Mục</h5>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="inputTenHangMuc" style="box-sizing:border-box;width:100%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary btn-saveadd">@Html.Raw(Language.GetText("luu"))</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".number").autoNumeric(autoNumericOptionsInt);
    $(".numbers").autoNumeric(autoNumericOptionsKyHopDong);
    $(".datepicker-format").datepicker({
        dateFormat: 'dd/mm/yy',
    });
    

    function loadDinhMuc(HangMucID) {
        $(".item-hangmuc").removeClass("btn-success");
        $("." + HangMucID).addClass("btn-success");
        ContentLoading("ds_DoiThiCong", "/QuanLyCongTrinh/LoadDinhMucTheoHangMuc?HangMucThiCongID=" + HangMucID);
    }

    $(".btn-saveadd").on("click", function () {
        if (validAddHangMuc()) {
            $.ajax({
                url: '@Url.Action("AddHangMucThiCong", "QuanLyCongTrinh")',
                method: "POST",
                data: {
                    TenHangMuc: $("#inputTenHangMuc").val(),
                    CongTrinhID: $("#IDCongTrinh").val()
                },
                async: true,
                datatype: 'json',
                success: function (data) {
                    if (data.code == "success") {

                        $("#modal_mini").hide();
                        $("#inputTenHangMuc").val('');
                        $("#contentCongTrinh").html();
                        $("body").removeClass("modal-open");
                        $("body").css("padding-right","0");
                        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/LayDanhSachHangMuc_Paritial_AddHangMuc?CongTrinhID=" + $("#IDCongTrinh").val() + "&HangMucThiCongID=" + data.HangMucID);
                    }
                    alertToastr(data);
                },
                error: function () {
                    showToast("error", GetTextLanguage("coloi"), GetTextLanguage("coloitrongquatrinhxulydulieu"));
                }
            });
        }
    });

    function validAddHangMuc() {
        if ($("#inputTenHangMuc").val() == "") {
            alert("Nhập Tên Hạng Mục");
            $("#inputTenHangMuc").focus();
            return false;
        }
        return true;
    }


</script>
<div id="grid_DSHangMucThiCong"></div>
@*<script id="popup_editor_hangmucthicong" type="text/x-kendo-template">
        <div class="row">
            <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("loaihangmuc"))</label>
                    <input type="text" class="form-control" id="LoaiHangMucThiCong" name="LoaiHangMucThiCong" data-bind="value:LoaiHangMucThiCong"  style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->
            </div><!-- /.col -->
            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("tenhangmuc"))</label>
                    <input type="text" class="form-control" id="DMHangMucThiCongID" name="DMHangMucThiCongID" data-bind="value:DMHangMucThiCongID" required data-required-msg=@Html.Raw(Language.GetText("chonhangmucthicong")) style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->
            </div><!-- /.col -->
            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("sococ"))</label>
                    <input type="text" class="form-control text-right" id="SoCoc" name="SoCoc" data-bind="value:SoCoc" required data-required-msg=@Html.Raw(Language.GetText("nhapsoluongcoc")) style="box-sizing:border-box">
                </div><!-- /.form-group -->

            </div><!-- /.col -->

            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("sometdat"))</label>
                    <input type="text" class="form-control text-right" id="MetDat" name="MetDat" data-bind="value:MetDat" required data-required-msg=@Html.Raw(Language.GetText("nhapsometdat")) style="box-sizing:border-box">
                </div><!-- /.form-group -->

            </div><!-- /.col -->
            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("sometda"))</label>
                    <input type="text" class="form-control text-right" id="MetDa" name="MetDa" data-bind="value:MetDa" required data-required-msg=@Html.Raw(Language.GetText("nhapsometda")) style="box-sizing:border-box">
                </div><!-- /.form-group -->

            </div><!-- /.col -->
            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("tungay"))</label>
                    <input type="text" class="form-control" id="TuNgay" name="TuNgay" data-bind="value:ThoiGianBatDau" data-required-msg="@Html.Raw(Language.GetText("tungay"))" style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->

            </div><!-- /.col -->
            <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("denngay"))</label>
                    <input type="text" class="form-control " id="DenNgay" name="DenNgay" data-bind="value:ThoiGianKetThuc" data-required-msg="@Html.Raw(Language.GetText("denngay"))" style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->
            </div><!-- /.col -->
            <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
                <div class="form-group">
                    <input type="checkbox" id="autocreate" class="k-checkbox" checked="checked">
                    <label class="k-checkbox-label" for="autocreate">@Html.Raw(Language.GetText("tudongkhoitaohangmuc"))</label>
                </div><!-- /.form-group -->
            </div><!-- /.col -->
        </div>
    </script>*@