﻿@model  CongTrinhHopDongModels

<script src="~/Scripts/NghiepVu/QLHopDong/QLHopDong.js"></script>
<input type="hidden" id="ID_CT_HD" value="@Model.CongTrinhID" />
<div  id="content-qlluongkhoan">
    <div class="row" id="dsLuongKhoan" style="margin: 10px -10px !important;">
        <div class="col-xs-6 col-md-2 col-lg-2">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("loaihopdong"))</label>
                <input id='LoaiHopDong' style="margin-right:15px;width:100%" />
            </div><!-- /.form-group -->
        </div>
        <div class="col-xs-6 col-md-2 col-lg-2">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tungay"))</label>
                <input type="text" class="form-control" id="TuNgay" style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->
        </div>
        <div class="col-xs-6 col-md-2 col-lg-2">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("denngay"))</label>
                <input type="text" class="form-control" id="DenNgay" style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->
        </div>
        <div class="col-xs-6 col-md-2 col-lg-2">
            <div class="form-group">
                <label style="width:100%;">&nbsp;</label>
                <button class="btn btn-primary btn-search" onclick="searchHopDong();" style="padding: 8px 10px 9px;"><i class="icon-search4 position-left"></i> @Html.Raw(Language.GetText("timkiem"))</button>
            </div><!-- /.form-group -->

        </div>
        <div class="col-xs-6 col-md-2 col-lg-4 text-right">
            <div class="form-group">
                <label style="width:100%;">&nbsp;</label>
                <span class="btn btn-success btn-addmoi" style="padding: 8px 10px 9px;"><i class="icon-plus3 position-left"></i> @Html.Raw(Language.GetText("themmoi"))</span>
            </div><!-- /.form-group -->

        </div>
    </div>
    <div id="BangTPNV">
        @Html.Partial("~/Views/QLHopDong/_DanhSachHopDong_CongTrinh.cshtml", Model.lst)
    </div>
</div>
<script type="text/javascript">
    function searchHopDong() {
        ContentWatingOP("BangTPNV", 1);
        $.ajax({
            url: '@Url.Action("TimKiemHopDong_CongTrinh", "QLHopDong")',
            method: "POST",
            data: {
                TuNgay: $("#TuNgay").val(),
                DenNgay: $("#DenNgay").val(),
                LoaiHopDong: $("#LoaiHopDong").val(),
                CongTrinhID: $("#ID_CT_HD").val()
            },
            datatype: 'json',
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#BangTPNV").unblock();
            }, error: function () {
                $("#BangTPNV").unblock();
            }
        });
    }

    $(".btn-addmoi").on("click", function () {
        $("#dsLuongKhoan").hide();
        ContentWatingOP("content-qlluongkhoan", 1);
        $.ajax({
            url: '/QLHopDong/AddHopDong_CongTrinh_Patital',
            method: "POST",
            datatype: 'json',
            data: {

            },
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#content-qlluongkhoan").unblock();
            }
        });
    });

    function XemChiTietPhieu(HopDongID, LoaiHopDong) {
        $("#dsLuongKhoan").hide();
        ContentWatingOP("content-qlluongkhoan", 1);
        $.ajax({
            url: '/QLHopDong/XemChiTietPhieu_CongTrinh',
            method: "POST",
            datatype: 'json',
            data: {
                HopDongID: HopDongID, LoaiHopDong: LoaiHopDong
            },
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#content-qlluongkhoan").unblock();
            }
        });
    }
</script>

