﻿@model PhanBoHangMuc_Results
<input type="hidden" id="IDDMHangMucID" value="@Model.DMHangMucID" />
<input type="hidden" id="IDHangMucThiCong" value="@Model.HangMucThiCongID" />

@if (Model.DSDoiChuaPhanBo.Count > 0)
{
    <div class="panel panel-flat">
        <div class="table-responsive">
            <table class="table table-bordered ahihi">
                <thead>
                    <tr style="background:#4682B4;color:#fff;">
                        <th class="text-bold text-center" style="width:40px;">#</th>
                        <th class="text-bold text-center">@Html.Raw(Language.GetText("tendoi"))</th>
                        <th style="width:60px;" class="text-bold text-center"></th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null)
                    {
                        int i = 1;
                        foreach (var item in Model.DSDoiChuaPhanBo)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.TenDoi</td>
                                <td class="text-center text-bold">
                                    <span class="btn btn-success" title="@Html.Raw(Language.GetText("phanbo"))" onclick="phanbo('@item.CongTrinhDoiID','@Model.HangMucThiCongID','@Model.DMHangMucID')"><i class="icon-pie5"></i> @Html.Raw(Language.GetText("phanbo"))</span>
                                </td>

                            </tr>
                            i++;
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (Model.DSHangMucThiCong.Count > 0)
{
    <div>
        <div class="panel panel-flat">
            <div class="table-responsive">
                <table class="table table-bordered ahihi">
                    <thead>
                        <tr style="background:#4682B4;color:#fff;">
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("sococ"))</th>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("metdat"))</th>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("metda"))</th>
                            <th class="text-bold text-center hidden">@Html.Raw(Language.GetText("metrong"))</th>
                            @*@foreach (var item in Model.DSThuocTinhHangMucHienTai)
                            {
                                <th class="text-bold text-center">@item.NoiDung (@item.DonVi)</th>
                            }*@
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center text-bold">
                                <input type="text" style="background:#E5E5E5;" class="number db_tong_coc numbers form-control text-right" disabled="disabled" value="@Model.DSHangMucThiCong[0].SoCoc" />
                            </td>
                            <td class="text-center text-bold">
                                <input type="text" style="background:#E5E5E5;" class="numbers db_tong_dat numbers form-control text-right" disabled="disabled" value="@Model.DSHangMucThiCong[0].MetDat" />
                            </td>
                            <td class="text-center text-bold">
                                <input type="text" style="background:#E5E5E5;" class="numbers db_tong_da numbers form-control text-right" disabled="disabled" value="@Model.DSHangMucThiCong[0].MetDa" />
                            </td>
                            <td class="text-center text-bold hidden">
                                <input type="text" style="background:#E5E5E5;" class="numbers db_tong_rong numbers form-control text-right" disabled="disabled" value="@Model.DSHangMucThiCong[0].MetRong" />
                            </td>
                            @*@foreach (var item in Model.DSThuocTinhHangMucHienTai)
                            {
                                <td class="text-center text-bold">
                                    <input type="text" style="background:#E5E5E5;" class="numbers db_tong_@item.ThuocTinhHangMucID numbers form-control text-right" disabled="disabled" value="@item.GiaTri" />
                                </td>
                            }*@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
}
<div style="margin:0 -10px;">
    @if (Model != null)
    {
        int k = 0;
        foreach (var item in Model.DSCongTrinhDoiHangMuc)
        {
            <div class="col-md-6 ">
                <div class="panel panel-flat">
                    <div class="panel-heading" style="padding:10px;">
                        <h5>@item.TenDoi</h5>
                    </div>
                    <div class="panel-body" style="padding:0;">

                    </div>

                    <div class="table-responsive tbl-hangmuc">
                        <table class="table table-hover table-bordered inputCongTrinhDoi_@k">
                            <thead style="background:#4682B4;color:#fff;">
                                <tr>
                                    <th class="text-bold text-center" style="width:150px;">@Html.Raw(Language.GetText("hangmuc"))</th>
                                    <th class="text-bold text-center">@Html.Raw(Language.GetText("giatri"))</th>
                                    <th class="text-bold text-center">@Html.Raw(Language.GetText("dongia"))</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="text-bold">@Html.Raw(Language.GetText("sococ"))</td>
                                    <td class="text-center"><input type="text" class="form-control number datepicker-format text-right ck_coc" id="sococ_@item.CongTrinhDoiHangMucID" onkeyup="checkSum(this,'coc');" value="@item.SoLuongCoc" /></td>
                                    <td class="text-center"></td>

                                </tr>

                                <tr>
                                    <td class="text-bold">@Html.Raw(Language.GetText("metdat"))</td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right ck_dat"  id="metdat_@item.CongTrinhDoiHangMucID" onkeyup="checkSum(this,'dat')" value="@item.SoMetDat" /></td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right  text-danger"  id="dg_metdat_@item.CongTrinhDoiHangMucID" value="@item.DonGiaMetDat" /></td>

                                </tr>
                                <tr>
                                    <td class="text-bold">@Html.Raw(Language.GetText("metda"))</td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right ck_da"  id="metda_@item.CongTrinhDoiHangMucID" onkeyup="checkSum(this,'da')" value="@item.SoMetDa" /></td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right text-danger"  id="dg_metda_@item.CongTrinhDoiHangMucID"  value="@item.DonGiaMetDa" /></td>

                                </tr>
                                <tr class="hidden">
                                    <td class="text-bold">@Html.Raw(Language.GetText("metrong"))</td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right ck_rong" id="metrong_@item.CongTrinhDoiHangMucID" onkeyup="checkSum(this,'rong')" value="@item.MetRong" /></td>
                                    <td class="text-center"><input type="text" class="form-control numbers text-right text-danger" id="dg_metrong_@item.CongTrinhDoiHangMucID" value="@item.DonGiaMetRong" /></td>

                                </tr>
                                @*@{
                                    var lstThuocTinhCTDHM = Model.DSThuocTinhCongTrinhDoiHangMuc.Where(z => z.CongTrinhDoiHangMucID == item.CongTrinhDoiHangMucID).ToList();
                                    int i = 0;
                                    if (lstThuocTinhCTDHM.Count > 0)
                                    {
                                        foreach (var itemCT in lstThuocTinhCTDHM)
                                        {
                                            <tr>
                                                <td class="text-bold">@itemCT.NoiDung (@itemCT.DonVi) </td>
                                                <td class="text-center">
                                                    <input type="hidden" class="thuoctinh_@item.CongTrinhDoiHangMucID" value="@itemCT.ThuocTinhHangMucID" />
                                                    <input type="text" class="form-control numbers text-right ck_@itemCT.ThuocTinhHangMucID" onkeyup="checkSum(this,'@itemCT.ThuocTinhHangMucID')" id="thuoctinh_@(itemCT.ThuocTinhHangMucID+"_"+item.CongTrinhDoiHangMucID)" value="@itemCT.GiaTri" />
                                                </td>
                                                <td class="text-center"><input type="text" class="form-control numbers text-right text-danger" id="dg_thuoctinh_@(itemCT.ThuocTinhHangMucID+"_"+item.CongTrinhDoiHangMucID)" value="@itemCT.DonGia" /></td>

                                            </tr>

                                            i++;
                                        }
                                    }
                                }

                                @{
                                    var lstThuocTinhConLai = Model.LayDanhSachThuocDMHangMuc.Where(z => !lstThuocTinhCTDHM.Any(p2 => p2.ThuocTinhHangMucID == z.ThuocTinhHangMucID) && z.DMHangMucThiCongID == Model.DMHangMucID).ToList();
                                    if (lstThuocTinhConLai.Count > 0)
                                    {
                                        foreach (var itemCT in lstThuocTinhConLai)
                                        {
                                            <tr>
                                                <td class="text-bold">@itemCT.NoiDung (@itemCT.DonVi) </td>
                                                <td class="text-center">
                                                    <input type="hidden" class="thuoctinh_@item.CongTrinhDoiHangMucID" value="@itemCT.ThuocTinhHangMucID" />
                                                    <input type="text" class="form-control numbers text-right numbers" id="thuoctinh_@(itemCT.ThuocTinhHangMucID+"_"+item.CongTrinhDoiHangMucID)" value="0" />
                                                </td>
                                                <td class="text-center"><input type="text" class="form-control numbers text-right text-danger" id="dg_thuoctinh_@(itemCT.ThuocTinhHangMucID+"_"+item.CongTrinhDoiHangMucID)" value="0" /></td>

                                            </tr>

                                            i++;
                                        }
                                    }
                                }*@
                            </tbody>
                            <tr>
                                <td colspan="3" class="text-right">
                                    <span class="btn btn-success" title="@Html.Raw(Language.GetText("luu"))" onclick="saveCongTrinhDoiHangmuc('@item.CongTrinhDoiHangMucID')" style="margin-right:10px;"><i class="icon-floppy-disk"></i> @Html.Raw(Language.GetText("luu"))</span>
                                    <span class="btn btn-danger" title="@Html.Raw(Language.GetText("xoa"))" onclick="delCongTrinhDoiHangmuc('@item.CongTrinhDoiHangMucID')"><i class="icon-bin"></i> @Html.Raw(Language.GetText("xoa"))</span>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
                                    k++;
                                    if (k % 2 == 0)
                                    {
                                        <div class="clearfix"></div>
                                            }
                                        }
                                    }
                                    <div class="clearfix"></div>
</div>
<script type="text/javascript">
    $(".number").autoNumeric(autoNumericOptionsInt);
    $(".numbers").autoNumeric(autoNumericOptionsKyHopDong);
    function delCongTrinhDoiHangmuc(CongTrinhDoiHangMucID) {
        //
        if (confirm(GetTextLanguage("xoabangi"))) {
            WatingLoad(0.8);
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: "/QuanLyCongTrinh/XoaCongTrinhDoiHangMuc",
                data: { CongTrinhDoiHangMuc: CongTrinhDoiHangMucID },
                success: function (data) {
                    altReturn(data);
                    if (data.code == "success") {
                        ContentLoading("CTDHM", "/QuanLyCongTrinh/PhanBoGiaTri_Paritial_TheoHangMuc_New?CongTrinhID=" + $("#IDCongTrinh").val() + "&DMHangMucID=" + $("#IDDMHangMucID").val() + "&HangMucThiCongID=" + $("#IDHangMucThiCong").val());
                    }
                    $("#content-loader").unblock();
                },
                error: function (xhr, status, error) {
                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("coloi"));
                    $("#content-loader").unblock();
                }
            });
        }
    }

    function checkSum(ths, cate) {
        var TongSo = parseFloat($('.db_tong_' + cate).autoNumeric('get'));
        var soPhanBo = 0;
        $('.ck_' + cate).each(function () {
            soPhanBo += parseFloat($(this).autoNumeric('get'));
            
        });
        if (TongSo < soPhanBo) {
            $(ths).autoNumeric('set', 0);
        }
    }
    function saveCongTrinhDoiHangmuc(CongTrinhDoiHangMucID) {
        if (confirm(GetTextLanguage("bancomuonluuphieunaykhong"))) {
            WatingLoad(0.8);
            var objDS = {};
            var lstThuocTinh = [];
            $('.thuoctinh_' + CongTrinhDoiHangMucID).each(function () {
                var tb = $(this).val();
                var ip = $(this);
                lstThuocTinh.push({
                    ThuocTinhID: tb,
                    GiaTri: $("#thuoctinh_" + tb + "_" + CongTrinhDoiHangMucID).autoNumeric('get'),
                    DonGia: $("#dg_thuoctinh_" + tb + "_" + CongTrinhDoiHangMucID).autoNumeric('get')
                });
            });
            console.log(lstThuocTinh);
            objDS.SoCoc = $("#sococ_" + CongTrinhDoiHangMucID).autoNumeric('get');
            objDS.SoMetDat = $("#metdat_" + CongTrinhDoiHangMucID).autoNumeric('get');
            objDS.SoMetDa = $("#metda_" + CongTrinhDoiHangMucID).autoNumeric('get');
            objDS.DGMetDat = $("#dg_metdat_" + CongTrinhDoiHangMucID).autoNumeric('get');
            objDS.DGMetDa = $("#dg_metda_" + CongTrinhDoiHangMucID).autoNumeric('get');
            objDS.MetRong = $("#metrong_" + CongTrinhDoiHangMucID).autoNumeric('get');
            objDS.DGMetRong = $("#dg_metrong_" + CongTrinhDoiHangMucID).autoNumeric('get');
            objDS.CongTrinhDoiHangMucID = CongTrinhDoiHangMucID;
            objDS.ThuocTinh = lstThuocTinh;
            console.log(objDS);


            if (objDS) {
                $.ajax({
                    cache: false,
                    async: true,
                    type: "POST",
                    url: "/QuanLyCongTrinh/SaveCongTrinhDoiPhanBo",
                    data: { data: JSON.stringify(objDS) },
                    success: function (data) {
                        altReturn(data);
                        $("#content-loader").unblock();
                    },
                    error: function (xhr, status, error) {
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("coloi"));
                        $("#content-loader").unblock();
                    }
                });

            }
        }
    }
</script>