﻿@model DF.DBMapping.ModelsExt.NghiepVu.QuanLyDuAn.CongTrinhResults
    @{ 
        Guid? CongTrinhID = Model == null ? Guid.Empty : Model.CongTrinhID;
        string strDisabled = "";
        string strclasshidden = "hidden";
        string strTrangThai0 = "", strTrangThai1 = "", strTrangThai2 = "", strTrangThai3 = "", strTrangThai4 = "", strTrangThai5 = "selected", strTrangThai6 = "";
        if (Model != null)
        {
            if (Model.DaKyHopDong.Value)
            {
                strDisabled = "";
                strclasshidden = "";
            }
            switch (Model.TinhTrang)
            {
                case 0: strTrangThai0 = "selected";break;
                case 1: strTrangThai1 = "selected"; break;
                case 2: strTrangThai2 = "selected"; break;
                case 3: strTrangThai3 = "selected"; break;
                case 4: strTrangThai4 = "selected"; break;
                case 5: strTrangThai5 = "selected"; break;
                case 6: strTrangThai6 = "selected"; break;
                default: strTrangThai5 = "selected"; break;
            }
        }
        }
<style></style>
<!-- Basic layout-->
<form action="#" class="form-horizontal">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">@Html.Raw(Language.GetText("thongtincongtrinh"))</h5>
        </div>
        <input type="hidden" id="IDCongTrinh" />
        <div class="panel-body">
            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("ngaykhoitao")):</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
                        <input type="text" class="form-control datepicker-format" id="NgayKhoiTao" placeholder=@Html.Raw(Language.GetText("chonngay"))>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("tencongtrinh")):</label>
                <div class="col-lg-9">
                    <input type="text" required class="form-control validreq" id="TenCongTrinh" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("chudautu")):</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="ChuDauTu">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("ngaykhoicongdukien")):</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
                        <input type="text" class="form-control datepicker-format" id="TuNgay" placeholder=@Html.Raw(Language.GetText("chonngay"))>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("ngayhoanthanhdukien")):</label>
                <div class="col-lg-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
                        <input type="text" class="form-control datepicker-format" id="DeNgay" placeholder=@Html.Raw(Language.GetText("chonngay"))>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("trangthai")):</label>
                <div class="col-lg-9">
                    <select data-placeholder="Select a state" id="TrangThai" class="select-clear" @strDisabled>
                        <option class="" value=5 @strTrangThai5>@Html.Raw(Language.GetText("dangbaogia"))</option>

                        <option value=6 @strTrangThai6>@Html.Raw(Language.GetText("dabaogia"))</option>
                        <option value=0 @strTrangThai0>@Html.Raw(Language.GetText("chuathicong"))</option>
                        <option class="" value=1 @strTrangThai1>@Html.Raw(Language.GetText("dangthicong"))</option>
                        <option class="" value=2 @strTrangThai2>@Html.Raw(Language.GetText("tamdung"))</option>
                        <option class="" value=3 @strTrangThai3>@Html.Raw(Language.GetText("dahoanthien"))</option>
                        <option class="" value=4 @strTrangThai4>@Html.Raw(Language.GetText("daquyettoan"))</option>

                    </select>
                </div>
            </div>
            <div class="form-group hidden">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("loaihinhbaocaosanluong")):</label>
                <div class="col-lg-9">
                    <select data-placeholder="Select a state" id="LoaiBaoCaoSanLuong" class="select-clear">
                        <option value="0" @(Model!=null && Model.LoaiBaoCaoSanLuong==0?"selected":"")>@Html.Raw(Language.GetText("baocaothucong"))</option>
                        <option value="1" @(Model!=null && Model.LoaiBaoCaoSanLuong==1?"selected":"")>@Html.Raw(Language.GetText("baocaotheococ"))</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("hopdong")):</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="HopDongID" style="width:100%;">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("diadiem")):</label>
                <div class="col-lg-9">
                    <textarea rows="2" cols="2" id="DiaDiem" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("ghichu")):</label>
                <div class="col-lg-9">
                    <textarea rows="3" cols="3" id="GhiChu" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group" hidden>
                <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("dakyhopdong")):</label>
                <div class="col-lg-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="KyHopDong" class="control-primary">
                        </label>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <span onclick="saveCongTrinh(); checkFilled();" class="btn btn-success">@Html.Raw(Language.GetText("luu")) <i class="icon-floppy-disk position-right"></i></span>
                <span onclick="detailCongTrinh()" class="btn btn-primary chitietcongtrinh" style="display:none;">@Html.Raw(Language.GetText("chitietduan")) <i class="icon-arrow-right14 position-right"></i></span>
                @if (Model != null)
        {
            <span onclick="delCongTrinh('@Model.CongTrinhID')" class="btn btn-danger">@Html.Raw(Language.GetText("xoa")) <i class="icon-bin position-right"></i></span>
}
            </div>
        </div>
    </div>
</form>
<!-- /basic layout -->


<!-- Theme JS files -->



<script type="text/javascript">
    $(".datepicker-format").datepicker({
                    dateFormat: 'dd/mm/yy',
    }).datepicker('setDate', new Date());

    $('.select-clear').select2({
        allowClear: true
    });

    $("#HopDongID").kendoDropDownList({
        dataTextField: 'TenHopDong',
        dataValueField: 'HopDongID',
        filter: "contains",
        autoBind: true,
        optionLabel: GetTextLanguage("hopdong"),
        dataSource: getDataSourceDropDownList("/Home/DSHopDongTau")
    });

    if ('@CongTrinhID' != '00000000-0000-0000-0000-000000000000') {
        $.ajax({
            url: '@Url.Action("ChiTietCongTrinhJson", "QuanLyCongTrinh")',
            method: "POST",
            data: {
                CongTrinhID: '@CongTrinhID'
            },
            datatype: 'json',
            success: function (data) {
                altReturn(data);
                if (data) {
                    LoadChiTietCongTrinh(data.data);
                } else {
                    $("#form_loading").unblock();
                }
            },
            error: function () {
            }
        });
    }

    // Primary
    $(".control-primary").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-primary-600 text-primary-800'
    });

    function LoadChiTietCongTrinh(data) {
        $("#IDCongTrinh").val(data.CongTrinhID);
        $("#NgayKhoiTao").val(data.strNgayTao);
        $("#TenCongTrinh").val(data.TenCongTrinh);
        $("#ChuDauTu").val(data.ChuDauTu);
        $("#TuNgay").val(data.strNgayBatDau);
        $("#DeNgay").val(data.strNgayKetThuc);
        $("#TrangThai").val(data.TinhTrang);
        $("#DiaDiem").val(data.DiaDiem);
        $("#GhiChu").val(data.GhiChu);
        $("#KyHopDong").prop('checked', data.DaKyHopDong);
        $("#KyHopDong").attr("checked", "checked");
        $("#HopDongID").data("kendoDropDownList").value(data.HopDongID);
    }
    function checkFilled() {
        var inputVal = document.getElementById("TenCongTrinh");
        if (inputVal.value == "") {
            inputVal.style.borderColor = "red";
        }
        else {
            inputVal.style.backgroundColor = "";
        }
    }

</script>