﻿@model  DF.DBMapping.ModelsExt.NghiepVu.QuanLyDuAn.CongTrinh_KyHopDongResult
@{
    double TongGTRi = 0, CPDN = 0, CPKhac = 0;
    bool DaKy = false;
    if (Model != null)
    {
        TongGTRi = Model.TongGiaTriHopDong == null ? 0 : Model.TongGiaTriHopDong.Value;
        CPDN = Model.ChiPhiQuanLyDoanhNghiep == null ? 0 : Model.ChiPhiQuanLyDoanhNghiep.Value;
        CPKhac = Model.ChiPhiKhac == null ? 0 : Model.ChiPhiKhac.Value;
        DaKy = Model.DaKyHopDong;
    }

}
<input type="hidden" id="IDCongTrinh" value="@Model.CongTrinhID" />
<input type="hidden" id="NgayKT" value="@Model.strNgayKyHopDong" />
@*<script type="text/javascript" src="~/Scripts/NghiepVu/CongTrinh/_HangMucThiCongThucTe.js"></script>*@

<div class="row" style="margin:10px -10px !important;">
    <div class="col-md-6">
        <label class="control-label" style="float: left;margin-top: 10px;">@Html.Raw(Language.GetText("dakyhopdong")):</label>
        <div class="checkbox" style="float: left;margin: 8px 8px 0;">
            <label>
                <input type="checkbox" id="KyHopDong" class="control-primary">
            </label>
        </div>
        
    </div>
    <div class="col-md-6 text-right">
        <span onclick="saveKyHopDong()" class="btn btn-success">@Html.Raw(Language.GetText("luu")) <i class="icon-floppy-disk position-right"></i></span>
    </div>
</div>
<div class="content-kyhopdong">
    <div class="row" style="margin:10px -10px;">
        <label class="control-label" style="float: left;margin:10px 10px 0 0;">@Html.Raw(Language.GetText("ngaykyhopdong")) : </label>
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-calendar"></i></span>
            <input type="text" class="form-control datepicker-format" id="NgayKyHopDong" style="width:120px;" placeholder=@Html.Raw(Language.GetText("ngaykyhopdong"))>
        </div>
    </div>
    <div class="row" style="margin:10px -10px !important;">
        <div class="col-md-12">
            <h6 class="panel-title text-bold" style="margin-bottom:10px;">@Html.Raw(Language.GetText("danhsachhangmuc"))</h6>
            <div id="HangMucThiCongHopDong"></div>
        </div>
    </div>

    <div class="row" style="margin-left: -10px !important;margin-right: -10px !important;">
        <div class="col-md-6">
            <h6 class="panel-title text-bold" style="margin-bottom:10px;">@Html.Raw(Language.GetText("thongtinhopdong"))</h6>
            <div class="panel panel-flat">
                <div class="table-responsive">
                    <table class="table table-bordered ahihi">
                        <thead>
                            <tr style="background:#4682B4;color:#fff;">
                                <th class="text-bold text-center" style="width:40px;">#</th>
                                <th class="text-bold">@Html.Raw(Language.GetText("hangmuc"))</th>
                                <th class="text-bold">@Html.Raw(Language.GetText("giatri"))</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;">1</td>
                                <td class="text-bold">@Html.Raw(Language.GetText("tonggiatrihopdong"))</td>
                                <td class="text-bold"><input type="text" class="numbers form-control text-right text-danger tonggtri" onkeyup="autoTong();" value="@Model.TongGiaTriHopDong" /></td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;">2</td>
                                <td class="text-bold" style="border-right: 0px;">@Html.Raw(Language.GetText("giatrikhautru"))</td>
                                <td class="text-right"><span class="btn btn-primary addrows"><i class="icon-plus3"></i></span></td>
                            </tr>
                            @if (Model != null)
                            {
                                foreach (var item in Model.ThongTinGiaTriKhauTru)
                                {
                                    <tr class='trvalue'>
                                        <td class="text-bold text-center" style="width:40px;"><span class='btn btn-danger' title='@Html.Raw(Language.GetText("xoa"))' onclick='deleteRow(this)'><i class='icon-cross'></i></span></td>
                                        <td class="text-bold"><input type="text" class="txthangmuc form-control" value="@item.TenHangMuc" /></td>
                                        <td class="text-bold"><input type="text" class="numbers txtgiatri form-control text-right" onkeyup="autoTong();" value="@item.GiaTri" /></td>
                                    </tr>
                                }
                            }
                            @*<tr>
                                <td class="text-bold text-center" style="width:40px;">3</td>
                                <td class="text-bold">@Html.Raw(Language.GetText("giatrithicong"))</td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right text-danger gtrithicong" disabled="disabled" /></td>
                            </tr>*@
                        </tbody>

                    </table>
                </div>
            </div>
            <h6 class="panel-title text-bold" style="margin-bottom:10px;">@Html.Raw(Language.GetText("chiphivattuchinh"))</h6>
            <div class="panel panel-flat">
                <div class="table-responsive">
                    <table class="table table-bordered ahihi">
                        <thead>
                            <tr style="background:#4682B4;color:#fff;">
                                <th class="text-bold text-center" style="width:40px;">#</th>
                                <th class="text-bold">@Html.Raw(Language.GetText("vattu"))</th>
                                <th class="text-bold">@Html.Raw(Language.GetText("donvi"))</th>
                                <th style="width:150px;" class="text-bold">@Html.Raw(Language.GetText("khoiluong"))</th>
                                <th style="width:150px;" class="text-bold">@Html.Raw(Language.GetText("dongia"))</th>
                                <th style="width:150px;" class="text-bold">@Html.Raw(Language.GetText("thanhtien"))</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;">1</td>
                                <td class="text-bold">@Html.Raw(Language.GetText("thep"))</td>
                                <td class="text-center">@Html.Raw(Language.GetText("tan"))</td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtthep_kl text-right" value="@Model.Thep_KL" onkeyup="gettongtienvtchinhbyhangmuc('gtthep');" /></td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtthep_dg text-right" value="@Model.Thep_DonGia" onkeyup="gettongtienvtchinhbyhangmuc('gtthep');" /></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right gtthep_tt" disabled="disabled" /></td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;">2</td>
                                <td class="text-bold">@Html.Raw(Language.GetText("betong"))</td>
                                <td class="text-center">M<sup class="text-bold">3</sup></td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtbetong_kl text-right " value="@Model.BeTong_KL" onkeyup="gettongtienvtchinhbyhangmuc('gtbetong');" /></td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtbetong_dg text-right " value="@Model.BeTong_DonGia" onkeyup="gettongtienvtchinhbyhangmuc('gtbetong');" /></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right gtbetong_tt" disabled="disabled" /></td>
                            </tr>
                            <tr style="background: yellow;">
                                <td class="text-bold text-center" style="width:40px;padding: 10px 0;">3</td>
                                <td class="text-bold" colspan="5">@Html.Raw(Language.GetText("ongsieuam"))</td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;"></td>
                                <td class="text-bold">D60</td>
                                <td class="text-center">KG</td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtosa_60_kl text-right " value="@Model.OSA_D60_KL" onkeyup="gettongtienvtchinhbyhangmuc('gtosa_60');" /></td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtosa_60_dg text-right " value="@Model.OSA_D60_DonGia" onkeyup="gettongtienvtchinhbyhangmuc('gtosa_60');" /></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right gtosa_60_tt" disabled="disabled" /></td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;"></td>
                                <td class="text-bold">D113,5</td>
                                <td class="text-center">KG</td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtosa_113_kl text-right " value="@Model.OSA_D113_KL" onkeyup="gettongtienvtchinhbyhangmuc('gtosa_113');" /></td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtosa_113_dg text-right " value="@Model.OSA_D113_DonGia" onkeyup="gettongtienvtchinhbyhangmuc('gtosa_113');" /></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right gtosa_113_tt" disabled="disabled" /></td>
                            </tr>
                            <tr style="background: yellow;">
                                <td class="text-bold text-center" style="width:40px;padding: 10px 0;">4</td>
                                <td class="text-bold" colspan="5">@Html.Raw(Language.GetText("cutnoi"))</td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;"></td>
                                <td class="text-bold">D60</td>
                                <td class="text-center">KG</td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtcutnoi_60_kl text-right " value="@Model.CUTNOI_D60_KL" onkeyup="gettongtienvtchinhbyhangmuc('gtcutnoi_60');" /></td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtcutnoi_60_dg text-right " value="@Model.CUTNOI_D60_DonGia" onkeyup="gettongtienvtchinhbyhangmuc('gtcutnoi_60');" /></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right gtcutnoi_60_tt" disabled="disabled" /></td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;"></td>
                                <td class="text-bold">D113,5</td>
                                <td class="text-center">KG</td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtcutnoi_113_kl text-right " value="@Model.CUTNOI_D113_KL" onkeyup="gettongtienvtchinhbyhangmuc('gtcutnoi_113');" /></td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtcutnoi_113_dg text-right " value="@Model.CUTNOI_D113_DonGia" onkeyup="gettongtienvtchinhbyhangmuc('gtcutnoi_113');" /></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right gtcutnoi_113_tt" disabled="disabled" /></td>
                            </tr>
                            <tr style="background: yellow;">
                                <td class="text-bold text-center" style="width:40px;padding: 10px 0;">5</td>
                                <td class="text-bold" colspan="5">@Html.Raw(Language.GetText("napbit"))</td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;"></td>
                                <td class="text-bold">D60</td>
                                <td class="text-center">KG</td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtnapbit_60_kl text-right " value="@Model.NAPBIT_D60_KL" onkeyup="gettongtienvtchinhbyhangmuc('gtnapbit_60');" /></td>
                                <td class="text-bold"><input type="text" class="numbers form-control gtnapbit_60_dg text-right " value="@Model.NAPBIT_D60_DonGia" onkeyup="gettongtienvtchinhbyhangmuc('gtnapbit_60');" /></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right gtnapbit_60_tt" disabled="disabled" /></td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;"></td>
                                <td class="text-bold">D113,5</td>
                                <td class="text-center">KG</td>
                                <td class="text-bold"><input type="text" class="numbers form-control text-right gtnapbit_113_kl" value="@Model.NAPBIT_D113_KL" onkeyup="gettongtienvtchinhbyhangmuc('gtnapbit_113');" /></td>
                                <td class="text-bold"><input type="text" class="numbers form-control text-right gtnapbit_113_dg" value="@Model.NAPBIT_D113_DonGia" onkeyup="gettongtienvtchinhbyhangmuc('gtnapbit_113');" /></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right gtnapbit_113_tt" disabled="disabled" /></td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" colspan="5">@Html.Raw(Language.GetText("tong"))</td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right gtrvattuchinh text-danger" disabled="disabled" /></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h6 class="panel-title text-bold" style="margin-bottom:10px;">@Html.Raw(Language.GetText("bangphanbogiatrithucte"))</h6>
            <div class="panel panel-flat">
                <div class="table-responsive">
                    <table class="table table-bordered ahihi">
                        <thead>
                            <tr style="background:#4682B4;color:#fff;">
                                <th class="text-bold text-center" style="width:40px;">#</th>
                                <th class="text-bold">@Html.Raw(Language.GetText("hangmuc"))</th>
                                <th class="text-bold">@Html.Raw(Language.GetText("heso")) (%)</th>
                                <th class="text-bold">@Html.Raw(Language.GetText("giatri"))</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;">1</td>
                                <td class="text-bold">@Html.Raw(Language.GetText("giatrithiconghopdong"))</td>
                                <td></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right text-danger gtrithicong" disabled="disabled" /></td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;">2</td>
                                <td class="text-bold">@Html.Raw(Language.GetText("chiphiquanlydoanhnghiep"))</td>
                                <td class="text-bold"><input type="text" class="numbers form-control text-right txtcpdn" onkeyup="autoCPDN(this);" value="@CPDN" /></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right cpdn" disabled="disabled" /></td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;">3</td>
                                <td class="text-bold">@Html.Raw(Language.GetText("chiphikhac"))</td>
                                <td class="text-bold"><input type="text" class="numbers form-control text-right txtcpkhac" onkeyup="autoCPKhac(this);" value="@CPKhac" /></td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right cpkhac" disabled="disabled" /></td>
                            </tr>
                            <tr>
                                <td class="text-bold text-center" style="width:40px;">4</td>
                                <td colspan="2" class="text-bold">@Html.Raw(Language.GetText("chiphithicongconlai"))</td>
                                <td class="text-bold"><input type="text" style="background:#E5E5E5;" class="numbers form-control text-right text-blue cptcconlai" disabled="disabled" /></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row" style="margin-left: -10px !important;margin-right: -10px !important;">
        <div class="col-xs-12">
            <h6 class="panel-title text-bold" style="margin-bottom:10px;">@Html.Raw(Language.GetText("cpthicongtheokehoach"))</h6>
        </div>
        <div class="col-xs-1">
            <h6 class="panel-title text-bold text-danger" style="margin-top:5px;">@Html.Raw(Language.GetText("tong")) : </h6>
        </div>
        <div class="col-xs-4"><input type="text" style="width:200px;background:#E5E5E5;" class="form-control numbers text-danger text-right text-bold" value="@Model.TongChiPhiKeHoach " disabled="disabled" /></div>
        <div class="clearfix"></div>
        <div style="height:10px;"></div>
        @if (Model != null)
        {
            foreach (var item in Model.ChiPhiThiCong)
            {
                <div class="col-sx-12 col-md-6">
                    <div class="panel panel-flat">
                        <div class="panel-heading" style="padding:10px;">
                            <h5 class="panel-title">@item.TenDoi</h5>
                        </div>
                        <div class="panel-body" style="padding:0;">

                        </div>

                        <div class="table-responsive tbl-hangmuc">
                            <table class="table table-hover table-bordered datatable-responsive-custom">
                                <thead style="background:#4682B4;color:#fff;">
                                    <tr>
                                        <th class="text-bold text-center" style="width:40px;">#</th>
                                        <th class="text-bold text-center" style="width:150px;">@Html.Raw(Language.GetText("hangmuc"))</th>
                                        <th class="text-bold text-center">@Html.Raw(Language.GetText("giatri"))</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" class="text-bold text-center">@Html.Raw(Language.GetText("tong"))</th>
                                        <th class="text-danger text-bold" style="text-align:right;padding: 10px;"></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td class="text-center text-bold">1</td>
                                        <td class="text-bold">@Html.Raw(Language.GetText("thietbibotro"))</td>
                                        <td class="text-bold  text-right">@item.CCDC</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center text-bold">2</td>
                                        <td class="text-bold">@Html.Raw(Language.GetText("chiphikhac"))</td>
                                        <td class="text-bold  text-right">@item.CPKhac</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center text-bold">3</td>
                                        <td class="text-bold">@Html.Raw(Language.GetText("chiphinhancong"))</td>
                                        <td class="text-bold  text-right">@item.NhanCong</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center text-bold">4</td>
                                        <td class="text-bold">@Html.Raw(Language.GetText("chiphiphanbo"))</td>
                                        <td class="text-bold  text-right">@item.CPPhanBo</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center text-bold">5</td>
                                        <td  class="text-bold">@Html.Raw(Language.GetText("chiphiqlda"))</td>
                                        <td class="text-bold  text-right">@item.CPQLDA</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center text-bold">6</td>
                                        <td class="text-bold">@Html.Raw(Language.GetText("chiphivanchuyen"))</td>
                                        <td class="text-bold  text-right">@item.CPVanChuyen</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center text-bold">7</td>
                                        <td class="text-bold">@Html.Raw(Language.GetText("chiphivatu"))</td>
                                        <td class="text-bold  text-right">@item.VatTu</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center text-bold">8</td>
                                        <td class="text-bold">@Html.Raw(Language.GetText("thietbi"))</td>
                                        <td class="text-bold  text-right">@item.ThietBi</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<script id="popup_editor_hangmucthicong" type="text/x-kendo-template">
    <div class="row">
        <div class="col-md-12" style="width:100% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("loaihangmuc"))</label>
                <input type="text" class="form-control" id="LoaiHangMucThiCong" name="LoaiHangMucThiCong" data-bind="value:LoaiHangMucThiCong" style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->
        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tenhangmuc"))</label>
                <input type="text" class="form-control" id="DMHangMucThiCongID" name="DMHangMucThiCongID" data-bind="value:DMHangMucThiCongID" required data-required-msg=@Html.Raw(Language.GetText("chonhangmucthicong")) style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->
        </div><!-- /.col -->
        
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("sococ"))</label>
                <input type="text" class="form-control text-right" id="SoCoc" name="SoCoc" data-bind="value:SoCoc" required data-required-msg=@Html.Raw(Language.GetText("nhapsoluongcoc")) style="box-sizing:border-box">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("sometdat"))</label>
                <input type="text" class="form-control text-right" id="MetDat" name="MetDat" data-bind="value:MetDat" required data-required-msg=@Html.Raw(Language.GetText("nhapsometdat")) style="box-sizing:border-box">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("dongiametdat"))</label>
                <input type="text" class="form-control text-right" id="DonGiaThucTeMetDat" name="DonGiaThucTeMetDat" data-bind="value:DonGiaThucTeMetDat" required data-required-msg=@Html.Raw(Language.GetText("dongia")) style="box-sizing:border-box">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("sometda"))</label>
                <input type="text" class="form-control text-right" id="MetDa" name="MetDa" data-bind="value:MetDa" required data-required-msg=@Html.Raw(Language.GetText("nhapsometda")) style="box-sizing:border-box">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("dongiametda"))</label>
                <input type="text" class="form-control text-right" id="DonGiaThucTeMetDa" name="DonGiaThucTeMetDa" data-bind="value:DonGiaThucTeMetDa" required data-required-msg=@Html.Raw(Language.GetText("dongia")) style="box-sizing:border-box">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tungay"))</label>
                <input type="text" class="form-control" id="TuNgay" name="TuNgay" data-bind="value:ThoiGianBatDau" data-required-msg="@Html.Raw(Language.GetText("tungay"))" style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->

        </div><!-- /.col -->
        <div class="col-md-6" style="width:50% !important; box-sizing:border-box">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("denngay"))</label>
                <input type="text" class="form-control " id="DenNgay" name="DenNgay" data-bind="value:ThoiGianKetThuc" data-required-msg="@Html.Raw(Language.GetText("denngay"))" style="box-sizing:border-box;width:100%;">
            </div><!-- /.form-group -->
        </div><!-- /.col -->
    </div>
</script>
<script id="titlegridhangmuc" type="text/x-kendo-template">
    <h6 style="float: left;margin-top: 7px;" class="panel-title text-bold">@Html.Raw(Language.GetText("danhsachhangmucthicong"))</h6>
</script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/footable/footable.min.js"></script>
<script>
    $(document).ready(function () {
        ContentLoading("HangMucThiCongHopDong", "/QuanLyCongTrinh/LayDanhSachHangMuc_HopDong?CongTrinhID=" + $("#IDCongTrinh").val());
    });

    $("input:text").focus(function () { $(this).select(); });

    $(".numbers").change(function () {
        isLoadContent = false;
    });
    $(".numbers").attr("placeholder", "0");
    $(".datepicker-format").datepicker({
        dateFormat: 'dd/mm/yy',
    }).datepicker('setDate', new Date());

    $("#NgayKyHopDong").val($("#NgayKT").val());
    $('#KyHopDong').change(function () {
        if ($(this).is(":checked")) {
            $(".content-kyhopdong").show();
        } else
        {
            $(".content-kyhopdong").hide();
        }
    });

    // Primary
    $(".control-primary").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-primary-600 text-primary-800'
    });

    var IsDaKy = '@DaKy';
    
    if (IsDaKy == 'True') {
        $('.checkbox').find('span').addClass('checked');
        $(".content-kyhopdong").show();
        $("#KyHopDong").prop('checked', IsDaKy);
    } else {
        $(".content-kyhopdong").hide();
    }

    $(".numbers").autoNumeric(autoNumericOptionsKyHopDong);
    autoVatTuChinhThanhTien();
    autoVatTuChinh();
    
    autoTong();

    var table = $('.datatable-responsive-custom').DataTable({
        "footerCallback": function (row, data, start, end, display) {
            var api = this.api(), data;
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ?
                    i.split(',').join('') * 1 : ///[\$,]/g
                    typeof i === 'number' ?
                    i : 0;
            };
            // Total over all pages
            total = api
                .column(2)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            // Total over this page
            pageTotal = api
                .column(2, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            var co = 2;
            $(api.column(co).footer()).html(api
            .column(co)
            .data()
            .reduce(function (a, b) {
                return intVal(a) + intVal(b);
            }, 0).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
        );
        },
        columnDefs: [
            
            { render: $.fn.dataTable.render.number(",", ".", 2), targets: 2 }
        ],
        "ordering": false,
        "paging": false,
        "info": false
    });

    $(".addrows").on("click", function () {
        var str = "<tr class='trvalue'><td class='text-bold text-center' style='width:40px;'><span class='btn btn-danger' title='" + GetTextLanguage("xoa") + "' onclick='deleteRow(this)'><i class='icon-cross'></i></span></td><td class='text-bold'><input type='text' class='txthangmuc form-control' value='' /></td><td class='text-bold'><input type='text' class='numbers txtgiatri form-control text-right'  onkeyup='autoTong();'  value='0' /></td></tr>";
        $(this).parent().parent().after(str);
        $(".numbers").autoNumeric(autoNumericOptionsKyHopDong);
    });
    function deleteRow(el) {

        while (el.parentNode && el.tagName.toLowerCase() != 'tr') {
            el = el.parentNode;
        }
        if (el.parentNode && el.parentNode.rows.length > 2) {
            el.parentNode.removeChild(el);
        }
        autoTong();
    }

    function autoTong() {
        var TongGiaTriHopDong = $(".tonggtri").autoNumeric('get');
        var sumgtri = 0;
        var gtrithicong = 0;
        $('.txtgiatri').each(function () {
            var tb = $(this).autoNumeric('get');
            sumgtri += parseFloat($(this).autoNumeric('get'));
        });
        var vtchinh = $(".gtrvattuchinh").autoNumeric('get');
        gtrithicong = TongGiaTriHopDong - sumgtri - vtchinh;
        $(".gtrithicong").autoNumeric('set', gtrithicong);
        autoCPDN(".txtcpdn");
        autoCPKhac(".txtcpkhac");
    }

    function autoCPDN(e) {
        var TongGiaTriHopDong = $(".gtrithicong").autoNumeric('get');
        var gtri = $(e).autoNumeric('get') * TongGiaTriHopDong / 100;
        $(".cpdn").autoNumeric('set', gtri);

        var gtrthicong = $(".gtrithicong").autoNumeric('get');
        var ctdn = $(".cpdn").autoNumeric('get');
        var cpkhac = $(".cpkhac").autoNumeric('get');
        $(".cptcconlai").autoNumeric('set', gtrthicong - ctdn - cpkhac);
    }

    function autoCPKhac(e) {
        var TongGiaTriHopDong = $(".gtrithicong").autoNumeric('get');
        var gtri = $(e).autoNumeric('get') * TongGiaTriHopDong / 100;
        $(".cpkhac").autoNumeric('set', gtri);
        var gtrthicong = $(".gtrithicong").autoNumeric('get');
        var ctdn = $(".cpdn").autoNumeric('get');
        var cpkhac = $(".cpkhac").autoNumeric('get');
        $(".cptcconlai").autoNumeric('set', gtrthicong - ctdn - cpkhac);
    }

    function gettongtienvtchinhbyhangmuc(e) {
        var klvt = $('.' + e + "_kl").autoNumeric('get');
        var dgvt = $('.' + e + "_dg").autoNumeric('get');
        $('.' + e + "_tt").autoNumeric('set', klvt * dgvt);
        autoVatTuChinh();
        autoTong();
    }

    function autoVatTuChinh() {
        var gtthep_tt = $(".gtthep_tt").autoNumeric('get');
        var gtbetong_tt = $(".gtbetong_tt").autoNumeric('get');
        var gtosa_60_tt = $(".gtosa_60_tt").autoNumeric('get');
        var gtosa_113_tt = $(".gtosa_113_tt").autoNumeric('get');
        var gtcutnoi_60_tt = $(".gtcutnoi_60_tt").autoNumeric('get');
        var gtcutnoi_113_tt = $(".gtcutnoi_113_tt").autoNumeric('get');
        var gtnapbit_60_tt = $(".gtnapbit_60_tt").autoNumeric('get');
        var gtnapbit_113_tt = $(".gtnapbit_113_tt").autoNumeric('get');
        $(".gtrvattuchinh").autoNumeric('set', parseFloat(gtthep_tt) + parseFloat(gtbetong_tt) + parseFloat(gtosa_60_tt) + parseFloat(gtosa_113_tt) + parseFloat(gtcutnoi_60_tt) + parseFloat(gtcutnoi_113_tt) + parseFloat(gtnapbit_60_tt) + parseFloat(gtnapbit_113_tt));
    }

    function autoVatTuChinhThanhTien() {
        $(".gtthep_tt").autoNumeric('set', $(".gtthep_kl").autoNumeric('get') * $(".gtthep_dg").autoNumeric('get'));
        $(".gtbetong_tt").autoNumeric('set', $(".gtbetong_kl").autoNumeric('get') * $(".gtbetong_dg").autoNumeric('get'));
        $(".gtosa_60_tt").autoNumeric('set', $(".gtosa_60_kl").autoNumeric('get') * $(".gtosa_60_dg").autoNumeric('get'));
        $(".gtosa_113_tt").autoNumeric('set', $(".gtosa_113_kl").autoNumeric('get') * $(".gtosa_113_dg").autoNumeric('get'));
        $(".gtcutnoi_60_tt").autoNumeric('set', $(".gtcutnoi_60_kl").autoNumeric('get') * $(".gtcutnoi_60_dg").autoNumeric('get'));
        $(".gtcutnoi_113_tt").autoNumeric('set', $(".gtcutnoi_113_kl").autoNumeric('get') * $(".gtcutnoi_113_dg").autoNumeric('get'));
        $(".gtnapbit_60_tt").autoNumeric('set', $(".gtnapbit_60_kl").autoNumeric('get') * $(".gtnapbit_60_dg").autoNumeric('get'));
        $(".gtnapbit_113_tt").autoNumeric('set', $(".gtnapbit_113_kl").autoNumeric('get') * $(".gtnapbit_113_dg").autoNumeric('get'));
    }

    function saveKyHopDong() {
        if (confirm(GetTextLanguage("bancomuonluuphieunaykhong"))) {
            WatingLoad(0.8);
            var objectSave = {};
            objectSave.ThongTinGiaTriKhauTru = [];
            objectSave.TongGiaTriHopDong = $('.tonggtri').autoNumeric('get');
            objectSave.ChiPhiQuanLyDoanhNghiep = $('.txtcpdn').autoNumeric('get');
            objectSave.ChiPhiKhac = $('.txtcpkhac').autoNumeric('get');
            objectSave.CongTrinhID = $("#IDCongTrinh").val();
            objectSave.DaKyHopDong = $("#KyHopDong").is(':checked');
            objectSave.NgayKyHopDong = $("#NgayKyHopDong").val();

            objectSave.BeTong_DonGia = $('.gtbetong_dg').autoNumeric('get');
            objectSave.BeTong_KL = $('.gtbetong_kl').autoNumeric('get');
            objectSave.CUTNOI_D113_DonGia = $('.gtcutnoi_113_dg').autoNumeric('get');
            objectSave.CUTNOI_D113_KL = $('.gtcutnoi_113_kl').autoNumeric('get');
            objectSave.CUTNOI_D60_DonGia = $('.gtcutnoi_60_dg').autoNumeric('get');
            objectSave.CUTNOI_D60_KL = $('.gtcutnoi_60_kl').autoNumeric('get');
            objectSave.NAPBIT_D113_DonGia = $('.gtnapbit_113_dg').autoNumeric('get');
            objectSave.NAPBIT_D113_KL = $('.gtnapbit_113_kl').autoNumeric('get');
            objectSave.NAPBIT_D60_DonGia = $('.gtnapbit_60_dg').autoNumeric('get');
            objectSave.NAPBIT_D60_KL = $('.gtnapbit_60_kl').autoNumeric('get');
            objectSave.OSA_D113_DonGia = $('.gtosa_113_dg').autoNumeric('get');
            objectSave.OSA_D113_KL = $('.gtosa_113_kl').autoNumeric('get');
            objectSave.OSA_D60_DonGia = $('.gtosa_60_dg').autoNumeric('get');
            objectSave.OSA_D60_KL = $('.gtosa_60_kl').autoNumeric('get');
            objectSave.Thep_DonGia = $('.gtthep_dg').autoNumeric('get');
            objectSave.Thep_KL = $('.gtthep_kl').autoNumeric('get');
            
            $('.trvalue').each(function () {
                var obj = {};
                obj.TenHangMuc = $(this).find('.txthangmuc').val();
                obj.GiaTri = $(this).find('.txtgiatri').autoNumeric('get');
                objectSave.ThongTinGiaTriKhauTru.push(obj);
            });
            ContentWating("content-loader");
            if (objectSave) {
                $.ajax({
                    cache: false,
                    async: true,
                    type: "POST",
                    url: "/QuanLyCongTrinh/SaveKyHopDong",
                    data: { data: JSON.stringify(objectSave) },
                    success: function (data) {
                        isLoadContent = true;
                        altReturn(data);
                        $("#content-loader").unblock();
                        if ($("#KyHopDong").is(':checked')) {
                            $(".strClass_PhanBoGiaTri").removeClass("disable").addClass("PhanBoGiaTri");
                            $(".strClass_PhanBoDuToan").removeClass("disable").addClass("PhanBoDuToan");

                            $(".PhanBoGiaTri").on("click", function () {
                                ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/PhanBoGiaTri_Paritial?CongTrinhID=" + $("#IDCongTrinh").val());
                                activeMenuNav(this);
                            });
                            $(".PhanBoDuToan").on("click", function () {
                                window.open('/QuanLyDuToan/Index?CongTrinhID=' + $("#IDCongTrinh").val() + '&DoiThiCongID=asc', '_blank');
                            });
                        } else {
                            $(".strClass_PhanBoGiaTri").removeClass("PhanBoGiaTri").addClass("disable");
                            $(".strClass_PhanBoDuToan").removeClass("PhanBoDuToan").addClass("disable");

                            $(".strClass_PhanBoGiaTri").closest("li").addClass("disfunction");
                            $(".strClass_PhanBoDuToan").closest("li").addClass("disfunction");
                        }
                    },
                    error: function (xhr, status, error) {
                        isLoadContent = true;
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("coloi"));
                        $("#content-loader").unblock();
                    }
                });

            } else {
                $("#content-loader").unblock();
            }
        }
        return false;
        //var objectDave
    }
</script>
