﻿@model CongTrinh_HangMucResults
<input type="hidden" id="IDCongTrinh" value="@Model.CongTrinhID" />
<input type="hidden" id="IDHangMuc" value="@Model.HangMucThiCongID" />
<input type="hidden" id="IDCongTrinhDoi" value="@Model.CongTrinhDoiID" />
<h6 class="panel-title text-bold" style="margin-bottom:10px;">@Html.Raw(Language.GetText("doithicong"))</h6>
<script type="text/javascript" src="~/Scripts/NghiepVu/CongTrinh/_PhanBoGiaTri.js"></script>
<div>
    <span class="btn btn-warning btn-create-ctdoi" id="addDoiThiCong">@Html.Raw(Language.GetText("them"))</span>
</div>
<div id="mdl_DSDoiThiCong">
</div>
<script id="temp_DSDoiThiCong" type="text/x-kendo-template">
    <div id="grid_DSDoiThiCong"></div>
</script>
<div class="panel panel-flat">
    <div class="table-responsive">
        <table class="table table-bordered ahihi">
            <thead>
                <tr style="background:#4682B4;color:#fff;">
                    <th class="text-bold text-center" style="width:40px;">#</th>
                    <th class="text-bold text-center">@Html.Raw(Language.GetText("tendoi"))</th>
                    <th style="width:60px;" class="text-bold text-center"></th>
                    <!--<th style="width:60px;" class="text-bold text-center"></th>
                    <th style="width:60px;" class="text-bold text-center"></th>-->
                </tr>
            </thead>

            <tbody>
                @if (Model != null)
                {
                    int k = 1;
                    foreach (var item in Model.lstDoi)
                    {
                        <tr>
                            <td>@k</td>
                            <td>@item.TenDoi</td>
                            <td class="text-center text-bold">
                                <span class="btn btn-danger" title="@Html.Raw(Language.GetText("xoa"))" onclick="delDoiThiCong('@item.CongTrinhDoiID')"><i class="icon-bin"></i> @Html.Raw(Language.GetText("xoa"))</span>
                            </td>
                            <!--<td class="text-center text-bold">
                                <span class="btn btn-info btnImport2" data-doithicongid="@item.DoiThiCongID"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("themcoc"))</span>
                            </td>
                            <td class="text-center text-bold">
                                <span class="btn btn-success btnTemplate2"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
                            </td>-->
                        </tr>
                        k++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>
<hr />
<div>
    <h3 style="margin:0;" class="text-primary">Danh sách hạng mục</h3>
</div>
<div>
    @{
        string isactive = "btn-success";
    }
    @foreach (var item in Model.DanhSachHangMuc)
    {
        if (Model.HangMucThiCongID != "" && Model.HangMucThiCongID == item.HangMucThiCongID.ToString())
        {
            isactive = "btn-success";
        }
        else
        {
            isactive = "";
        }
        <button style="margin: 10px 0;width: 100px;display: inline-block;" class="btn @isactive @item.HangMucThiCongID btn-block btn-float btn-float-lg item-hangmuc " type="button" onclick="loadPhanBoHangMuc('@item.HangMucThiCongID')"><i class="icon-stats-bars"></i> <span>@item.TenHangMuc</span></button>
    }
</div>
<hr />
<div id="idChiTietPhanBo">
    @Html.Partial("~/Views/QuanLyCongTrinh/_PhanBoGiaTri_ChiTietPhanBo.cshtml", Model)
</div>
<!--sssssss-->

@*<div class="col-md-12">
    <div>
        <h3 style="margin:0;" class="text-primary">Chi Tiết Phân Bổ</h3>
    </div>
    <div id="chitietphanbo" style="margin:10px 0!important;">
        @Html.Partial("~/Views/QuanLyCongTrinh/_ChiTietPhanBoDinhMuc.cshtml")
    </div>
</div>*@
<!--<div id="modal_mini" class="modal fade" data-backdrop="false">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nhập Tên Hạng Mục</h5>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="inputTenHangMuc" style="box-sizing:border-box;width:100%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary btn-saveadd">@Html.Raw(Language.GetText("luu"))</button>
            </div>
        </div>
    </div>
</div>-->

<script type="text/javascript">
    $(".number").autoNumeric(autoNumericOptionsInt);
    $(".numbers").autoNumeric(autoNumericOptionsKyHopDong);
    $(".datepicker-format").datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('.select-clear').select2({
        allowClear: true
    });

    function loadPhanBoHangMuc(HangMucID) {
        $(".item-hangmuc").removeClass("btn-success");
        $("." + HangMucID).addClass("btn-success");
        ContentLoading("idChiTietPhanBo", "/QuanLyCongTrinh/LoadPhanBoTheoHangMucTheoHangMuc?CongTrinhID=" + $("#IDCongTrinh").val() + "&HangMucThiCongID=" + HangMucID);
        $("#chitietphanbo").html("");
    }

    $(".btn-saveadd").on("click", function () {
        if (validAddHangMuc()) {
            $.ajax({
                url: '@Url.Action("AddHangMucThiCong", "QuanLyCongTrinh")',
                method: "POST",
                data: {
                    TenHangMuc: $("#inputTenHangMuc").val(),
                    CongTrinhID: $("#IDCongTrinh").val()
                },
                async: true,
                datatype: 'json',
                success: function (data) {
                    if (data.code == "success") {

                        $("#modal_mini").hide();
                        $("#inputTenHangMuc").val('');
                        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/LayDanhSachHangMuc_Paritial_AddHangMuc?CongTrinhID=" + $("#IDCongTrinh").val() + "&HangMucThiCongID=" + data.HangMucID);
                    }
                    alertToastr(data);
                },
                error: function () {
                    showToast("error", GetTextLanguage("coloi"), GetTextLanguage("coloitrongquatrinhxulydulieu"));
                }
            });
        }
    });

    function validAddHangMuc() {
        if ($("#inputTenHangMuc").val() == "") {
            alert("Nhập Tên Hạng Mục");
            $("#inputTenHangMuc").focus();
            return false;
        }
        return true;
    }

    function delDoiThiCong(CongTrinhDoiID) {
        if (confirm(GetTextLanguage("bancomuonxoabanghinaykhong"))) {
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: "/QuanLyCongTrinh/XoaCongTrinhDoi",
                data: { CongTrinhDoiID: CongTrinhDoiID },
                success: function (data) {
                    ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/PhanBoGiaTri_ParitialNew?CongTrinhID=" + $("#IDCongTrinh").val());
                },
                error: function (xhr, status, error) {
                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("coloi"));
                }
            });
        } else {
            return false;
        }
    }


</script>