﻿@model  DF.DBMapping.ModelsExt.NghiepVu.QuanLyDuAn.PhanBoGiaTriCongTrinhResults
@{
    System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<input type="hidden" id="IDCongTrinh" value="@Model.CongTrinhID" />
<script type="text/javascript" src="~/Scripts/NghiepVu/CongTrinh/_PhanBoGiaTri.js"></script>
<h6 class="panel-title text-bold" style="margin-bottom:10px;">@Html.Raw(Language.GetText("thongtinhangmuc"))</h6>
<div class="panel panel-flat">
    <div class="table-responsive">
        <table class="table table-bordered ahihi">
            <thead >
                <tr style="background:#4682B4;color:#fff;">
                    <th class="text-bold text-center" style="width:40px;">#</th>
                    <th class="text-bold text-center">@Html.Raw(Language.GetText("tenhangmuc"))</th>
                    <th class="text-bold text-center">@Html.Raw(Language.GetText("sococ"))</th>
                    <th class="text-bold text-center">@Html.Raw(Language.GetText("conlai"))</th>
                    <th class="text-bold text-center">@Html.Raw(Language.GetText("metdat"))</th>
                    <th class="text-bold text-center">@Html.Raw(Language.GetText("conlai"))</th>
                    <th class="text-bold text-center">@Html.Raw(Language.GetText("metda"))</th>
                    <th class="text-bold text-center">@Html.Raw(Language.GetText("conlai"))</th>
                </tr>
            </thead>
            
            <tbody>
                @if (Model != null)
                {
                    int i = 1;
                    foreach (var item in Model.ThongTinHangMucPhanBo)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.TenHangMuc</td>
                            <td class="text-center text-bold">
                                <input type="text" style="background:#E5E5E5;" class="db_SoCoc_@item.HangMucThiCongID numbers form-control text-right" disabled="disabled" value="@item.SoCoc" />
                            </td>
                            <td class="text-center text-bold  text-danger">
                                <input type="text" style="background:#E5E5E5;" class="db_SoCocConLai_@item.HangMucThiCongID numbers form-control text-right  text-danger" disabled="disabled" value="@item.SoCocConLai" />
                            </td>
                            <td class="text-center text-bold">
                                <input type="text" style="background:#E5E5E5;" class="db_MetDat_@item.HangMucThiCongID numbers form-control text-right" disabled="disabled" value="@item.MetDat" />
                            </td>
                            <td class="text-center text-bold  text-danger">
                                <input type="text" style="background:#E5E5E5;" class="db_MetDatConLai_@item.HangMucThiCongID numbers form-control text-right  text-danger" disabled="disabled" value="@item.MetDatConLai" />
                            </td>
                            <td class="text-center text-bold">
                                <input type="text" style="background:#E5E5E5;" class="db_MetDa_@item.HangMucThiCongID numbers form-control text-right" disabled="disabled" value="@item.MetDa" />
                            </td>
                            <td class="text-center text-bold  text-danger ">
                                <input type="text" style="background:#E5E5E5;" class="db_MetDaConLai_@item.HangMucThiCongID numbers form-control text-right text-danger" disabled="disabled" value="@item.MetDaConLai" />
                            </td>
                        </tr>
                        i++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row" style="margin-left: -10px !important;margin-right: -10px !important;">
    <div class="col-sx-8 col-md-8" style="margin-bottom:10px;">
        <h6 class="panel-title text-bold">@Html.Raw(Language.GetText("danhsachdoithicong"))</h6>
    </div>
    <div class="col-sx-4 col-md-4 text-right" style="margin-bottom:10px;">
        <span onclick="savePhanBoGiaTri()" class="btn btn-success">@Html.Raw(Language.GetText("luu")) <i class="icon-floppy-disk position-right"></i></span>
    </div>
    <div class="clearfix"></div>
    @if (Model != null)
    {
        int k = 0;
        foreach (var item in Model.DanhSachCacDoi)
        {

            <div class="col-md-12">
                <div class="panel panel-flat">
                    <div class="panel-heading" style="padding:10px;">
                        <h5 class="panel-title">@item.TenDoi</h5>
                        <span class="btn btn-danger" onclick="xoaDoiThiCongKhoiCongTrinh('@item.CongTrinhDoiID')" style="position: absolute;right: 7px;top: 5px;"><i class="icon-bin"></i></span>
                    </div>
                    <div class="panel-body" style="padding:0;">

                    </div>

                    <div class="table-responsive tbl-hangmuc">
                        <input type="hidden" id="inputCongTrinhDoi_@k" value="@item.CongTrinhDoiID" />
                        <table class="table table-hover table-bordered inputCongTrinhDoi_@k">
                            <thead style="background:#4682B4;color:#fff;">
                                <tr>
                                    <th class="text-bold text-center" style="width:150px;">@Html.Raw(Language.GetText("hangmuc"))</th>
                                    <th class="text-bold text-center">@Html.Raw(Language.GetText("sococ"))</th>
                                    <th class="text-bold text-center">@Html.Raw(Language.GetText("metdat"))</th>
                                    <th class="text-bold text-center">@Html.Raw(Language.GetText("dongiametdat"))</th>
                                    <th class="text-bold text-center">@Html.Raw(Language.GetText("metda"))</th>
                                    <th class="text-bold text-center">@Html.Raw(Language.GetText("dongiametda"))</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                    foreach (var itemCT in item.ChiTiet)
                                    {
                                        string strCoc = "num_coc_" + itemCT.HangMucThiCongID + "_" + k;
                                        string strMetDat = "num_dat_" + itemCT.HangMucThiCongID + "_" + k;
                                        string strMetDa = "num_da_" + itemCT.HangMucThiCongID + "_" + k;
                                        string reqHM = "hmtc_" + item.CongTrinhDoiID + "_" + i;
                                        string reqCOC = "coc_" + item.CongTrinhDoiID + "_" + i;
                                        string reqDAT = "dat_" + item.CongTrinhDoiID + "_" + i;
                                        string reqDa = "da_" + item.CongTrinhDoiID + "_" + i;
                                        string reqDGDAT = "dgdat_" + item.CongTrinhDoiID + "_" + i;
                                        string reqDGDA = "dgda_" + item.CongTrinhDoiID + "_" + i;
                                        <input type="hidden" class="@reqHM" value="@itemCT.HangMucThiCongID" />
                                        <tr>
                                            <td>@itemCT.TenHangMuc</td>
                                            <td class="text-center"><input type="text" class="numbers @reqCOC @item.CongTrinhDoiID num_cocs_@itemCT.HangMucThiCongID @strCoc form-control text-right" onkeyup="TongCoc(this,'@k','@itemCT.HangMucThiCongID');" value="@itemCT.SoCoc" /> </td>
                                            <td class="text-center"><input type="text" class="numbers @reqDAT @item.CongTrinhDoiID num_metdats_@itemCT.HangMucThiCongID @strMetDat form-control text-right" onkeyup="TongMetDat(this,'@k','@itemCT.HangMucThiCongID');" value="@itemCT.MetDat" /> </td>
                                            <td class="text-center"><input type="text" class="numbers text-danger @reqDGDAT form-control text-right" value="@itemCT.DonGiaMetDat" onkeyup="DGMetDat(this);"/> </td>
                                            <td class="text-center"><input type="text" class="numbers @reqDa @item.CongTrinhDoiID num_metdas_@itemCT.HangMucThiCongID @strMetDa form-control text-right" onkeyup="TongMetDa(this,'@k','@itemCT.HangMucThiCongID');" value="@itemCT.MetDa" /> </td>
                                            <td class="text-center"><input type="text" class="numbers text-danger @reqDGDA form-control text-right" value="@itemCT.DonGiaMetDa" onkeyup="DGMetDa(this);"/> </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
                                            k++;
                                        }
                                    }

    <div class="col-md-12">
        <div class="panel panel-flat" style="position:relative;">
            <div class="panel-heading" style="padding:10px;">
                <h5 class="panel-title">@Html.Raw(Language.GetText("doithicongmoi"))</h5>
            </div>

            <div class="panel-body" style="padding:0;">

            </div>

            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead style="background:#4682B4;color:#fff;">
                        <tr>
                            <th class="text-bold text-center" style="width:150px;">@Html.Raw(Language.GetText("hangmuc"))</th>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("sococ"))</th>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("metdat"))</th>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("dongiametdat"))</th>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("metda"))</th>
                            <th class="text-bold text-center">@Html.Raw(Language.GetText("dongiametda"))</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.DanhSachCacDoi.Count > 0)
                            {
                                foreach (var itemCT in Model.DanhSachCacDoi[0].ChiTiet)
                                {
                                    <tr>
                                        <td>@itemCT.TenHangMuc</td>
                                        <td class="text-center"><input type="text" class="numbers form-control text-right" value="0" /> </td>
                                        <td class="text-center"><input type="text" class="numbers form-control text-right" value="0" /> </td>
                                        <td class="text-center"><input type="text" class="numbers form-control text-right" value="0" /> </td>
                                        <td class="text-center"><input type="text" class="numbers form-control text-right" value="0" /> </td>
                                        <td class="text-center"><input type="text" class="numbers form-control text-right" value="0" /> </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>

                </table>
            </div>
            <div class="layout-abs">
                <div class="layout-abs-middle" id="addDoiThiCong"><i class="icon-googleplus5"></i></div>
            </div>
        </div>
    </div>

</div>


<div id="mdl_DSDoiThiCong">
</div>
<script id="temp_DSDoiThiCong" type="text/x-kendo-template">
    <div id="grid_DSDoiThiCong"></div>
</script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript">
    $(".numbers").autoNumeric(autoNumericOptionsKyHopDong);
    function DGMetDat(ths) {
        if ($(ths).val() == "") {
            $(ths).val(0);
        }
    }
    function DGMetDa(ths) {
        if ($(ths).val() == "") {
            $(ths).val(0);
        }
    }
    // các hàm tự động tính số liệu
    function TongCoc(ths, e, hangmucid) {
        if ($(ths).val() == "") {
            $(ths).val(0);
        }
        var TongSoCoc = parseFloat($('.db_SoCoc_' + hangmucid).autoNumeric('get'));
        var arrSoCoc = $('.num_cocs_' + hangmucid).length;
        var sum = 0;
        var sumconlai = 0;

        for (var i = 0; i < arrSoCoc; i++) {
            if (i != e) {
                sumconlai += parseFloat($('.num_coc_' + hangmucid + '_' + i).autoNumeric('get'));
            }
            sum += parseFloat($('.num_coc_' + hangmucid + '_' + i).autoNumeric('get'));
        }

        if (sum > TongSoCoc) {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("tongsococvuotquahangmuc"));
            $('.num_coc_' + hangmucid + '_' + e).autoNumeric('set', (TongSoCoc - sumconlai));
            $('.db_SoCocConLai_' + hangmucid).autoNumeric('set', 0);
        }
        if (TongSoCoc >= sum) {
            $('.db_SoCocConLai_' + hangmucid).autoNumeric('set', (TongSoCoc - sum));
        }
    }

    function TongMetDat(ths, e, hangmucid) {
        if ($(ths).val() == "") {
            $(ths).val(0);
        }
        var TongSoCoc = parseFloat($('.db_MetDat_' + hangmucid).autoNumeric('get'));
        var arrSoCoc = $('.num_metdats_' + hangmucid).length;
        var sum = 0;
        var sumconlai = 0;

        for (var i = 0; i < arrSoCoc; i++) {
            if (i != e) {
                sumconlai += parseFloat($('.num_dat_' + hangmucid + '_' + i).autoNumeric('get'));
            }
            sum += parseFloat($('.num_dat_' + hangmucid + '_' + i).autoNumeric('get'));
        }

        if (sum > TongSoCoc) {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("tongsometdatvuotquahangmuc"));
            $('.num_dat_' + hangmucid + '_' + e).autoNumeric('set', (TongSoCoc - sumconlai));
            $('.db_MetDatConLai_' + hangmucid).autoNumeric('set', 0);
        }
        if (TongSoCoc >= sum) {
            $('.db_MetDatConLai_' + hangmucid).autoNumeric('set', (TongSoCoc - sum));
        }
    }

    function TongMetDa(ths, e, hangmucid) {
        if ($(ths).val() == "") {
            $(ths).val(0);
        }
        var TongSoCoc = parseFloat($('.db_MetDa_' + hangmucid).autoNumeric('get'));
        var arrSoCoc = $('.num_metdas_' + hangmucid).length;
        var sum = 0;
        var sumconlai = 0;

        for (var i = 0; i < arrSoCoc; i++) {
            if (i != e) {
                sumconlai += parseFloat($('.num_da_' + hangmucid + '_' + i).autoNumeric('get'));
            }
            sum += parseFloat($('.num_da_' + hangmucid + '_' + i).autoNumeric('get'));
        }

        if (sum > TongSoCoc) {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("tongsometdavuotquahangmuc"));
            $('.num_da_' + hangmucid + '_' + e).autoNumeric('set', (TongSoCoc - sumconlai));
            $('.db_MetDaConLai_' + hangmucid).autoNumeric('set', 0);
        }
        if (TongSoCoc >= sum) {
            $('.db_MetDaConLai_' + hangmucid).autoNumeric('set', (TongSoCoc - sum));
        }
    }

    function savePhanBoGiaTri() {

        if (confirm(GetTextLanguage("bancomuonluuphieunaykhong"))) {
            WatingLoad(0.8);
            var objRequest = {};
            objRequest.CongTrinh = $("#IDCongTrinh").val();
            objRequest.CongTrinhDoi = [];
            var arrTable = $('.tbl-hangmuc').length;
            for (var i = 0; i < arrTable; i++) {
                var objDSDoi = {};
                var objChiTiet = [];
                objDSDoi.CongTrinhDoiID = $("#inputCongTrinhDoi_" + i).val();
                var rowCount = $('.inputCongTrinhDoi_' + i + ' tr').length;
                console.log(rowCount);
                for (var k = 0; k < rowCount - 1; k++) {
                    var chitiet = {};
                    chitiet.SoCoc = $('.coc_' + $("#inputCongTrinhDoi_" + i).val() + '_' + k).autoNumeric('get');
                    chitiet.HangMucThiCongID = $('.hmtc_' + $("#inputCongTrinhDoi_" + i).val() + '_' + k).val();
                    chitiet.MetDat = $('.dat_' + $("#inputCongTrinhDoi_" + i).val() + '_' + k).autoNumeric('get');
                    chitiet.MetDa = $('.da_' + $("#inputCongTrinhDoi_" + i).val() + '_' + k).autoNumeric('get');
                    chitiet.DonGiaMetDat = $('.dgdat_' + $("#inputCongTrinhDoi_" + i).val() + '_' + k).autoNumeric('get');
                    chitiet.DonGiaMetDa = $('.dgda_' + $("#inputCongTrinhDoi_" + i).val() + '_' + k).autoNumeric('get');
                    objChiTiet.push(chitiet);
                }
                objDSDoi.ChiTiet = objChiTiet;
                objRequest.CongTrinhDoi.push(objDSDoi);
            }
            if (objRequest) {
                $.ajax({
                    cache: false,
                    async: true,
                    type: "POST",
                    url: "/QuanLyCongTrinh/PhanHangMuc",
                    data: { data: JSON.stringify(objRequest) },
                    success: function (data) {
                        altReturn(data);
                        $("#content-loader").unblock();
                    },
                    error: function (xhr, status, error) {
                        showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("coloi"));
                        $("#content-loader").unblock();
                    }
                });

            }
        }
        return false;
    }

    function xoaDoiThiCongKhoiCongTrinh(CongTrinhDoiID){
        if (confirm(GetTextLanguage("bancomuonxoabanghinaykhong"))) {
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: "/QuanLyCongTrinh/XoaCongTrinhDoi",
                data: { CongTrinhDoiID: CongTrinhDoiID },
                success: function (data) {
                    ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/PhanBoGiaTri_Paritial?CongTrinhID=" + $("#IDCongTrinh").val());
                },
                error: function (xhr, status, error) {
                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("coloi"));
                }
            });
        }else{
            return false;
        }
    }

   
</script>