﻿@model CongTrinh_HangMucResults
    <input type="hidden" value="@Model.HangMucThiCongID" id="IDHMTC" />
<div>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Phân Bổ Đội Thi Công</h6>
        </div>
        <div class="panel-body">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-highlight">
                    @{
                        string isactiveDoi = "active";
                    }
                    @foreach (var item in Model.lstDoi)
                    {
                        if (Model.CongTrinhDoiID != "" && Model.CongTrinhDoiID == item.CongTrinhDoiID.ToString())
                        {
                            isactiveDoi = "active";
                        }
                        else
                        {
                            isactiveDoi = "";
                        }
                        <li class="@isactiveDoi @item.CongTrinhDoiID item-doithicong"><a href="javascript:void(0);" onclick="loadPhanBoCTD('@item.CongTrinhDoiID')">@item.TenDoi</a></li>
                    }


                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabphanbo">
                        @Html.Partial("~/Views/QuanLyCongTrinh/_AddHangMucHopDong.cshtml", Model.lstDSPhanBoVatTu)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function loadPhanBoCTD(CongTrinhDoiID) {
        $(".item-doithicong").removeClass("active");
        $("." + CongTrinhDoiID).addClass("active");
        ContentLoading("tabphanbo", "/QuanLyCongTrinh/LoadPhanBoTheoDoiThiCong?CongTrinhDoiID=" + CongTrinhDoiID + "&HangMucThiCongID=" + $("#IDHMTC").val());
    }
</script>