﻿ <script type="text/javascript" src="~/Scripts/NghiepVu/CongTrinh/QuanLyCongTrinh.js"></script>
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>

<style>
    .btn-kyhopdong {
        padding: 1px 0px !important;
    }
</style>

<div class="content dsct">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-xs-5" style="padding-left:0;">
            <div class="form-group">
                <div class="form-group">
                    <input type="text" class="form-control " id="TinhTrangCT" name="TinhTrangCT" style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->
            </div>
        </div>
        <div class="col-xs-7 text-right" style="padding-right:0;">
            <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
            <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
            <a href="#/QuanLyCongTrinh/KhoiTaoDuAn" class="btn btn-primary"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("themmoi"))</a>
        </div>
    </div>
    <div id="grid_DSCongTrinh"></div>
</div>
<div id="ChiTietCongTrinh"></div>
<script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript">
    $(".styled, .multiselect-container input").uniform({
        radioClass: 'choice'
    });
</script>



<script type="text/x-kendo-template" id="tpltinhtrang">
    # if(TinhTrang == 1) { #
    <span class="btn btn-default btn-block btn-xs btn-kyhopdong">Chưa sản xuất</span>
    # } #
    # if(TinhTrang == 2) { #
    <span class="btn btn-info btn-block btn-xs btn-kyhopdong">Đang sản xuất</span>
    # } #
    # if(TinhTrang == 3) { #
    <span class="btn btn-primary btn-block btn-xs btn-kyhopdong">Đã xong</span>
    # } #
    # if(TinhTrang == 4) { #
    <span class="btn btn-success btn-block btn-xs btn-kyhopdong">Đã giao hàng</span>
    # } #
    # if(TinhTrang == 5) { #
    <span class="btn btn-danger btn-block btn-xs btn-kyhopdong">Đã Hủy</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tempImport">
    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem">

    </div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<div id="mdlThemFileExcel">

</div>
<script type="text/javascript">
    var table = $('.datatable-responsive-custom').DataTable({
        responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [
            { render: $.fn.dataTable.render.number(",", ".", 2), targets: [5, 6, 8, 9] }

        ],
        "ordering": false,
        "footerCallback": function (row, data, start, end, display) {
            var api = this.api(), data;
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ?
                    i.split(',').join('') * 1 : ///[\$,]/g
                    typeof i === 'number' ?
                    i : 0;
            };
            // Total over all pages
            total = api
                .column(2)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            // Total over this page
            pageTotal = api
                .column(2, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            $(api.column(5).footer()).html(api
            .column(5)
            .data()
            .reduce(function (a, b) {
                return intVal(a) + intVal(b);
            }, 0).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));

            $(api.column(8).footer()).html(api
            .column(9)
            .data()
            .reduce(function (a, b) {
                return intVal(a) + intVal(b);
            }, 0).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
        },
    });
  
    $(".btn-addmoi").on("click", function () {
        $("#dsLuongKhoan").hide();
        ContentWatingOP("content-qlluongkhoan", 1);
        $.ajax({
            url: '/QuanLyCongTrinh/AddHopDongTau_Partial',
            method: "POST",
            datatype: 'json',
            data: {

            },
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#content-qlluongkhoan").unblock();
            }
        });
    });

    function XemChiTietPhieuTau(HopDongID) {
        $("#dsLuongKhoan").hide();
        ContentWatingOP("content-qlluongkhoan", 1);
        $.ajax({
            url: '/QuanLyCongTrinh/XemChiTietPhieuTau',
            method: "POST",
            datatype: 'json',
            data: {
                HopDongID: HopDongID
            },
            success: function (data) {
                $("#BangTPNV").html(data);
                $("#content-qlluongkhoan").unblock();
            }
        });
    }

    function Thoat() {
        $("#dsLuongKhoan").show();
        searchHopDong();
    }
</script>

