﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("danhsachduan"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<script type="text/javascript" src="~/Scripts/NghiepVu/CongTrinh/QuanLyCongTrinh.js"></script>
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>

<style>
    .btn-kyhopdong {
        padding: 1px 0px !important;
    }
</style>

<div class="content dsct">
    <div class="row" style="margin-bottom:10px;">
        <!--<div class="col-xs-12" style="padding-left:0;">
            <div class="form-group">
                <label class="radio-inline" style="margin-top: 10px;">
                    <input type="radio" name="radio-inline-left" id="TatCa" class="styled" >
                    @Html.Raw(Language.GetText("tatca"))
                </label>
                <label class="radio-inline" style="margin-top: 10px;">
                    <input type="radio" name="radio-inline-left" id="DaKy" class="styled" checked="checked">
                    @Html.Raw(Language.GetText("dakyhopdong"))
                </label>
                <label class="radio-inline" style="margin-top: 10px;">
                    <input type="radio" name="radio-inline-left" id="ChuaKy" class="styled">
                    @Html.Raw(Language.GetText("chuaky"))
                </label>
            </div>
           
        </div>-->
        <div class="col-xs-5" style="padding-left:0;">
            <div class="form-group">
                <div class="form-group">
                    <input type="text" class="form-control " id="TinhTrangCT" name="TinhTrangCT" style="box-sizing:border-box;width:100%;">
                </div><!-- /.form-group -->
            </div>
        </div>
        <div class="col-xs-7 text-right"  style="padding-right:0;">
            <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
            <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
            <a href="#/QuanLyCongTrinh/KhoiTaoDuAn" class="btn btn-primary"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("themmoi"))</a>
        </div>
    </div>
    <div id="grid_DSCongTrinh"></div>
</div>
<div id="ChiTietCongTrinh"></div>
<script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript">
    $(".styled, .multiselect-container input").uniform({
        radioClass: 'choice'
    });
</script>

<script type="text/x-kendo-template" id="tplkyhopdong">
    # if(DaKyHopDong == 0) { #
    <span class="btn btn-warning btn-block btn-xs btn-kyhopdong">@Html.Raw(Language.GetText("chuaky"))</span>
    # } #
    # if(DaKyHopDong == 1) { #
    <span class="btn btn-info btn-block btn-xs btn-kyhopdong">@Html.Raw(Language.GetText("daky"))</span>
    # } #
</script>

<script type="text/x-kendo-template" id="tpltinhtrang">
    # if(TinhTrang == 0) { #
    <span class="btn btn-warning btn-block btn-xs btn-kyhopdong">@Html.Raw(Language.GetText("chuathicong"))</span>
    # } #
    # if(TinhTrang == 1) { #
    <span class="btn btn-info btn-block btn-xs btn-kyhopdong">@Html.Raw(Language.GetText("dangthicong"))</span>
    # } #
    # if(TinhTrang == 2) { #
    <span class="btn btn-default btn-block btn-xs btn-kyhopdong">@Html.Raw(Language.GetText("tamdung"))</span>
    # } #
    # if(TinhTrang == 3) { #
    <span class="btn btn-primary btn-block btn-xs btn-kyhopdong">@Html.Raw(Language.GetText("dahoanthien"))</span>
    # } #
    # if(TinhTrang == 4) { #
    <span class="btn btn-danger btn-block btn-xs btn-kyhopdong">@Html.Raw(Language.GetText("daquyettoan"))</span>
    # } #
    # if(TinhTrang == 5) { #
    <span class="btn btn-default btn-block btn-xs btn-kyhopdong">@Html.Raw(Language.GetText("dangbaogia"))</span>
    # } #
    # if(TinhTrang == 6) { #
    <span class="btn btn-info btn-block btn-xs btn-kyhopdong">@Html.Raw(Language.GetText("dabaogia"))</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tempImport">
    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem">

    </div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<div id="mdlThemFileExcel">

</div>