﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("khoitaoduan"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}

<div class="content">
    <div class="text-right col-md-8 col-md-offset-2" style="margin-bottom:10px;">
        <a href="#/QuanLyCongTrinh/Index" class="btn btn-primary"><i class="icon-list position-left"></i> Quản lý hạng mục hợp đồng</a>
    </div>
    <div class="col-md-8 col-md-offset-2" id="form_loading">
        @Html.Partial("~/Views/QuanLyCongTrinh/_KhoiTaoDuAn.cshtml", null)
    </div>
</div>
<script type="text/javascript">
    function saveCongTrinh() {
        if ($("#TenCongTrinh").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("tencongtrinhrong")); $("#TenCongTrinh").focus();
        }else if($("#HopDongID").val() == "")
        {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("hopdong")); $("#HopDongID").data("kendoDropDownList").focus();
        }
        else {
            ContentWating("form_loading");
            var object = {};
            object.CongTrinhID = $("#IDCongTrinh").val();
            object.NgayKhoiTao = $("#NgayKhoiTao").val();
            object.TenCongTrinh = $("#TenCongTrinh").val();
            object.ChuDauTu = $("#ChuDauTu").val();
            object.NgayBatDau = $("#TuNgay").val();
            object.NgayKetThuc = $("#DeNgay").val();
            object.TinhTrang = $("#TrangThai").val();
            object.DiaDiem = $("#DiaDiem").val();
            object.GhiChu = $("#GhiChu").val();
            object.LoaiBaoCaoSanLuong = $("#LoaiBaoCaoSanLuong").val();
            object.HopDongID = $("#HopDongID").val();
            object.DaKyHopDong = $("#KyHopDong").is(':checked');
            if (object) {
                $.ajax({
                    url: '@Url.Action("AddOrUpdateCongTrinh", "QuanLyCongTrinh")',
                    method: "POST",
                    data: {
                        data: JSON.stringify(object)
                    },
                    datatype: 'json',
                    success: function (data) {
                        altReturn(data);
                        if (data.CongTrinhID) {
                            $(".chitietcongtrinh").css("display", "inline-block");
                            $("#IDCongTrinh").val(data.CongTrinhID);
                            $("#form_loading").unblock();
                        } else {
                            $("#form_loading").unblock();
                        }
                    },
                    error: function () {
                        $("#form_loading").unblock();
                    }
                });
            }
        }
    }

    function detailCongTrinh() {
        LoadingContent("content-loader", "/QuanLyCongTrinh/ChiTietCongTrinh?CongTrinhID=" + $("#IDCongTrinh").val(), $("#TenCongTrinh").val());
    }

    function delCongTrinh(CongTrinhID) {
        if (confirm(GetTextLanguage("bancomuonxoabanghinaykhong"))) {
            $.ajax({
                url: '@Url.Action("XoaCongTrinh", "QuanLyCongTrinh")',
                method: "POST",
                data: {
                    CongTrinhID: CongTrinhID
                },
                datatype: 'json',
                success: function (data) {
                    altReturn(data);
                    if (data.code == "success") {
                        setTimeout(function () { window.location.hash = "/QuanLyCongTrinh/Index"; }, 1000);
                        
                    }
                    
                },
                error: function () {
                    $("#form_loading").unblock();
                }
            });
        }
        else {
            return false;
        }
    }
</script>