﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("quanlycongnodoitacvattu"));
    ViewBag.Title_Function =  @Html.Raw(Language.GetText("quanlycongnodoitacvattu"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<script type="text/javascript" src="~/Scripts/NghiepVu/VatTu/QuanLyCongNoDoiTacVatTu.js"></script>
<div class="content">
    <div>
        <div id="gridCongNoDoiTacVatTu"></div>
    </div>
    <div id="mdlChiTietCongNoDoiTacVatTu"></div>
</div>
<script type="text/x-kendo-template" id="tplChiTietCongNoDoiTacVatTu">
    <div id="gridChiTietPhieuNhapVatTu"></div>
</script>