﻿@{
    ViewBag.Title = "Quản lý văn bản đính kèm";
}
<link href="/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="/Content/lib/fncUploadFile.js"></script>
<script type="text/javascript" src="~/Scripts/NghiepVu/QuanLyVanBanDinhKem/QuanLyVanBanDinhKem.js"></script>
<style>
    .k-edit-form-container {
        width: 100%;
    }

    .btn-outline-secondary {
        color: #fff !important;
        background-color: #0c7cd5 !important;
        background-image: none !important;
        border-color: #ddd !important;
    }
</style>
<div class="content">
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="btnThem">
    <button id="btnAdd" class="btn btn-warning k-btn k-grid-add btn-lg pull-right"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm mới</button>
</script>
<div id="mdlChiTietVanBan"></div>
<script type="text/x-kendo-template" id="tplChiTietVanBan">
    <div id="frmChiTietVanBan">
        <div class="row" style="width: 100%;">
            <input id="VanBanID" name="VanBanID" data-bind="value:VanBanID" type="text" class="hidden" />
            <div class="form-group">
                <label>Tiêu đề</label>
                <input id="TieuDe" type="text" class="form-control" name="TieuDe" data-bind="value:TieuDe" placeholder="Nhập vào tiêu đề" required data-required-msg="Tiêu đề không được trống" style="box-sizing:border-box" tabindex="1">
            </div><!-- /.form-group -->
            <div class="form-group">
                <label>Loại văn bản</label>
                <input id="LoaiVanBan" type="text" class="form-control" style="width:100%" name="LoaiVanBan" data-bind="value:LoaiVanBan" placeholder="Lựa chọn loại văn bản" required data-required-msg="Phải chọn loại văn bản" style="box-sizing:border-box" tabindex="2">
            </div><!-- /.form-group -->
            <div class="form-group">
                <label>Nội dung</label>
                <textarea id="NoiDung" type="text" class="form-control" name="NoiDung" data-bind="value:NoiDung" placeholder="Nhập vào nội dung" style="box-sizing:border-box" rows="4" cols="50" tabindex="3"></textarea>
            </div>
            <button class="btn btn-success pull-right" id="btnLuu">Lưu thay đổi</button>
            <button class="btn btn-danger pull-right hidden" id="btnXoa" style="margin-right:10px !important;">Xóa văn bản</button>
            <div class="img-responsive">
                <div class="objupload btn btn-primary" style="position: relative; display: inline-block; width:auto !important;height:auto !important;">
                    <i class="icon-googleplus5" style="padding:0px; font-size:16px; "></i> Chọn Tập Tin Đính Kèm
                    <input type="file" class="inputupload" multiple="multiple" id="upLoadFile">
                </div>
            </div>
            <div id="lstImageDisplay" style="margin-top: 10px;">
                <div class="img-responsive col-xs-12">
                    <table class="table">
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tempLoaiVanBan">
    # if(LoaiVanBan == 1) { #
    <span class="btn btn-success btn-block no-padding">
        Hợp đồng, phụ lục
    </span>
    # } #
    # if(LoaiVanBan == 2) { #
    <span class="btn btn-primary btn-block no-padding">
        Văn bản
    </span>
    # } #
    # if(LoaiVanBan == 3) { #
    <span class="btn btn-info btn-block no-padding">
        Nội quy cơ chế
    </span>
    # } #
</script>