﻿<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Scripts/BaoCao/BaoCaoCongNoDoiTacTheoThoiGian.js"></script>
<div class="content">
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="tlbFilter">
    <div class="toolbar" style="text-align:left;">
        @Html.Raw(Language.GetText("tungay"))  :
        <input type="search" id="inputTuNgay" />
        @Html.Raw(Language.GetText("denngay")) :
        <input type="search" id="inputDenNgay" />
    </div>
</script>
<script type="text/x-kendo-template" id="tempKieuDoiTac">
    # if(KieuDoiTac == 1) { #
    <span>Đối tác mua</span>
    # } #
    # if(KieuDoiTac == 2) { #
    <span>
        Đối tác bán
    </span>
    # } #
</script>