﻿@{
    ViewBag.Title = "InLenhSanXuat2";
}

@model DF.DBMapping.ModelsExt.NghiepVu.SanXuatModel
<html>
<head>
    <title>Lệnh sản xuất</title>
    <link href="~/Content/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div style="padding:10px">
        <div>
            <table style="width: 70%; float: left">
                <tbody>
                    <tr>
                        <td style="padding: 5px 0px;"><b>Thời gian</b>: @Model.ThoiGian</td>
                        <td style="padding: 5px 0px;"></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 0px;"><b>Mã Sản phẩm:</b> @Model.MaSanPham</td>
                        <td style="padding: 5px 0px;"><b>Size</b>: @Model.Size</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 0px;"><b>Đặc điểm</b>:</td>
                        <td style="padding: 5px 0px;"><b>Tỉ Lệ Size</b>: @Model.TiLeSize</td>
                    </tr>
                    <tr>
                        <td style="padding: 5px 0px;"><b>Khách hàng</b>: @Model.TenKhachHang</td>
                        <td style="padding: 5px 0px;"><b>Size mẫu gốc</b>: @Model.SizeMauGoc</td>
                    </tr>
                </tbody>

            </table>
            <div style="width:30%;float:left;text-align:right">
                <img style="width:150px;height:100px" src="/center/Upload/ImageQLVT/@Model.AnhDaiDien" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table style="width:100%" border="1">
                    <thead>
                        <tr>
                            <td style="padding:10px;text-align:center">Tên công đoạn</td>
                            <td style="padding:10px;text-align:center;width:60%">Mô tả</td>
                            <td style="padding:10px;text-align:center">Số lượng hoàn thiện</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var congdoan in Model.lstCongDoan.OrderBy(p => p.ViTri.GetValueOrDefault()))
                        {
                             <tr>
                                <td style="padding:10px;text-align:center;" class="text-bold"> @congdoan.TenCongDoan</td>
                                <td style="padding:10px;text-align:center;" class="text-bold"> @congdoan.MoTa</td>
                                <td style="padding:10px;text-align:right;" class="text-bold"> @congdoan.lstThanhPham.FirstOrDefault().SoLuongDaHoanThien.ToString("n0")</td>
                             </tr>

                        }
                        <tr>
                            <td style="padding:10px;text-align:center;" class="text-bold"> Ghép</td>
                            <td style="padding:10px;text-align:center;" class="text-bold"> @Model.congDoanCuoi.MoTa</td>
                            <td style="padding:10px;text-align:right;" class="text-bold"> @Model.congDoanCuoi.SoLuongDaCo.ToString("n0")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top:20px; text-align:left;margin-left:10%;">
            <div class="col-xs-4">
                <b>Phụ trách sản xuất</b><br />
                <i>(Ký ghi rõ họ tên)</i>
            </div>
        </div>

    </div>
    <script>
        window.print();
    </script>
</body>
</html>

