﻿
<style>
    .sanphamtbl .table tr:hover {
        background: none !important;
    }

    .sanphamtbl .table tr td:first-child, .sanphamtbl .table tr th:first-child {
        width: 70px !important;
    }
</style>
<div class="row">

    <div class="col-xs-12">
        <div class="form-group">
            <label>Nội dung</label>
            <textarea id="NoiDung" type="text" class="form-control" name="NoiDung" placeholder="Nhập vào nội dung" style="box-sizing:border-box" rows="2" cols="50" tabindex="6"></textarea>
        </div>
    </div>
    <p class="col-md-12" style="color:red"> Click vào cột số lượng để nhập số lượng nguyên liệu cần đề nghị</p>

    <div class="col-md-12" id="">
        <div id="tabstrip2">
            <ul>
                <li class="k-state-active tab_nguyenlieutheodonhang">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Nguyên liệu theo đơn hàng
                </li>
                <li class="tab_nguyenlieutatca">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Tất cả nguyên liệu
                </li>
            </ul>
            <div>
                <div id="gridDanhSachNguyenLieuTheoDonHang"></div>
            </div>
            <div>
                <div id="griddanhsachNguyenLieu"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-right">
        <div class="form-group">
            <button class="btn btn-warning btn-lg" id="ThemDeNghi">Đề nghị</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#tabstrip2").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
        $("#griddanhsachNguyenLieu").kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/QuanLySanXuat/GetAllDataNguyenLieu",
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",

                    }
                },
                sort: [{ field: "SoLuong", dir: "desc" }],
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        id: "NguyenLieuID",
                        fields: {
                            AnhDaiDien: {
                                editable: false
                            },
                            NguyenLieuID: {
                                type: "string"
                            },
                            Chon: {
                                type: "boolean",
                                editable: false
                            },
                            TenNguyenLieu: {
                                type: "string",
                                editable: false
                            },
                            MaNguyenLieu: {
                                type: "string",
                                editable: false
                            },
                            TenDonVi: {
                                type: "string",
                                editable: false
                            },
                            SoLuong: {
                                type: "number"
                            },

                        }
                    }
                },
                change: function (e) {
                    var data = this.data();
                }
            }),
            filterable: {
                mode: "row"
            },
            sortable: true,
            resizable: true,
            editable: true,
            height: innerHeight * 0.75,
            width: "100%",
            dataBound: function (e) {
                showslideimg10();
            },
            columns: [
                {
                    field: "AnhDaiDien", title: "Ảnh",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    template: kendo.template($("#tplAnh").html()),
                    width: 70
                },
                {
                    field: "TenNguyenLieu", title: "Tên nguyện liệu",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    width: 200
                },
                {
                    field: "MaNguyenLieu",
                    title: "Mã Nguyên Liệu",
                    width: 200,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "TenDonVi",
                    title: GetTextLanguage("donvi"),
                    width: 200,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "SoLuong",
                    width: 100,
                    title: GetTextLanguage("soluong"),
                    format: "{0:n2}",
                    attributes: {
                        "class": "soluongcheck",
                        "style": "font-weight:bold;text-align:right !important;"
                    },
                    filterable: FilterInColumn,
                    editor: function (container, options) {
                        rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                        var input = $('<input type="text" data-v-min="0" class="form-control" id="' + options.model.get("NguyenLieuID") + '" name="SoLuong" />');
                        input.appendTo(container);
                        input.autoNumeric(autoNumericOptionsSoLuong);
                    },
                },

            ],
            save: function (e) {
                $("#griddanhsachNguyenLieu").data("kendoGrid").dataSource.sort({ field: "SoLuong", dir: "desc" });
            }
        });
        $("#gridDanhSachNguyenLieuTheoDonHang").kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/QuanLySanXuat/GetDataKhoTongBoTonKhongTheoDonHang?DonHangID=" + $("#DonHangID").val() + "&SanPhamID=" + $("#SanPhamID").val(),
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",

                    }
                },
                sort: [{ field: "SoLuong", dir: "desc" }],
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        id: "NguyenLieuID",
                        fields: {
                            NguyenLieuID: {
                                type: "string"
                            },
                            Chon: {
                                type: "boolean",
                                editable: false
                            },
                            TenNguyenLieu: {
                                type: "string",
                                editable: false
                            },
                            MaNguyenLieu: {
                                type: "string",
                                editable: false
                            },
                            TenDonVi: {
                                type: "string",
                                editable: false
                            },
                            SoLuongCan: {
                                type: "number",
                                editable: false
                            },
                            SoLuong: {
                                type: "number",
                                editable: true
                            },

                        }
                    }
                },
                change: function (e) {
                    var data = this.data();
                }
            }),
            filterable: {
                mode: "row"
            },
            sortable: true,
            resizable: true,
            editable: true,
            height: innerHeight * 0.75,
            width: "100%",
            dataBound: function (e) {
                showslideimg10();
            },
            columns: [
                {
                    field: "AnhDaiDien", title: "Ảnh",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    template: kendo.template($("#tplAnh").html()),
                    width: 70
                },
                {
                    field: "TenNguyenLieu", title: "Tên nguyện liệu",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    width: 200
                },
                {
                    field: "MaNguyenLieu",
                    title: "Mã Nguyên Liệu",
                    width: 200,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "TenDonVi",
                    title: GetTextLanguage("donvi"),
                    width: 200,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "SoLuong",
                    width: 100,
                    title: GetTextLanguage("soluong"),
                    format: "{0:n2}",
                    attributes: {
                        "class": "soluongcheck",
                        "style": "font-weight:bold;text-align:right !important;"
                    },
                    filterable: FilterInColumn,
                    editor: function (container, options) {
                        rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                        var input = $('<input type="text" data-v-min="0"  class="form-control" id="' + options.model.get("NguyenLieuID") + '" name="SoLuong" />');
                        input.appendTo(container);
                        input.autoNumeric(autoNumericOptionsSoLuong);
                    },
                },
                {
                    field: "SoLuongCan",
                    width: 100,
                    title: "Số lượng cần",
                    format: "{0:n2}",
                },

            ],
            save: function (e) {
                $("#gridDanhSachNguyenLieuTheoDonHang").data("kendoGrid").dataSource.sort({ field: "SoLuong", dir: "desc" });
            }
        });


        $("#ThemDeNghi").on("click", function () {



            var objectData = {
                SanPhamID: $("#SanPhamID").val(),
                DonHangID: $("#DonHangID").val(),
                NoiDung: $("#NoiDung").val(),
                items: []
            }
            var datas = $("#griddanhsachNguyenLieu").data("kendoGrid").dataSource.data();
            var datas2 = $("#gridDanhSachNguyenLieuTheoDonHang").data("kendoGrid").dataSource.data();
            var check = false;
            for (var i = 0; i < datas.length; i++) {
                if (datas[i].SoLuong > 0) {
                    check = true;
                    var a = {
                        NguyenLieuID: datas[i].NguyenLieuID,
                        SoLuong: datas[i].SoLuong
                    };
                    objectData.items.push(a);
                }
            }
            for (var i = 0; i < datas2.length; i++) {
                if (datas2[i].SoLuong > 0) {
                    var have = false;
                    for (var j = 0; j < objectData.items; j++) {
                        if (objectData.items[j].NguyenLieuID > datas2[i].NguyenLieuID) {
                            have = true;
                            objectData.items[j].SoLuong += datas2[i].SoLuong;
                        }
                    }
                    if (!have) {
                        check = true;
                        var a = {
                            NguyenLieuID: datas2[i].NguyenLieuID,
                            SoLuong: datas2[i].SoLuong
                        };
                        objectData.items.push(a);
                    }
                }
            }
            if ($("#NoiDung").val() == "") {
                showToast("warning", "", "Vui lòng nhập nội dung");
                return false;
            }
            if (!check) {
                showToast("warning", "", "Vui nhập số lượng để đề nghị nguyên liệu");
                return false;
            }
            ContentWatingOP("mdlChiTiet", 0.9);

            $.ajax({
                url: "/QuanLySanXuat/TaoDeNghi",
                method: "post",
                data: { data: JSON.stringify(objectData) },
                success: function (data2) {
                    showToast(data2.code, "", data2.message);
                    if (data2.code == "success") {
                        setTimeout(function () {
                            $("#mdldenghinl").unblock();
                            closeModel("mdldenghinl");
                        }, 1000);
                    }
                }
            });
        });

    });
</script>