﻿@model DF.DBMapping.ModelsExt.NghiepVu.PhieuSanXuatThanhPhamModel
<input type="hidden" id="DonHangID" value="@Model.DonHangID" />
<input type="hidden" id="SanPhamID" value="@Model.SanPhamID" />
<style>
    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: left; /* adjust as needed */
        color: white; /* adjust as needed */
        margin-top: -15px;
        margin-left: -12px;
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }
</style>
<div>
    <table class="table">
        <tbody>
            <tr>
                <td>Mã Đơn Hàng:</td>
                <td><b>@Model.MaDonHang</b></td>
                <td>Mã thành phẩm:</td>
                <td><b>@Model.MaSanPham</b></td>
                <td>Thành tiền:</td>
                <td><b>@Model.GiaTriDonHang.ToString("n2")</b></td>
            </tr>
            <tr>
                <td>Khách hàng:</td>
                <td>@Model.TenKhachHang</td>
                <td>Tên thành phẩm:</td>
                <td><b>@Model.TenSanPham</b></td>
                <td>Số lượng:</td>
                <td><b>@Model.SoLuong.ToString("n0")</b></td>
            </tr>
        </tbody>

    </table>
    <div class="col-md-12 text-right">
        <button class="btn btn-success" id="btn-SanXuat" data-slsp="@Model.SoLuong" data-source="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.lstNguyenLieu)">Sản xuất</button>
    </div>
    <div style="padding: 10px;" class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background:#73abd3;height:13px">
                        <div class="panel-title">
                            <a href="#congdoancuoi" data-toggle="collapse" class="accordion-toggle">
                                <div style="width: 50%; float: left; color: white">&nbsp;&nbsp;&nbsp;</div>
                                <div style="width:50%;float:left;">
                                    <span style="color:white">@(Model.SoLuongDaSanXuat >= Model.SoLuong?"Đã xong":"Đang sản xuất")</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="congdoancuoi" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p style="margin-top:10px"><b>Số lượng @(Model.SoLuongDaSanXuat) / @(Model.SoLuong)</b></p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="success">
                                        <th>Loại hình</th>
                                        <th style="width:70px">Ảnh</th>
                                        <th>Mã nguyên liệu</th>
                                        <th>Tên nguyên liệu</th>
                                        <th>Tổng</th>
                                        <th>Đã có</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var dg in Model.lstNguyenLieu)
                                    {
                                        <tr class="info" data-toggle="collapse">
                                            <td>@{
                                                 if (dg.LoaiHinh == 1) { 
                                                     <span class="btn btn-success"> Nguyên liệu </span>
                                                    }
                                                 else
                                                 {
                                                     <span class="btn btn-info"> Thành phẩm </span>
                                                 }                                                                  
                                                
                                            }</td>
                                            <td style="width:70px">
                                                <div class="imgslider2" style="float:left;position:relative;">
                                                    <div style=" margin:0px;">
                                                        <a rel="gallery" href="/center/Upload/ImageQLVT/@dg.AnhDaiDien">
                                                            <img src="/center/Upload/ImageQLVT/@dg.AnhDaiDien" style="width:100%;height:50px;margin: 0;opacity: 1;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@dg.MaNguyenLieu</td>
                                            <td>@dg.TenNguyenLieu</td>
                                            <td class="text-right"><b>@dg.SoLuong.ToString("n2")</b></td>
                                            <td class="text-right"><b>@dg.SoLuongDaCo.ToString("n2")</b></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

</div>
<div id="mdlSanXuatSanPham">

</div>
<script type="text/x-kendo-template" id="tempSanXuatSanPham">
    <div class="row" style="margin-bottom:20px !important;">
        <div class="col-md-6">
            <div class="form-group">
                <label>Số lượng sản phẩm sản xuất (@(Model.SoLuongDaSanXuat) / @(Model.SoLuong)) :</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control" type="text" id="SoLuongSanPham" style="width:100%;text-align:right" value="0" />
                </div>
            </div>

        </div>
        <div class="col-md-6 text-right">
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="input-group" style="width:100%">
                    <button class="btn btn-warning" id="btnSanXuatSanPham">Sản xuất</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div id="gridThanhPham" class="col-md-12">

        </div>
    </div>
    </script>
    <script>
        $("#btn-SanXuat").click(function () {
            CreateModalWithSize("mdlSanXuatSanPham", "100%", "95%", "tempSanXuatSanPham", "Sản xuất");
            var lst = $(this).data("source");
            console.log(lst);
            var sqsp = parseFloat($(this).data("slsp"));
            $("#SoLuongSanPham").autoNumeric({
                digitGroupSeparator: ',',
                decimalCharacter: '.',
                minimumValue: '0',
                maximumValue: '999999999999999',
            });
            var grid = $("#gridThanhPham").kendoGrid({
                dataSource: new kendo.data.DataSource({
                    data: lst,
                    type: "json",
                    batch: true,
                    pageSize: 50,
                    schema: {
                        model: {
                            id: "NguyenLieuID",
                            fields: {
                                NguyenLieuID: { editable: false, nullable: true },
                                MaNguyenLieu: { editable: false, nullable: true },
                                TenThanhPham: { editable: false, nullable: true },
                                DonVi: { editable: false, nullable: true },
                                SoLuongCan: { type: "number", editable: true, nullable: true },
                            }
                        }
                    },
                }),
                filterable: {
                    mode: "row"
                },
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    buttonCount: 5,
                    pageSizes: true,
                    messages: messagegrid
                },
                dataBinding: function () {
                    record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                },
                height: window.innerHeight * 0.8,
                width: "100%",
                columns: [
                    {
                        title: "<a href='javascript:void(0)' class='k-link'>" + GetTextLanguage("stt") + "</a>",
                        width: 60,
                        attributes: alignCenter,
                        template: "#= ++record #",
                    },
                     {
                         field: "AnhDaiDien", title: "Ảnh",
                         attributes: { style: "text-align:left;" },
                         filterable: FilterInTextColumn,
                         template: kendo.template($("#tplAnh").html()),
                         width: 70
                     },
                    {
                        field: "MaNguyenLieu",
                        title: "Mã nguyên liệu",
                        width: 100,
                        attributes: alignCenter,
                        filterable: FilterInTextColumn,
                    },
                    {
                        field: "TenNguyenLieu",
                        title: "Tên nguyên liệu",
                        filterable: FilterInTextColumn,
                        attributes: { style: "text-align:left;" },
                        width: 200
                    },
                    {
                        field: "DonVi",
                        title: "Đơn vị",
                        width: 80,
                        attributes: alignCenter,
                        filterable: FilterInTextColumn
                    },
                     {
                         field: "SoLuongCan",
                         title: "Số lượng cần",
                         width: 150,
                         format: "{0:n2}",
                         attributes: alignRight,
                         filterable: FilterInColumn,
                     },
                     {
                         field: "SoLuongDaCo",
                         title: "Số lượng đã có",
                         width: 150,
                         format: "{0:n2}",
                         attributes: alignRight,
                         filterable: FilterInColumn,
                     },
                ],
                dataBound: function (e) {
                    showslideimg10();
                    var rows = this.items();
                    var gridct = $("#gridThanhPham").data("kendoGrid");
                    var next = true;
                    $(rows).each(function () {
                        var dataItem = gridct.dataItem((this));
                        if (dataItem.SoLuongCan > dataItem.SoLuongDaCo) {
                            $(this).css("background", "#d6bdbd");
                            $("#btnSanXuatSanPham").removeClass("btn-warning");
                            $("#btnSanXuatSanPham").addClass("disabled");
                            next = false;
                        }
                    });
                    if (next == true) {
                        $("#btnSanXuatSanPham").addClass("btn-warning");
                        $("#btnSanXuatSanPham").removeClass("disabled");
                    }
                },
            });
            $("#SoLuongSanPham").keypress(function (e) {
                var datas = $("#gridThanhPham").data("kendoGrid").dataSource.data();
                for (var i = 0; i < datas.length; i++) {
                    datas[i].SoLuongCan = (datas[i].SoLuong / sqsp) * $("#SoLuongSanPham").autoNumeric("get");
                }
                $("#gridThanhPham").data("kendoGrid").dataSource.data(datas);

            });
            $("#btnSanXuatSanPham").click(function () {
                if (!$(this).hasClass("disabled")) {
                    var datas = $("#gridThanhPham").data("kendoGrid").dataSource.data();

                    if ($("#SoLuongSanPham").val() == "" || $("#SoLuongSanPham").autoNumeric("get") <= 0) {
                        showToast("warning", GetTextLanguage("canhbao"), "Vui lòng nhập số lượng thành phẩm đã sản xuất được.");
                        return false;
                    }
                    ContentWatingOP("mdlSanXuatSanPham", 0.9);
                    $.ajax({
                        type: "POST",
                        url: "/QuanLySanXuat/SanXuatThanhPham2",
                        data: { ThanhPhamID: $("#SanPhamID").val(), DonHangID: $("#DonHangID").val(), SoLuong: $("#SoLuongSanPham").autoNumeric("get"), dataxuat: JSON.stringify($("#gridThanhPham").data("kendoGrid").dataSource.data()) },
                        success: function (data) {
                            if (data.code == "success") {
                                setTimeout(function () {
                                    closeModel("mdlSanXuatSanPham");
                                    $("#mdlsanxuat").load("/QuanLySanXuat/ViewSanXuatThanhPham?ThanhPhamID=" + $("#SanPhamID").val() + "&DonHangID=" + $("#DonHangID").val());
                                    $("#mdlSanXuatSanPham").unblock();
                                }, 1000)
                            } else {
                                $("#mdlsanxuat").unblock();
                                showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                            }
                        },
                        error: function (xhr, status, error) {
                            $("#mdlSanXuatSanPham").unblock();
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    })
                } else {
                    showToast("warning", GetTextLanguage("canhbao"), "Không đủ nguyên liệu để sản xuất. Vui lòng giảm số lượng thành phẩm");

                }
            })
        });
    </script>
