﻿@model  List<DF.DataAccess.DBML.Web_HanhChinh_QuanLyTaiKhoan_LayDanhSachTaiKhoanNVResult>
    @{
    ViewBag.Title = @Html.Raw(Language.GetText("quanlytaikhoan"));
    ViewBag.Title_Function = @Html.Raw(Language.GetText("quanlytaikhoan"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
    }

    <script type="text/javascript" src="~/Scripts/HanhChinh/NhanVien/QuanLyTaiKhoan.js"></script>
    <div id="content-qltaikhoan" class="content">
        <table class="table datatable-responsive-row-control table-bordered" style="min-width:786px">
            <thead>
                <tr style="background:#4682B4;color:#fff;">
                    <th  class="text-bold text-center" style="width:40px;">#</th>
                    <th class="text-bold text-center">@Html.Raw(Language.GetText("tennhanvien"))</th>
                    <th  class="text-bold text-center">@Html.Raw(Language.GetText("ngaysinh"))</th>
                    <th  class="text-bold text-center">@Html.Raw(Language.GetText("socmt"))</th>
                    <th  class="text-bold text-center">@Html.Raw(Language.GetText("tentaikhoan"))</th>
                    <th  class="text-bold text-center">@Html.Raw(Language.GetText("matkhau"))</th>
                    <th  class="text-bold text-center">@Html.Raw(Language.GetText("luu"))</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                int i = 1;
                foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">@i</td>
                    <td>@item.TenNhanVien</td>
                    <td class="text-center">@item.NgaySinh.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">@item.Cmt</td>
                    <td class="text-center">
                        @if (item.UserName == null || item.UserName == "")
                        {
                        <input type="text" class="form-control UserName_@item.NhanVienID" value="@item.UserName" placeholder="@Html.Raw(Language.GetText("tentaikhoan"))" />
                        }
                        else
                        {
                        <span>@item.UserName</span>
                        }
                    </td>
                    <td class="text-center">
                        @if (item.UserName == null || item.UserName == "")
                        {
                            <input type="text" class="form-control Password_@item.NhanVienID" value="dfs" placeholder="@Html.Raw(Language.GetText("matkhau"))" />
                        }
                        else
                        {
                            <span></span>
                        }
                    </td>
                    <td class="text-center text-bold text-danger">
                        @if (item.UserName == null || item.UserName == "")
                        {
                        <span class="btn btn-primary" onclick="addTK('@item.NhanVienID')">@Html.Raw(Language.GetText("luu"))</span>
                        }
                    </td>
                </tr>
                i++;
                }

                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/tables/footable/footable.min.js"></script>
    <script type="text/javascript">
       //$(document).ready(function () {
            $('.n_taikhoan').on('keyup', function () {
                sumgridtable('.datatable-responsive-row-control', 'n_taikhoan', 'total', gridtable);
            });

            var gridtable = $('.datatable-responsive-row-control').DataTable({
                "ordering": false,
                responsive: false,
            });

            $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
            // Enable Select2 select for the length option
            $('.dataTables_length select').select2({
                minimumResultsForSearch: "-1"
            });
            //$('.datatable-responsive-row-control').footable();
            sumgridtable('.datatable-responsive-row-control', 'n_taikhoan', 'total', gridtable);

       // });
        function addTK(NhanVienID) {
            if (valid(NhanVienID)) {
                $.ajax({
                    url: '/QuanLyTaiKhoan/AddUserName',
                    method: "POST",
                    datatype: 'json',
                    data: {
                        NhanVienID: NhanVienID,
                        UserName: $(".UserName_" + NhanVienID).val(),
                        Password: $(".Password_" + NhanVienID).val(),
                    },
                    success: function (data) {
                        showToast(data.code, "", data.message)
                    }
                });
            }
        }

        function valid(NhanVienID) {
            console.log($(".UserName_" + NhanVienID).val());
            if ($(".UserName_" + NhanVienID).val() == "") {
                showToast("warning", GetTextLanguage("canhbao"));
                $(".UserName_" + NhanVienID).focus();
                return false;
            }
            return true;
        }

        $('.st').on('keyup', function () {
            sumgridtable('.datatable-responsive-row-control', 'st', 'total');
        });
    </script>
