﻿@model DF.DBMapping.ModelsExt.NghiepVu.VatTu.ThongTinPhieuDeNghi
@{
    var nhanvien = DFWeb.Security.CookiePersister.getAcountInfo().Roles;
}

<input type="hidden" id="SanPhamID" value="@Model.SanPhamID" />
<input type="hidden" id="DonHangID" value="@Model.DonHangID" />
<input type="hidden" id="DeNghiNguyenLieuID" value="@Model.DeNghiNguyenLieuID" />
<div>
    <div class="col-xs-6 no-padding">
        <div class="row">
            <label class="col-xs-6 text-bold">Mã đề nghị:</label>
            <p class="col-xs-6">@Model.MaDeNghi</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Đơn hàng:</label>
            <p class="col-xs-6">@Model.MaDonHang - @Model.TenDonHang</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Sản phẩm:</label>
            <p class="col-xs-6">@Model.MaSanPham - @Model.TenSanPham</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Nội dung:</label>
            <p class="col-xs-6">@Model.NoiDung</p>
        </div>
    </div>
    <div class="col-xs-6 no-padding">
        <div class="row">
            <label class="col-xs-6 text-bold">Nhân viên:</label>
            <p class="col-xs-6">@Model.TenNhanVien</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Thời gian:</label>
            <p class="col-xs-6">@Model.ThoiGian.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm")</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Trạng Thái:</label>
            <p class="col-xs-6" style="color:blue">Chưa duyệt</p>
        </div>
    </div>
    <p class="col-md-12" style="margin-top:10px;"><b>Danh sách nguyên liệu đề nghị</b></p>
    <div class="col-md-12" id="griddenghi">

    </div>
    <hr style="margin-top:5px"/>
  
    <p class="col-md-12" style="margin-top:10px;"><b>Danh sách nguyên liệu duyệt</b></p>
    <div class="col-md-12" id="gridduyet">

    </div>
  
    <div class="col-xs-12" style="padding-top:10px;text-align:right">
        <div class="form-group" style="padding-right:10px;">
            @if (nhanvien.Any(p => p == "2")) {
                <button class="btn btn-success" id="duyetdenghi">Duyệt</button>
            }
            @if (nhanvien.Any(p => p == "4")) { 
                <button class="btn btn-danger" id="huydenghi">Từ chối</button>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#griddenghi").kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/DeNghiNguyenLieu/LayDanhSachNguyenLieuDuocDeNghi?DeNghiNguyenLieuID=" + $("#DeNghiNguyenLieuID").val(),
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",

                    }
                },
                sort: [{ field: "TenNguyenLieu", dir: "asc" }],
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        id: "NguyenLieuID",
                        fields: {
                            NguyenLieuID: { type: "string" },
                            TenNguyenLieu: { type: "string", editable: false },
                            MaNguyenLieu: { type: "string", editable: false },
                            TenDonVi: { type: "string", editable: false },
                            SoLuong: { type: "number" },
                        }
                    }
                },
                change: function (e) {
                    var data = this.data();
                }
            }),
            sortable: true,
            resizable: true,
            width: "100%",
            dataBound: function () {
                var datas2 = this._data;
                for (var i = 0; i < datas2.length; i++) {
                    if (datas2[i].DinhMuc < datas2[i].SoLuong + datas2[i].SoLuongNhap) {
                        $(".message").text("nguyên liệu đã vượt quá định mức");
                    }

                }
            },
            columns: [
                {
                    field: "TenNguyenLieu", title: "Tên nguyên liệu",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    width: 200
                },
                {
                    field: "MaNguyenLieu",
                    title: "Mã nguyên liệu",
                    width: 200,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "TenDonVi",
                    title: GetTextLanguage("donvi"),
                    width: 100,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "SoLuongTon",
                    width: 100,
                    title: "Tồn(Kho Tổng)",
                    format: "{0:n2}",
                    attributes: { "style": "font-weight:bold;text-align:right !important;" },
                    filterable: FilterInColumn,
                },
                {
                    field: "SoLuong",
                    width: 100,
                    title: "Số lượng đề nghị",
                    format: "{0:n2}",
                    attributes: {
                        "class": "soluongcheck",
                        "style": "font-weight:bold;text-align:right !important;"
                    },
                    filterable: FilterInColumn,
                },

            ],
            
        });

        


        $("#gridduyet").kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/DeNghiNguyenLieu/LayDanhSachNguyenLieuDuocDeNghi?DeNghiNguyenLieuID=" + $("#DeNghiNguyenLieuID").val(),
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",

                    }
                },
                sort: [{ field: "SoLuong", dir: "desc" }],
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        id: "NguyenLieuID",
                        fields: {
                            NguyenLieuID: {type: "string"},
                            TenNguyenLieu: {type: "string",editable: false},
                            MaNguyenLieu: { type: "string",editable: false},
                            TenDonVi: {type: "string",editable: false},
                            SoLuong: {type: "number"},
                        }
                    }
                },
                change: function (e) {
                    var data = this.data();
                }
            }),
            filterable: {
                mode: "row"
            },
            sortable: true,
            resizable: true,
            editable: true,
            width: "100%",
            columns: [
                {
                    field: "TenNguyenLieu", title: "Tên nguyên liệu",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    width: 200
                },
                {
                    field: "MaNguyenLieu",
                    title: "Mã nguyên liệu",
                    width: 200,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "TenDonVi",
                    title: GetTextLanguage("donvi"),
                    width: 200,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                 {
                     field: "SoLuongTon",
                     width: 100,
                     title: "Tồn(Kho Tổng)",
                     format: "{0:n2}",
                     attributes: { "style": "font-weight:bold;text-align:right !important;" },
                     filterable: FilterInColumn,
                 },
                {
                    field: "SoLuong",
                    width: 100,
                    title: GetTextLanguage("soluong"),
                    format: "{0:n2}",
                    attributes: {
                        "class": "soluongcheck",
                        "style": "font-weight:bold;text-align:right !important;"
                    },
                    filterable: FilterInColumn,
                    editor: function (container, options) {
                        rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                        var input = $('<input type="text" data-v-min="1" data-v-max="' + options.model.SoLuong + '" style="width:75%;height:15px;" class="form-control" id="' + options.model.get("NguyenLieuID") + '" name="SoLuong" />');
                        input.appendTo(container);
                        input.autoNumeric(autoNumericOptionsSoLuong);
                    },
                },

            ],
            
        });
        $("#duyetdenghi").on("click", function () {
            //if ($("#NoiDung").val() == "") {
            //    showToast("warning", "", "Vui lòng nhập nội dung");
            //    return false;
            //}
            var objectData = {
                SanPhamID: $("#SanPhamID").val(),
                DonHangID: $("#DonHangID").val(),
                DeNghiNguyenLieuID: $("#DeNghiNguyenLieuID").val(),
                //NoiDung: $("#NoiDung").val(),
                items: []
            }
            var datas = $("#gridduyet").data("kendoGrid").dataSource.data();
            var check = false;
            for (var i = 0; i < datas.length; i++) {
                if (datas[i].SoLuong > 0) {
                    check = true;
                    var a = {
                        NguyenLieuID: datas[i].NguyenLieuID,
                        SoLuong: datas[i].SoLuong
                    };
                    objectData.items.push(a);
                }
            }
            if (!check) {
                showToast("warning", "", "Vui nhập số lượng để đề nghị nguyên liệu");
                return false;
            }
            ContentWatingOP("mdlChiTiet", 0.9);

            $.ajax({
                url: "/DeNghiNguyenLieu/DuyetDeNghi",
                method: "post",
                data: { data: JSON.stringify(objectData) },
                success: function (data2) {
                    showToast(data2.code, "", data2.message);
                    if (data2.code == "success") {
                        setTimeout(function () {
                            $("#ThemDeNghi").unblock();
                            $("#grid").data("kendoGrid").dataSource.read();
                            $("#grid").data("kendoGrid").refresh();
                            closeModel("mdlChiTiet");
                        }, 1000);
                    }
                }
            });
        });
        $("#huydenghi").on("click", function () {
            if (confirm("Bạn chắc chắn muốn từ chối")) {
                //if ($("#NoiDung").val() == "") {
                //    showToast("warning", "", "Vui lòng nhập nội dung");
                //    return false;
                //}
                var objectData = {
                    SanPhamID: $("#SanPhamID").val(),
                    DonHangID: $("#DonHangID").val(),
                    DeNghiNguyenLieuID: $("#DeNghiNguyenLieuID").val(),
                    //NoiDung: $("#NoiDung").val(),
                    items: []
                }
                ContentWatingOP("mdlChiTiet", 0.9);

                $.ajax({
                    url: "/DeNghiNguyenLieu/TuChoi",
                    method: "post",
                    data: { data: JSON.stringify(objectData) },
                    success: function (data2) {
                        showToast(data2.code, "", data2.message);
                        if (data2.code == "success") {
                            setTimeout(function () {
                                $("#ThemDeNghi").unblock();
                                $("#grid").data("kendoGrid").dataSource.read();
                                $("#grid").data("kendoGrid").refresh();
                                closeModel("mdlChiTiet");
                            }, 1000);
                        }
                    }
                });
            }
            
        });
       
    });
</script>