﻿@using DF.DataAccess
@using DFWeb.Security
@{
    Layout = null;          
}

<style>
    .btn-trangthai{
        display:block;
        padding:2px !important;
    }
    .btn-trangthai-1 {
        background: #5d947b !important;
        color: white !important;
    }
    .btn-trangthai-2 {
        background: #bbce6a;
        color: white;
    }
    .btn-trangthai-3 {
        background: #859a2c;
        color: white;
    }
    .btn-trangthai-4 {
        background: #3bb1b1;
        color: white;
    }
    .btn-trangthai-5 {
        background: #087b7b;
        color: white;
    }
    .btn-trangthai-8 {
        background: #00bcd4;
        color: white;
    }
</style>
<script type="text/x-kendo-template" id="templtool">
    <div class="row text-left">
        <div class="col-xs-10 no-padding">
            <div class="form-group  col-xs-3" style="padding:5px">
                <label for="inputTrangThai" style="text-align:right">Trạng thái</label>
                <div class="input-group" style="width: 100% !important">
                    <input id="inputTrangThai" class="form-control text-left" style="width: 100% !important" required />
                </div>
            </div>
            <div class="form-group col-xs-3 filter-hoadon" style="padding:5px">
                <label for="inputDonHangID" style="text-align:right">Đơn hàng</label>
                <div class="input-group" style="width: 100% !important">
                    <input id="inputDonHangID" class="form-control text-left" style="width: 100% !important" required />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" style="padding: 8px 11px 8px;"><i class="icon-grid52"></i></button>
                    </span>
                </div>
            </div>
            <label class="hidden">
                Sản phẩm
                <input type="text" id="inputSanPhamID" />
            </label>
            <div class="form-group col-xs-2" style="padding:5px">
                <label for="inputTuNgay" style="text-align:right">Từ ngày</label>
                <div class="input-group" style="width:100%">
                    <input id="inputTuNgay" class="text-left" style="width: 100% !important" required />
                </div>
            </div>
            <div class="form-group col-xs-2" style="padding:5px">
                <label for="inputDenNgay" style="text-align:right">Đến ngày</label>
                <div class="input-group" style="width: 100% !important">
                    <input id="inputDenNgay" class="text-left" style="width:100% !important" required />
                </div>
            </div>
        </div>
        <div class="col-xs-2 no-padding">
            <div class="form-group text-right" style="padding:5px">
                <label for="inputDenNgay" style="text-align:right">&nbsp;</label>
                <div class="input-group" style="width: 100% !important">
                    <a class="k-button k-button-icontext k-grid-add" href="javascript:void(0)"><span class="k-icon k-i-add"></span>Tạo đề nghị</a>
                </div>
            </div>
        </div>
    </div>
   
    <div style="clear:both"></div>
</script>
<div class="content">
    <div id="grid">

    </div>
</div>

<script type="text/x-kendo-template" id="tempTrangThai">
    # if(TrangThai == 1) { #
    <span class="btn btn-trangthai btn-default" >Chưa duyệt</span>
    # } #
    # if(TrangThai == 2) { #
    <span class="btn btn-trangthai btn-trangthai-1 btn-default">Đã duyệt</span>
    # } #
   
    # if(TrangThai == 3) { #
    <span class="btn btn-trangthai btn-trangthai-8 btn-default">
        Đã Xuất
    </span>
    # } #
    # if(TrangThai == 4) { #
    <span class="btn  btn-trangthai btn-danger">Đã từ chối</span>
    # } #
    # if(TrangThai == 5) { #
    <span class="btn  btn-trangthai btn-success">Đã xong</span>
    # } #
</script>
<div id="mdlChiTiet">

</div>
<script src="~/Scripts/NghiepVu/DeNghi/DeNghiNguyenLieu.js"></script>


<script id="SanPhamTemplateHeader" type="text/x-kendo-template">
    <div class="dropdown-header k-widget k-header">
        <table class="table sanphamtbl">
            <thead>
                <tr style="padding:0px;">
                    <th style="padding: 5px !important; border-bottom: none !important; width:70px; ">Ảnh</th>
                    <th style="padding: 5px !important; border-bottom: none !important; width:25%; ">Mã sản phẩm</th>
                    <th style="padding: 5px !important; border-bottom: none !important; width: 25%; ">Tên sản phẩm</th>
                </tr>
            </thead>
        </table>
    </div>
</script>
<script id="SanPhamValueTemplateHeader" type="text/x-kendo-template">
    <div>
        <table class="table">
            <tbody>
                <tr style="margin-top:5px;">
                    <td style="border-top: none !important; width: 50%;color:red;">#:data.MaSanPham#</td>
                    <td style="border-top: none !important; width: 50%;color:green;">#:data.TenSanPham#</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
<script id="SanPhamTemplate" type="text/x-kendo-template">
    <table class="table sanphamtbl" style="padding-top:5px;padding-bottom:5px;">
        <tbody>
            <tr>
                <td style="width: 70px"><img width="50" height="50" src="/center/Upload/ImageQLVT/${AnhDaiDien}" /></td>
                <td style="width: 25%">${MaSanPham}</td>
                <td style="width:25%">${TenSanPham}</td>

            </tr>
        </tbody>
    </table>
</script>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
