﻿
<style>
    .sanphamtbl .table tr:hover {
        background: none !important;
    }
    .sanphamtbl .table tr td:first-child, .sanphamtbl .table tr th:first-child {
        width: 70px !important;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label>Nội dung</label>
            <textarea id="NoiDung" type="text" class="form-control" name="NoiDung" placeholder="Nhập vào nội dung" style="box-sizing:border-box" rows="2" cols="50" tabindex="6"></textarea>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <div class="input-group col-md-12">
                <input id="DonHangID" type="text" style="width:100% !important" />
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <div class="input-group col-md-12">
                <input id="SanPhamID" type="text" style="width:100% !important" />
            </div>
        </div>
    </div>
    <p class="col-md-12" style="color:red"> Click vào cột số lượng để nhập số lượng nguyên liệu cần đề nghị</p>
    <div class="col-md-12" id="griddanhsachNguyenLieu">

    </div>
    <div class="col-xs-12 text-right" style="margin-top:10px !important;">
        <div class="form-group">
            <button class="btn btn-warning btn-lg" id="ThemDeNghi">Đề nghị</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    $("#SanPhamID").kendoDropDownList({
            filter: "contains",
            dataTextField: "TextHienThi",
            dataValueField: "SanPhamID",
            optionLabel: "Chọn sản phẩm",
            headerTemplate: kendo.template($("#SanPhamTemplateHeader").html()),
            template: kendo.template($("#SanPhamTemplate").html()),
            valueTemplate: kendo.template($("#SanPhamValueTemplateHeader").html()),
            dataSource: getDataDroplitwithParam("/DeNghiNguyenLieu", "/LayDanhSachSanPhamByNhanVien", {}),
    });
    $("#DonHangID").kendoDropDownList({
        filter: "contains",
        dataTextField: "TextHienThi",
        dataValueField: "DonHangID",
        optionLabel: "Chọn đơn hàng",
        headerTemplate: kendo.template($("#HoaDonTemplateHeader").html()),
        template: kendo.template($("#HoaDonTemplate").html()),
        valueTemplate: kendo.template($("#HoaDonValueTemplateHeader").html()),
        dataSource: getDataDroplitwithParam("/DeNghiNguyenLieu", "/LayDanhSachDonHangByNhanVien", {}),
        change: function (e) {
            var value = this.value();
            $("#SanPhamID").data("kendoDropDownList").dataSource.read({ DonHangID: value });
        }
    });
    
    $("#griddanhsachNguyenLieu").kendoGrid({
        dataSource: new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/DeNghiNguyenLieu/GetAllDataNguyenLieu",
                    dataType: "json",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    
                }
            },
            sort: [{ field: "SoLuong", dir: "desc" }],
            schema: {
                data: "data",
                total: "total",
                model: {
                    id: "NguyenLieuID",
                    fields: {
                        AnhDaiDien: {
                            editable: false
                        },
                        NguyenLieuID: {
                            type: "string"
                        },
                        Chon: {
                            type: "boolean",
                            editable: false
                        },
                        TenNguyenLieu: {
                            type: "string",
                            editable: false
                        },
                        MaNguyenLieu: {
                            type: "string",
                            editable: false
                        },
                        TenDonVi: {
                            type: "string",
                            editable: false
                        },
                        SoLuong: {
                            type: "number"
                        },

                    }
                }
            },
            change: function (e) {
                var data = this.data();
            }
        }),
        filterable: {
            mode: "row"
        },
        sortable: true,
        resizable: true,
        editable: true,
        height: innerHeight * 0.75,
        width: "100%",
        dataBound: function (e) {
            showslideimg10();
        },
        columns: [
             {
                 field: "AnhDaiDien", title: "Ảnh",
                 attributes: { style: "text-align:left;" },
                 filterable: FilterInTextColumn,
                 template: kendo.template($("#tplAnh").html()),
                 width: 70
             },
            {
                field: "TenNguyenLieu", title: "Tên nguyện liệu",
                attributes: { style: "text-align:left;" },
                filterable: FilterInTextColumn,
                width: 200
            },
            {
                field: "MaNguyenLieu",
                title: "Mã Nguyên Liệu",
                width: 200,
                attributes: { "style": "text-align:left !important;" },
                filterable: FilterInTextColumn
            },
            {
                field: "TenDonVi",
                title: GetTextLanguage("donvi"),
                width: 200,
                attributes: { "style": "text-align:left !important;" },
                filterable: FilterInTextColumn
            },
            {
                field: "SoLuong",
                width: 100,
                title: GetTextLanguage("soluong"),
                format: "{0:n2}",
                attributes: {
                    "class": "soluongcheck",
                    "style": "font-weight:bold;text-align:right !important;"
                },
                filterable: FilterInColumn,
                editor: function (container, options) {
                    rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                    var input = $('<input type="text" data-v-min="1" style="width:75%;height:15px;" class="form-control" id="' + options.model.get("NguyenLieuID") + '" name="SoLuong" />');
                    input.appendTo(container);
                    input.autoNumeric(autoNumericOptionsSoLuong);
                },
            },
            
        ],
        save: function (e) {
            $("#griddanhsachNguyenLieu").data("kendoGrid").dataSource.sort({ field: "SoLuong", dir: "desc" });
        }
    });
    $("#ThemDeNghi").on("click", function () {
     
        if ($("#DonHangID").val() == "") {
            showToast("warning", "", "Vui lòng chọn đơn hàng đề nghị");
            return false;
        }
        if ($("#SanPhamID").val() == "") {
            showToast("warning", "", "Vui lòng chọn sản phẩm đề nghị");
            return false;
        }
        if ($("#NoiDung").val() == "") {
            showToast("warning", "", "Vui lòng nhập nội dung");
            return false;
        }
        var objectData = {
            SanPhamID: $("#SanPhamID").val(),
            DonHangID: $("#DonHangID").val(),
            NoiDung: $("#NoiDung").val(),
            items:[]
        }
        var datas = $("#griddanhsachNguyenLieu").data("kendoGrid").dataSource.data();
        var check = false;
        for (var i = 0; i < datas.length; i++) {
            if (datas[i].SoLuong > 0) {
                check = true;
                var a = {
                    NguyenLieuID: datas[i].NguyenLieuID,
                    SoLuong: datas[i].SoLuong
                };
                objectData.items.push(a);
            }
        }
        if (!check) {
            showToast("warning", "", "Vui nhập số lượng để đề nghị nguyên liệu");
            return false;
        }
        ContentWatingOP("mdlChiTiet", 0.9);
       
        $.ajax({
            url: "/DeNghiNguyenLieu/TaoDeNghi",
            method: "post",
            data: { data: JSON.stringify(objectData) },
            success: function (data2) {
                showToast(data2.code, "", data2.message);
                if (data2.code == "success") {
                    setTimeout(function () {
                        $("#ThemDeNghi").unblock();
                        $("#grid").data("kendoGrid").dataSource.read();
                        $("#grid").data("kendoGrid").refresh();
                        closeModel("mdlChiTiet");
                    }, 1000);
                }
            }
        });
    });

});
</script>