﻿@model DF.DBMapping.ModelsExt.NghiepVu.VatTu.ThongTinPhieuDeNghi
@{
    var lichsu = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<DF.DBMapping.ModelsExt.NghiepVu.QuanLyDuAn.LichSuDeNghiModel>>(Model.LichSuDeNghi);
}
<input type="hidden" id="SanPhamID" value="@Model.SanPhamID" />
<input type="hidden" id="DonHangID" value="@Model.DonHangID" />
<input type="hidden" id="DeNghiNguyenLieuID" value="@Model.DeNghiNguyenLieuID" />
<div>
    <div class="col-xs-6 no-padding">
        <div class="row">
            <label class="col-xs-6 text-bold">Mã đề nghị:</label>
            <p class="col-xs-6">@Model.MaDeNghi</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Đơn hàng:</label>
            <p class="col-xs-6">@Model.MaDonHang - @Model.TenDonHang</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Sản phẩm:</label>
            <p class="col-xs-6">@Model.MaSanPham - @Model.TenSanPham</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Nội dung:</label>
            <p class="col-xs-6">@Model.NoiDung</p>
        </div>
    </div>
    <div class="col-xs-6 no-padding">
        <div class="row">
            <label class="col-xs-6 text-bold">Nhân viên:</label>
            <p class="col-xs-6">@Model.TenNhanVien</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Thời gian:</label>
            <p class="col-xs-6">@Model.ThoiGian.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm")</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Trạng Thái:</label>
            <p class="col-xs-6" style="color:red">Từ chối ( @lichsu.LastOrDefault().TenNhanVien - @lichsu.LastOrDefault().ThoiGian )</p>
        </div>
    </div>
    <p class="col-md-12" style="margin-top:10px;"><b>Danh sách nguyên liệu đề nghị</b></p>
    <div class="col-md-12" id="griddenghi">

    </div>

    <div class="col-xs-12" style="margin-top:5px">
        <div class="form-group">
            <div class="input-group col-md-12" style="padding-right:10px">
                <input class="form-control" id="NoiDung" type="text" placeholder="Nội dung" value="@Model.NoiDungTuChoi" disabled  />
            </div>
        </div>
    </div>
   
</div>
<script>
    $(document).ready(function () {

        $("#griddenghi").kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/DeNghiVatTu/LayDanhSachVatTuDuocDeNghi?DeNghiCongTrinhID=" + $("#DeNghiCongTrinhID").val(),
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",

                    }
                },
                sort: [{ field: "TenNguyenLieu", dir: "asc" }],
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        id: "VatTuID",
                        fields: {
                            VatTuID: { type: "string" },
                            TenNguyenLieu: { type: "string", editable: false },
                            MaNguyenLieu: { type: "string", editable: false },
                            TenDonVi: { type: "string", editable: false },
                            SoLuong: { type: "number" },
                        }
                    }
                },
                change: function (e) {
                    var data = this.data();
                }
            }),
            sortable: true,
            resizable: true,
            width: "100%",
            columns: [
                {
                    field: "TenNguyenLieu", title: "",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    width: 200
                },
                {
                    field: "MaNguyenLieu",
                    title: "Mã nguyên liệu",
                    width: 200,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "TenDonVi",
                    title: GetTextLanguage("donvi"),
                    width: 100,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "DinhMuc",
                    width: 100,
                    title: "Định mức",
                    format: "{0:n2}",
                    attributes: { "style": "font-weight:bold;text-align:right !important;" },
                    filterable: FilterInColumn,
                },
                {
                    field: "Ton",
                    width: 100,
                    title: "Tồn(Kho Tổng)",
                    format: "{0:n2}",
                    attributes: { "style": "font-weight:bold;text-align:right !important;" },
                    filterable: FilterInColumn,
                },
                  {
                      field: "TonKhoDonVi",
                      width: 100,
                      title: "Tồn(Tại Kho)",
                      format: "{0:n2}",
                      attributes: { "style": "font-weight:bold;text-align:right !important;" },
                      filterable: FilterInColumn,
                  },
                   {
                       field: "SoLuongNhap",
                       width: 100,
                       title: "Số lượng đã nhập",
                       format: "{0:n2}",
                       attributes: { "style": "font-weight:bold;text-align:right !important;" },
                       filterable: FilterInColumn,
                   },
                {
                    field: "SoLuong",
                    width: 100,
                    title: "Số lượng đề nghị",
                    format: "{0:n2}",
                    attributes: {
                        "class": "soluongcheck",
                        "style": "font-weight:bold;text-align:right !important;"
                    },
                    filterable: FilterInColumn,
                },

            ],

        });
    });
</script>