﻿@model DF.DBMapping.ModelsExt.NghiepVu.VatTu.ThongTinPhieuDeNghi
 @{
   var urlimg = "/center/Upload/ImageQLVT/";
   var lichsu = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<List<DF.DBMapping.ModelsExt.NghiepVu.QuanLyDuAn.LichSuDeNghiModel>>(Model.LichSuDeNghi);
   var nhanvien = DFWeb.Security.CookiePersister.getAcountInfo().Roles;

}
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Content/lib/fncUploadFile.js"></script>

<input type="hidden" id="SanPhamID" value="@Model.SanPhamID" />
<input type="hidden" id="DonHangID" value="@Model.DonHangID" />
<input type="hidden" id="DeNghiNguyenLieuID" value="@Model.DeNghiNguyenLieuID" />

<div>
    <div class="col-xs-6 no-padding">
        <div class="row">
            <label class="col-xs-6 text-bold">Mã đề nghị:</label>
            <p class="col-xs-6">@Model.MaDeNghi</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Đơn hàng:</label>
            <p class="col-xs-6">@Model.MaDonHang - @Model.TenDonHang</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Sản phẩm:</label>
            <p class="col-xs-6">@Model.MaSanPham - @Model.TenSanPham</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Nội dung:</label>
            <p class="col-xs-6">@Model.NoiDung</p>
        </div>
    </div>
    <div class="col-xs-6 no-padding">
        <div class="row">
            <label class="col-xs-6 text-bold">Nhân viên:</label>
            <p class="col-xs-6">@Model.TenNhanVien</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Thời gian:</label>
            <p class="col-xs-6">@Model.ThoiGian.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm")</p>
        </div>
        <div class="row">
            <label class="col-xs-6 text-bold">Trạng Thái:</label>
            <p class="col-xs-6">Đã duyệt</p>
        </div>
    </div>
    <p class="col-md-12" style="margin-top:10px;"><b>Danh sách nguyên liệu đề nghị</b></p>
    <div class="col-md-12" id="griddenghi">

    </div>
    <hr style="margin-top:5px" />

    <p class="col-md-12" style="margin-top:10px;"><b>Danh sách nguyên liệu duyệt (@lichsu.FirstOrDefault(p => p.TrangThai == 2).TenNhanVien - @lichsu.FirstOrDefault(p => p.TrangThai == 2).ThoiGian)</b></p>
    <div class="col-md-12" id="gridduyet">

    </div>
    <div id="boxnguyenlieudaxuat">

    </div>
    <div id="box-xuat">
        <p class="col-md-12" style="margin-top:10px;"><b>Danh sách nguyên liệu sẽ xuất</b></p>
        <div id="gridxuat" class="col-md-12">

        </div>
    </div>
    @if (nhanvien.Any(p => p == "8"))
    {
        <div class="col-xs-12" style="padding-top:10px;text-align:right">
            <div class="form-group" style="padding-right:10px;">
                <button class="btn btn-success" id="xuatNguyenLieu">Xuất nguyên liệu</button>
            </div>
        </div>
    }
</div>
<script>
    function getNoidungGroupLichSuNhap3(value) {
        var datasource = $("#gridxuat").data("kendoGrid").dataSource;
        var result;
        $(datasource.view()).each(function (index, element) {
            if (element.value === value) {
                var group = element.items;
                for (var i = 0; i < group.length; i++) {
                    if (i === 0) result = group[0].NoiDung;
                    else {
                        if (group[i].NoiDung !== group[i - 1].NoiDung) {
                            result += " & " + group[i].NoiDung;
                        }
                    }
                }
            }
        });
        return result;
    };
    $(document).ready(function () {

        $("#griddenghi").kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/DeNghiNguyenLieu/LayDanhSachNguyenLieuDuocDeNghi?DeNghiNguyenLieuID=" + $("#DeNghiNguyenLieuID").val(),
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",

                    }
                },
                sort: [{ field: "TenNguyenLieu", dir: "asc" }],
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        id: "NguyenLieuID",
                        fields: {
                            NguyenLieuID: { type: "string" },
                            TenNguyenLieu: { type: "string", editable: false },
                            MaNguyenLieu: { type: "string", editable: false },
                            TenDonVi: { type: "string", editable: false },
                            AnhDaiDien: {
                                editable: false
                            },
                            SoLuong: { type: "number" },
                        }
                    }
                },
                change: function (e) {
                    var data = this.data();
                }
            }),
            sortable: true,
            dataBound: function (e) {
                showslideimg10();
            },
            resizable: true,
            width: "100%",
            columns: [
                 {
                     field: "AnhDaiDien", title: "Ảnh",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplAnh").html()),
                     width: 70
                 },
                {
                    field: "TenNguyenLieu", title: "Tên Nguyên liệu",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    width: 200
                },
                {
                    field: "MaNguyenLieu",
                    title: "Mã nguyên liệu",
                    width: 200,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "TenDonVi",
                    title: GetTextLanguage("donvi"),
                    width: 100,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
               
                {
                    field: "SoLuongTon",
                    width: 100,
                    title: "Tồn(Kho Tổng)",
                    format: "{0:n2}",
                    attributes: { "style": "font-weight:bold;text-align:right !important;" },
                    filterable: FilterInColumn,
                },
                {
                    field: "SoLuong",
                    width: 100,
                    title: "Số lượng đề nghị",
                    format: "{0:n2}",
                    attributes: {
                        "class": "soluongcheck",
                        "style": "font-weight:bold;text-align:right !important;"
                    },
                    filterable: FilterInColumn,
                },

            ],

        });

        $("#gridduyet").kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/DeNghiNguyenLieu/LayDanhSachDuyetDeNghiNguyenLieu?DeNghiNguyenLieuID=" + $("#DeNghiNguyenLieuID").val(),
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",

                    }
                },
                sort: [{ field: "TenNguyenLieu", dir: "asc" }],
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        id: "NguyenLieuID",
                        fields: {
                            NguyenLieuID: { type: "string" },
                            TenNguyenLieu: { type: "string", editable: false },
                            MaNguyenLieu: { type: "string", editable: false },
                            TenDonVi: { type: "string", editable: false },
                            dataBound: function (e) {
                                showslideimg10();
                            },
                            AnhDaiDien: {
                                editable: false
                            },
                            SoLuong: { type: "number" },
                        }
                    }
                },
                change: function (e) {
                    var data = this.data();
                }
            }),
            sortable: true,
            resizable: true,
            width: "100%",
            dataBound: function (e) {
                showslideimg10();
            },
            columns: [
                 {
                     field: "AnhDaiDien", title: "Ảnh",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplAnh").html()),
                     width: 70
                 },
                {
                    field: "TenNguyenLieu", title: "Tên nguyên liệu",
                    attributes: { style: "text-align:left;" },
                    filterable: FilterInTextColumn,
                    width: 200
                },
                {
                    field: "MaNguyenLieu",
                    title: "Mã nguyên liệu",
                    width: 200,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                {
                    field: "TenDonVi",
                    title: GetTextLanguage("donvi"),
                    width: 100,
                    attributes: { "style": "text-align:left !important;" },
                    filterable: FilterInTextColumn
                },
                  {
                      field: "SoLuongTon",
                      width: 100,
                      title: "Tồn(Kho Tổng)",
                      format: "{0:n2}",
                      attributes: { "style": "font-weight:bold;text-align:right !important;" },
                      filterable: FilterInColumn,
                  },
                {
                    field: "SoLuongDuyet",
                    width: 100,
                    title: GetTextLanguage("soluong"),
                    format: "{0:n2}",
                    attributes: {
                        "class": "soluongcheck",
                        "style": "font-weight:bold;text-align:right !important;"
                    },
                    filterable: FilterInColumn,
                },

            ],

        });
        $.ajax({
            url: "/DeNghiNguyenLieu/LayDanhSachNguyenLieuDaXuat?DeNghiNguyenLieuID=" + $("#DeNghiNguyenLieuID").val(),
            method: "GET",
            success: function (data) {
                var LanXuat = [];
                LanXuat.push(data.data[0]);
                var daco=false;
                for (var i = 1; i < data.data.length; i++) {
                    for (var j = 0; j > LanXuat.length; j++) {
                        if (LanXuat[j].PhieuXuatNguyenLieuID == data.data[i].PhieuXuatNguyenLieuID) {
                            daco = true;
                        }
                    }
                    if (!daco) {
                        LanXuat.push(data.data[i]);
                    }
                }
                for (var i = 0; i < LanXuat.length; i++) {
                    var lstsp = [];
                    for (var j = 0; j < data.data.length; j++) {
                        if (data.data[j].PhieuXuatNguyenLieuID == LanXuat[i].PhieuXuatNguyenLieuID) {
                            lstsp.push(data.data[j]);
                        }
                    }
                    var txt = '<p class="col-md-12" style="margin-top:10px;"><b>Danh sách nguyên liệu xuất ('+LanXuat[i].TenNhanVien+' - '+LanXuat[i].ThoiGian+')</b></p>';
                    txt +='<div class="col-md-12" id="gridxuat-'+i+'"></div>';
                    $("#boxnguyenlieudaxuat").append(txt);
                    $("#gridxuat-"+i).kendoGrid({
                        dataSource: new kendo.data.DataSource({
                            data: lstsp,
                            sort: [{ field: "TenNguyenLieu", dir: "desc" }],
                            schema: {
                                model: {
                                    id: "NguyenLieuID",
                                    fields: {
                                        TenNguyenLieu: { type: "string", editable: false },
                                        MaNguyenLieu: { type: "string", editable: false },
                                        TenDonVi: { type: "string", editable: false },
                                        SoLuong: { type: "number", editable: true },
                                        SoLuongTon: { type: "number", editable: false },
                                        AnhDaiDien: {editable: false},
                                        DonGia: { editable: false },
                                        GhiChu: { type: "string", editable: false },
                                    }
                                }
                            },
                            change: function (e) {
                                var data = this.data();
                            }
                        }),
                        filterable: {
                            mode: "row"
                        },
                        sortable: true,
                        resizable: true,

                        //editable: true,
                        width: "100%",
                        columns: [
                            {
                                title: GetTextLanguage("stt"),
                                template: "<span class='stt'></span>",
                                width: 60,
                                align: "center"
                            },
                             {
                                 field: "AnhDaiDien", title: "Ảnh",
                                 attributes: { style: "text-align:left;" },
                                 filterable: FilterInTextColumn,
                                 template: kendo.template($("#tplAnh").html()),
                                 width: 70
                             },
                            {
                                field: "TenNguyenLieu", title: "Tên nguyên liệu", attributes: { "style": "text-align:left !important;" }, filterable: FilterInTextColumn, width: 200
                            },
                            {
                                field: "MaNguyenLieu", title: "Mã nguyên liệu", attributes: { "style": "text-align:left !important;" }, filterable: FilterInColumn, width: 150
                            },
                            {
                                field: "TenDonVi", title: GetTextLanguage("tendonvi"), attributes: { "style": "text-align:left !important;" }, filterable: FilterInTextColumn, width: 100
                            },
                            {
                                field: "SoLuongTon",
                                width: 100,
                                title: "Tồn(Kho Tổng)",
                                format: "{0:n2}",
                                attributes: { "style": "font-weight:bold;text-align:right !important;" },
                                filterable: FilterInColumn,
                            },
                             {
                                 field: "SoLuong",
                                 width: 100,
                                 title: GetTextLanguage("soluong"),
                                 format: "{0:n2}",
                                 filterable: FilterInColumn,
                                 attributes: {
                                     "class": "soluongcheck",
                                     "style": "font-weight:bold;text-align:right !important;"
                                 },
                             },


                        ],
                        dataBound: function (e) {
                            var rows = this.items();
                            showslideimg10();
                            var dem = 0;
                            $(rows).each(function () {
                                dem++;
                                var rowLabel = $(this).find(".stt");
                                $(rowLabel).html(dem);
                                if (this.nextElementSibling !== null && this.nextElementSibling.className === "k-grouping-row") {
                                    dem = 0;
                                }
                            });
                        },
                      
                    });
                }
            }
        })
       
        var datas = $("#gridduyet").data("kendoGrid").dataSource.data();
        $("#gridxuat").kendoGrid({
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/DeNghiNguyenLieu/LayDanhSachNguyenLieuConDeXuat?DeNghiNguyenLieuID=" + $("#DeNghiNguyenLieuID").val(),
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",

                    }
                },
                sort: [{ field: "TenNguyenLieu", dir: "desc" }],
                schema: {
                    data: "data",
                    total: "total",
                    model: {
                        id: "NguyenLieuID",
                        fields: {
                            TenNguyenLieu: { type: "string", editable: false },
                            MaNguyenLieu: { type: "string", editable: false },
                            TenDonVi: { type: "string", editable: false },
                            SoLuong: { type: "number", editable: true },
                            SoLuongTon: { type: "number", editable: false },
                            AnhDaiDien: { editable: false},
                            DonGia: {  editable: false },
                            GhiChu: { type: "string", editable: false },
                        }
                    }
                },
                change: function (e) {
                    var data = this.data();
                }
            }),
            filterable: {
                mode: "row"
            },
            sortable: true,
            resizable: true,
            editable: true,
            width: "100%",
            columns: [
                {
                    title: GetTextLanguage("stt"),
                    template: "<span class='stt'></span>",
                    width: 60,
                    align: "center"
                },
                 {
                     field: "AnhDaiDien", title: "Ảnh",
                     attributes: { style: "text-align:left;" },
                     filterable: FilterInTextColumn,
                     template: kendo.template($("#tplAnh").html()),
                     width: 70
                 },
                {
                    field: "TenNguyenLieu", title: "Tên nguyên liệu", attributes: { "style": "text-align:left !important;" }, filterable: FilterInTextColumn, width: 200
                },
                {
                    field: "MaNguyenLieu", title: "Mã nguyên liệu", attributes: { "style": "text-align:left !important;" }, filterable: FilterInColumn, width: 150
                },
                {
                    field: "TenDonVi", title: GetTextLanguage("tendonvi"), attributes: { "style": "text-align:left !important;" }, filterable: FilterInTextColumn, width: 100
                },
                {
                    field: "SoLuongTon",
                    width: 100,
                    title: "Tồn(Kho Tổng)",
                    format: "{0:n2}",
                    attributes: { "style": "font-weight:bold;text-align:right !important;" },
                    filterable: FilterInColumn,
                },
                 {
                     field: "SoLuongDuyet",
                     width: 100,
                     title: GetTextLanguage("soluong"),
                     format: "{0:n2}",
                     filterable: FilterInColumn,
                     attributes: {
                         "class": "soluongcheck",
                         "style": "font-weight:bold;text-align:right !important;"
                     },
                     editor: function (container, options) {
                         rs = 'required data-required-msg="' + GetTextLanguage("khongtrong") + '"'
                         var input = $('<input type="text"  style="width:75%;height:15px;" data-v-max="' + options.model.get("SoLuongDuyet") + '" class="form-control" id="' + options.model.get("NguyenLieuID") + '" name="SoLuongDuyet" />');
                         input.appendTo(container);
                         input.autoNumeric(autoNumericOptionsSoLuong);
                     },
                 },
            ],
            save: function (e) {
                $('#gridxuat').data('kendoGrid').dataSource.data(this._data);
                $('#gridxuat').data('kendoGrid').refresh();
            },
            dataBound: function (e) {
                var rows = this.items();
                showslideimg10();
                var dem = 0;
                $(rows).each(function () {
                    dem++;
                    
                });
                if (dem == 0) {
                    $("#xuatNguyenLieu").addClass("hidden");
                    $("#box-xuat").addClass("hidden");
                }
            },
           
        });
        $("#xuatNguyenLieu").on("click", function () {
            var objectData = {
                SanPhamID: $("#SanPhamID").val(),
                DonHangID: $("#DonHangID").val(),
                DeNghiNguyenLieuID: $("#DeNghiNguyenLieuID").val(),
                items: []
            }
            var datas = $("#gridxuat").data("kendoGrid").dataSource.data();
            var check = false;
            var ckeckton = true;
            for (var i = 0; i < datas.length; i++) {
                if (datas[i].SoLuongDuyet > 0) {
                    check = true;
                    var a = {
                        NguyenLieuID: datas[i].NguyenLieuID,
                        SoLuong: datas[i].SoLuongDuyet,
                    };
                    objectData.items.push(a);
                }
                if (datas[i].SoLuongDuyet > datas[i].SoLuongTon) {
                    ckeckton = false;
                }
            }
            if (!check) {
                showToast("warning", "", "Vui nhập số lượng xuất nguyên liệu");
                return false;
            }
            else if (!ckeckton) {
                showToast("warning", "", "Số lượng xuất lớn hơn số lượng tồn");
                return false;
            }
            ContentWatingOP("mdlChiTiet", 0.9);

            $.ajax({
                url: "/DeNghiNguyenLieu/XuatNguyenLieu",
                method: "post",
                data: { data: JSON.stringify(objectData) },
                success: function (data2) {
                    showToast(data2.code, "", data2.message);
                    if (data2.code == "success") {
                        setTimeout(function () {
                            $("#mdlChiTiet").unblock();
                            $("#grid").data("kendoGrid").dataSource.read();
                            $("#grid").data("kendoGrid").refresh();
                            closeModel("mdlChiTiet");
                        }, 1000);
                    } else {
                        setTimeout(function () {
                            $("#mdlChiTiet").unblock();
                        }, 1000);
                    }
                }
            });
        });
       
    });
    var dataimg = new FormData();
    $("#mdlChiTiet #files_0").change(function () {
        for (var x = 0; x < this.files.length; x++) {
            dataimg.append("uploads", this.files[x]);
        };
        loadimgSuaChua5(this, $("#mdlChiTiet"));
        $("#mdlChiTiet #files_0").val('').clone(true);
    })
</script>