﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("quanlyvattukhodonvi"));
    ViewBag.Title_Function = @Html.Raw(Language.GetText("quanlyvattukhodonvi"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Scripts/NghiepVu/VatTu/QuanLyVatTuKhoDonVi.js"></script>



<div class="content">
    <div style="margin-bottom:10px">
        <div class="row" style="margin: 0 -10px !important;">
            <div class="col-xs-6 col-md-3">
                <div class="input-group">
                    <input id='drdCongTrinh' class="form-control" required />
                    <span class="input-group-btn">
                        <button class="btn btn-primary lst-modal" type="button" data-input="drdCongTrinh" data-val="CongTrinhID" data-all="false" data-type="CongTrinh" data-changefor='{"toobj": "drdDoiThiCong","param": "CongTrinhID", "fromobj":"drdCongTrinh"}' style="padding: 8px 11px 9px;"><i class="icon-grid52"></i></button>
                    </span>
                </div>
            </div>
            @*<div class="col-xs-6 col-md-3">
                <div class="input-group">
                    <input id='drdDoiThiCong' class="form-control" required />
                    <span class="input-group-btn">
                        <button class="btn btn-primary lst-modal" type="button" data-input="drdDoiThiCong" data-val="DoiThiCongID" data-all="false" data-type="DoiThiCong" data-refer='{"CongTrinh": "drdCongTrinh"}' style="padding: 8px 11px 9px;"><i class="icon-grid52"></i></button>
                    </span>
                </div>
            </div>*@
            <div class="clearfix"></div>
        </div>
    </div>
    <div class='row' style="margin-bottom:10px !important;">
        <div class='pull-left'>
            <button class='btn btn-warning' id='btnXuatVatTuKhoDonVi'>Xuất Điều chuyển</button>
        </div>
        <div class='pull-right'>
            <button class='btn btn-primary' id='btnLichSuNhapVatTuKhoDonVi'>Lịch Sử Nhập</button>
            <button class='btn btn-primary' id='btnLichSuXuatVatTuKhoDonVi'>Lịch Sử Xuất</button>
        </div>
    </div>
    <div id="tabstrip">
        <ul>
            <li class="k-state-active tab_tonkhosoluong">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Tồn kho số lượng
            </li>
            @*<li class="tab_tonkhotheogia">
                <i class="fa fa-history" aria-hidden="true"></i> Tồn kho theo giá
            </li>
            <li class="tab_tonkhotheophieu">
                <i class="fa fa-history" aria-hidden="true"></i> Tồn kho theo phiếu
            </li>*@
        </ul>
        <div>
            <div id="gridQuanLyVatTuKhoDonVi"></div>
        </div>
        <div>
            <div id="gridtheogia"></div>
        </div>
        <div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label>@Html.Raw(Language.GetText("tungay")) </label>
                        <div class="input-group" style="width:100%">
                            <input id="inputTuNgay5" style="width:100%" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>@Html.Raw(Language.GetText("denngay")) </label>
                        <div class="input-group" style="width:100%">
                            <input id="inputDenNgay5" style="width:100%" />
                        </div>
                    </div>
                </div>

            </div>
            <div id="gridtheophieu"></div>
        </div>
    </div>

    <div id="mdlNhapVatTuKhoDonVi"></div>

    <div id="mdlXuatVatTuKhoDonVi"></div>
</div>



<div id="mdlLichSuNhapVatTuKhoDonVi"></div>
<script type="text/x-kendo-template" id="tplLichSuNhapVatTuKhoDonVi">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group" style="margin-left: 10px;">
                <label>@Html.Raw(Language.GetText("loaihinh")) </label>
                <div class="input-group" style="width:100%">
                    <input id="ipLoaiHinhNhap" style="width:100%" />
                </div>
            </div>
         </div>
         <div class="col-md-2">
                <div class="form-group" style="margin-left: 10px;">
                    <label>@Html.Raw(Language.GetText("tungay")) </label>
                    <div class="input-group" style="width:100%">
                        <input id="inputTuNgay" style="width:100%" />
                    </div>
                </div>
          </div>
          <div class="col-md-2">
                <div class="form-group" style="margin-left: 10px;">
                    <label>@Html.Raw(Language.GetText("denngay")) </label>
                    <div class="input-group" style="width:100%">
                        <input id="inputDenNgay" style="width:100%" />
                    </div>
                </div>
           </div>
        <div class="col-md-6">
            <div class="form-group text-right">
                <label> </label>
                <div class="input-group" style="width:100%">
                    <button class="btn btn-xs btn-primary xuat-excel">@Html.Raw(Language.GetText("xuatexcel"))</button>
                </div>
            </div>
        </div>
        </div>
    
    <div id="gridLichSuNhapVatTuKhoDonVi"></div>
    <div id="mdlChiTietPhieuNhap"></div>
</script>


<div id="mdlLichSuXuatVatTuKhoDonVi"></div>
<script type="text/x-kendo-template" id="tplLichSuXuatVatTuKhoDonVi">
    <div style="margin-bottom:-10px;">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("loaihinhxuat")) </label>
                    <div class="input-group"  style="width:100%">
                        <input id="ipLoaiHinhXuat"  style="width:100%"/>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="margin-left: 10px;">
                    <label>@Html.Raw(Language.GetText("tungay")) </label>
                    <div class="input-group" style="width:100%">
                        <input id="inputTuNgay2" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group" style="margin-left: 10px;">
                    <label>@Html.Raw(Language.GetText("denngay")) </label>
                    <div class="input-group" style="width:100%">
                        <input id="inputDenNgay2" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("congtrinh"))</label>
                    <div class="input-group">
                        <input class="form-control text-left" id="ipCongTrinhDen" required />
                        <span class="input-group-btn">
                            <button class="btn btn-primary lst-modal" type="button" data-input="CongTrinhId" data-val="CongTrinhID" data-all="false" data-type="CongTrinh" data-changefor='{"toobj": "ipDoiThiCongDen","param": "ipCongTrinhDen", "fromobj":"CongTrinhId"}' style="padding: 8px 11px 9px;"><i class="icon-grid52"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            @*<div class="col-md-2">
                <div class="form-group">
                    <label>@Html.Raw(Language.GetText("doithicong"))</label>
                    <div class="input-group">
                        <input class="form-control text-left" id="ipDoiThiCongDen" required />
                        <span class="input-group-btn">
                            <button class="btn btn-primary lst-modal" type="button" data-input="ipDoiThiCongDen" data-val="DoiThiCongID" data-all="false" data-type="DoiThiCong" data-refer='{"CongTrinh": "ipCongTrinhDen"}' style="padding: 8px 11px 9px;"><i class="icon-grid52"></i></button>
                        </span>
                    </div>
                </div>
            </div>*@
            <div class="col-md-2">
                <div class="form-group text-right">
                    <label> </label>
                    <div class="input-group" style="width:100%">
                        <button class="btn btn-xs btn-primary xuat-excel">@Html.Raw(Language.GetText("xuatexcel"))</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gridLichSuXuatVatTuKhoDonVi"></div>
    <div id="mdlChiTietPhieuXuat"></div>
</script>

<script type="text/x-kendo-template" id="tplTrangThaiDuyetKhoDonVi">
    # if(TrangThaiDuyet == 0) { #
    <span class="btn btn-default btn-block no-padding">#=GetTextLanguage("chuaduyet")#</span>
    # } #
    # if(TrangThaiDuyet == 1) { #
    <span class="btn btn-success btn-block no-padding">#=GetTextLanguage("daduyet")#</span>
    # } #
    # if(TrangThaiDuyet == 2) { #
    <span class="btn btn-danger btn-block no-padding">#=GetTextLanguage("tuchoi")#</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tpllerver">
    # if(Lever == 1) { #
    <span class="btn btn-default btn-block no-padding">Nguyên liệu thô</span>
    # } #
    # if(Lever == 2) { #
    <span class="btn btn-success btn-block no-padding">Nguyên liệu qua xử lý</span>
    # } #

</script>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(DsHinhAnh)#</span>
</script>
<script type="text/x-kendo-template" id="tplTinhTrang">
    # if(TinhTrang == 2) { #
    <span class="btn btn-warning btn-block no-padding">Lỗi</span>
    # } #
    # if(TinhTrang == 3) { #
    <span class="btn btn-danger btn-block no-padding">Hỏng</span>
    # } #
    # if(TinhTrang != 2 && TinhTrang != 3) { #
    <span class="btn btn-success btn-block no-padding">Bình thường</span>
    # } #
</script>