﻿@{
    ViewBag.Title = @Html.Raw(Language.GetText("chucvu"));
    //Layout = "~/Views/Shared/_LayoutDF.cshtml";
}
<script type="text/javascript" src="~/Scripts/DanhMuc/DMChucVu.js"></script>
<div class="content">
    <div id="gridChucVu"></div>
</div>
<div id="mdlThemFileExcel">

</div>
<script type="text/x-kendo-template" id="tempImport">
    <div>
        <span class="text-center span-text"></span>
    </div>
    <button class="btn btn-warning btn-import" id="btn-xuatbotrung" data-loai="2">@Html.Raw(Language.GetText("them"))</button>
    <button class="btn btn-danger" id="huy">@Html.Raw(Language.GetText("huy"))</button>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd">
        <span class="btn btn-info btnImport"><i class="icon-plus3 position-left"></i>@Html.Raw(Language.GetText("nhaptuexcel"))</span>
        <span class="btn btn-success btnTemplate"><i class="fa fa-download position-left"></i>@Html.Raw(Language.GetText("taitapmau"))</span>
        <button id="btnAdd" class="k-button k-button-icontext k-grid-add"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
    </div>
</script>