﻿@{
    ViewBag.Title = "Quản lý đơn hàng";
    var listsize = new List<string>
    () { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "9T", "12T", "18T", "24T", "XS", "S", "M", "L", "XL", "XXL" };
}
<link href="/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="/Content/lib/fncUploadFile.js"></script>
<script src="~/Scripts/NghiepVu/QuanLyDonHang/QuanLyDonHang.js"></script>
<style>
    .k-edit-form-container {
        width: 100%;
    }

    .btn-outline-secondary {
        color: #fff !important;
        background-color: #0c7cd5 !important;
        background-image: none !important;
        border-color: #ddd !important;
    }

    .gridnguyenlieukhd .k-grid-header {
        padding: 0px !important;
    }
</style>
<div class="content">
    <div id="grid"></div>
</div>
<script type="text/x-kendo-template" id="btnThem">
    <div class="toolbarAdd row">
        <div class="pull-left">
            <label style="margin-right: 10px">Từ ngày</label><input id="TuNgay" name="TuNgay" style="margin-right: 5px" />
            <label style="margin-right: 10px">Đến ngày</label><input id="DenNgay" name="DenNgay" />
            <button id="btnTimKiem" class="btn btn-primary">Tìm kiếm</button>
        </div>
        <span class="btn btn-primary btnexcel">Xuất Excel</span> &ensp;
        <button id="btnAdd" class="btn btn-warning k-btn k-grid-add pull-right"><i class="fa fa-plus" aria-hidden="true"></i>  Thêm mới</button>
    </div>
</script>
<div id="mdlChiTietDonHang"></div>
<script type="text/x-kendo-template" id="tplChiTietDonHang">
    <div class="row" id="frmEdit">
        <div class="col-xs-3">
            <div class="row">
                <span class="btn btn-success btn-lg pull-right" id="LuuDonHang">Lưu đơn hàng</span>
                <span class="btn btn-primary btn-lg pull-right hidden" id="XuatExcel" style="margin-right: 10px !important;">Xuất Excel</span>
                <span class="btn btn-danger btn-lg pull-left hidden" id="XoaDonHang">Xóa đơn hàng</span>
            </div>
            <div class="form-group thoigiantao hidden" style="margin-top: 10px; margin-bottom: 0px;">
                <label class="col-lg-12 control-label" style="line-height:35px">Ngày Tạo:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" id="ThoiGianTao" disabled style="width:100%;">
                </div>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 0px;">
                <label class="col-lg-12 control-label" style="line-height:35px">Ngày sản xuất:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" id="NgayKhoiTao" style="width:100%;">
                </div>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 0px;">
                <label class="col-lg-12 control-label" style="line-height:35px">Thời Gian Đặt Cọc:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" id="ThoiGianDatCoc" style="width:100%;">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <label class="col-lg-12 control-label " style="line-height:35px">Mã đơn hàng:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" class="form-control" id="MaDonHang" name="MaDonHang" data-bind="value:MaDonHang" style="width:100%" disabled>
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <label class="col-lg-12 control-label" style="line-height:35px">Tên đơn hàng:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" required class="form-control" id="TenDonHang" name="TenDonHang" data-bind="value:TenDonHang" placeholder="Nhập vào tên đơn hàng" data-required-msg="Nhập tên đơn hàng" style="width:100%">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <label class="control-label " style="line-height:35px">Đối tác:</label>
                <div class="col-lg-12 input-group filter-doitac">
                    <input type="text" required class="form-control" id="DoiTacID" name="DoiTacID" data-bind="value:DoiTacID" data-required-msg="Chọn đối tác">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" style="padding: 8px 11px 8px;"><i class="icon-grid52"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <label class="col-lg-12 control-label " style="line-height:35px">Trạng thái:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" required class="form-control" id="TrangThai" name="TrangThai" data-bind="value:TrangThai" data-required-msg="Chọn trạng thái" style="width:100%">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <label class="col-lg-12 control-label " style="line-height:35px">Email Kế Toán:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" class="form-control" id="EmailKeToan" name="EmailKeToan" data-bind="value:EmailKeToan" style="width:100%">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <label class="col-lg-12 control-label" style="line-height:35px">Thời gian dự kiến sản xuất:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" id="ThoiGianDuKienSanXuat" style="width:100%;">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <label class="col-lg-12 control-label" style="line-height:35px">Thời gian dự kiến giao hàng:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" id="ThoiGianDuKienGiaoHang" style="width:100%;">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <label class="col-lg-12 control-label" style="line-height:35px">Thời gian thanh toán tiền:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" id="ThoiGianThanhToan" style="width:100%;">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <label class="col-lg-12 control-label " style="line-height:35px">Số tiền đã thanh toán:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" class="form-control" id="SoTienDaThanhToan" name="SoTienDaThanhToan" data-bind="value:SoTienDaThanhToan" style="width:100%">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <label class="col-lg-12 control-label " style="line-height:35px">Loại hình thanh toán:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" class="form-control" id="LoaiHinhThanhToan" name="LoaiHinhThanhToan" data-bind="value:LoaiHinhThanhToan" style="width:100%">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-12 control-label " style="line-height:35px">Yêu cầu khác:</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" class="form-control" id="YeuCauKhac" name="YeuCauKhac" data-bind="value:YeuCauKhac" style="width:100%">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;line-height:35px">
                <div class="img-responsive">
                    <div class="objupload btn btn-primary" style="position: relative; display: inline-block; width:auto !important;height:auto !important;">
                        <i class="icon-googleplus5" style="padding:0px; font-size:16px; "></i> Chọn Tập Tin Đính Kèm
                        <input type="file" class="inputupload" accept=".png, .jpg, .jpeg, .gif, .doc,.docs, .xls, .xlsx, .pdf, .ppt, .txt, .dwg" multiple="multiple" id="upLoadFile">
                    </div>
                </div>


                <div id="lstImageDisplay" style="margin-top: 10px;">
                    <div class="img-responsive col-xs-12">
                        <table class="table">
                            <tbody id="tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div id="tabstrip">
                <ul>
                    <li class="k-state-active tab_khdat">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Sản phẩm khách hàng đặt
                    </li>
                    <li class="tab_mausanxuat">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Sản phẩm
                    </li>
                    @*
                        <li class="tab_nguyenlieucanthiet">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> Nguyên liệu cần thiết
                        </li>
                        <li class="tab_thongsokythuat">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> Thông số kỹ thuật
                        </li>*@
                </ul>
                <div>
                    <div class="row text-right" style="margin-bottom:10px;">
                        <span class="btn btn-warning" id="btnThemYeuCau">Chọn yêu cầu</span>
                    </div>
                    <div class="row" id="yeucaukhachhang">
                        <div id="frm" class="col-xs-12 boxctkhachhangdat" style="margin-top:10px !important">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Yêu cầu khách hàng</div>
                                <div class="panel-body" style="padding:10px">
                                    <div class="row">
                                        <input type="hidden" class="form-control" id="YeuCauKhachHangID" data-bind="value:YeuCauKhachHangID" />
                                        <b class="col-xs-4" style="line-height:34px">Thời gian:</b>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control ThoiGianTaoYeuCau" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px !important">
                                        <b class="col-xs-4" style="line-height:34px">Đối tác:</b>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control DoiTacYeuCau" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px !important">
                                        <b class="col-xs-4" style="line-height:34px">Danh sách size:</b>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control Size" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px !important">
                                        <b class="col-xs-4" style="line-height:34px">Số lượng đặt:</b>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control SoLuongDat" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px !important">
                                        <b class="col-xs-4" style="line-height:34px">Giá bán:</b>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control GiaBan" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px !important">
                                        <b class="col-xs-4" style="line-height:34px">Lịch giao hàng:</b>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control ThoiGianGiaoHang" disabled="disabled" data-bind="value:ThoiGianGiaoHang" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px !important">
                                        <div id="gridChiTietYeuCauKhachHang"></div>
                                    </div>
                                    <div class="row" style="margin-top: 10px !important">
                                        <b class="col-xs-4" style="line-height:34px">Hình ảnh:</b>
                                        <div class="col-xs-8">
                                            <div class="dshinhanh">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row text-right" style="margin-bottom:10px;">
                        <span class="btn btn-warning" id="btnChonSanPham">Thêm sản phẩm</span>
                    </div>
                    <div id="gridsanpham" style="margin-top:10px;"></div>
                </div>
                @*<div>
                        <div id="gridDanhSachNguyenLieu" style="margin-top:10px;"></div>
                    </div>
                    <div>
                        <div id="gridThongSoKyThuat" style="margin-top:10px;"></div>
                    </div>*@
            </div>

        </div>
    </div>
</script>

<div id="mdlThemFileExcel"></div>
<script type="text/x-kendo-template" id="tempImport">
    <div class="form-group" style="margin-bottom:10px;">
        <button class="k-button k-button-icontext k-grid-add btn-import" id="btn-xuatbotrung" data-loai="2"><span class="k-icon k-i-add"></span> @Html.Raw(Language.GetText("them"))</button>
        <button class="k-button k-button-icontext k-grid-delete" id="huy"><span class="k-icon k-i-delete"></span> @Html.Raw(Language.GetText("huy"))</button>
    </div>
    <div id="gridthem"></div>
</script>
<input type="file" id="inputImport" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<script type="text/x-kendo-template" id="tplLoaiHinh">
    # if(LoaiHinhSanXuat == 1) { #
    <span class="btn btn-primary btn-block no-padding">May</span>
    # } #
    # if(LoaiHinhSanXuat == 2) { #
    <span class="btn btn-success btn-block no-padding">Dệt</span>
    # } #
</script>
<div id="mdlDanhSachSanPham"></div>
<script type="text/x-kendo-template" id="tplDanhSachSanPham">
    <div class="row" style="margin-top:5px;">
        <div class="col-xs-3">
            <div class="form-group" style="margin-top: 10px; margin-bottom: 0px;">
                <label class="col-lg-12 control-label">Chọn thiết kế</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" class="form-control" id="inputChonThietKe" style="width:100%;" data-bind="value:inputChonThietKe" placeholder="Chọn thiết kế của sản phẩm">
                </div>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 0px;">
                <label class="col-lg-12 control-label">Tên sản phẩm</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" class="form-control" id="inputTenSanPham" style="width:100%;" data-bind="value:inputTenSanPham" placeholder="Tên sản phẩm" disabled>
                </div>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 0px;">
                <label class="col-lg-12 control-label">Tổng số lượng hàng</label>
                <div class="col-lg-12 input-group" style="width:100%">
                    <input type="text" class="form-control hidden" id="inputTongSoLuong" style="width:100%;text-align:right;" data-bind="value:inputTongSoLuong" placeholder="0" onclick='this.select();'>
                </div>
            </div>
            <div style="width:90%;margin-top:10px">
                <a class="btn btn-warning btn-taothemsize btn-block btn-lg hidden">Tạo sản phẩm theo size + màu</a>
            </div>
        </div>
        <div class="col-lg-9">
            <table id="tblSoLuongSanPham" class="table table-bordered">
                <thead>
                    <tr class="success" id="inputMau"></tr>
                </thead>
                <tbody id="inputSize"></tbody>
            </table>
        </div>
    </div>
    <div class="pull-right" style="margin-top:15px;">
        <button class="btn btn-success" id="btnDongY"><i class="glyphicon glyphicon-ok"></i> Tiếp tục</button>
    </div>
</script>
<script type="text/x-kendo-template" id="tplTrangThai">
    # if(TrangThai == 1) { #
    <span style="color:darkred; font-weight:bold; font-size:14px;">Chưa bắt đầu</span>
    # } #
    # if(TrangThai == 7) { #
    <span style="color:aliceblue; font-weight:bold; font-size:14px;">Chưa báo giá</span>
    # } #
    # if(TrangThai == 5) { #
    <span style="color:green; font-weight:bold; font-size:14px;">Đã duyệt</span>
    # } #
    # if(TrangThai == 2) { #
    <span style="color:lightskyblue; font-weight:bold; font-size:14px;">Đang sản xuất</span>
    # } #
    # if(TrangThai == 3) { #
    <span style="color:blue; font-weight:bold; font-size:14px;">Hoàn thành sản xuất</span>
    # } #
    # if(TrangThai == 4) { #
    <span style="color:blueviolet; font-weight:bold; font-size:14px;">Đã bàn giao</span>
    # } #
    # if(TrangThai == 6) { #
    <span style="color:coral; font-weight:bold; font-size:14px;">Đã thanh toán xong</span>
    # } #
    # if(TrangThai == 8) { #
    <span style="color:darkgrey; font-weight:bold; font-size:14px;">Đã hủy</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplTinhTrang">
    # if(TinhTrang == 1) { #
    <span class="btn btn-default btn-block no-padding">Bình thường</span>
    # } #
    # if(TinhTrang == 2) { #
    <span class="btn btn-danger btn-block no-padding">Gấp</span>
    # } #
    # if(TinhTrang == 3) { #
    <span class="btn btn-success btn-block no-padding">Yêu cầu đã chốt</span>
    # } #
</script>
<script type="text/x-kendo-template" id="ThoiGianThanhToanConLai">
    # if(ThoiGianThanhToanConLai == null || TrangThai!=4) { #
    <span>-------</span>
    # } #
    # if(ThoiGianThanhToanConLai != null && ThoiGianThanhToanConLai > 3 && TrangThai==4) { #
    <span style="color:blue">  #: kendo.toString(ThoiGianThanhToanConLai,"n0") # Ngày</span>
    # } #
    # if(ThoiGianThanhToanConLai != null && ThoiGianThanhToanConLai < 0 && TrangThai==4) { #
    <span style="color:red">  #: kendo.toString(ThoiGianThanhToanConLai,"n0") # Ngày</span>
    # } #
    # if(ThoiGianThanhToanConLai != null && ThoiGianThanhToanConLai <= 3 && ThoiGianThanhToanConLai >= 0 && TrangThai==4) { #
    <span style="color:orange">  #: kendo.toString(ThoiGianThanhToanConLai,"n0") # Ngày</span>
    # } #

</script>

<div id="mdlchonyeucau">

</div>
<script type="text/x-kendo-template" id="tplchonyeucau">
    <div class="row">
        <div id="gridchonyeucau"></div>
    </div>
</script>
<script type="text/x-kendo-template" id="tplTrangThaiDonHang">
    # if(TrangThaiDonHang == 1) { #
    <span style="color:forestgreen; font-weight:bold; font-size:14px;">Đủ dữ liệu sản phẩm</span>
    # } #
    # if(TrangThaiDonHang == 2) { #
    <span style="color:red; font-weight:bold; font-size:14px;">Thiếu dữ liệu sản phẩm</span>
    # } #
</script>

<div id="mdlChonSize"></div>
<script type="text/x-kendo-template" id="tplChonSize">
    @*<div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label class="control-label">Màu sản phẩm</label>
            <div class="input-group" style="width:30%">
                <input type="text" class="form-control" id="inputMauSanPham" style="width:100%;" data-bind="value:inputMauSanPham" placeholder="Màu sản phẩm" required>
            </div>
        </div>*@
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group inputVaiChinh hidden">
                <label>Vải chính màu</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control text-left inputLoaiVai" style="width:100%" id="inputVaiChinh" data-bind="value:inputVaiChinh" />
                </div>
            </div>
            <div class="form-group inputVaiPhoiLot hidden">
                <label>Vải phối lót màu</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control text-left inputLoaiVai" style="width:100%" id="inputVaiPhoiLot" />
                </div>
            </div>
        </div>
        <div class="form-group col-xs-3">
            <div class="form-group inputVaiPhoiP1 hidden">
                <label>Vải phối P1 màu</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control text-left inputLoaiVai" style="width:100%" id="inputVaiPhoiP1" />
                </div>
            </div>
            <div class="form-group inputVaiPhoiP2 hidden">
                <label>Vải phối P2 màu</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control text-left inputLoaiVai" style="width:100%" id="inputVaiPhoiP2" />
                </div>
            </div>
        </div>
        <div class="form-group col-xs-3">
            <div class="form-group inputChiMay hidden">
                <label>Chỉ may loại</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control text-left inputLoaiVai" style="width:100%" id="inputChiMay" />
                </div>
            </div>
            <div class="form-group inputMac hidden">
                <label>Mác loại</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control text-left inputLoaiVai" style="width:100%" id="inputMac" />
                </div>
            </div>
        </div>
        <div class="form-group col-xs-3">
            <div class="form-group inputCuc hidden">
                <label>Cúc loại</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control text-left inputLoaiVai" style="width:100%" id="inputCuc" />
                </div>
            </div>
            <div class="form-group inputPKKhac hidden">
                <label>Phụ kiện khác loại</label>
                <div class="input-group" style="width:100%">
                    <input class="form-control text-left inputLoaiVai" style="width:100%" id="inputPKKhac" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            @foreach (var i in listsize.Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(3).Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(6).Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(9).Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(12).Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(15).Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(18).Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(21).Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(24).Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(27).Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(30).Take(3))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
        <div class="col-xs-1">
            @foreach (var i in listsize.Skip(33))
            {
                <div class="form-check" style="font-size: 16px;">
                    <input type="checkbox" id="size-@i" value="@i" class="form-check-input" />
                    <label class="form-check-label" for="size-@i">
                        @i
                    </label>
                    <ul class="listmau" style="list-style:none"></ul>
                </div>
            }
        </div>
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-success pull-right" id="btnTaoSize"><i class="glyphicon glyphicon-ok"></i> Tạo Size</button>
    </div>
</script>
