﻿@model DF.DBMapping.ModelsExt.HopDongEdit
@{
    string strDisableLoaiHinh = "";
    string IDHopDong = "";
    if (Model.HopDongID != null)
    {
        strDisableLoaiHinh = "disabled";
    }
    string strTrangThai5 = "selected", strTrangThai6 = "", strTrangThai7 = "", strTrangThai8 = "";
    string strView = "_ThiCong_CongTrinh";
    if (Model.HopDongID != null)
    {
        IDHopDong = Model.HopDongID.ToString();
        switch (Model.LoaiHopDong)
        {
            case 7: strTrangThai7 = "selected"; strView = "_CongVanDi_CongTrinh"; break;
            case 5: strTrangThai5 = "selected"; strView = "_ThiCong_CongTrinh"; break;
            case 6: strTrangThai6 = "selected"; strView = "_CongVanDen_CongTrinh"; break;
            case 8: strTrangThai8 = "selected"; strView = "_TaiLieu_CongTrinh"; break;
            default: strTrangThai5 = "selected"; strView = "_ThiCong_CongTrinh"; break;
        }
    }
        }
<style>
    .img-responsive {
        display: inline !important;
        margin-bottom: 3px;
        position: relative;
    }

        .img-responsive img {
        width: 90px;
        height: 90px;
        box-shadow: 0px 0px 2px 1px #ccc;
            margin-right: 6px;
    }
</style>
<div class="row" style="margin:0 -10px !important;">
    <div class="col-md-3 col-md-offset-2">
        <h3 class="text-bold">@Html.Raw(Language.GetText("thongtin"))</h3>
        <select id="LoaiHinHHD" class="select-clear" @strDisableLoaiHinh>
            <option value=5 @strTrangThai5>@Html.Raw(Language.GetText("hopdongthicong"))</option>
            <option value=6 @strTrangThai6>@Html.Raw(Language.GetText("congvanden"))</option>
            <option value=7 @strTrangThai7>@Html.Raw(Language.GetText("congvandi"))</option>
            <option value=8 @strTrangThai8>@Html.Raw(Language.GetText("tailieu"))</option>
        </select>
    </div>
</div>
<div style="height:10px;"></div>
<form action="#" class="form-horizontal">
    <div class="panel panel-flat col-md-8 col-md-offset-2">
        <input type="hidden" id="IDHopDong" value="@IDHopDong" />
        <div class="panel-body" id="loadpanel-addform">
            @Html.Partial("~/Views/QLHopDong/" + strView + ".cshtml", Model);
        </div>
    </div>
</form>


<script type="text/javascript">

    $('.select-clear').select2({
        allowClear: true
    });
    // Primary
    $(".control-primary").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-primary-600 text-primary-800'
    });

    $('#LoaiHinHHD').on('change', function () {
        ContentWatingOP("loadpanel-addform", 1);
        $.ajax({
            url: '/QLHopDong/AddHopDong_Patital_Loai_CongTrinh',
            method: "POST",
            datatype: 'json',
            data: {
                Loai: this.value
            },
            success: function (data) {
                $("#loadpanel-addform").html(data);
                $("#loadpanel-addform").unblock();
            }
        });
    });


</script>