﻿@model DF.DBMapping.ModelsExt.HopDongEdit
    @{ 
        string strDisableLoaiHinh = "";
        string IDHopDong = "";
        if(Model.HopDongID != null)
        {
            strDisableLoaiHinh = "disabled";
        }
        string strTrangThai1 = "selected", strTrangThai2 = "", strTrangThai3 = "", strTrangThai4 = "", strTrangThai5 = "", strTrangThai6 = "", strTrangThai7 = "", strTrangThai8 = "", strTrangThai9 = "";
        string strView = "_HDLaoDong";
        if (Model.HopDongID != null)
        {
            IDHopDong = Model.HopDongID.ToString();
            switch (Model.LoaiHopDong)
            {
                case 7: strTrangThai7 = "selected"; strView = "_CongVanDi"; break;
                case 1: strTrangThai1 = "selected"; strView = "_HDLaoDong"; break;
                case 2: strTrangThai2 = "selected"; strView = "_HDMuaBan"; break;
                case 3: strTrangThai3 = "selected"; strView = "_HDSuaChua"; break;
                case 4: strTrangThai4 = "selected"; strView = "_HDKinhTe"; break;
                case 5: strTrangThai5 = "selected"; strView = "_HDThiCong"; break;
                case 6: strTrangThai6 = "selected"; strView = "_CongVanDen"; break;
                case 8: strTrangThai8 = "selected"; strView = "_TaiLieu"; break;
                case 9: strTrangThai9 = "selected"; strView = "_BieuMau"; break;
                default: strTrangThai1 = "selected"; strView = "_HDLaoDong"; break;
            }
        }
    }
<style>
    .img-responsive {
        display: inline !important;
        margin-bottom: 3px;
        position: relative;
    }

        .img-responsive img {
            width: 90px;
            height: 90px;
            box-shadow: 0px 0px 2px 1px #ccc;
            margin-right: 6px;
        }
</style>
<div class="row" style="margin:0 -10px !important;">
    <div class="col-md-3 col-md-offset-2">
        <h3 class="text-bold">@Html.Raw(Language.GetText("thongtin"))</h3>
        <select id="LoaiHinHHD" class="select-clear" @strDisableLoaiHinh >
            <option value=1 @strTrangThai1>@Html.Raw(Language.GetText("hopdonglaodong"))</option>
            <option value=2 @strTrangThai2>@Html.Raw(Language.GetText("hopdongmuaban"))</option>
            <option value=3 @strTrangThai3>@Html.Raw(Language.GetText("hopdongsuachua"))</option>
            <option value=4 @strTrangThai4>@Html.Raw(Language.GetText("hopdongkinhte"))</option>
            <option value=5 @strTrangThai5>@Html.Raw(Language.GetText("hopdongthicong"))</option>
            <option value=6 @strTrangThai6>@Html.Raw(Language.GetText("congvanden"))</option>
            <option value=7 @strTrangThai7>@Html.Raw(Language.GetText("congvandi"))</option>
            <option value=8 @strTrangThai8>@Html.Raw(Language.GetText("tailieu"))</option>
            <option value=9 @strTrangThai9>@Html.Raw(Language.GetText("bieumau"))</option>
        </select>
    </div>
</div>
<div style="height:10px;"></div>
<form action="#" class="form-horizontal">
    <div class="panel panel-flat col-md-8 col-md-offset-2">
        <input type="hidden" id="IDHopDong" value="@IDHopDong" />
        <div class="panel-body" id="loadpanel-addform">
            @Html.Partial("~/Views/QLHopDong/" + strView + ".cshtml", Model)
        </div>
    </div>
</form>


<script type="text/javascript">

    $('.select-clear').select2({
        allowClear: true
    });
    // Primary
    $(".control-primary").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-primary-600 text-primary-800'
    });

    $('#LoaiHinHHD').on('change', function () {
        ContentWatingOP("loadpanel-addform", 1);
        $.ajax({
            url: '/QLHopDong/AddHopDong_Patital_Loai',
            method: "POST",
            datatype: 'json',
            data: {
                Loai: this.value
            },
            success: function (data) {
                $("#loadpanel-addform").html(data);
                $("#loadpanel-addform").unblock();
            }
        });
    });

   

</script>