﻿@model  List<DF.DataAccess.DBML.Web_HopDong_LayDanhSachHopDong_NewResult>
<div class="panel panel-flat">
    
    <table class="table datatable-responsive-row-control table-bordered">
        <thead>
            <tr style="background:#4682B4;color:#fff;">
                <th data-toggle="true" class="text-bold text-center" style="width:50px;">#</th>
                <th class="text-bold text-center">@Html.Raw(Language.GetText("thoigian"))</th>
                <th data-hide="phone" class="text-bold text-center">@Html.Raw(Language.GetText("tenhopdong"))</th>
                <th data-hide="phone" class="text-bold text-center">@Html.Raw(Language.GetText("donvikhoitao"))</th>
                <th width="150px;" class="text-bold text-center">@Html.Raw(Language.GetText("loaihopdong"))</th>
                <th data-hide="phone,tablet" style="width:100px;" class="text-bold text-center"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@i</td>
                        <td class="text-center">@item.strThoiGianTao</td>
                        <td><a href="javascript:void(0);" onclick="XemChiTietPhieu('@item.HopDongID','@item.LoaiHopDong')">@item.TenHopDong</a></td>
                        <td>@item.TenCongTrinh</td>
                        <td class="text-center"> @DFWeb.Utils.Utils.GetstrTenLoaiHopDong(item.LoaiHopDong)</td>
                        <td class="text-center text-bold text-danger">
                            <span class="btn btn-danger" onclick="destroyPhepNV('@item.HopDongID')">@Html.Raw(Language.GetText("xoa"))</span>
                        </td>
                    </tr>
                    i++;
                }

            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/footable/footable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".numbers").autoNumeric(autoNumericOptionsPhep);

        var gridtable = $('.datatable-responsive-row-control').DataTable({
            "ordering": false,
        });

        $('.dataTables_filter input[type=search]').attr('placeholder', GetTextLanguage("timkiem") + '...');
        // Enable Select2 select for the length option
        $('.dataTables_length select').select2({
            minimumResultsForSearch: "-1"
        });
        $('.datatable-responsive-row-control').footable();

    });


    function destroyPhepNV(HopDongID) {
        if (confirm(GetTextLanguage("cochacchanxoa"))) {
            $.ajax({
                url: '@Url.Action("XoaHopDong", "QLHopDong")',
                method: "POST",
                data: {
                    HopDongId: HopDongID
                },
                async: true,
                datatype: 'json',
                success: function (data) {
                    altReturn(data);
                    searchHopDong();
                },
                error: function () {
                    showToast("error", GetTextLanguage("coloi"), GetTextLanguage("coloitrongquatrinhxulydulieu"));
                }
            });
        }
    }
    function validRow(PhepNhanVienID) {
        if ($(".sophep_" + PhepNhanVienID).val() == "") {
            showToast("warning", GetTextLanguage("canhbao"));
            $(".sophep_" + PhepNhanVienID).focus();
            return false;
        }
        return true;
    }
</script>