﻿@model DF.DBMapping.ModelsExt.HopDongEdit
<script type="text/javascript" src="~/Content/lib/jquery.fullscreenslides.js"></script>
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<div class="form-group">
    <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("ngaykhoitao")):</label>
    <div class="col-lg-9">
        <input type="text" class="form-control" id="NgayKhoiTao" style="width:100%;" placeholder=@Html.Raw(Language.GetText("chonngay"))>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("tenhopdong")):</label>
    <div class="col-lg-9">
        <input type="text" required class="form-control validreq" id="TenHopDong" style="width:100%">
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("loaihinh")):</label>
    <div class="col-lg-9">
        <input id='drdLoaiPhongBan' class="form-control" style="width:100%" />
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("donvi")):</label>
    <div class="col-lg-9">
        <input id='drdDonVi' class="form-control" style="width:100%" />
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("nhanvien")):</label>
    <div class="col-lg-9">
        <input id='drdNhanVien' class="form-control" style="width:100%" />
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("tungay")):</label>
    <div class="col-lg-9">
        <input type="text" class="form-control" id="TuNgayHD" style="width:100%;">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("denngay")):</label>
    <div class="col-lg-9">
        <input type="text" class="form-control" id="DenNgayHD" style="width:100%;">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("ngaythoiviec")):</label>
    <div class="col-lg-9">
        <input type="text" class="form-control" id="NgayThoiViec" style="width:100%;">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("loaihopdong")):</label>
    <div class="col-lg-9">
        <input id='drdLoaiHopDong' class="form-control" style="width:100%" />
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("capdobaomat")):</label>
    <div class="col-lg-9">
        <input id='CapDoID' class="form-control" style="width:100%" />
    </div>
</div>

<div class="row">
    <h5 class="text-bold">
        @Html.Raw(Language.GetText("danhsachdinhkem")) <span style="font-weight:100;font-size:12px;">(.png, .jpg, .jpeg, .gif, .doc, .docs, .xls, .xlsx, .pdf, .ppt, .txt, .dwg)</span>
        <div class="img-responsive" style="float:right">
            <div class="objupload" style="position: relative; display: inline-block; margin-bottom: 3px;padding:0px; margin-right: 3px; width: 30px; height: 30px;">
                <i class="icon-googleplus5" style="padding:0px"></i>
                <input type="file" class="inputupload" accept=".png, .jpg, .jpeg, .gif, .doc,.docs, .xls, .xlsx, .pdf, .ppt, .txt, .dwg" multiple="multiple" id="upLoadFile">
            </div>
        </div>
    </h5>

    <div id="lstImageDisplay" style="margin-top: 10px;">
        <div class="img-responsive col-xs-12">
            <table class="table">
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>
<div class="text-right">
    <span class="btn btn-default" onclick="Thoat();">@Html.Raw(Language.GetText("thoat"))<i class="icon-arrow-right14 position-right"></i></span>
    <span onclick="saveCongTrinh();" class="btn btn-success btnsaves">@Html.Raw(Language.GetText("luu")) <i class="icon-floppy-disk position-right"></i></span>
</div>
<script type="text/javascript">
    var dataimg = new FormData();
    $(document).ready(function () {
        lstHinhAnh = [];
        var datafix_loaikhoan = [
            { text: GetTextLanguage("nhanvienvanphong"), value: 1 },
            { text: GetTextLanguage("nhanviencongtrinh"), value: 0 }
        ];

        var loaihopdong = [
        { text: GetTextLanguage("daihan"), value: 1 },
        { text: GetTextLanguage("thang1236"), value: 2 },
        { text: GetTextLanguage("thuviec"), value: 3 },
        { text: GetTextLanguage("muavu"), value: 4 }
        ];
        $("#NgayKhoiTao").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
        });
        $("#TuNgayHD").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
            open: function (e) {
                if ($("#DenNgayHD").data("kendoDatePicker").value() !== null) {
                    $("#TuNgayHD").data("kendoDatePicker").max($("#DenNgayHD").data("kendoDatePicker").value());
                }
            }
        });
        $("#DenNgayHD").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
            open: function (e) {
                if ($("#TuNgayHD").data("kendoDatePicker").value() !== null) {
                    $("#DenNgayHD").data("kendoDatePicker").min($("#TuNgayHD").data("kendoDatePicker").value());
                }
            }
        });
        $("#NgayThoiViec").kendoDatePicker({
            format: "dd/MM/yyyy"
        });

        $("#drdLoaiPhongBan").kendoDropDownList({
            dataSource: datafix_loaikhoan,
            dataTextField: "text",
            dataValueField: "value",
            autoBind: true,
            filter: "contains",
            change: function (e) {
                var value = this.value();
                if (value) {
                    $("#drdDonVi").data("kendoDropDownList").dataSource.read({ Dept: value });
                    $("#drdNhanVien").data("kendoDropDownList").dataSource.read({ Dept: value, DoiThiCongID: "" });

                }
            }
        });

        $("#drdLoaiHopDong").kendoDropDownList({
            dataSource: loaihopdong,
            dataTextField: "text",
            dataValueField: "value",
            autoBind: true,
            filter: "contains"
        });

        $("#drdDonVi").kendoDropDownList({
            dataSource: getDataForDropdownlistWithParam("/Home/DSDoiThiCongorPhongBan", { Dept: 1 }),
            dataTextField: "TenDoi",
            dataValueField: "DoiThiCongID",
            autoBind: true,
            optionLabel: GetTextLanguage("tatca"),
            filter: "contains",
            change: function (e) {
                var value = this.value();
                if (value) {
                    $("#drdNhanVien").data("kendoDropDownList").dataSource.read({ Dept: $("#drdLoaiPhongBan").val(), DoiThiCongID: value });

                } else {
                    $("#drdNhanVien").data("kendoDropDownList").dataSource.read({ Dept: $("#drdLoaiPhongBan").val(), DoiThiCongID: "" });
                }
            }
        });

        $("#drdNhanVien").kendoDropDownList({
            dataTextField: 'TenNhanVien',
            dataValueField: 'NhanVienID',
            filter: "contains",
            dataSource: getDataForDropdownlistWithParam("/Home/DSNhanVienTheoDoiThiCong", { Dept: 1, DoiThiCongID: "" }),
            autoBind: true,
            optionLabel: GetTextLanguage("chonnhanvien")
        });

        $("#CapDoID").kendoDropDownList({
            dataTextField: 'TenCapDo',
            dataValueField: 'CapDoBaoMatID',
            filter: "contains",
            autoBind: true,
            optionLabel: GetTextLanguage("capdobaomat"),
            dataSource: getDataSourceDropDownList("/Home/DSCapDoBaoMat")
        });

        $(".validreq").on("keyup", function () {
            if ($(this).val() == "") {
                $(this).addClass("errorReq");
            } else {
                $(this).removeClass("errorReq");
            }
        });
        if($("#IDHopDong").val() != null && $("#IDHopDong").val() != "") {
            $.ajax({
                url: '@Url.Action("LayChiTietHopDong", "QLHopDong")',
                method: "POST",
                data: {
                    HopDongID: $("#IDHopDong").val()
                },
                datatype: 'json',
                success: function (data) {
                    $("#NgayKhoiTao").val(data.data.strThoiGian);
                    $("#TenHopDong").val(data.data.TenHopDong);
                    $("#TuNgayHD").val(data.data.strThoiGianBD);
                    $("#DenNgayHD").val(data.data.strThoiGianKT);
                    $("#drdLoaiPhongBan").data("kendoDropDownList").value(data.data.Dept);
                    $("#drdNhanVien").data("kendoDropDownList").dataSource.read({ Dept: data.data.Dept, DoiThiCongID: "" });
                    setTimeout(function () {
                        $("#drdNhanVien").data("kendoDropDownList").value(data.data.DonViLienQuan);
                    }, 1000);
                    $("#CapDoID").data("kendoDropDownList").value(data.data.CapDoBaoMat.toString());
                    $("#drdLoaiHopDong").data("kendoDropDownList").value(data.data.LoaiHopDongNhanVien.toString());
                    $("#NgayThoiViec").val(data.data.NgayThoiViec);
                    var lst = data.data.ListHinhAnh;
                    if (lst.length > 0 && lst[0] != "") {
                        for (var i = 0 ; i < lst.length; i++) {
                            lstHinhAnh.push({ img: lst[i].img, name: lst[i].name });
                        }
                        var htmls = "";
                        for (var i = 0; i < lstHinhAnh.length; i++) {
                            if (lstHinhAnh[i].img.match(/\.(jpg|jpeg|png|gif)$/)) {

                                htmls += '<tr class="imgslider">';
                                htmls += '<td>';
                                htmls += '<a rel="gallery" href="' + localQLVanBan + lstHinhAnh[i].img + '">';
                                htmls += '<img src="' + localQLVanBan + lstHinhAnh[i].img + '" style="width:70px;height:70px" data-src="' + localQLVanBan + lstHinhAnh[i].img + '" class="img-responsive img-rounded media-preview" alt="" data-file="' + lstHinhAnh[i].img + '" />';
                                htmls += '</a>'
                                htmls += '<td style="width:150px"></td>'
                                htmls += '<td>' + lstHinhAnh[i].name + '</td>'
                                htmls += '<td><a href="' + localQLVanBan + lstHinhAnh[i].img + '" data-file="' + lstHinhAnh[i].img + '" download>' + GetTextLanguage("taixuong") + '</a></td>';
                                htmls += '<td><button class="closeImgLoad btn btn-danger" data-file="' + lstHinhAnh[i].img + '">' + GetTextLanguage("xoa") + '</a></td>'
                                htmls += '</tr>';
                            } else {

                                htmls += '<tr class="imgslider">';
                                htmls += '<td>';
                                htmls += '<a rel="gallery" href="' + localQLVanBan + lstHinhAnh[i].img + '">';
                                htmls += '<img src="/content/assets/images/file.png" style="width:70px;height:70px" data-src="' + localQLVanBan + lstHinhAnh[i].img + '" class="img-responsive img-rounded media-preview" alt="" data-file="' + lstHinhAnh[i].img + '" />';
                                htmls += '</a>'
                                htmls += '<td style="width:150px"></td>'
                                htmls += '<td>' + lstHinhAnh[i].name + '</td>'
                                htmls += '<td><a href="' + localQLVanBan + lstHinhAnh[i].img + '" data-file="' + lstHinhAnh[i].img + '" download>' + GetTextLanguage("taixuong") + '</a></td>';
                                htmls += '<td><button class="closeImgLoad btn btn-danger" data-file="' + lstHinhAnh[i].img + '">' + GetTextLanguage("xoa") + '</a></td>'
                                htmls += '</tr>';
                            }

                        }
                        $('#lstImageDisplay tbody').append(htmls);
                        $("#lstImageDisplay").on("click", ".closeImgLoad", function () {
                            var file = $(this).data("file");
                            for (var i = 0; i < lstHinhAnh.length; i++) {
                                if (lstHinhAnh[i].img === file) {
                                    lstHinhAnh.splice(i, 1);
                                    break;
                                }
                            }
                            var list = dataimg.getAll("uploads");
                            dataimg = new FormData();
                            for (var i = 0; i < list ; i++) {
                                if (list[i].name === file) {

                                } else {
                                    dataimg.append("uploads", list[i]);
                                }
                            }
                            $(this).closest("tr").remove();
                        });
                        showslideimg5($("#lstImageDisplay"));
                    }
                },
                error: function () {
                }
            });
        }

    });
    function valid() {
        if ($("#TenHopDong").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("tenhopdong"));
            $("#TenHopDong").focus();
            return false;
        }
        if ($("#drdNhanVien").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("chonhanvien"));
            $("#drdNhanVien").data("kendoDropDownList").focus();
            return false;
        }
        if ($("#TuNgayHD").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("tungay"));
            $("#TuNgayHD").focus();
            return false;
        }
        if ($("#DenNgayHD").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("denngay"));
            $("#DenNgayHD").focus();
            return false;
        }
        if ($("#CapDoID").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("capdobaomat"));
            $("#CapDoID").data("kendoDropDownList").focus();
            return false;
        }
        return true;
    }
    function saveCongTrinh() {
        if (valid()) {
            ContentWatingOP("loadpanel-addform", 0.9);
            
            var files = dataimg.getAll("uploads"); var count = 0;
            //console.log(dataimg.getAll("uploads"));
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {
                    $(".imgslider img").each(function (index, element) {
                        if (files[i].name == $(element).data("file")) {
                            var dataimg2 = new FormData();
                            dataimg2.append("uploads", files[i]);
                            $(".processbar", $(element).closest(".imgslider")).html('<div style="width: 0%;background: #c66161;height: 20px;"></div>');
                            $.ajax({
                                url: '/Upload/UploadHopDong2',
                                data: dataimg2,
                                processData: false,
                                contentType: false,
                                sycn: false,
                                type: 'POST',
                                // this part is progress bar
                                xhr: function () {
                                    var xhr = new window.XMLHttpRequest();
                                    xhr.upload.addEventListener("progress", function (evt) {
                                        if (evt.lengthComputable) {
                                            var percentComplete = evt.loaded / evt.total;
                                            percentComplete = parseInt(percentComplete * 100);
                                            $(".processbar div", $(element).closest(".imgslider")).attr("style", "width: " + percentComplete + "%;background: #40aa24;height: 20px;text-align: center;color: white;font-weight: bold;")
                                            $(".processbar div", $(element).closest(".imgslider")).text(percentComplete + "%");
                                        }
                                    }, false);
                                    return xhr;
                                },
                                success: function (data) {
                                    count++;
                                    lstHinhAnh.push({ img: data.img, name: data.name });
                                    if (count == files.length) {
                                        ContentWatingOP("loadpanel-addform", 0.9);
                                        setTimeout(function () {
                                            $.ajax({
                                                cache: false,
                                                async: false,
                                                type: "POST",
                                                url: "/QLHopDong/AddorUpdate_HDLaoDong",
                                                data: { NgayTao: $("#NgayKhoiTao").val(), TuNgay: $("#TuNgayHD").val(), DenNgay: $("#DenNgayHD").val(), NgayThoiViec: $("#NgayThoiViec").val(), TenHopDong: $("#TenHopDong").val(), NhanVienID: $("#drdNhanVien").val(), lstImage: JSON.stringify(lstHinhAnh), HopDongID: $("#IDHopDong").val(), LoaiHopDong: $("#drdLoaiHopDong").val(), CapDoBaoMat: $("#CapDoID").val() },
                                                success: function (data) {
                                                    altReturn(data);
                                                    //lstHinhAnh = [];
                                                    $("#loadpanel-addform").unblock();
                                                    if (data.code == "success") {
                                                        $(".btnsaves").css("display", "none");
                                                        return false;

                                                    }

                                                },
                                                error: function (xhr, status, error) {
                                                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                                                }
                                            });
                                        }, 1000);
                                    }



                                    //lstHinhAnh.push({ img: data.img, name: data.name });

                                }


                            });
                        }
                    });
                }
            } else {
                ContentWatingOP("loadpanel-addform", 0.9);
                setTimeout(function () {
                    $.ajax({
                        cache: false,
                        async: false,
                        type: "POST",
                        url: "/QLHopDong/AddorUpdate_HDLaoDong",
                        data: { NgayTao: $("#NgayKhoiTao").val(), TuNgay: $("#TuNgayHD").val(), DenNgay: $("#DenNgayHD").val(), NgayThoiViec: $("#NgayThoiViec").val(), TenHopDong: $("#TenHopDong").val(), NhanVienID: $("#drdNhanVien").val(), lstImage: JSON.stringify(lstHinhAnh), HopDongID: $("#IDHopDong").val(), LoaiHopDong: $("#drdLoaiHopDong").val(), CapDoBaoMat: $("#CapDoID").val() },
                        success: function (data) {
                            altReturn(data);
                            //lstHinhAnh = [];
                            if (data.code == "success") {
                                $(".btnsaves").css("display", "none");
                            }
                            $("#loadpanel-addform").unblock();
                        },
                        error: function (xhr, status, error) {
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    });
                }, 1000);
            }
            
        }
    }

    $("#upLoadFile").change(function () {
        loadImage_new2(this, 'tbody');
        for (var x = 0; x < this.files.length; x++) {
            dataimg.append("uploads", this.files[x]);
        }
        $("#upLoadFile").val('').clone(true);
        $("#lstImageDisplay").on("click", ".closeImgLoad", function () {
            var file = $(this).data("file");
            for (var i = 0; i < lstHinhAnh.length; i++) {
                if (lstHinhAnh[i].img === file) {
                    lstHinhAnh.splice(i, 1);
                    break;
                }
            }
            var list = dataimg.getAll("uploads");
            dataimg = new FormData();
            for (var i = 0; i < list.length ; i++) {
                if (list[i].name === file) {

                } else {
                    dataimg.append("uploads", list[i]);
                }
            }
            $(this).closest("tr").remove();
        });
        showslideimg5($("#lstImageDisplay"));
    });
    

</script>