﻿<div class="row">
    <div class="col-sm-3" style="text-align:center">
        <input id="ipLoaiHopDong" />
    </div>
    <div class="col-sm-3" style="text-align:center">
        <input id="TenHopDong" class="k-textbox k-input" />
    </div>
    <div class="col-sm-3" style="text-align:center">
        <input id="ipDonViTao" />
    </div>
    <div class="col-sm-3" style="text-align:center">
        <input id="ipThoiGian" />
    </div>
    <div class="col-sm-12" style="margin-top:15px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <input id="chonDinhKem" type="file" />
            </div>
            <div class="panel-body">
                <div id="listDinhKem"></div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary center-block" id="btnLuu">Lưu</button>
            </div>
        </div>
    </div>
</div>
<div id="mdlShowImg"></div>
<script type="text/javascript">
    $(document).ready(function () {
        var datafix_loaihopdong = [
            { text: GetTextLanguage("congtrinhxaydung"), val: 1 },
            { text: GetTextLanguage("muabanthietbi"), val: 2 },
            { text: GetTextLanguage("suachuathietbi"), val: 3 },
            { text: GetTextLanguage("muabantaisankhac"), val: 4 },
            { text: GetTextLanguage("muabanvattu"), val: 5 },
            { text: GetTextLanguage("hopdonglaodong"), val: 6 },
        ]

        $("#ipLoaiHopDong").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "val",
            optionLabel: GetTextLanguage("chonloaihopdong"),
            dataSource: datafix_loaihopdong
        });

        $("#ipDonViTao").kendoDropDownList({
            dataTextField: "TenCongTrinh",
            dataValueField: "CongTrinhId",
            optionLabel: GetTextLanguage("donvitao"),
            dataSource: getDataSourceDropDownList("/QLHopDong/getDataDonViTao")
        });
        $("#ipThoiGian").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date()
        });
        var FileDinhKem = [];
        $("#chonDinhKem").kendoUpload({
            async: {
                saveUrl: "/Upload/SaveAvatar",
                removeUrl: "/Upload/Remove",
                autoUpload: true,
                localization: {
                    select: "File"
                }
            },
            showFileList: false,
            multiple: true,
            localization: {
                select: GetTextLanguage("chonanh")
            },
            success: function (e) {
                if (e.operation === "upload") {
                    for (var i = 0; i < e.files.length; i++) {
                        var file = e.files[i].rawFile;
                        if (file) {
                            var reader = new FileReader();
                            reader.onloadend = function () {
                                $("<div class='fileDinhKem' style='margin:15px;float:left'><img src=" + this.result + " height='250' width='250' /></div>").appendTo($("#listDinhKem"));
                                imgbase64 = this.result;
                            };
                            reader.readAsDataURL(file);
                        }
                        FileDinhKem.push(file);
                    }
                };
            }
        });
        $("#btnLuu").click(function () {
            //check
            var loaihopdong = $("#ipLoaiHopDong").data("kendoDropDownList").value();
            var tenhopdong = $("#TenHopDong").val();
            var donvitao = $("#ipDonViTao").data("kendoDropDownList").value();
            var thoigian = kendo.toString($("#ipThoiGian").data("kendoDatePicker").value(), "dd/MM/yyyy");
            var arrDinhKem = FileDinhKem;
            var kt = 1;
            if (loaihopdong == null || loaihopdong == "") {
                kt *= 0;
                alertToastr({ code: "error", message: "Loại Hợp Đồng Không Được Trống" });
            }
            if (tenhopdong == null || tenhopdong == "") {
                kt *= 0;
                alertToastr({ code: "error", message: "Tên Hợp Đồng Không Được Trống" });
            }
            if (donvitao == null || donvitao == "") {
                kt *= 0;
                alertToastr({ code: "error", message: "Đơn Vị Tạo Hợp Đồng Không Được Trống" });
            }
            if (thoigian == null || thoigian == "") {
                kt *= 0;
                alertToastr({ code: "error", message: "Thời Gian Tạo Hợp Đồng Không Được Trống" });
            }
            if (arrDinhKem == null || arrDinhKem.length <= 0) {
                kt *= 0;
                alertToastr({ code: "error", message: "Vui Lòng Chọn File Đính Kèm" });
            }
            if (kt == 1) {
                var listFile = "";
                for (var i = 0; i < arrDinhKem.length; i++) {
                    if (i == arrDinhKem.length - 1) {
                        listFile += arrDinhKem[i].name;
                    }
                    else {
                        listFile += arrDinhKem[i].name;
                        listFile += ",";
                    }
                }
                $.ajax({
                    url: "/QLHopDong/ThemHopDong",
                    type: "POST",
                    data: {
                        listDinhKem: listFile,
                        loaihopdong: loaihopdong,
                        tenhopdong: tenhopdong,
                        thoigian: thoigian,
                        donvitao: donvitao
                    },
                    complete: function (e) {
                        alertToastr(e.responseJSON);
                        $("#mdlThemHopDong").data("kendoWindow").close();
                        $("#gridQLHopDong").data("kendoGrid").dataSource.read();
                    }
                });
            }

        });
    });
</script>