﻿@model DF.DBMapping.ModelsExt.HopDongEdit
<script type="text/javascript" src="~/Content/lib/jquery.fullscreenslides.js"></script>
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Content/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
<style>
    .form-horizontal .checkbox .checker {
        top: 50% !important;
    }

    #lstImageDisplay table tr {
    }
</style>
<div class="form-group">
    <label class="col-lg-3 control-label">@Html.Raw(Language.GetText("ngaykhoitao")):</label>
    <div class="col-lg-9">
        <input type="text" class="form-control" id="NgayKhoiTao" style="width:100%;" placeholder=@Html.Raw(Language.GetText("chonngay"))>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("tenhopdong")):</label>
    <div class="col-lg-9">
        <input type="text" required class="form-control validreq" id="TenHopDong" style="width:100%">
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("congtrinh")):</label>
    <div class="col-lg-9">
        <div class="multi-select-full">
            <select class="multiselect form-control" multiple="multiple" id="CTLienQuan" style="width:100% !important;">
                @foreach (var item in Model.CT)
                {
                    <option value="@item.CongTrinhID">@item.TenCongTrinh</option>
                }
            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 control-label ">@Html.Raw(Language.GetText("capdobaomat")):</label>
    <div class="col-lg-9">
        <input id='CapDoID' class="form-control" style="width:100%" />
    </div>
</div>
<div class="row">
    <h5 class="text-bold">
        @Html.Raw(Language.GetText("danhsachdinhkem")) <span style="font-weight:100;font-size:12px;">(.png, .jpg, .jpeg, .gif, .doc, .docs, .xls, .xlsx, .pdf, .ppt, .txt, .dwg)</span>
    <div class="img-responsive" style="float:right">
        <div class="objupload" style="position: relative; display: inline-block; margin-bottom: 3px;padding:0px; margin-right: 3px; width: 30px; height: 30px;">
            <i class="icon-googleplus5" style="padding:0px"></i>
            <input type="file" class="inputupload" accept=".png, .jpg, .jpeg, .gif, .doc,.docs, .xls, .xlsx, .pdf, .ppt, .txt, .dwg" multiple="multiple" id="upLoadFile">
        </div>
    </div>
</h5>

<div id="lstImageDisplay" style="margin-top: 10px;">
    <div class="img-responsive col-xs-12">
        <table class="table">
            <tbody id="tbody"></tbody>
        </table>
    </div>
</div>
</div>
<div class="text-right">
    <span onclick="reloadDS();" class="btn btn-default ">@Html.Raw(Language.GetText("thoat")) <i class="icon-arrow-right14 position-right"></i></span>
    <span onclick="saveCongTrinh();" class="btn btn-success btnsaves">@Html.Raw(Language.GetText("luu")) <i class="icon-floppy-disk position-right"></i></span>
</div>
<div class="clearfix"></div>
<script type="text/javascript">

    var dataimg = new FormData();
    $(document).ready(function () {
        lstHinhAnh = [];
        $("#NgayKhoiTao").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
        });


        $('.multiselect').multiselect({
            enableFiltering: true,
            templates: {
                filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
            },
            onChange: function () {
                $.uniform.update();
            }
        });
        $(".styled, .multiselect-container input").uniform({ radioClass: 'choice' });
        $("#CapDoID").kendoDropDownList({
            dataTextField: 'TenCapDo',
            dataValueField: 'CapDoBaoMatID',
            filter: "contains",
            autoBind: true,
            optionLabel: GetTextLanguage("capdobaomat"),
            dataSource: getDataSourceDropDownList("/Home/DSCapDoBaoMat")
        });

        $(".validreq").on("keyup", function () {
            if ($(this).val() == "") {
                $(this).addClass("errorReq");
            } else {
                $(this).removeClass("errorReq");
            }
        });

        var dataCT = [];
        dataCT.push($("#ID_CT_HD").val());
        $("#CTLienQuan").multiselect('select', dataCT[0]);
        $('.multi-select-full .active .checkbox').find('span').addClass('checked');

        if ($("#IDHopDong").val() != null && $("#IDHopDong").val() != "") {
            $.ajax({
                url: '@Url.Action("LayChiTietHopDong", "QLHopDong")',
                method: "POST",
                data: {
                    HopDongID: $("#IDHopDong").val()
                },
                datatype: 'json',
                success: function (data) {
                    $("#NgayKhoiTao").val(data.data.strThoiGian);
                    $("#TenHopDong").val(data.data.TenHopDong);
                    $("#CTLienQuan").val(data.data.CongTrinh);
                    for (var i = 0; i < data.data.CongTrinh.length; i++) {
                        $("#CTLienQuan").multiselect('select', data.data.CongTrinh[i]);
                        $('.multi-select-full .active .checkbox').find('span').addClass('checked');
                    }
                    $("#CapDoID").data("kendoDropDownList").value(data.data.CapDoBaoMat.toString());

                    var lst = data.data.ListHinhAnh;
                    if (lst.length > 0 && lst[0] != "") {
                        for (var i = 0 ; i < lst.length; i++) {
                            lstHinhAnh.push({ img: lst[i].img, name: lst[i].name });
                        }
                        var htmls = "";
                        for (var i = 0; i < lstHinhAnh.length; i++) {
                            if (lstHinhAnh[i].img.match(/\.(jpg|jpeg|png|gif)$/)) {

                                htmls += '<tr class="imgslider">';
                                htmls += '<td>';
                                htmls += '<a rel="gallery" href="' + localQLVanBan + lstHinhAnh[i].img + '">';
                                htmls += '<img src="' + localQLVanBan + lstHinhAnh[i].img + '" style="width:70px;height:70px" data-src="' + localQLVanBan + lstHinhAnh[i].img + '" class="img-responsive img-rounded media-preview" alt="" data-file="' + lstHinhAnh[i].img + '" />';
                                htmls += '</a>'
                                htmls += '<td style="width:150px"></td>'
                                htmls += '<td>' + lstHinhAnh[i].name + '</td>'
                                htmls += '<td><a href="' + localQLVanBan + lstHinhAnh[i].img + '" data-file="' + lstHinhAnh[i].img + '" download>' + GetTextLanguage("taixuong") + '</a></td>';
                                htmls += '<td><button class="closeImgLoad btn btn-danger" data-file="' + lstHinhAnh[i].img + '">' + GetTextLanguage("xoa") + '</a></td>'
                                htmls += '</tr>';
                            } else {

                                htmls += '<tr class="imgslider">';
                                htmls += '<td>';
                                htmls += '<a rel="gallery" href="' + localQLVanBan + lstHinhAnh[i].img + '">';
                                htmls += '<img src="/content/assets/images/file.png" style="width:70px;height:70px" data-src="' + localQLVanBan + lstHinhAnh[i].img + '" class="img-responsive img-rounded media-preview" alt="" data-file="' + lstHinhAnh[i].img + '" />';
                                htmls += '</a>'
                                htmls += '<td style="width:150px"></td>'
                                htmls += '<td>' + lstHinhAnh[i].name + '</td>'
                                htmls += '<td><a href="' + localQLVanBan + lstHinhAnh[i].img + '" data-file="' + lstHinhAnh[i].img + '" download>' + GetTextLanguage("taixuong") + '</a></td>';
                                htmls += '<td><button class="closeImgLoad btn btn-danger" data-file="' + lstHinhAnh[i].img + '">' + GetTextLanguage("xoa") + '</a></td>'
                                htmls += '</tr>';
                            }

                        }
                        $('#lstImageDisplay tbody').append(htmls);
                        $("#lstImageDisplay").on("click", ".closeImgLoad", function () {
                            var file = $(this).data("file");
                            for (var i = 0; i < lstHinhAnh.length; i++) {
                                if (lstHinhAnh[i].img === file) {
                                    lstHinhAnh.splice(i, 1);
                                    break;
                                }
                            }
                            var list = dataimg.getAll("uploads");
                            dataimg = new FormData();
                            for (var i = 0; i < list ; i++) {
                                console.log(list[i].name + "=" + file)
                                if (list[i].name === file) {

                                } else {
                                    dataimg.append("uploads", list[i]);
                                }
                            }
                            $(this).closest("tr").remove();
                        });
                        showslideimg5($("#lstImageDisplay"));
                    }
                },
                error: function () {
                }
            });
        }

    });


    function valid() {
        if ($("#TenHopDong").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("tenhopdong"));
            $("#TenHopDong").focus();
            return false;
        }
        if ($("#CapDoID").val() == "") {
            showToast("warning", GetTextLanguage("canhbao"), GetTextLanguage("capdobaomat"));
            $("#CapDoID").focus();
            return false;
        }
        return true;
    }

    function saveCongTrinh() {
        if (valid()) {
            var ins = document.getElementById("upLoadFile").files.length;;
            if (ins > 0) {
                for (var x = 0; x < ins; x++) {
                    dataimg.append("uploads", document.getElementById("upLoadFile").files[x]);
                }

            }

            var objData = {};
            var CTLQ = [];
            var PBLQ = [];
            CTLQ = $("#CTLienQuan").val();
            objData.strThoiGian = $("#NgayKhoiTao").val();
            objData.TenHopDong = $("#TenHopDong").val();
            objData.CongTrinh = CTLQ;
            objData.CapDoBaoMat = $("#CapDoID").val();
            objData.HopDongID = $("#IDHopDong").val();

           // $(".processbar").append('<div style="width: 0%;background: #c66161;height: 20px;"></div>');

            var files = dataimg.getAll("uploads"); var count = 0;
            //console.log(dataimg.getAll("uploads"));
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {
                    $(".imgslider img").each(function (index, element) {
                        if (files[i].name == $(element).data("file")) {
                            var dataimg2 = new FormData();
                            dataimg2.append("uploads", files[i]);
                            $(".processbar", $(element).closest(".imgslider")).html('<div style="width: 0%;background: #c66161;height: 20px;"></div>');
                            $.ajax({
                                url: '/Upload/UploadHopDong2',
                                data: dataimg2,
                                processData: false,
                                contentType: false,
                                sycn: false,
                                type: 'POST',
                                // this part is progress bar
                                xhr: function () {
                                    var xhr = new window.XMLHttpRequest();
                                    xhr.upload.addEventListener("progress", function (evt) {
                                        if (evt.lengthComputable) {
                                            var percentComplete = evt.loaded / evt.total;
                                            percentComplete = parseInt(percentComplete * 100);
                                            $(".processbar div", $(element).closest(".imgslider")).attr("style", "width: " + percentComplete + "%;background: #40aa24;height: 20px;text-align: center;color: white;font-weight: bold;")
                                            $(".processbar div", $(element).closest(".imgslider")).text(percentComplete + "%");
                                        }
                                    }, false);
                                    return xhr;
                                },
                                success: function (data) {
                                    count++;
                                    lstHinhAnh.push({ img: data.img, name: data.name });
                                    if (count == files.length) {
                                        objData.ListHinhAnh = lstHinhAnh;
                                        ContentWatingOP("loadpanel-addform", 0.9);
                                        setTimeout(function () {
                                            $.ajax({
                                                cache: false,
                                                async: false,
                                                type: "POST",
                                                url: "/QLHopDong/AddorUpdate_HDThiCong",
                                                data: { data: JSON.stringify(objData) },
                                                success: function (data) {
                                                    altReturn(data);
                                                    //lstHinhAnh = [];
                                                    $("#loadpanel-addform").unblock();
                                                    if (data.code == "success") {
                                                        $(".btnsaves").css("display", "none");
                                                        return false;

                                                    }

                                                },
                                                error: function (xhr, status, error) {
                                                    showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                                                }
                                            });
                                        }, 1000);
                                    }



                                    //lstHinhAnh.push({ img: data.img, name: data.name });

                                }


                            });
                        }
                    });
                }
            } else {
                ContentWatingOP("loadpanel-addform", 0.9);
                objData.ListHinhAnh = lstHinhAnh;
                setTimeout(function () {
                    $.ajax({
                        cache: false,
                        async: false,
                        type: "POST",
                        url: "/QLHopDong/AddorUpdate_HDThiCong",
                        data: { data: JSON.stringify(objData) },
                        success: function (data) {
                            altReturn(data);
                            //lstHinhAnh = [];
                            if (data.code == "success") {
                                $(".btnsaves").css("display", "none");
                            }
                            $("#loadpanel-addform").unblock();
                        },
                        error: function (xhr, status, error) {
                            showToast("error", GetTextLanguage("thatbai"), GetTextLanguage("mgs_coloitrongquatrinhxulydulieu"));
                        }
                    });
                }, 1000);
            }


        }
    }
    function reloadDS() {
        $("#BangTPNV").css("display", "none");
        ContentLoading("contentCongTrinh", "/QuanLyCongTrinh/LayDanhSachHopDong_Paritial?CongTrinhID=" + $("#ID_CT_HD").val());
    }
    $("#upLoadFile").change(function () {
        loadImage_new2(this, 'tbody');
        for (var x = 0; x < this.files.length; x++) {
            dataimg.append("uploads", this.files[x]);
        }
        $("#upLoadFile").val('').clone(true);
        $("#lstImageDisplay").on("click", ".closeImgLoad", function () {
            var file = $(this).data("file");
            for (var i = 0; i < lstHinhAnh.length; i++) {
                if (lstHinhAnh[i].img === file) {
                    lstHinhAnh.splice(i, 1);
                    break;
                }
            }
            var list = dataimg.getAll("uploads");
            dataimg = new FormData();
            for (var i = 0; i < list.length ; i++) {
                if (list[i].name === file) {

                } else {
                    dataimg.append("uploads", list[i]);
                }
            }
            $(this).closest("tr").remove();
        });
        showslideimg5($("#lstImageDisplay"));
    });
</script>