﻿@model DF.DBMapping.ModelsExt.HopDongModel
@{ 
    Layout = null;
    var imageUrl = "http://sunward.dfsglotech.com/center/Upload/ImageQLVanBan/";
}
<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<style>

    .hinhanhbaocao {
        height: 200px;
    }
    .input-group{
        width:100%;
    }
    .ahihi {
        width: 110px;
        height: 110px;
        background-position: center;
        float: left;
        margin-right: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 3px 1px #ccc;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    .ahihi3 {
        width: 110px;
        height: 110px;
        background-position: center;
        float: left;
        margin-right: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 3px 1px #ccc;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    .dshinhanhadd {
        padding: 10px;
        margin: 10px 0 0;
        border: 1px solid #ddd;
        height: 120px;
        background: #fff;
    }
</style>


    <div class="row">
            <div class="form-group col-md-6">
                <label>@Html.Raw(Language.GetText("tenhopdong"))</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="TenHopDong" id="TenHopDong" value="@Model.TenHopDong"/>
                </div>
            </div>
            @if (Model.LoaiHinh == 1)
            {
                <div class="form-group col-md-6">
                    <label>@Html.Raw(Language.GetText("tennhanvien"))</label>
                    <div class="input-group">
                        <input type="text" class="form-control" value="@Model.TenDonViLienQuan" disabled />
                    </div>
                </div>
            }
            @if (Model.LoaiHinh == 2)
            {
                imageUrl = "http://sunward.dfsglotech.com/center/Upload/ImageQLTB/";
                <div class="form-group col-md-6">
                    <label>@Html.Raw(Language.GetText("tenthietbi"))</label>
                    <div class="input-group">
                        <input type="text" class="form-control" value="@Model.TenDonViLienQuan" disabled />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>@Html.Raw(Language.GetText("doitac"))</label>
                    <div class="input-group">
                        <input type="text" class="form-control" value="@Model.TenDoiTac" disabled />
                    </div>
                </div>
            }
        @if (Model.LoaiHinh == 3)
        {
            imageUrl = "http://sunward.dfsglotech.com/center/Upload/ImageCCDC/";
                <div class="form-group col-md-6">
                    <label>@Html.Raw(Language.GetText("tenthietbibotro"))</label>
                    <div class="input-group">
                        <input type="text" class="form-control" value="@Model.TenDonViLienQuan" disabled />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>@Html.Raw(Language.GetText("doitac"))</label>
                    <div class="input-group">
                        <input type="text" class="form-control" value="@Model.TenDoiTac" disabled />
                    </div>
                </div>
        }
        @if (Model.LoaiHinh == 4)
        {
                imageUrl = "http://sunward.dfsglotech.com/center/Upload/ImageQLTS/";
                <div class="form-group col-md-6">
                    <label>@Html.Raw(Language.GetText("tentaisan"))</label>
                    <div class="input-group">
                        <input type="text" class="form-control" value="@Model.TenDonViLienQuan" disabled />
                    </div>
                </div>
                if (Model.DoiTacId != null)
                {
                    <div class="form-group col-md-6">
                        <label>@Html.Raw(Language.GetText("doitac"))</label>
                        <div class="input-group">
                            <input type="text" class="form-control" value="@Model.TenDoiTac" disabled />
                        </div>
                    </div>
                }
        }
        @if (Model.LoaiHinh == 5)
        {
            <div class="form-group col-md-6">
                <label>@Html.Raw(Language.GetText("tennhanvien"))</label>
                <div class="input-group">
                    <input type="text" class="form-control" value="@Model.TenDonViLienQuan" disabled />
                </div>
            </div>
        }
        @if (Model.LoaiHinh == 6)
        {
            <div class="form-group col-md-6">
                <label>@Html.Raw(Language.GetText("phieudenghisuachua"))</label>
                <div class="input-group">
                    <input type="text" class="form-control" value="@Model.TenDonViLienQuan" disabled />
                </div>
            </div>
        }
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>@Html.Raw(Language.GetText("danhsachhinhanh"))</label>
                <div class="dshinhanhadd" style="margin-top:10px;">
                  @if (Model.DinhKem != null)
                  {
                      foreach(var image in Model.DinhKem.Split(','))
                      {
                          if (image != "")
                          {
                               <div class='imgslider' style='float:left;position:relative;margin-right:10px;'>
                               <div style='background-image:url("@imageUrl@image"); margin:0px;' class='img-con ahihi3'>
                               <a rel='gallery' href='@imageUrl@image'><img src='@imageUrl@image' style='width: 100%;height: 100%;margin: 0;opacity: 0;'></a></div>
                               </div>
                          }
                      }
                  }
                </div>
                <div class="toolVatTu pull-right" style="margin-top:10px;">

                </div>
            </div>
        </div>

<script>
    showslideimg();
</script>

