﻿<link href="~/Content/lib/fullscreenstyle.css" rel="stylesheet" type="text/css" />
<script src="~/Content/lib/jquery.fullscreenslides.js" type="text/javascript"></script>
<script src="~/Scripts/NghiepVu/Kho/SanPham/QuanLyKhoDangSanXuat.js"></script>
<style>
    .table tr:hover {
        background: none !important;
    }
</style>
<div class="content">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-6">
            <label>Đơn hàng</label>
            <div class="input-group filter-hoadon col-lg-10" style="width:100%;">
                <input type="text" id="HoaDonID" style="width:100%; margin-left:10px !important;" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" style="padding: 8px 11px 8px; margin-left: 10px;"><i class="icon-grid52"></i></button>
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <button id="XuatExcel" class="btn btn-primary k-btn pull-right"> @Html.Raw(Language.GetText("xuatexcel"))</button>
            <button id="btnLichSuXuat" class="btn btn-primary k-btn pull-right" style="margin-left:5px; margin-right:5px;"> Lịch sử xuất</button>
            <button id="btnLichSuNhap" class="btn btn-primary k-btn pull-right"> Lịch sử nhập</button>
            <button id="btnGiaoHang" class="btn btn-warning k-btn pull-right" style="margin-left:5px; margin-right:5px;"> Giao Hàng</button>
        </div>
    </div>
    <div id="gridKhoSanPhamDangSanXuat" style="margin-top:10px;"></div>
</div>
<script type="text/x-kendo-template" id="tplAnh">
    <span>#=GetImage(AnhDaiDien)#</span>
</script>
<script type="text/x-kendo-template" id="tplTinhTrang">
    # if(TinhTrang == 1) { #
    <span class="btn btn-success btn-block no-padding">Bình Thường</span>
    # } #
    # if(TinhTrang == 2) { #
    <span class="btn btn-warning btn-block no-padding">Lỗi</span>
    # } #
    # if(TinhTrang == 3) { #
    <span class="btn btn-danger btn-block no-padding">Hỏng</span>
    # } #
</script>
<script type="text/x-kendo-template" id="tplLoaiHinh">
    # if(LoaiHinh == 1) { #
    <span class="btn btn-success btn-block no-padding">Mua</span>
    # } #
    # if(LoaiHinh == 2) { #
    <span class="btn btn-info btn-block no-padding">Sản Xuất</span>
    # } #

</script>
<div id="mdlLichSuNhap"></div>
<script type="text/x-kendo-template" id="tplLichSuNhap">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tungay")) </label>
                <div class="input-group" style="width:100%">
                    <input id="inputTuNgay" style="width:100%" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("denngay")) </label>
                <div class="input-group" style="width:100%">
                    <input id="inputDenNgay" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
    <div id="gridLichSuNhap"></div>
</script>
<div id="mdlLichSuXuat"></div>
<script type="text/x-kendo-template" id="tplLichSuXuat">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("tungay")) </label>
                <div class="input-group" style="width:100%">
                    <input id="inputTuNgay2" style="width:100%" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>@Html.Raw(Language.GetText("denngay")) </label>
                <div class="input-group" style="width:100%">
                    <input id="inputDenNgay2" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
    <div id="gridLichSuXuat"></div>
</script>
<div id="mdlGiaoHang">

</div>
<script type="text/x-kendo-template" id="tplGiaoHang">
    <div class="row" style="margin-bottom: 10px !important;">
        <div class="col-lg-6">
            <div class="input-group filter-hoadon2" style="width:100%;">
                <input type="text" id="HoaDonIDDonHangDaChon" style="width:100%; margin-left:10px !important;">
                <span class="input-group-btn">
                    <button class="btn btn-primary" style="padding: 8px 11px 8px; margin-left: 10px;"><i class="icon-grid52"></i></button>
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-warning pull-left" id="btn-xuathoadon" href="" target="_blank">In phiếu xuất kho</a>
            <button class="btn btn-success pull-right" id="btn-saveGiaoHang">Lưu</button>
        </div>
    </div>
    <div id="gridGiaoHang"></div>
</script>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>