﻿@model DF.DBMapping.ModelsExt.NghiepVu.GiaoHangModel
@{
    ViewBag.Title = "InHoaDon";
    Layout = null;
}
<html>
<head>
    <title>Phiếu xuất kho</title>
    <link href="~/Content/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="row" style="margin:0px;">
        <div class="col-xs-4">
            <p>
                <i>Đơn vị:</i><span style="font-size:14px">
                    CÔNG TY TNHH VÀ DỊCH VỤ
                    <br />THƯƠNG MẠI TÂN HÙNG MINH<br />
                    <i>ĐC: Xóm 9- Ninh Hiệp - GL -HN</i>
                </span>
            </p>
        </div>
        <div class="col-xs-4 text-center" style="padding-top:40px">
            <p style="font-size:18px;margin-bottom:10px"><b>PHIẾU XUẤT KHO</b></p>
            <p style="margin-bottom: 10px">Ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year </p>
            <p style="margin-bottom: 10px">Số ...............................</p>
        </div>
        <div class="col-xs-4 text-center" style="font-size:11px">
            <i>Mẫu số 02 - VT</i><br />
            <i>(Ban hành theo Thông tư số: 200/2114/TT-BTC)</i>
            <i>(Ngày 20/12/2014 của BTC)</i>
        </div>
        <div class="col-xs-12">
            <p>- Họ, tên người nhận hàng:<b>@Model.TenDoiTac</b></p>
            <p>- Lý do xuất kho: <b>Đơn đặt hàng</b></p>
            <p>- Địa chỉ nhận hàng: <b>@Model.DiaChi</b></p>
        </div>
        <div class="col-xs-12">
            <table class="table" style="font-size:13px;width:100%" border="1">
                <thead>
                   <tr>
                       <td style="width: 60px; padding: 7px 20px;">STT</td>
                       <td style="padding: 7px 20px;">Mã sản phẩm</td>
                       <td style="width: 250px; padding: 7px 20px;">Tên sản phẩm</td>
                       <td style="padding: 7px 20px;">Số lượng</td>
                       <td style="padding: 7px 20px;">Đơn giá</td>
                       <td style="padding: 7px 20px;">Thành tiền</td>
                   </tr>
                </thead>
                <tbody>
                    @{
                        var i = 0;
                    }
                    @foreach (var item in Model.item)
                    {
                        i++;
                        <tr>
                            <td style="padding: 7px 20px;">@i</td>
                            <td style="padding: 7px 20px;">@item.MaSanPham</td>
                            <td style="padding: 7px 20px;">@item.TenSanPham</td>
                            <td style="padding: 7px 20px;" class="text-right text-bold">@item.SoLuong.ToString("n0")</td>
                            <td style="padding: 7px 20px;" class="text-right text-bold">@item.DonGia.ToString("n0")</td>
                            <td style="padding: 7px 20px;" class="text-right text-bold">@item.ThanhTien.ToString("n0")</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td style="padding: 7px 20px; border-top: 1px solid black;"></td>
                        <td style="padding: 7px 20px; border-top: 1px solid black;"></td>
                        <td style="padding: 7px 20px; border-top: 1px solid black;">Cộng</td>
                        <td style="padding: 7px 20px; border-top: 1px solid black;"></td>
                        <td style="padding: 7px 20px; border-top: 1px solid black;"></td> 
                        <td style="padding: 7px 20px; border-top: 1px solid black;" class="text-right text-bold">@Model.item.Sum(p => p.ThanhTien).ToString("n0")</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-xs-12">
            <p>Tổng số tiền(Viết bằng chứ): <b>@Model.SoTienBangChu</b></p>
            <p>Sô chứng từ gốc kèm theo:...............................................................................................................................................................</p>
        </div>
        <div class="col-xs-12">
            <div style="float:left;width:120px" class="text-center">
                <b>Người lập phiếu</b><br />
                <i>(Ký, họ tên)</i>
            </div>
            <div style="float: left; width: 120px" class="text-center">
                <b>Người nhận hàng</b><br />
                <i>(Ký, họ tên)</i>
            </div>
            <div style="float: left; width: 120px" class="text-center">
                <b>Thủ kho</b><br />
                <i>(Ký, họ tên)</i>
            </div>
            <div style="float: left; width: 230px; " class="text-center">
                <b>Kế toán trưởng</b><br />
                <span>(Hoặc bộ phần có nhu câu nhập)</span><br />
                <i>(Ký, họ tên)</i>
            </div>
            <div style="float: left; width: 120px" class="text-center">
                <b>Giám đốc</b><br />
                <i>(Ký, họ tên)</i>
            </div>
        </div>
    </div>
    <script>
        window.print();
    </script>
</body>
</html>

